<container-border-wrapper extraclass="panel-body" ng-show="showMessageBox">
	<div class="info" translate="{{description}}" id="procedureDescription"></div>

	<div>
		<div ng-if="template" ng-include="template"></div>
		<ul class="nav nav-pills nav-stacked nav-justified"  ng-repeat="buttonInfo in buttonsSetup">
		 	<li class="createNewSolicitudeBtn" role="presentation">
		 		<a ng-href="{{buttonInfo.url}}" translate="{{buttonInfo.buttonMessage}}"></a>
		 	</li>
		</ul>
	</div>
</container-border-wrapper>