<div style="margin-top: 10px;">
	<accordion>
		<accordion-group heading="{{'SOLICITUDE_MANAGEMENT' | translate}}" is-open="true">
			<form id="formularioPrincial" class="form-inline formBackgroundLight"
				  method="post" ng-submit="changeSolicitudeStatus()"   ng-controller="CambioEstadoController as cambioEstadoCtrl">
				<div ng-form="form">
				<div class="panel-body" >
					<div class="col-xs-3">
						<label for="status">{{'SOLICITUDE_STATUS' | translate}}</label>
						<select id="status" name="status" class="form-control"
								ng-disabled="viewMode || showNotificationSpinner"
								ng-options="status.catalogValue for status in catalogSolicitudeStatus track by status.id"
								ng-model="aux.status" ng-required="!editMode"
								ng-change="statusChanged()">
							<option value="" selected>-- {{'ONE_OPTION' | translate }} --</option>
						</select>
					</div>
					<div class="col-xs-9" ng-show="aux.status.id != undefined && (aux.status.id != env_id || aux.status.id == sg_id)">
						<label for="file">{{'FILE_TO_SEND' | translate}}</label>
						<input id="file" class="form-control" name="file" type="file"
							   maxsize="{{maxfilesize}}" minsize="{{minfilesize}}"
							   accept="{{fileType}}" base-sixty-four-input
							   onerror="errorHandler" ng-model="file" ng-required="areaCode != 8" ng-disabled="showNotificationSpinner">
					</div>
				</div>
				<div class="panel-body" ng-show="aux.status.id != undefined && (aux.status.id != env_id && showWorkFlowForProcedure('REMISION')) &&  aux.status.id==27 ">
					<div class="col-xs-6" >
						<label for="emailRemision">{{'EMAIL' | translate}}</label>
						<input id="emailRemision" class="form-control" name="emailRemision" type="text"
							   maxlength="64"
							   ng-pattern="email_pattern"
							   tooltip="{{'EMAIL' | translate}}"
							   ng-required="aux.status.id==27"
							   ng-model="emailRemision"  ng-keyup="emailChange()" ng-disabled="showNotificationSpinner">
					</div>
				</div>

				<div class="panel-body" ng-show="aux.status.id != undefined && (aux.status.id != env_id && showWorkFlowForProcedure('PORTAFIRMA'))&& aux.status.id!=27 && aux.status.id!=6">
					<div class="col-xs-6" >
						<label for="fileCartera">{{'FILE_TO_SEND_SIGNED_PORTAFIRMA' | translate}}</label>
						<input id="fileCartera" class="form-control" name="file" type="file"
							   maxsize="{{maxfilesize}}" minsize="{{minfilesize}}"
							   accept="{{fileType}}" base-sixty-four-input
							   onerror="errorHandler" ng-model="fileCartera" ng-required  ng-disabled="showNotificationSpinner">
					</div>
				</div>
				<div class="panel-body" ng-show="aux.status.id != undefined && (aux.status.id != env_id && showWorkFlowForProcedure('PORTAFIRMA'))&& aux.status.id!=27&& aux.status.id!=6">
					<div class="col-xs-6" >
						<label for="fileCopiaAutentica">{{'FILE_TO_SEND_SIGNED_COPIA_AUTENTICA' | translate}}</label>
						<input id="fileCopiaAutentica" class="form-control" name="fileCopiaAutenteica" type="file"
							   maxsize="{{maxfilesize}}" minsize="{{minfilesize}}"
							   accept="{{fileType}}" base-sixty-four-input
							   onerror="errorHandler" ng-model="fileCopiaAutentica" ng-required  ng-disabled="showNotificationSpinner" style="width:85%;">
						<button ng-disabled="!fileCopiaAutentica" class="btn" id="btnEnviarCopiaAutentica" ng-click="enviarCopiaAutenticaEmail($event)" >{{'ENVIAR' |translate}}</button>
					</div>
				</div>
				<div class="panel-body" ng-show="aux.status.id != undefined && (aux.status.id != env_id && showWorkFlowForProcedure('PORTAFIRMA'))&& solicitaCopiaAutentica">
					<div class="col-xs-6" >
						<label >{{'SOLICITA_COPIA_AUTENTICA_TRAMITADOR'|translate}}</label>
						<input type="text" id="CopiaAutenticaInfo" class="form-control" ng-model="solicitaCopiaAutenticaInfo" disabled/>
					</div>
				</div>
				<div class="panel-body" ng-show="aux.status.id != undefined && (aux.status.id != env_id && aux.status.id == 20 )">
					<div class="col-xs-2">
						<label for="puntosEntrevista">{{'SCORE' | translate}}</label>
						<select id="puntosEntrevista" class="form-control" name="puntosEntrevista" type="text" tooltip="{{'SCORE' | translate}}" ng-readonly="viewMode || showNotificationSpinner" ng-model="formularioATratar.puntosEntrevista" ng-required="aux.status.id==20" ng-options="n as n.numero for n in numberListEntrevista">
						</select>
					</div>
				</div>
				<div class="panel-body" ng-show="aux.status.id != undefined && (aux.status.id != env_id && aux.status.id == 19 )">
					<div class="col-xs-3">
						<label for="puntosExpediente">{{'EXP' | translate}}</label>
						<select name="puntosExpediente" id="puntosExpediente"  class="form-control"  ng-model="formularioATratar.puntosExpediente" ng-readonly="viewMode || showNotificationSpinner"  ng-required="aux.status.id==19" ng-options="n as n.numero for n in numberListExpediente">
						</select>
					</div>
				</div>
				<div class="panel-body" ng-show="aux.status.id != undefined && (aux.status.id != env_id && aux.status.id == 19 )">
					<div class="col-xs-4">
						<div class="form-group">
							<label for="otraTitulacion">{{'ANOTHER_DEGREE' | translate}}</label>
							<div class="input-group">
								<input type="text" id="otraTitulacion" class="form-control" name="otraTitulacion" type="text" tooltip="{{'ANOTHER_DEGREE' | translate}}"
									   ng-readonly="viewMode || showNotificationSpinner" ng-model="formularioATratar.otraTitulacion" ng-required="aux.status.id==19" maxlength="50"/>
								<span class="input-group-addon">
									<select name="otraTitulacionPuntos" id="otraTitulacionPuntos"  class="select-point-addon"  ng-model="formularioATratar.otraTitulacionPuntos"   ng-options="n as n.numero for n in numberListOtraTitulacion" ng-readonly="viewMode || showNotificationSpinner"  ng-required="aux.status.id==19">

									</select>
								</span>
							</div>
						</div>
						<span>Nota: Maximo 2 Titulaciones</span>
					</div>
				</div>
				<div class="panel-body" ng-show="aux.status.id != undefined && (aux.status.id != env_id && aux.status.id == 19 )">
					<div class="col-xs-4">

							<label>{{'LANGS' | translate}}</label>
							<table class="table table-condensed">
								<tr ng-repeat="lang in langs">
									<td>{{lang.nombre}}</td>
									<td class="text-left">{{lang.puntos}}</td>
								</tr>
								<tr ng-show="otherLangs.length>0">
									<td colspan="2" class="text-left">
										<b> Otros idiomas</b>
									</td>
								</tr>
								<tr ng-repeat="lang in otherLangs">
									<td>{{lang.nombre}}</td>
									<td class="text-left">{{lang.puntos}}</td>
								</tr>
							</table>

							<br>
							<span> Total Idiomas: {{totalPuntosIdiomas |number:2}} </span>



					</div>
				</div>
				<div class="panel-body"
					 ng-show="aux.status.id != undefined && (aux.status.id != env_id && aux.status.id == 19 )">
					<div class="col-xs-2">
						<label for="puntosOfimatica">{{'OFFICE' | translate}}</label>

						<select name="puntosOfimatica" id="puntosOfimatica"  class="form-control"  ng-model="formularioATratar.puntosOfimatica"  ng-options="n as n.numero for n in numberListOfimatica">
						</select>
					</div>
				</div>
				<div class="panel-body" ng-show="aux.status.id != undefined && (aux.status.id != env_id && aux.status.id == 19 )">
					<div class="col-xs-2">

						<label for="puntosVoluntariado">{{'VOLUNTEER' | translate}}</label>
						<select  name="puntosVoluntariado" id="puntosVoluntariado"  class="form-control" ng-model="formularioATratar.puntosVoluntariado" ng-options="n as n.numero for n in numberListOfimatica">
						</select>
						<div  ng-show="formularioATratar.puntosVoluntariado!=undefined || formularioATratar.puntosOfimatica!=undefined">
							<h5>Total Valoración : {{ getAggregation() }}</h5>
						</div>
					</div>


				</div>
				<div class="panel-body" ng-show="aux.status.id != undefined && (aux.status.id != env_id && aux.status.id == 21 )">

					<div class="col-xs-2">

						<label >{{'VALORACION' | translate}} &nbsp</label>
						<label >{{beca.score - beca.puntosEntrevista.numero}}</label>
					</div>

					<div class="col-xs-2">
						<label >Entrevista</label>
						<label >{{beca.puntosEntrevista.numero}}</label>
					</div>
					<div class="col-xs-2">
						<label >Total</label>
						<label > {{beca.score}} </label>
					</div>

				</div>
				<div class="panel-body" ng-show="aux.status.id != undefined && (aux.status.id != env_id && aux.status.id == 22 )">

					<div class="col-xs-2">
						<label >{{'DNI' | translate}}</label>
						<p >{{beca.solicitante.identificationNumber}}</p>
					</div>
					<div class="col-xs-4">
						<label >{{'NOMBRE_APE_SOC'|translate}}</label>
						<p >{{beca.solicitante.name}} {{beca.solicitante.lastName}}</p>
					</div>
					<div class="col-xs-2">
						<label >Total</label>
						<p > {{beca.score}} </p>
					</div>
					<div class="col-xs-12 text-center">
						<br>
						<boton-wrapper  ng-if="aux.status.id != sg_id && !showNotificationSpinner " >
						<button type="button" class="btn btn-default" ng-click="getReportResolucionProvisional($event)">Generar reporte PDF</button>
						</boton-wrapper>
					</div>

				</div>
				<div class="panel-body"
					 ng-show="aux.status.id != undefined && (aux.status.id != env_id || aux.status.id == sg_id)">
					<div class="col-xs-12">
						<label for="info">{{'TEXT_INFO' | translate}}</label>
						<textarea id="info" class="form-control" name="info" type="text"
								  rows="4" value="" tooltip="{{'TEXT_INFO' | translate}}"
								  ng-readonly="viewMode || showNotificationSpinner" ng-model="info"  ng-required="areaCode != 8" maxlength="255"  ng-trim="false">
						</textarea>
						<span ng-show="info.length">{{info.length}}/255</span>
					</div>
				</div>
				<div class="panel-body"
					 ng-show="aux.status.id != undefined && (aux.status.id != env_id || aux.status.id == sg_id)">

					<div class="col-xs-12">

						<boton-wrapper  ng-if="aux.status.id != sg_id && !showNotificationSpinner && aux.status.id!=17" ng-show="form.$valid">
							<boton-accion-formulario role="group" my-id="notifyButton"	type="submit" value="{{'NOTIFY' | translate}}" btn-style="btn-primary"  ></boton-accion-formulario>
						</boton-wrapper>
						<br/>

						<boton-wrapper  ng-if="aux.status.id != sg_id && !showNotificationSpinner && aux.status.id==17" >
							<button class="btn btn-primary" my-id="acceptButton" type="submit"  ng-click="changeSolicitudeStatus('accept')" ng-disabled="info.length<2 || info==null">{{'ACCEPT' | translate}}</button>
							<button class="btn btn-primary" my-id="changeSolicitudeStatusButton"  type="submit" ng-click="changeSolicitudeStatus('correct')"  ng-disabled="info.length<2 || info==null">{{'CORRECT' | translate}}</button>
						</boton-wrapper>

						<boton-wrapper  ng-if="aux.status.id == sg_id && !showNotificatixonSpinner">
							<boton-accion-formulario role="group" type="submit" value="{{'SEND_SG' | translate}}" btn-style="btn-primary"></boton-accion-formulario>
						</boton-wrapper>
						<div ng-if="showWorkFlowForProcedure('PORTAFIRMA') && !showNotificatixonSpinner && aux.status.id!=6"  class="text-center">

								<a  class="btn btn-default" tooltip="Portafirma" target="_blank" href="https://swportafirmas.msc.es/portafirmas/" onclick="openPortaFirma()">
									<img style="width: 35px"  ng-src="{{images}}/portafirma.jpg" alt="">
								</a>
								<a  class="btn btn-default"  tooltip="Copia Autentica" target="_blank" href="https://swportafirmas.msc.es/portafirmas/" onclick="openPortaFirma()">
									<img style="width: 35px"  ng-src="{{images}}/copia_autentica.png" alt="">
								</a>
						</div>

						<div ng-if="showNotificationSpinner">
							<div class="col-md-6 col-md-offset-3">
								<img ng-src="{{images}}/loading.gif"  class="notifySpinner center-block" />
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body" ng-show="aux.status.id != undefined && (aux.status.id != env_id && aux.status.id == 22 )">

				</div>
				</div>
			</form>
		</accordion-group>
	</accordion>
</div>