<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="row">
		<div class="form-group col-xs-3 col-sm-3">
			<label for="tipoVia">{{'SOLI_STREET_TYPE' | translate}}</label> 
			<input id="tipoVia" class="form-control" name="tipoVia"
				type="text"  maxlength="10" tooltip="{{'ADDRESS' | translate}}"
				ng-readonly="viewMode" ng-model="persona.addressType" />

		</div>
		<div class="form-group col-xs-9 col-sm-9">
			<label for="nombreCalle">{{'SOLI_STREET' | translate}} (*)</label> 
			<input id="nombreCalle" class="form-control" name="nombreCalle"
				type="text"  maxlength="100" tooltip="{{'ADDRESS' | translate}}"
				ng-readonly="viewMode" ng-model="persona.address" />
		</div>
	</div>
</form-background-wrapper>
<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="row">
		<div class="form-group col-xs-2 col-sm-2 col-xs-offset-2">
			<label for="numero">{{'SOLI_NUMBER' | translate}} (*)</label> 
			<input id="numero" class="form-control" name="numero"
				type="text" value="" maxlength="3" tooltip="{{'ADDRESS' | translate}}"
				ng-readonly="viewMode" ng-model="persona.addressNumber"	 />
		</div>
		<div class="form-group col-xs-2 col-sm-2">
			<label for="escalera">{{'SOLI_STAIR' | translate}}</label> 
			<input id="escalera" class="form-control" name="escalera"
				type="text" value="" maxlength="10" tooltip="{{'ADDRESS' | translate}}"
				ng-readonly="viewMode" ng-model="persona.stair" />
		</div>
		<div class="form-group col-xs-2 col-sm-2">
			<label for="piso">{{'SOLI_STORY' | translate}}</label> 
			<input id="piso" class="form-control" name="piso"
				type="text" value="" maxlength="2" tooltip="{{'ADDRESS' | translate}}"
				ng-readonly="viewMode" ng-model="persona.floor" />
		</div>
		<div class="form-group col-xs-2 col-sm-2">
			<label for="puerta">{{'SOLI_DOOR' | translate}}</label> 
			<input id="puerta" class="form-control" name="puerta"
				type="text" value="" maxlength="3" tooltip="{{'ADDRESS' | translate}}"
				ng-readonly="viewMode" ng-model="persona.door" />
		</div>
	</div>
</form-background-wrapper>
<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="row"  name="locationPayment">
		<div class="form-group col-xs-12 col-sm-2">
			<label for="paisrepresentante">{{'PAIS_REP' | translate}} (*)</label> 
			<select id="paisrepresentante" class="form-control" name="paisrepresentante" 
				ng-options="pais.catalogValue for pais in catalogoPaises track by pais.catalogId"
				ng-change="loadProvincia(paisSolicitante)" ng-disabled="viewMode"
				ng-readonly="viewMode" ng-model="persona.pais" ng-required="checkboxModel.representante && !editMode">
				<option value="" selected>{{'SELECT' | translate}}</option>
			</select>				
		</div>
		<div class="form-group col-xs-12 col-sm-3" ng-show="persona.pais.catalogId == spain_county_code">
			<label for="provinciasolicitante">{{'PROVINCE_REP' | translate}} (*)</label> 
			<select id="provinciasolicitante" class="form-control"  name="provinciasolicitante"
			ng-options="prov.catalogValue for prov in catalogProvinciasSolicitante track by prov.catalogId"
			ng-change="loadMunicipio(provinciaSolicitante)"
			ng-required="!editMode && persona.pais.catalogId == spain_county_code"
			ng-click="onClickProvincia(paisSolicitante)" ng-disabled="viewMode"
			ng-readonly="viewMode" ng-model="persona.provincia">
				<option value="" selected>{{'SELECT' | translate}}</option>
			</select>
		</div>
		<div class="form-group col-xs-12 col-sm-5"
		ng-show="persona.pais.catalogId == spain_county_code">
			<label for="municipiosolicitante">{{'MUNICIPIO_REP' | translate}} (*)</label> 
			<select id="municipiosolicitante"  class="form-control" name="municipiosolicitante" 	
			ng-options="muni.catalogValue for muni in catalogMunicipiosSolicitante track by muni.catalogId"
			ng-required="!editMode && persona.pais.catalogId == spain_county_code"
			ng-click="onClickMunicipio(provinciaSolicitante)" ng-disabled="viewMode"
			ng-readonly="viewMode" ng-model="persona.municipio">
				<option value="" selected >{{'SELECT' | translate}}</option>
			</select>
		</div>
		<div class="form-group col-xs-2 col-sm-2"
		ng-show="persona.pais.catalogId == spain_county_code">
			<label for="codigopostalsolicitante"> {{'POSTALCODE_REP' | translate}} (*)</label>
			<input id="codigopostalsolicitante" class="form-control" name="codigopostalsolicitante" type="text" 
			value="" maxlength="5" tooltip="{{'POSTALCODE' | translate}}" 
			ng-required="!editMode && persona.pais.catalogId == spain_county_code" 
			ng-pattern="postal_code_pattern"
			ng-readonly="viewMode" ng-model="persona.location.codigoPostal"/>
		</div>
	</div>
</form-background-wrapper>