<div class="panel-body formBackground formSeparatorWhite">
		<h5>{{"HISTORIAL_SOLICITUD" | translate}}</h5>

		<div class="form-group col-xs-12">
			<div class="table-responsive">
				<table ng-table="configTableParams" show-filter="showTableFilters" class="table table-striped table-hover table-condensed">
					<tr ng-repeat="row in $data" >
						<td data-title="'Fecha' | translate">{{row.fecha }}</td>
						<td data-title="'Estado'   | translate"  >{{row.estado}}</td>
						<td data-title="'Descripcion'   | translate"  >{{row.descripcion}}</td>
						<td ><a href="#!" ng-click="descargarAdjunto(row.documento)">Descargar</a> </td>

					</tr>
				</table>
			</div>
		</div>
</div>


<!-- 

<container-border-wrapper extraclass="panel-body">

	<div class="table-responsive">
		<table ng-table="configparams" show-filter="showfilter" class="table table-striped table-hover table-condensed">
			<tr ng-repeat="row in $data">
				<td data-title="'SOLICITUDE_LIST_COL_SOLID' | translate" sortable="'id'" filter="{ 'id': 'text' }">
					<a ng-show="isEditMode(row.estado.id)" ng-href={{getURLFromEntity(row.entityName)}}/{{row.id}}>{{row.identificadorPeticion}}</a>
					<a ng-show="!isEditMode(row.estado.id)" ng-href={{getURLFromEntity(row.entityName)}}/{{row.id}}/v>{{row.identificadorPeticion}}</a>
				</td>
				<td data-title="'SOLICITUDE_LIST_COL_SOLTYP' | translate" sortable="'formulario'" filter="{ 'formulario': 'select' }" filter-data="solicitudeTypes($column)">{{row.formulario}}</td>
				<td data-title="'SOLICITUDE_LIST_COL_SOLDATE' | translate" sortable="'fechaCreacion'" filter="{'fechaCreacion': 'date-range-filter'}">{{row.fechaCreacion | date:'dd/MM/yyyy'}}</td>
				<td data-title="'SOLICITUDE_LIST_COL_SOLSTATUS' | translate" sortable="'status'" filter="{ 'status': 'select' }" filter-data="solicitudeStatus($column)">{{row.estado.catalogValue}}</td>
				<td data-title="'SOLICITUDE_LIST_COL_SOLDEL' | translate">
					<button type="button" class="btn btn-danger btn-xs" title="Eliminar Solicitud {{row.id}}" ng-click="deleteSolicitude(row.id,row.identificadorPeticion)" ng-show="!showDeleteButtonByStatus(row.estado)">
						<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
					</button> 
					<img ng-src="{{images}}/no-action.png" title="Sin Acciones disponibles" alt="Sin acciones disponibles" ng-show="showDeleteButtonByStatus(row.estado)">
				</td>
			</tr>
			<tr ng-if="$data.length ===0">
				<td colspan="5">{{"SOLICITUDE_LIST_EMPTY" | translate}}</td>
			</tr>
		</table>
	</div>
</container-border-wrapper>
 -->