<formulario-wrapper>
    <div class="row">
        <div class="col-md-12"><h5>Nuevo Tipo de Procedimiento</h5></div>
    </div>
    <div class="row" ng-show="addTipoProcMessages.success!== undefined">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-success text-center" role="alert" ng-class="addTipoProcMessages.success ? 'alert-success':'alert-danger'">
                <span translate ="{{addTipoProcMessages.msg}}"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <datos-obligatorios></datos-obligatorios>
            <form-registro-tipo-procedimiento></form-registro-tipo-procedimiento>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="margin-top: 10px">
            <button ng-click="sendForm(senderMode.SUBMIT)" ng-disabled="form.addTipoProc.$invalid" type="button" class="btn btn-default btn-block">{{'ENVIAR' | translate}}</button>
        </div>
    </div>
</formulario-wrapper>
<div class="table-responsive">
    <!--<table ng-table="configTableParamsTipos" show-filter="showTableUserFilters" class="table table-striped table-hover table-condensed">-->
        <!--<tr ng-repeat="row in $data">-->
            <!--<td data-title="'GEST_NEW_TIPO_PROCEDIMIENTO' | translate" filter="{'login': 'text'}" sortable="'login'">-->
                <!--<a class="userLink" ng-click="updateUser(row);">{{row.nombre}}</a>-->
            <!--</td>-->
            <!--<td data-title="'GEST_USERS_DELETE' | translate">-->
                <!--<button type="button" class="btn btn-danger btn-xs" title="Eliminar registro {{row.descripcion}}" ng-click="deleteUser($index, row.id)" ng-if="!isSameUserLogged(row.id)">-->
                    <!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
                <!--</button>-->
                <!--<img ng-src="{{images}}/no-action.png" title="Sin Acciones disponibles" alt="Sin acciones disponibles" ng-if="isSameUserLogged(row.id)">-->
            <!--</td>-->
        <!--</tr>-->
    <!--</table>-->
    <div class="table-responsive">
        <table  class="table table-striped table-hover table-condensed">
            <tr ng-repeat="row in tipoProcedimientosList">
                <td data-title="'GEST_NEW_TIPO_PROCEDIMIENTO' | translate" >
                    <a class="userLink" ng-click="updateUser(row);">{{row.descripcion}}</a>
                </td>
                <td data-title="'GEST_TIPO_PROCEDIMIENTO_DELETE' | translate">
                    <button type="button" class="btn btn-danger btn-xs" title="Eliminar registro {{row.descripcion}}" ng-click="deleteTipoProcedimiento($index, row.id)" >
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <img ng-src="{{images}}/no-action.png" title="Sin Acciones disponibles" alt="Sin acciones disponibles" ng-if="isSameUserLogged(row.id)">
                </td>
            </tr>
        </table>
    </div>
</div>