<form-background-wrapper extraclass="formSeparatorWhite">
    <div >
        <div class="form-group col-xs-12 col-sm-2">
            <label for="pais">{{'PAIS' | translate}} (*)</label>
            <select id="pais" class="form-control" name="pais"
                    ng-options="pais.catalogValue for pais in catalogoPaises track by pais.catalogId"
                    ng-change="loadProvincia(paisLugarOMedio)" ng-disabled="viewMode"
                    ng-readonly="viewMode" ng-model="auxLugarOMedio.pais" ng-required="!editMode">
                <option value="" selected>{{'SELECT' | translate}}</option  >
            </select>
        </div>
        <div class="form-group col-xs-12 col-sm-3" ng-show="auxLugarOMedio.pais.catalogId == spain_county_code">
            <label for="provincia">{{'PROVINCE' | translate}} (*)</label>
            <select id="provincia" class="form-control"  name="provincia"
                    ng-options="prov.catalogValue for prov in catalogProvincias track by prov.catalogId"
                    ng-change="loadMunicipio(provinciaLugarOMedio)"
                    ng-required="!editMode && auxLugarOMedio.pais.catalogId == spain_county_code"
                    ng-click="onClickProvincia(pais);" ng-disabled="viewMode"
                    ng-readonly="viewMode" ng-model="auxLugarOMedio.provincia">
                <option value="" selected>{{'SELECT' | translate}}</option>
            </select>
        </div>
        <div class="form-group col-xs-12 col-sm-5" ng-show="auxLugarOMedio.pais.catalogId == spain_county_code">
            <label for="municipio">{{'MUNICIPIO' | translate}} (*)</label>
            <select id="municipio"  class="form-control" name="municipio"
                    ng-options="muni.catalogValue for muni in catalogMunicipios track by muni.catalogId"
                    ng-required="!editMode && auxLugarOMedio.pais.catalogId == spain_county_code"
                    ng-click="onClickMunicipio(auxLugarOMedio.provincia)" ng-disabled="viewMode"
                    ng-readonly="viewMode" ng-model="auxLugarOMedio.municipio">
                <option value="" selected >{{'SELECT' | translate}}</option>
            </select>
        </div>
        <div class="form-group col-xs-2 col-sm-2" ng-show="auxLugarOMedio.pais.catalogId == spain_county_code">
            <label for="codigopostal"> {{'POSTALCODE' | translate}} (*)</label>
            <input id="codigopostal" class="form-control" name="codigopostal" type="text"
                   value="" maxlength="5" tooltip="{{'POSTALCODE' | translate}}"
                   ng-required="!editMode && auxLugarOMedio.pais.catalogId == spain_county_code"
                   ng-pattern="postal_code_pattern"
                   ng-readonly="viewMode" ng-model="formularioATratar.lugarOMedio.location.codigoPostal"/>
        </div>
    </div>
</form-background-wrapper>
<form-background-wrapper>
    <div class="form-group col-xs-12 col-sm-12">
        <label for="address">{{'ADDRESS' | translate}} (*)</label>
        <input id="address" class="form-control" name="address" type="text"
               value="" maxlength="100" tooltip="{{'ADDRESS' | translate}}" ng-readonly="viewMode"
               ng-model="formularioATratar.lugarOMedio.address" ng-required="!editMode"/>
    </div>
</form-background-wrapper>
<form-background-wrapper extraclass="formSeparatorWhite">
    <div class="form-group col-xs-6 col-sm-6">
        <label for="fax">{{'FAX' | translate}} (*)</label>
        <input id="fax"  class="form-control" name="fax" type="text" ng-required="!editMode"  maxlength="16"
               placeholder="" size="14" tooltip="{{'FAX' | translate}}" ng-readonly="viewMode"
               ng-model="formularioATratar.lugarOMedio.fax"/>
    </div>
    <div class="form-group  col-xs-6 col-sm-6">
        <label for="email">{{'EMAIL' | translate}} (*)</label>
        <input id="email" class="form-control" name="email" type="text"  maxlength="100"
               ng-pattern="email_pattern"  ng-required="!editMode" placeholder="" size="40" tooltip="{{'EMAIL' | translate}}" ng-readonly="viewMode"
               ng-model="formularioATratar.lugarOMedio.email"/>
    </div>
</form-background-wrapper>
