<instrucciones viewmode="viewMode"   ng-click="verInstrucciones()" form="formularioATratar"></instrucciones>
<aceptar-instrucciones ng-show="instruccionesVistas"></aceptar-instrucciones>

</container-border-wrapper>