<tabset class="workspace-tabs " >
    <tab  index="$index + 1"  ng-repeat="tab in workspaceTabs.tabList track by $index" ng-if="(!tab.onlyEdit || !viewMode) "

             data-url="tab.templateUrl" ng-click="workspaceTabs.loadTabContent(tab); !viewMode ? triggerValidations() :''"  
             disable="tab.disabled" tab-highlight active="tab.active" ng-init="tab.callback()">

        <tab-heading  ng-init="tab.hasError = undefined" ng-class="{'tab.hasError' :'error'}"  class="tab-heading" title="{{ tab.head.text  | translate}}" >

            <img ng-if="!viewMode" ng-show="tab.hasError!=undefined"  width="15px" ng-src="{{workspaceTabs.getImage(tab.hasError)}}">
            <i class="{{ tab.head.icon }}"></i> <span class="tab-title" translate="{{ tab.head.text  |translate}}"></span>
            <a  ng-if="tab.closable" href="#!">
                <i  title="Close" class="close-tab-icon glyphicon glyphicon-remove-sign"
               ng-click="workspaceTabs.closeTab(this, $event)"></i>
            </a>
        </tab-heading>

        <div class="fade-in-up"  data-tabId="{{workspaceTabs.id}}" role="tab-plain-content"
             ng-if="!!tab.content">{{ tab.content }}
        
        </div>
        <div class="fade-in-up"   id="{{tab.id}}" data-tabId="{{workspaceTabs.id}}" 
             role="tab-content"
             ng-if="tab.autoload">
            <div class="slide-animate" ng-include="tab.templateUrl"></div>
            <br>
            <botones-tabs ></botones-tabs>
        

        </div>

    </tab>
</tabset>