<div class="form-inline  row text-center">
    <div class="row text-center">
        <label>{{'PROC_GEN_OFICINA_REGISTRAL' | translate}}</label>
        <br/>
        <button ng-href="#!" ng-click="irAContratosMenores()" translate="LABEL_INGRESAR_OFICINA_REGISTRAL" class="btn" ></button>
    </div>
</div>