<div ng-controller="productsController">
	<div>
		<form-background-wrapper extraclass="formSeparatorWhite" ng-show="!viewMode">
		  <div class="row">
			<num-ref-product comp-class="col-lg-5 col-md-5 col-sm-5 col-md-offset-1" product-reference-number="auxProduct"></num-ref-product>
			<div class="form-group col-lg-6  col-md-4 col-sd-4">
				<label for="codIdProd">{{'COD_ID_PROD' | translate}}</label> 
				<input id="codIdProd" class="form-control" type="text"
					placeholder="" size="50" tooltip="{{'COD_ID_PROD' | translate}}"
					ng-model="auxProduct.codIdProd" />
			</div>
		  </div>
		</form-background-wrapper>
		<form-background-wrapper  ng-show="!viewMode">
		<div class="row">
			<div class="form-group col-lg-12 col-md-12">
				<label for="descpresentacion">{{'DESC_PRES_PROD' | translate}}</label>
				<textarea id="descpresentacion" class="form-control" name="descpresentacion" 
					rows="4" tooltip="{{'DESC_PRES_PROD' | translate}}"
					ng-model=" auxProduct.descpresentacion"></textarea>
			</div>
		</div>
		</form-background-wrapper>
			<form-background-wrapper  ng-show="!viewMode">
			<div class="row">
					<div class="form-group col-xs-3 col-sm-12">
						<input id="buttonAltaEtiqueta" name="buttonAltaEtiqueta" type="button"   
							ng-click="addProduct();" value="{{'ADD_PROD' | translate}}" 
							title="{{'ADD_PROD' | translate}}" alt="{{'ADD_PROD' | translate}}" />
					</div>
				</div>
			</form-background-wrapper>
		</div>
	<form-background-wrapper>
	 <div class="row" ng-show="formularioATratar.products && formularioATratar.products.length > 0">
		<div class="form-group col-lg-12 col-md-12">
			<table width="100%" style="color: #fff; font-size: 12px; text-align: center">
				<tbody>
					<tr style="border-bottom: 1px solid #fff">
						<th style="text-align: center">{{'REG_NUM_PROD' | translate}}</th>
						<th style="text-align: center">{{'COD_ID_PROD' | translate}}</th>
						<th style="text-align: center">{{'DESC_PRES_PROD_2' | translate}}</th>
					</tr>
					<tr ng-repeat="product in formularioATratar.products">
						<td style="padding: 10px">{{product.productRegistrationNumber}}</td>
						<td style="padding: 10px">{{product.identificationCode}}</td>
						<td style="padding: 10px">{{product.description}}</td>
						<td style="padding: 10px">
							<div class="form-group col-xs-3 col-sm-12">
								<input type="button" id="buttonAltaEtiqueta" name="buttonAltaEtiqueta" ng-click="deleteProduct($index);" value="{{'DEL_PROD' | translate}}" title="Eliminar producto de la lista"
									alt="{{'DEL_PROD' | translate}}"  ng-show="!viewMode">
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	  </div>
	</form-background-wrapper>
</div>