<div class="{{compClass}}">
	<div class="row">
		<div class="col-lg-10 col-md-8">
			<label for="numRegPro1">{{'PRODUCT_REF_NUMBER'|translate}}</label>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="center-block">
				<div class="form-group">
					<input id="numRegPro1" class="form-control" name="numRegPro1" type="text" 
						value="" placeholder="" size="2" maxLength="2" ng-readonly="viewmode" only-digits=""
						ng-required="productReferenceNumber.numRegPro2 || productReferenceNumber.numRegPro3 || productReferenceNumber.numRegPro4"
						ng-model="productReferenceNumber.numRegPro1" />	
				</div>
				<div class="form-group">
					<input id="numRegPro2" class="form-control" name="numRegPro2" type="text" 
						value="" placeholder="" size="7" maxLength="6" ng-readonly="viewmode" only-digits=""
						ng-required="productReferenceNumber.numRegPro1 || productReferenceNumber.numRegPro3 || productReferenceNumber.numRegPro4"
						ng-model="productReferenceNumber.numRegPro2" />	
				</div>
				<div class="form-group">
					<label>/</label>
				</div>
				<div class="form-group">
					<input id="numRegPro3" class="form-control" name="numRegPro3" type="text"
						value="" placeholder="" size="2" maxLength="2" ng-readonly="viewmode" only-letters-input
						ng-required="productReferenceNumber.numRegPro1 || productReferenceNumber.numRegPro2 || productReferenceNumber.numRegPro4"
						ng-model="productReferenceNumber.numRegPro3" />	
				</div>
				<div class="form-group">
					<label>-</label>
				</div>
				<div class="form-group">
					<input id="numRegPro4" class="form-control" name="numRegPro4" type="text" 
						value="" placeholder="" size="7" maxLength="6" ng-readonly="viewmode" only-digits=""
						ng-required="productReferenceNumber.numRegPro1 || productReferenceNumber.numRegPro2 || productReferenceNumber.numRegPro3"
						ng-model="productReferenceNumber.numRegPro4" />	
				</div>	
			</div>
		</div>
	</div>
</div>