<div class="row">
	<div class="{{compClassProductName}}">
		<label for="productName">{{'PRODUCT_NAME'|translate}} <sup>1</sup></label> 
		<input id="productName" class="form-control" name="productName" type="text"  maxlength="100"
			value="" placeholder="" size="50" tooltip="{{'PRODUCT_NAME' | translate}}"
			ng-readonly="viewmode" ng-model="formularioATratar.productName" />
	</div>
	<num-ref-product  viewmode="viewmode" comp-class="{{compClassNumRef}}" product-reference-number="productReferenceNumber"></num-ref-product>
</div>