.bottomFooter .social{
	text-align: center;
	padding-top: 25px;
	width: 100%;
	font-size: 14px;
	  overflow: hidden;
}

.bottomFooter .social div{
	margin: 0px 15px;
	display:inline;

}

.bottomFooter .social img{
  margin: 0px 6px 3px;
  height: 13px;
  width: auto;
}
.largeBreak{
	clear:both;
}

.mainWrapper{
	  overflow: hidden;
	  margin-bottom: 110px;
}

.bottomDistance{
	margin-bottom:55px;
}

@media only screen and (max-width: 1023px){
	.footerBlockBreakTablet{
		clear: both;
	}
	.footerBlocksGroup {
	  float: none;
	}

	.largeBreak{
	clear:none;
	}



}

@media only screen and (max-width: 767px){
	.footerBlock{
		clear: both;
		width: 100%;
	}

	.footerLogo{
		display: none;
	}

	.bottomFooter p{
		text-align: left;
		padding-left: 20px;
  height: auto;
	}

	.bottomFooter ul{
		text-align: left;
		padding-left: 20px;
  		height: auto;
	}


	.bottomFooter ul li{
		padding: 0px; 
	}


	.bottomFooter .social {
		text-align: left;
		padding-left: 20px;
  		height: auto;
	}

	.bottomFooter .social div{
		  padding: 0px 28px 0px 0px;
		  display: inline;
		  margin: 0px;
		  line-height: 22px;
		}

	.bottomFooter .social img {
  		margin: 0px 6px 3px 0px;
	}
}

