body {
	font-family: 'museo_sans500';
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.nav > li > a {

  font-size: 12px !important;
}

h1 {
	font-family: "museo_sans900";
}

h2 {
	font-family: "museo_sans900";
	
}

h3 {
	font-family: "museo_sans900";
}

h4 {
	font-family: "museo_sans500";
}

h5 {
	font-family: "museo_sans900";
}

h6 {
	font-family: "museo_sans900";
}

.large-5 {
	float: left;
}

.large-6 {
	float: left;
}

.topRight, .mobileSecondaryMenu {
	float: right;
	margin: 30px 15px 0px 0px;
}

.topRight form {
	height: 30px;
	width: 100%;
}

.search {
	padding: 8px 10px 8px;
	background: none;
	padding: 0px;
}

.topRight form {
	margin: 0px !important;
}

.topRight form button[type="submit"] {
	width: 15%;
	height: 30px;
	padding: 2px 0px 0px 0px;
	margin: 0px;
}

.topRight form button[type="submit"] .icon-search {
	font-size: 18px;
	line-height: 11px;
}

.topRight form input[type="text"] {
	height: 30px;
	margin: 0px;
	float: left;
	width: 85%;
}

#bannerText {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10%;
	font-size: large;
}

#bannerText #subText {
	display: block;
	color: #0194d9;
}

#bannerText #subTextAdmin {

	color: #0194d9;
}


#logoAgencia img {
	
	margin-left: 5%;

}

#expNumber {
	margin-top: 10px;
	margin-bottom: 10px;
}

#expNumber label{
	color: #0194d9;
}

#header{
	margin-top: 25px;
	margin-left: 12px;
	margin-right: 12px;

}

#headerLine{
	
	background-color: #0194D9;
}

#headerLine div{
	height: 20px;
    width: 100%;
}

#formOptions {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    color: #0194d9;
    margin-top: 5px;
    max-width: none;
    padding: 16px 0 0;
    width: 100%;
}

#formOptions ul{
	margin-bottom: 12px;
}

.centerAlerts{
	width: 68%;
	margin-top:5px;
}

#instructionsHelp img {
	width: 16;
	height: 16;
	margin-right: 5px;
}
#instructionsHelp button {
	margin-left: 5px;
}

.formSmallLabels label{
	font-size: small !important;
}

.formContainer{
	border: solid;
	border-color: #0194D9;
	border-width: 1px;
	border-radius: 25px;
	margin-bottom: 10px;
	margin-top: 10px; 
	padding-top: 15px; 
	border-bottom-width: 15px; 
}

.formBackground{
	background-color: #006797;
}

.formBackground label{
	font-size:12px; display:block;
	color:#fff; text-align:center; font-weight:normal
}

.formBackground input, .formBackground textarea, .formBackground select{
	
	background:#cccccc; width:100%
}

.formSeparatorWhite{
	border-top: 2px !important;
	border-top-color: #ffffff !important;
	border-top-style: solid !important;
	
}

.checksDateRangeSeparator{
	padding-right: 2%;
	padding-left: 2%;
	
}

.footerTopics {
    background: #f7f7f7 none repeat scroll 0 0;
    padding-top: 20px; 
    padding-left: 30px;
    padding-right: 20px;
    width: 100%;
}

.bottomFooter {
    background: #333 none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-family: "museo_sans900";
    padding-bottom: 40px;
    width: 100%;
    padding-top: 20px; 
}


/* UI dialog*/
.ui-dialog-titlebar {
	background: #026B9C !important;
}

.ui-widget-header {
	background: #026B9C !important;
	border: 2px solid #0194D9 !important;
}


div.ui-datepicker{
 font-size:11px;
} 
.ui-datepicker th {
	color: #ffffff !important;
}

.ui-datepicker-month{
	color: #666666 !important;
}

.ui-datepicker-year{
	color: #666666 !important;
}

.tableArea {
	
	border: solid;
	border-color: #0194D9;
	border-width: 1px;
	border-radius: 25px;
	margin-bottom: 10px;
	margin-top: 10px; 
	padding-top: 15px; 
	border-bottom-width: 15px; 
	padding-right: 10px;
	padding-left: 10px; 
    padding-bottom: 10px;
    padding-top: 10px;
}

thead tr {
	background-color: #026B9C;
	color:#FFFFFF;
	
}

thead th{
	text-align: center;
}

td {
	text-align: center;
}

#tabsNavs ul{
	margin-top: 12px;
}

.iconsTable img{
	width: 16px;
	height: 16px;
}

.bottomSpacer {
  
    padding-bottom: 2%; 
    
}

.editableRecordLink span{
	cursor: pointer;
	text-decoration: underline;
	font-style: italic;
}

.form-inline .form-group{
  display:inline-block;

 
 
}
.form-inline .form-control{width:100%}
.formReadOnly {
	
	background:#515151 !important;
	background-color: #515151 !important;
	color:#ffffff;
}


.grupoCheck p{font-size:12px; color:#fff}
.grupoCheck label{display:inline; float:left; margin-right:10px}
input[type=checkbox], input[type=radio]{width:auto!important; display:inline; float:left; margin-top:2px!important; margin-right:10px}
.list-unstyled li{margin:20px; border-bottom:1px solid #ededed; padding-bottom:10px; padding-left:20px}
.list-unstyled li h3 a{ font-size:16px; line-height:18px; font-family:'museo_sans500' ;color:#222 }

.breadcrums {
    margin: 10px 0px 0px 25px;
  
    height: 30px;
    font-size: 14px;
    
    line-height: 26px;
}
span.breadcrumSeparator {
    margin: 0px 4px 0px;
    color: #999999;
}

.form-group p{color:#fff}
.form-group label a{color:#fff; text-align:left }
 .col-xs-3 input[type=button]{    background-color: #fff;
    border: 0;
    color: #006797;
    padding: 5px;
    border-radius: 4px;}
 #buttonBorrarAutorizacion:hover, #buttonAltaAutorizacion:hover{background-color:#ededed}
 .clearfix label{text-align:left!important}
 .bloqueDerecha{margin-top:33px}
 .bloqueDerecha .clearfix{margin-bottom:20px}
  .bloqueDerecha .clearfix:last-child{margin-bottom:0}
  p+.col-xs-3{margin-bottom:10px}
  .bienvenida{ margin-bottom:20px}
  .bienvenida li{
    padding-bottom: 10px;
    padding-left: 20px; padding-right: 5px;
    /* margin-bottom: 5px; */
    margin: 0!important;
    border: 1px solid #eee;
    /* border-radius: 20px 20px 0 0; */
    position: relative;
    z-index: 0;
   }
   .bienvenida li:before{content: "";
    position: absolute;
    left: 5px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #23527c;
    top: 26px;
    width: 8px;
    height: 8px;
    margin: 0;}

	 .bienvenida li h3{font-size:17px}
	 .bienvenida li h3 a{color:#23527c}
	  .bienvenida li:hover{background-color:#337ab7}
	  .bienvenida li:hover h3 a{color:#fff; text-decoration:none}
	  .bienvenida li:hover:before{border-color:#fff}
	 
	 
	section.imagen{    background: url(../images/bienvenida.jpg) no-repeat top left; background-size:cover; height:120px; margin:10px 0}
	section.imagen h1{color:#fff;     font-size: 39px;
    text-shadow: 3px 3px 2px #5e5e5e;}
	
	
	 .bienvenida li:hover div{    display: block!important;
    position: absolute;
    left:358px;
    z-index: 1111;
    width: 500px;
    top: 0;     margin-left: 10px;
    margin-top: 9px;
	}
	.bienvenida li:hover div span{    background: #eee;
   
    padding: 10px;
    border-radius: 8px;
   
    position: relative;
    width: 200px;
  }
	.bienvenida li:hover div span:before{       position: absolute;
    display: inline-block;
    border-top: 7px solid transparent;
    border-right: 7px solid #eee;
    border-bottom: 7px solid transparent;
  
    left: -6px;
    top: 9px;
    content: '';}
	
	
	img{max-width:100%}
	.btn{    white-space: initial;}
	#logoAgencia{margin-top:2px}
	
	/*bienvenida*/
	.pR{position:relative}
	.pR .col-sm-8{position:absolute; top:0; right:0; bottom:20px; border:1px solid #eee;}
	.wrapperFormulario{display:table; height:100%; width:100% }
	.wrapperFormulario .info{/*display:table-cell; vertical-align:middle; text-align:center*/ padding:20px}
	.wrapperFormulario .info a{background-color: #337ab7;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    display: inline-block;
    padding: 2px 15px;
    float: right;
    margin-top: 30px; text-decoration:none; clear:both}
	.wrapperFormulario .info a:hover{background-color:#ddd; color:#337ab7; }