<div>
	<div class="modal-header">
	<h4>
		<img src="images/help-image.gif" ng-show="isQuestion">
		<img src="images/alertaBig.gif" ng-show="!isQuestion">{{dialogTitle}}
	</h4>
	</div>
	<div class="modal-body"><span>{{dialogMessage}}</span></div>
	<div class="modal-footer"></div>
</div>