<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="form-group col-xs-12 col-sm-12">
		<label for="materialSolicitado">{{'MATERIAL_SOLICITADO' | translate}} (*)</label> 
		<textarea id="materialSolicitado" class="form-control"  name="materialSolicitado" type="text"
			rows="5" value="" tooltip="{{'MATERIAL_SOLICITADO' | translate}}" ng-readonly="viewMode" maxlength="240"
			ng-model="formularioATratar.requestedMaterial" ng-required="!editMode">
		</textarea>
	</div>	
</form-background-wrapper>
<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="form-group col-xs-12 col-sm-12">
		<label for="finalidadYUso">{{'FINALIDAD_Y_USO' | translate}} (*)</label> 
		<textarea id="finalidadYUso" class="form-control" name="finalidadYUso" type="text"
			rows="5" value="" tooltip="{{'FINALIDAD_Y_USO' | translate}}" ng-readonly="viewMode"  maxlength="240"			
			ng-model="formularioATratar.purposeAndUse" ng-required="!editMode">
		</textarea>
	</div>	
</form-background-wrapper>