<div class="mainMenu">
	<div class="row">
		<div class="col-md-1 col-md-offset-1" >
			<a ng-hide="showgoback==='false'" href="#/bienvenida"><span class="glyphicon glyphicon-chevron-left"></span>{{'GOBACK'| translate}}</a>
		</div>
		<div class="col-md-1  pull-right">
			<a ng-click="logout()">
				<span class="glyphicon glyphicon-off" aria-hidden="true"></span>{{'LOGOUT'| translate}}
			</a>
		</div>
		<div class="pull-right" ng-class="userUE?(userArea ===undefined ? 'col-md-5 col-md-offset-4' : 'col-md-8 col-md-offset-1' ):(userArea ===undefined ? 'col-md-8 col-md-offset-1': 'col-md-8' )  ">
			<div class="row">
				<div class ="textRight "ng-class="userUE?(userArea ===undefined ? 'col-md-6' : 'col-md-4'):(userArea ===undefined ? 'col-md-4' : 'col-md-3')  ">
					<span class=" glyphicon glyphicon-user" aria-hidden="true"></span>
					{{loggedUser}}
				</div>
				<div ng-if="userUE===false" class ="textCenter" ng-class="userArea ===undefined ? 'col-md-3' : 'col-md-2' ">
					<span class="glyphicon glyphicon-userglyphicon glyphicon-lock" aria-hidden="true"></span>
					<a ng-click="showChangePasswordPopup()">{{'CHANGEPASSWORD' | translate}}</a>
				</div>
				<div ng-class="userUE?(userArea ===undefined ? 'col-md-6' : 'col-md-4 textLeft'):(userArea ===undefined ? 'col-md-4 textLeft' : 'col-md-4 textLeft') ">
					<span class=" glyphicon glyphicon-info-sign" aria-hidden="true"></span>
					{{'LASTLOGIN' | translate}}: {{lastAccess | date : 'dd/MM/yyyy HH:mm:ss'}}
				</div>
				<div ng-if="userArea" ng-class="userUE?'col-md-4 textLeft':'col-md-3 textLeft'">
					<span class=" glyphicon glyphicon-info-sign" aria-hidden="true"></span>
					{{'AREA' | translate}}:{{userArea}}
					<span ng-if="userRole"><i>({{userRole}})</i></span>
				</div>
			</div>
		</div>
	</div>
</div>
<cambio-contrasenia-popup></cambio-contrasenia-popup>