<div class="container-fluid">
	<div id="headerLine" class="row">
	<div class="col-md-12"><secosan-translate ng-if="false"></secosan-translate></div>
	</div>
	<div id="headerContainer" class="row">
			<div id="logoAgencia" class="col-sm-6 col-md-4  col-md-offset-2">
				<a href="http://www.aecosan.msssi.gob.es"><img ng-src="{{logo}}/msssi-aecosan-logo.jpg" /></a>
			</div>
			<div class="col-sm-6 col-md-6" id="banner">
				<div id="bannerText" class="center-block">
					<span><strong translate="{{title}}"></strong></span> 
				</div>
			</div>
		</div>
	</div>