<div class="row ">
	<ul class="languagesList">
		<li class="firstLi ng-class:{active:isActive('spanish')}"><a ng-click="setSpanish()">Bienvenidos</a></li>
		<li class="ng-class:{active:isActive('britishEnglish')}"><a  ng-click="setBritishEnglish()">Welcome</a></li>
	</ul>
</div>