<footer class="bottomFooter container-fluid">		
			<div class="row">
				<div class="col-md-12 text-center">
					<div>
					<p>AECOSAN - SEDE ELECTR&Oacute;NICA</p>
					</div>
					<div ng-if="showprotecciondatos==='true'">
						<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><a  data-toggle="modal"
							data-target="#instruccionesLPD" style="margin-bottom:10px">
							Informaci&oacute;n Ley Org&aacute;nica 15/1999 de Protecci&oacute;n de Datos de Car&aacute;cter Personal
						</a>
					</div>
				</div>
			</div>
</footer>
<div id="instruccionesLPD" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h3 class="modal-title">Informaci&oacute;n Ley Org&aacute;nica 15/1999 de Protecci&oacute;n de Datos de Car&aacute;cter Personal</h3>
				</div>
				<div class="modal-body">
					  <p>Algunos de los ficheros de datos solicitados en los servicios de esta Web contienen datos personales. De acuerdo con la Ley Org&aacute;nica 15/1999, de 13 de diciembre de Protecci&oacute;n de Datos de Car&aacute;cter Personal, la Agencia Espa&ntilde;ola de Consumo, Seguridad Alimentaria y Nutrici&oacute;n se compromete al cumplimiento de su obligaci&oacute;n de secreto con respecto a estos datos y al deber de tratarlos con confidencialidad. A estos efectos, adoptar&aacute; las medidas necesarias para evitar su alteraci&oacute;n, p&eacute;rdida, tratamiento o acceso no autorizado.</p>


                    <p>La recogida y tratamiento automatizado de los datos personales tiene como finalidad la gesti&oacute;n, prestaci&oacute;n, ampliaci&oacute;n y mejora de los servicios de usuario y obtener datos estad&iacute;sticos de los mismos.</p>


                    <p>El usuario podr&aacute; ejercitar en todo momento los derechos de acceso, rectificaci&oacute;n, cancelaci&oacute;n u oposici&oacute;n remitiendo un correo electr&oacute;nico a <a href="mailto:sgaesan@msssi.es">sgaesan@msssi.es</a>
                    </p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar
						Ventana</button>
				</div>
			</div>
		</div>
	</div>