<form-background-wrapper>
	<div class="form-group col-xs-12 col-sm-6">
		<label for="sustanciaActiva">{{'ACTIVE_SUBS' | translate}} (*)</label> 
		<input id="sustanciaActiva" class="form-control" name="sustanciaActiva" type="text" 
			value="" maxlength="100" tooltip="{{'ACTIVE_SUBS' | translate}}" ng-readonly="viewMode"
			ng-model="formularioATratar.activeSubstance" ng-required="!editMode"/>
	</div>	
	<div class="form-group col-xs-12 col-sm-6">
		<label for="alimento">{{'FOODS' | translate}} (*)</label> 
		<input id="alimento" class="form-control" name="alimento" type="text"
			value="" maxlength="100" tooltip="{{'FOODS' | translate}}" ng-readonly="viewMode"
			ng-model="formularioATratar.foods" ng-required="!editMode"/>
	</div>
</form-background-wrapper>

<form-background-wrapper>
	<div class="form-group col-xs-12 col-sm-6">
		<label for="paisOrigen">{{'ORIGIN_COUNTRY' | translate}} (*)</label> 
		<input id="paisOrigen" class="form-control" name="paisOrigen" type="text" 
			value="" maxlength="100" tooltip="{{'ORIGIN_COUNTRY' | translate}}" ng-readonly="viewMode"
			ng-model="formularioATratar.originCountry" ng-required="!editMode"/>
	</div>
</form-background-wrapper>