<div class="form-group col-xs-6 col-sm-6 pull-right" ng-show="!viewMode" >
    <br/>
    <div   class="form-group col-xs-6 col-sm-6" >
        <img ng-src="{{images}}/loading.gif"  class="loginSpinner center-block" ng-show="consultarApoderamientoProcessing" />
        <img ng-src="{{images}}/{{resultImage}}" ng-show="showProcessResult" width="25" />
        <span ng-show="showProcessResult" >{{processMessage}}</span>
    </div>
    <button class="btn pull-right" ng-click="consultarApoderamiento($event,formularioATratar.solicitante.identificationNumber)" ng-disabled="formularioATratar.solicitante.identificationNumber.length<=7">
        <span class=" glyphicon glyphicon-file" aria-hidden="true"></span> <span> {{'CONSULTAR_APODERAMIENTO' |translate}}</span>
    </button>
</div>