@font-face {
    font-family: 'museo_sans500';
    src: url('../fonts/MuseoSans_500-webfont.eot');
    src: url('../fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSans_500-webfont.woff2') format('woff2'),
         url('../fonts/MuseoSans_500-webfont.woff') format('woff'),
         url('../fonts/MuseoSans_500-webfont.ttf') format('truetype'),
         url('../fonts/MuseoSans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans900';
    src: url('../fonts/MuseoSans_900-webfont.eot');
    src: url('../fonts/MuseoSans_900-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSans_900-webfont.woff2') format('woff2'),
         url('../fonts/MuseoSans_900-webfont.woff') format('woff'),
         url('../fonts/MuseoSans_900-webfont.ttf') format('truetype'),
         url('../fonts/MuseoSans_900-webfont.svg#museo_sans900') format('svg');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
  font-family: 'MyriadWebPro';
  src: url('../fonts/MyriadWebPro.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/MyriadWebPro.woff') format('woff'), 
       url('../fonts/MyriadWebPro.ttf')  format('truetype'), 
       url('../fonts/MyriadWebPro.svg#MyriadWebPro') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadWebPro-Italic';
  src: url('../fonts/MyriadWebPro-Italic.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/MyriadWebPro-Italic.woff') format('woff'), 
       url('../fonts/MyriadWebPro-Italic.ttf')  format('truetype'), 
       url('../fonts/MyriadWebPro-Italic.svg#MyriadWebPro-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}