body {
	font-family: 'museo_sans500';
}

.modal-body {
	max-height: calc(100vh - 210px);
	overflow-y: auto;
}

.nav>li>a {
	font-size: 12px !important;
}

a {
	cursor: pointer;
}

h1 {
	font-family: "museo_sans900";
}

h2 {
	font-family: "museo_sans900";
}

h3 {
	font-family: "museo_sans900";
}

h4 {
	font-family: "museo_sans500";
}

h5 {
	font-family: "museo_sans900";
}

h6 {
	font-family: "museo_sans900";
}

.large-5 {
	float: left;
}

.large-6 {
	float: left;
}

.topRight, .mobileSecondaryMenu {
	float: right;
	margin: 30px 15px 0px 0px;
}

.topRight form {
	height: 30px;
	width: 100%;
}

.search {
	padding: 8px 10px 8px;
	background: none;
	padding: 0px;
}

.topRight form {
	margin: 0px !important;
}

.topRight form button[type="submit"] {
	width: 15%;
	height: 30px;
	padding: 2px 0px 0px 0px;
	margin: 0px;
}

.topRight form button[type="submit"] .icon-search {
	font-size: 18px;
	line-height: 11px;
}

.topRight form input[type="text"] {
	height: 30px;
	margin: 0px;
	float: left;
	width: 85%;
}

.hidden {
	display: none !important;
	visibility: hidden !important;
}

#bannerText {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10%;
	font-size: large;
	font-size: 35px !important;
	color: #0194D9;
	text-shadow: 2px 2px 1px #000000;
}

#bannerText #subText {
	display: block;
	color: #0194d9;
}

#bannerText #subTextAdmin {
	color: #0194d9;
}

#logoAgencia {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.large-6 {
	float: left;
}

#expNumber {
	margin-top: 10px;
	margin-bottom: 10px;
}

#expNumber label {
	color: #0194d9;
}

.top-header {
	float: left;
	padding: 0;
	width: 100%;
}

#header {
	margin-top: 25px;
	margin-left: 12px;
	margin-right: 12px;
}

#headerLine {
	background-color: #0194D9;
}

#headerLine div {
	height: 30px;
	width: 100%;
}

#headerContainer {
	margin-top: 20px;
	margin-bottom: 10px;
}

#formOptions {
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	color: #0194d9;
	margin-top: 5px;
}

#formOptions ul {
	margin-bottom: 12px;
}

.centerAlerts {
	width: 68%;
	margin-top: 5px;
}

.formSmallLabels label {
	font-size: small !important;
}

.formContainer {
	border: solid;
	border-color: #0194D9;
	border-width: 1px;
	border-radius: 25px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 15px;
	/* border-bottom-width: 5px; */
}

.formBackground {
	background-color: #006797;
}

.formBackground label {
	font-size: 12px;
	display: block;
	color: #fff;
	text-align: center;
	font-weight: normal
}

.formBackground input, .formBackground textarea, .formBackground select
	{
	background: #cccccc;
	width: 100%
}

.formBackground input[readonly], .formBackground input[disabled],
	.formBackground textarea[readonly], .formBackground textarea[disabled],
	.formBackground select[disabled] {
/* 	background: #393939; */
	background:#4b4b4b;
	color: #e6e6e6;
	cursor: not-allowed;
 	border: 1px solid #4b4b4b;
}

.formSeparatorWhite {
	border-top: 2px !important;
	border-top-color: #ffffff !important;
	border-top-style: solid !important;
}

.checksDateRangeSeparator {
	padding-right: 2%;
	padding-left: 2%;
}

.footerTopics {
	background: #f7f7f7 none repeat scroll 0 0;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 20px;
	width: 100%;
}

.bottomFooter {
	background: #333 none repeat scroll 0 0;
	color: #fff;
	float: left;
	font-family: "museo_sans900";
	padding-bottom: 40px;
	width: 100%;
	padding-top: 20px;
}

/* UI dialog*/
.ui-dialog-titlebar {
	background: #026B9C !important;
}

.ui-widget-header {
	background: #026B9C !important;
	border: 2px solid #0194D9 !important;
}

div.ui-datepicker {
	font-size: 11px;
}

.ui-datepicker th {
	color: #ffffff !important;
}

.ui-datepicker-month {
	color: #666666 !important;
}

.ui-datepicker-year {
	color: #666666 !important;
}

.tableArea {
	border: solid;
	border-color: #0194D9;
	border-width: 1px;
	border-radius: 25px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 15px;
	border-bottom-width: 15px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

thead tr {
	background-color: #026B9C;
	color: #FFFFFF;
}

thead th {
	text-align: center;
}

td {
	text-align: center;
}

#tabsNavs ul {
	margin-top: 12px;
}

.iconsTable img {
	width: 16px;
	height: 16px;
}

.bottomSpacer {
	padding-bottom: 2%;
}

.editableRecordLink span {
	cursor: pointer;
	text-decoration: underline;
	font-style: italic;
}

.form-inline .form-group {
	display: inline-block;
}

.form-inline .form-control {
	width: 100%
}

.formReadOnly {
	background: #515151 !important;
	background-color: #515151 !important;
	color: #ffffff;
}

.grupoCheck p {
	font-size: 12px;
	color: #fff
}

.grupoCheck label {
	display: inline;
	float: left;
	margin-right: 10px
}

input[type=checkbox], input[type=radio] {
	width: auto !important;
	display: inline;
	float: left;
	margin-top: 2px !important;
	margin-right: 10px
}

.list-unstyled li {
	margin: 20px;
	border-bottom: 1px solid #ededed;
	padding-bottom: 10px;
	padding-left: 20px
}

.list-unstyled li h3 a {
	font-size: 16px;
	line-height: 18px;
	font-family: 'museo_sans500';
	color: #222
}

.breadcrums {
	margin: 10px 0px 0px 25px;
	height: 30px;
	font-size: 14px;
	line-height: 26px;
}

span.breadcrumSeparator {
	margin: 0px 4px 0px;
	color: #999999;
}

.form-group p {
	color: #fff
}

.form-group label a {
	color: #fff;
	text-align: left
}

.col-xs-3 input[type=button] {
	background-color: #fff;
	border: 0;
	color: #006797;
	padding: 5px;
	border-radius: 4px;
}

#buttonBorrarAutorizacion:hover, #buttonAltaAutorizacion:hover {
	background-color: #ededed
}

.clearfix label {
	text-align: left !important
}

.bloqueDerecha {
	margin-top: 33px
}

.bloqueDerecha .clearfix {
	margin-bottom: 20px
}

.bloqueDerecha .clearfix:last-child {
	margin-bottom: 0
}

p+.col-xs-3 {
	margin-bottom: 10px
}

.bienvenida {
	margin-bottom: 20px
}

.bienvenida li {
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 5px;
	/* margin-bottom: 5px; */
	margin: 0 !important;
	border: 1px solid #eee;
	/* border-radius: 20px 20px 0 0; */
	position: relative;
	z-index: 0;
}

.bienvenida li:before {
	content: "";
	position: absolute;
	left: 5px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	border: 1px solid #23527c;
	top: 26px;
	width: 8px;
	height: 8px;
	margin: 0;
}

.bienvenida li h3 {
	font-size: 17px
}

.bienvenida li h3 a {
	color: #23527c;
	font-size: 14px;
}

.bienvenida li:hover {
	background-color: #337ab7;
	cursor: pointer;
}

.bienvenida li:hover h3 a {
	color: #fff;
	text-decoration: none
}

.bienvenida li:hover:before {
	border-color: #fff
}

.bienvenida li.active, .bienvenida li.active:hover, .bienvenida li.active:focus,
	.bienvenida li h3.active .bienvenida li h3.active:hover .bienvenida li h3.active:focus
	{
	border-color: #337ab7;
	background-color: #63a0d4;
	color: #ffffff !important
}

.bienvenida li h3 a.active {
	color: #ffffff !important
}

section.imagen {
	background: url(../images/bienvenida.jpg) no-repeat top left;
	background-size: cover;
	height: 100px;
	margin: 10px 0
}

section.imagen h3 {
	color: #fff !important;;
	font-size: 29px !important;;
	text-shadow: 3px 3px 2px #5e5e5e;
}

section.imagenSia {
	background: url(../images/bienvenidaSia.jpg) no-repeat top left;
	background-size: cover;
	height: 100px;
	margin: 10px 0
}

section.imagenSia  h3 {
	color: #fff !important;;
	font-size: 29px !important;;
	text-shadow: 3px 3px 2px #5e5e5e;
}

section.procedurestitle {
	background: url(../images/formulario.jpg) no-repeat top left;
	background-size: cover;
	height: 100px;
	margin: 10px 0
}

section.procedurestitle h3 {
	color: #fff !important;;
	font-size: 22px !important;;
	text-shadow: 3px 3px 2px #5e5e5e;
}

.bienvenida li:hover div {
	display: block !important;
	position: absolute;
	left: 358px;
	z-index: 1111;
	width: 500px;
	top: 0;
	margin-left: 10px;
	margin-top: 9px;
}

.bienvenida li:hover div span {
	background: #eee;
	padding: 10px;
	border-radius: 8px;
	position: relative;
	width: 200px;
}

.bienvenida li:hover div span:before {
	position: absolute;
	display: inline-block;
	border-top: 7px solid transparent;
	border-right: 7px solid #eee;
	border-bottom: 7px solid transparent;
	left: -6px;
	top: 9px;
	content: '';
}

section.bienvenidaTramitador {
	background: url(../images/bienvenidaTramitador.jpg) no-repeat top left;
	background-size: cover;
	height: 100px;
	margin: 10px 0
}

section.bienvenidaTramitador h3 {
	color: #fff !important;;
	font-size: 22px !important;;
	text-shadow: 3px 3px 2px #5e5e5e;
}

section.bienvenidaAdmin {
	background: url(../images/bienvenidaAdministrador.jpg) no-repeat top left;
	background-size: cover;
	height: 100px;
	margin: 10px 0
}

section.bienvenidaAdmin h3 {
	color: #fff !important;;
	font-size: 22px !important;;
	text-shadow: 3px 3px 2px #5e5e5e;
}


.createNewSolicitudeBtn a {
	font-size: 14px !important;
	text-decoration: underline;
}

/* 	img{max-width:100%} */
.btn {
	white-space: initial;
}

/*bienvenida*/
.pR {
	position: relative
}

.pR .col-sm-8 {
	top: 0;
	right: 0;
	margin-bottom: 20px;
	border: 1px solid #eee;
}

.wrapperFormulario {
	display: table;
	height: 100%;
	width: 100%
}

.wrapperFormulario .info {
	/*display:table-cell; vertical-align:middle; text-align:center*/
	padding: 20px
}

.wrapperFormulario .info a {
	background-color: #337ab7;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	display: inline-block;
	padding: 2px 15px;
	float: right;
	margin-top: 30px;
	text-decoration: none;
	clear: both
}

.wrapperFormulario .info a:hover {
	background-color: #ddd;
	color: #337ab7;
}

.ng-table-pager {
	float: right !important;
}

.modalCustom {
	width: 500px !important;
}

.modal-body-datefilter {
	max-height: 100% !important;
	height: 350px !important;
}

.modal-footer-datefilter {
	margin-top: 50%;
}

#solNumTitle {
	color: #01A0E2;
	font-weight: bold;
	text-align: right;
}

#solNum {
	font-style: italic;
	text-align: right;
}

.languagesList {
	color: white;
	float: right;
	font-size: 14px;
	height: 30px;
	list-style: outside none none;
	margin: 0 15px 0 0;
	padding: 4px 0 0;
}

.languagesList li {
	float: left;
	margin-left: 14px;
}

.languagesList li a {
	color: white;
}

.languagesList li a:hover {
	text-decoration: underline;
}

.languagesList li.active a {
	font-weight: bolder;
}

.firstLi {
	margin: 0 !important;
}

/* avoid type number spinners */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

form input.ng-invalid, form select.ng-invalid, form textarea.ng-invalid
	{
	border: 1px solid red;
}

input.ng-invalid, select.ng-invalid, textarea.ng-invalid {
	border: 1px solid red;
}

.solicitudeIdentificationNumber {
	color: #545454;
	display: inline-block;
	height: 22px;
}

.instructionsHelp {
	padding: 5px !important;
}

.instructionsHelp .alert {
	margin-bottom: 0 !important;
}

.instructionsHelp img {
	width: 16px;
	height: 16px;
	margin-right: 5px;
}

.instructionsHelp button {
	margin-left: 5px;
}

#modalIcon{
	width: 3em;
	height: 3em;
}

#modalTitle {
	padding-top: 10px;
	color: #0194D9 !important;
	font-weight: bold;
}

.uppercase {
	text-transform: uppercase;
}

.timepicker a {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.fileName {
	color: #FFFFFF;
	text-decoration: underline;
}

.fileName:hover {
	color: #F1F1F1;
	text-decoration: none;
}

.userLink {
	color: #333333;
	text-decoration: underline;
}

.msg-block {
	margin-top: 5px;
}

.msg-error {
	color: #890606;
	font-size: 12px;
}

.loginDivForm {
	margin-top: 12px;
	margin-bottom: 12px;
}

.loginPanels {
	min-height: 480px;
}

.loginClaveRow {
	padding: 130px 0px 50px;
	text-align: center
}

.parentDisable {
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.8;
	z-index: 998;
	height: 100%;
	width: 100%;
}

#logoClaveImg {
	border-radius: 25px;
	cursor: pointer;
	border-style: solid;
	border-width: 1px;
	border-color: #5CBAE7;
}

.mainMenu {
	border-top: 1px solid #cccccc;
	color: #0194d9;
	max-width: none;
	padding: 16px 0 0;
	width: 100%;
}

.mainMenu div {
	font-size: 13px;
	list-style: outside none none;
	color: #262729;
}

.mainMenu div a {
	font-size: 13px;
	color: #262729;
}

.mainMenu div a:hover, div a.active {
	color: #0194d9;
}

.mainMenu span.glyphicon {
	color: #0194d9;
}

.green-icon {
	color: #C12E2A;
}

.red-icon {
	color: #449D44;
}

.loginFormBackground {
	background-color: #e5f4fb;
	height: 200px;
}

.loginButton {
	margin-top: 10px !important;
}

.loginFormCenteredRow {
	margin-top: 80px;
	text-align: center
}

.ngViewContainer {
	min-height: 500px;
}

.loginSpinner {
	width: 25px;
	height: 25px;
	margin-top: 15px;
}

.textRight {
	text-align: right !important;
}

.textLeft {
	text-align: left !important;
}

.textCenter {
	text-align: center !important;
}

.formBackgroundLight {
	background-color: #a3c6d6;
}

#loading-div-background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background: #0c0b0b;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	z-index: 998;
}

#loading-div {
	width: 300px;
	height: 200px;
	background-color: #0c0b0b;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -100px;
}

.notifySpinner {
	width: 25px;
	height: 25px;
	margin-top: 15px;
	
}

.accountRow{
	padding-left: 90px; 
	padding-right: 150px;
}


.account2Lenght{
	width: 50px !important;
}

.account4Lenght{
	width: 70px !important;
}

.account9Lenght{
	width: 115px !important;
}
.onlinePaymentRow button{
	width: 100px;
	height: 90px;
	white-space: normal;
}

.onlinePaymentResultRow{
	margin-top: 10px;
	color: #FFFFFF;
}

.onlinePaymentResultRow img{
	width: 30px;
	height: 30px;
}


.onlinePaymentResultRowMessage{
	font-size: 12px;
	margin-top: 15px;
}

.ammountInput{
	width: 80px !important;
	direction: rtl;
}

.ammountDecimalInput{
	width: 45px !important;
	direction: rtl;
}

.paymentSpan{
	color: #FFFFFF;
}

.paymentAmount{
	font-size: 14px !important;
}

textarea {
    resize: none;
}

.tasaAdminCellNoTextarea{
	margin-top: 15px;
}
/*CODIGOS SIA*/
.bienvenida li h2{
	color: #23527c;
	font-size: 12px;
	margin:0px;
}

/*CAMBIO CONTRASEÑA*/

.changePasswordFormBackground {
    background-color: #e5f4fb;
}
.changePasswordRow{
	padding-top: 10px; 
}

.headerForwardAlert{
	margin-top: 150px;
}

.headerForwardAlert .alert span{
	font-weight: normal !important;
	font-size: 20px;
}

.headerForwardAlert .alert img {
	width: 40px;
	height: 40px;
	margin-right: 5px; 
	margin-bottom: 5px;
}

.radio-inline{
	display: inline-block !important;
}

.identificationTypesRadioGroups{
	margin-top: 5px;
}

.product{
	border: 1px;
	border-color: #ffffffff;
}

.marcador-solicitud-fila{
	background-color: #8dff726b;
}

.input-langs-points{
	width: 30% !important;
	margin-left: 20px;
	height: 30px;
}