<form-background-wrapper>
	<div class="form-group col-xs-12 col-sm-12">
		<label for="nombreComercialProducto">
			{{'PRODUCT_NAME' | translate}} (*)
		</label> 
		<input id="nombreComercialProducto" class="form-control" name="nombreComercialProducto" type="text" maxlength="100"
			value="" tooltip="{{'PRODUCT_NAME' | translate}}" ng-readonly="viewMode"
			ng-model="formularioATratar.nombreComercialProducto" ng-required="!editMode" />
	</div>
	<div class="form-group col-xs-12 col-sm-12">
		<label for="lbObservaciones">
			{{'PRODUCT_NAME_OBS' | translate}}
		</label> 
		<input id="observaciones" class="form-control" name="observaciones" type="text" maxlength="100"
			 value=""  tooltip="{{'PRODUCT_NAME_OBS' | translate}}" ng-readonly="viewMode"
			 ng-model="formularioATratar.observaciones" />
	</div>
</form-background-wrapper>
