<button class="btn btn-info btn-sm btn-block" type="button" ng-click="showHideMonitoringFilter()">
	<span class="glyphicon glyphicon-filter" aria-hidden="true"></span>{{"MONITORING_FILTER" | translate}}
</button>
<div class="table-responsive">
	<table ng-table="configTableParamsMonitoring" show-filter="showTableMonitoringFilters" class="table table-striped table-hover table-condensed">
		<tr ng-repeat="row in $data">
			<td data-title="'MONITORING_TABLE_STATUS' | translate" filter="{'success': 'select'}" filter-data="statusFilter" sortable="'success'">
				<span ng-class="{true: 'glyphicon glyphicon-ok-circle red-icon', false: 'glyphicon glyphicon-remove-circle green-icon'}[row.success]"
				 title="{{{true: 'Ok', false: 'Error'}[row.success]}}"></span>
			</td>

			<td data-title="'MONITORING_TABLE_DATE' | translate" filter="{'registerDate': 'date-range-filter'}" sortable="'registerDate'">{{row.registerDate| date:'dd/MM/yyyy'}}</td>
			<td data-title="'MONITORING_TABLE_SERVICE' | translate" filter="{'connectorName' :'select'}" filter-data="connectorNameFilter"  sortable="'connectorName'" >{{row.connectorName}}</td>
			<td data-title="'MONITORING_TABLE_ERRORTYPE' | translate"  sortable="'errorType'" filter="{'errorType' :'text'}">{{row.errorType}}</td>
			<td data-title="'MONITORING_TABLE_DESCRIPTION' | translate" sortable="'errorDescription'" class="text-left" style="width:480px">{{row.errorDescription}}</td>
		</tr>
		<tr ng-if="!hasdata">
				<td colspan="5">{{"MONITORING_TABLE_EMPTY" | translate}}</td>
	    </tr>
	</table>
</div>