<div>
	<formulario-wrapper>
	<div class="row">
		<div class="col-md-12">
			<h5>{{'MONITORING' | translate}}</h5>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">{{prueba}}</div>
	</div>
	<div>
		<nvd3 options="options" data="data"></nvd3>
		<monitoring-filtered-table></monitoring-filtered-table>
	</div>
	</formulario-wrapper>
</div>