<button class="btn btn-info btn-sm btn-block" type="button" ng-click="showHideUserFilter()" >
	<span class="glyphicon glyphicon-filter" aria-hidden="true"></span>{{"MONITORING_FILTER" | translate}}
</button>
<div class="table-responsive">
	<table ng-table="configTableParamsGestUsers" show-filter="showTableUserFilters" class="table table-striped table-hover table-condensed">
		<tr ng-repeat="row in $data">
		  	<td data-title="'MONITORING_TABLE_DATE' | translate" filter="{'registerDate': 'text'}" sortable="'name'">{{row.registerDate}}</td>
		  	<td data-title="'MONITORING_TABLE_SERVICE' | translate" filter="{'connectorName': 'text'}" sortable="'lastName'">{{row.connectorName}}</td>
		  	<td data-title="'MONITORING_TABLE_STATUS' | translate" filter="{'success': 'select'}" sortable="'area'">{{row.success}}</td>
		  	<td data-title="'MONITORING_TABLE_DESCRIPTION' | translate" filter="{'errorDescription': 'select'}"  sortable="'area'">{{row.errorDescription}}</td>
		</tr>
	</table>
</div>