<!DOCTYPE html>
<html lang="en" data-ng-app="secosanAdmin">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta http-equiv="X-UA-Compatible" content="IE=8, IE=9, IE=edge" />
<title title="">ADMINISTRACI&Oacute;N SEDE ELECTRÓNICA DE AECOSAN</title>
<link rel="shortcut icon" href="/secosan/images/favicon.ico" />
<link rel="stylesheet" href="/secosan/styles/vendor/bootstrap/bootstrap.css" />
<link rel="stylesheet" href="/secosan/styles/vendor/bootstrap/bootstrap.css.map" />
<link rel="stylesheet" href="/secosan/styles/vendor/bootstrap/bootstrap-theme.css" />
<link rel="stylesheet" href="/secosan/styles/vendor/ngtable/ng-table.css" />
<link rel="stylesheet" href="/secosan/styles/vendor/ngDialog/ngDialog.css" />
<link rel="stylesheet" href="/secosan/styles/vendor/ngDialog/ngDialog-theme-default.css" />
<link rel="stylesheet" href="/secosan/styles/vendor/cookie-law/angular-cookie-law.css"/>
<link rel="stylesheet" href="/secosan/styles/vendor/nvd3/nv.d3.min.css"/>
<link rel="stylesheet" href="/secosan/styles/vendor/pwmeter/ng-password-meter.css"/>
<link rel="stylesheet" href="/secosan/styles/vendor/select2/select.min.css"/>
<link rel="stylesheet" href="/secosan/styles/fundation.css" />
<link rel="stylesheet" href="/secosan/styles/styles.css" />
<link rel="stylesheet" href="/secosan/styles/footer.css" />
</head>
<body>
	<cookie-law-banner message="{{'COOKIE_LAW_MSG' | translate}}" 
	policy-url="http://www.aecosan.msssi.gob.es/AECOSAN/web/aecosan_cookies.htm"
	accept-text="{{'COOKIE_LAW_ACCEPT' | translate}}" policy-button="true" policy-text="{{'COOKIE_LAW_POLICY' | translate}}" ></cookie-law-banner>
	<modal-popup></modal-popup>
	<spinner-loading></spinner-loading>
	<secosan-header title="ADMIN_GENERAL_TITLE"></secosan-header>
	<div class="container">
		<messages-zone></messages-zone>
	</div>
	<secosan-idle></secosan-idle>
	<div ng-view class="ngViewContainer">
	</div>
	<secosan-footer showprotecciondatos="false"></secosan-footer>
	<script src="/secosan/js/vendor/jquery/jquery-1.12.0.js"></script>
	<script src="/secosan/js/vendor/angular/angular.js"></script>
	<script src="/secosan/js/vendor/angular/angular-route.js"></script>
	<script src="/secosan/js/vendor/angular/angular-resource.js"></script>
	<script src="/secosan/js/vendor/angular/angular-cookies.js"></script>
	<script src="/secosan/js/vendor/ngidle/angular-idle.min.js"></script>
	<script src="/secosan/js/vendor/bootstrap/bootstrap.js"></script>
	<script src="/secosan/js/vendor/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
	<script src="/secosan/js/vendor/translate/angular-translate.js"></script>
	<script src="/secosan/js/vendor/translate/angular-loader-static-files.js"></script>
	<script src="/secosan/js/vendor/ngtable/ng-table.js"></script>
	<script src="/secosan/js/vendor/ngDialog/ngDialog.js"></script>
	<script src="/secosan/js/vendor/angular/angular-base64-upload.js"></script>
	<script src="/secosan/js/vendor/angular/angular-locale_es-es.js"></script>
	<script src="/secosan/js/vendor/eligrey/FileSaver.min.js"></script>
	<script src="/secosan/js/vendor/jwt/angular-jwt.min.js"></script>
	<script src="/secosan/js/vendor/pwmeter/ng-password-meter.js"></script>
	
	<script src="/secosan/js/vendor/d3/d3.min.js"></script>
	<script src="/secosan/js/vendor/d3/nv.d3.js"></script>
	<script src="/secosan/js/vendor/d3/angular-nvd3.js"></script>
	<script src="/secosan/js/vendor/cookie-law/angular-cookie-law.min.js"></script>
	<script src="/secosan/js/vendor/base64/angular-utf8-base64.js"></script>
	<script src="/secosan/js/vendor/select/select.min.js"></script>
	
	<script src="/secosan/js/navpils.helper.js"></script>
	<script src="/secosan/js/secosanGeneric.js"></script>
	<script src="js/secosanAdmin.js"></script>
	<script src="/secosan/js/providers/httpDecorator.js"></script>
	<script src="/secosan/js/secosanConstantesEpago.js"></script>


	<script src="/secosan/js/services/header-title-service.js"></script>
	<script src="/secosan/js/services/pagination-filter-service.js"></script>
	<script src="/secosan/js/services/catalog-service.js"></script>
	<script src="/secosan/js/services/instrucciones-service.js"></script>
	<script src="/secosan/js/services/instrucciones-pago-service.js"></script>

	<script src="js/routesAdmin.js"></script>

	<script src="js/controllers/login-admin-controller.js"></script>
	<script src="js/controllers/update-user-controller.js"></script>
	<script src="js/controllers/cambio-estado-controller.js"></script>
	<script src="js/controllers/gestion-usuarios-controller.js"></script>
	<script src="js/controllers/bienvenida-admin-controller.js"></script>
	<script src="/secosan/js/controllers/documentation-manager-controller.js"></script>
	<script src="/secosan/js/controllers/documentation-manager-becas-controller.js"></script>
	<script src="/secosan/js/controllers/products-controller.js"></script>
	<script src="/secosan/js/controllers/antecedentes-procedencia-controller.js"></script>
	<script src="/secosan/js/controllers/lista-presentaciones-controller.js"></script>
	<script src="js/controllers/sugerencia-controller-admin.js"></script>
	<script src="js/controllers/queja-controller-admin.js"></script>
	<script src="js/controllers/evaluacion-riesgos-controller-admin.js"></script>
	<script src="js/controllers/lmr-fitosanitarios-controller-admin.js"></script>
	<script src="js/controllers/solicitud-logos-controller-admin.js"></script>
	<script src="js/controllers/financiacion-alimentos-alteracion-controller-admin.js"></script>
	<script src="js/controllers/financiacion-alimentos-inclusion-controller-admin.js"></script>

	<script src="js/controllers/financiacion-alimentos-suspension-controller-admin.js"></script>
	<script src="js/controllers/presentation-controller-admin.js"></script>


	<script src="js/controllers/alimentos-grupos-cese-controller-admin.js"></script>
	<script src="js/controllers/alimentos-grupos-modificacion-controller-admin.js"></script>
	<script src="js/controllers/alimentos-grupos-puesta-mercado-controller-admin.js"></script>
	<script src="js/controllers/complementos-alimenticios-cese-controller-admin.js"></script>
	<script src="js/controllers/complementos-alimenticios-puesta-mercado-controller-admin.js"></script>
	<script src="js/controllers/complementos-alimenticios-modificacion-controller-admin.js"></script>
	<script src="js/controllers/monitoring-controller.js"></script>
	<script src="js/controllers/logging-controller.js"></script>
	<script src="js/controllers/registro-aguas-controller-admin.js"></script>
	<script src="js/controllers/registro-industrias-controller-admin.js"></script>
	<script src="js/controllers/gestion-tipo-procedimiento-controller.js"></script>
	<script src="js/controllers/registro-estatal-controller-admin.js"></script>
	<script src="js/controllers/becas-controller-admin.js"></script>
	<script src="js/controllers/subvencion-asocuae-controller-admin.js"></script>
	<script src="js/controllers/subvencion-juntas-controller-admin.js"></script>


	<script src="/secosan/js/controllers/cambio-contrasenia-controller.js"></script>
	
	<script src="/secosan/js/filters/date-range-filter.js"></script>

	<script src="/secosan/js/directives/generics/welcome-menu.js"></script>


	
	<script src="/secosan/js/directives/wrappers/container-border-wrapper.js"></script>
	<script src="/secosan/js/directives/wrappers/formulario-wrapper.js"></script>
	<script src="/secosan/js/directives/wrappers/boton-wrapper.js"></script>
	<script src="/secosan/js/directives/wrappers/options-menu-wrapper.js"></script>
	<script src="/secosan/js/directives/wrappers/form-element-wrapper.js"></script>
	<script src="/secosan/js/directives/wrappers/form-background-wrapper.js"></script>
	<script src="/secosan/js/directives/generics/secosan-header.js"></script>
	<script src="/secosan/js/directives/generics/secosan-footer.js"></script>
	<script src="/secosan/js/directives/generics/img-title.js"></script>
	<script src="/secosan/js/directives/generics/translate-directive.js"></script>
	<script src="/secosan/js/directives/generics/messages-directive.js"></script>
	<script src="/secosan/js/directives/generics/secosan-titleTooltip.js"></script>
	<script src="/secosan/js/directives/generics/password-match.js"></script>
	<script src="/secosan/js/directives/generics/password-not-match.js"></script>
	<script src="/secosan/js/directives/generics/password-validate.js"></script>
	<script src="/secosan/js/directives/generics/formularios/solicitante.js"></script><!-- revisar estos porque no lo tengo claro -->
	<script src="/secosan/js/directives/generics/formularios/representante.js"></script>
	<script src="/secosan/js/directives/generics/formularios/datos-adicionales.js"></script>
	<script src="/secosan/js/directives/generics/formularios/documentacion.js"></script>
	<script src="/secosan/js/directives/generics/formularios/direccion.js"></script>
	<script src="/secosan/js/directives/generics/formularios/direccion-representante.js"></script>
	<script src="/secosan/js/directives/generics/formularios/direccion-contacto.js"></script>

	<script src="/secosan/js/directives/generics/formularios/pieformulario.js"></script>
	<script src="/secosan/js/directives/generics/formularios/datos-obligatorios.js"></script>
	<script src="/secosan/js/directives/generics/formularios/checkbox-subformularios.js"></script>
	<script src="/secosan/js/directives/generics/formularios/aceptar-instrucciones.js"></script>
	<script src="/secosan/js/directives/generics/formularios/boton-accion-formulario.js"></script>
	<script src="/secosan/js/directives/generics/formularios/instrucciones.js"></script><!--  -->
	<script src="/secosan/js/directives/generics/formularios/form-field.js"></script>
	<script src="/secosan/js/directives/generics/formularios/form-list.js"></script>
	<script src="/secosan/js/directives/generics/formularios/modal-popup.js"></script>
	<script src="/secosan/js/directives/generics/formularios/solicitude-number.js"></script>
	<script src="/secosan/js/directives/financiacionAlimentos/suspension/productos.js"></script>
	<script src="/secosan/js/directives/generics/formularios/presentacion.js"></script>
	<script src="/secosan/js/directives/generics/formularios/lista-presentaciones.js"></script>
	<script src="/secosan/js/directives/generics/formularios/antecedentes-procedencia.js"></script>
	<script src="/secosan/js/directives/generics/secosan-users-bar.js"></script>
	<script src="/secosan/js/directives/generics/avoid-save-credentials-login.js"></script>
	<script src="/secosan/js/directives/generics/secosan-idle.js"></script>
	<script src="/secosan/js/directives/generics/spinner-directive.js"></script>
	<!-- CAMBIO CONTRASEÑA -->
	<script src="/secosan/js/directives/generics/formularios/cambio-contrasenia-popup.js"></script>
	<script	src="/secosan/js/directives/generics/formularios/cambio-contrasenia.js"></script>
	<!-- /CAMBIO CONTRASEÑA -->

	<script src="js/directives/generics/formularios/cambio-estado-solicitud.js"></script>
	<script src="js/directives/generics/validate-internaluser-dni.js"></script>
	
	<script src="/secosan/js/directives/generics/app-disclamer.js"></script>
	<script src="/secosan/js/directives/complementosAlimenticios/cese/container-ca-cese-comercializacion.js"></script>
	<script src="/secosan/js/directives/complementosAlimenticios/cese/form-ca-cese.js"></script>
	<script src="/secosan/js/directives/complementosAlimenticios/modificacion/container-ca-modificacion.js"></script>
	<script src="/secosan/js/directives/complementosAlimenticios/modificacion/form-ca-modificacion.js"></script>
	<script src="/secosan/js/directives/complementosAlimenticios/puestaMercado/container-ca-puesta-mercado.js"></script>
	<script src="/secosan/js/directives/complementosAlimenticios/puestaMercado/form-ca-puesta-mercado.js"></script>
	<script src="/secosan/js/directives/complementosAlimenticios/puestaMercado/form-ca-identificativos-adicionales.js"></script>

	<script src="/secosan/js/directives/alimentosGrupos/cese/container-ag-cese-comercializacion.js"></script>
	<script src="/secosan/js/directives/alimentosGrupos/cese/form-ag-cese.js"></script>
	<script src="/secosan/js/directives/alimentosGrupos/modificacion/container-ag-modificacion.js"></script>
	<script src="/secosan/js/directives/alimentosGrupos/modificacion/form-ag-modificacion.js"></script>
	<script src="/secosan/js/directives/alimentosGrupos/puestaMercado/container-ag-puesta-mercado.js"></script>
	<script src="/secosan/js/directives/alimentosGrupos/puestaMercado/form-ag-puesta-mercado.js"></script>
	<script src="/secosan/js/directives/alimentosGrupos/puestaMercado/form-ag-identificativos-adicionales.js"></script>

	<script src="/secosan/js/directives/registroEstatal/container-registro-estatal.js"></script>
	<script src="/secosan/js/directives/becas/container-becas.js"></script>
	<script src="/secosan/js/directives/becas/container-resolucion.js"></script>
	<script src="/secosan/js/directives/subvencionAsocuae/container-subvencion-asocuae.js"></script>
	<script src="/secosan/js/directives/subvencionAsocuae/container-subvencion-juntas.js"></script>
	<script src="/secosan/js/directives/comunicacion/queja/container-queja.js"></script>
	<script src="/secosan/js/directives/comunicacion/queja/form-queja.js"></script>
	<script src="/secosan/js/directives/comunicacion/sugerencia/container-sugerencia.js"></script>
	<script src="/secosan/js/directives/comunicacion/sugerencia/form-sugerencia.js"></script>

	<script src="/secosan/js/directives/evaluacionRiesgos/container-evaluacion-riesgos.js"></script>
	<script src="/secosan/js/directives/evaluacionRiesgos/form-evaluacion-riesgos.js"></script>
	
	<script	src="/secosan/js/directives/registroAguas/container-registro-aguas.js"></script>
	<script	src="/secosan/js/directives/registroAguas/form-registro-aguas.js"></script>
	
	<script	src="/secosan/js/directives/registroIndustrias/container-registro-industrias.js"></script>
	<script	src="/secosan/js/directives/registroIndustrias/direccion-envio.js"></script>
	<script	src="/secosan/js/directives/registroIndustrias/form-registro-industrias.js"></script>

	<script src="/secosan/js/directives/lmrFitosanitarios/container-lmr-fitosanitarios.js"></script>
	<script src="/secosan/js/directives/lmrFitosanitarios/form-lmr-fitosanitarios.js"></script>

	<script src="/secosan/js/directives/financiacionAlimentos/alteracion/container-alteracion.js"></script>
	<script src="/secosan/js/directives/financiacionAlimentos/alteracion/form-alteracion.js"></script>
	<script src="/secosan/js/directives/financiacionAlimentos/inclusion/container-inclusion.js"></script>
	<script src="/secosan/js/directives/financiacionAlimentos/inclusion/form-inclusion.js"></script>
	<script src="/secosan/js/directives/financiacionAlimentos/suspension/container-suspension.js"></script>
	<script src="/secosan/js/directives/financiacionAlimentos/suspension/form-suspension.js"></script>
	<script	src="/secosan/js/directives/financiacionAlimentos/numRefProduct.js"></script>
	<script	src="/secosan/js/directives/financiacionAlimentos/productNameNumRef.js"></script>
	
	<script src="/secosan/js/directives/generics/clave-login-img-directive.js"></script>
	<script src="/secosan/js/services/tipo-procedimiento-service.js"></script>
	<script src="/secosan/js/services/becas-service.js"></script>


	<script src="js/directives/usuarios/user-registration.js"></script>
	<script src="js/directives/usuarios/form-user-registration.js"></script>
	<script src="js/directives/usuarios/form-update-user.js"></script>
	<script src="js/directives/usuarios/user-search.js"></script>
	<script src="js/directives/usuarios/form-user-search.js"></script>
	<script src="js/directives/usuarios/form-user-list.js"></script>
	<script src="js/directives/usuarios/popup-update-user.js"></script>

	<script src="js/directives/menu/container-bienvenida-admin.js"></script>
	<script src="js/directives/menu/gestion-instrucciones.js"></script>
	<script src="js/directives/menu/solicitudes-table-tramitador.js"></script>
	<script src="js/directives/menu/welcome-admin-element.js"></script>
	<script src="js/directives/menu/tasas-table-admin.js"></script>
	<script src="js/directives/monitoring/monitoring.js"></script>
	<script src="js/directives/monitoring/monitoring-filtered-table.js"></script>
	<script src="js/directives/logging/logging.js"></script>
	<script src="js/directives/generics/formularios/registro-tipo-procedimiento.js"></script>
	<script src="js/directives/generics/formularios/form-registro-tipo-procedimiento.js"></script>


	<script src="/secosan/js/directives/solicitudLogos/container-solicitud-logos.js"></script>
	<script src="/secosan/js/directives/solicitudLogos/form-solicitud-logos.js"></script>

	<script src="/secosan/js/directives/wrappers/tab-wrapper.js"></script>
	<script src="/secosan/js/directives/generics/formularios/historial-solicitud.js"></script>

	<script src="/secosan/js/directives/login/container-login.js"></script>
	<script src="/secosan/js/directives/login/container-login-tramitador.js"></script>
	<script src="/secosan/js/directives/login/form-login.js"></script>

	<script src="/secosan/js/services/catalog-location-servi
	ce.js"></script>

	<script src="/secosan/js/services/solicitudnum-header-service.js"></script><!-- estoy asuniendo qye estos servicios se usan para update de estado -->
	<script src="/secosan/js/services/welcome-menu-service.js"></script>
	<script src="/secosan/js/services/message-service.js"></script>
	<script src="/secosan/js/services/solicitude-service.js"></script>
	<script src="/secosan/js/services/alimentos-grupos-service.js"></script>
	<script src="/secosan/js/services/complementos-alimenticios-service.js"></script>
	<script src="/secosan/js/services/identificadorPeticion-service.js"></script>
	<script src="/secosan/js/services/queja-service.js"></script>
	<script src="/secosan/js/services/sugerencia-service.js"></script>
	<script src="/secosan/js/services/solicitud-logos-service.js"></script>
	<script src="/secosan/js/services/evaluacion-riesgos-service.js"></script>
	<script src="/secosan/js/services/registro-aguas-service.js"></script>
	<script src="/secosan/js/services/registro-industrias-service.js"></script>
	<script src="/secosan/js/services/lmr-fitosanitarios-service.js"></script>
	<script src="/secosan/js/services/financiacion-alimentos-service.js"></script>
	<script src="/secosan/js/services/modal-service.js"></script>
	<script src="/secosan/js/services/modalParams-service.js"></script>
	<script src="/secosan/js/services/datetime-service.js"></script>
	<script src="/secosan/js/services/file-dto-download-service.js"></script>
	<script src="/secosan/js/services/servicios-pago-service.js"></script>
	<script src="/secosan/js/services/pago-service.js"></script>


	<script src="/secosan/js/services/set-data-from-catalog-service.js"></script>
	<script src="/secosan/js/services/ubicacion-service.js"></script>
	<script src="/secosan/js/services/form-model-service.js"></script>
	<script src="/secosan/js/services/documentacion-service.js"></script>
	<script src="/secosan/js/services/entity-url-service.js"></script>
	<script src="/secosan/js/services/location-combos-service.js"></script>
	<script src="/secosan/js/services/util-service.js"></script>
	<script src="/secosan/js/services/doc-type-service.js"></script>
	<script src="/secosan/js/services/registry-number-format-service.js"></script>
	<script src="/secosan/js/services/datepicker-popup-service.js"></script>
	<script src="/secosan/js/services/spinner-services.js"></script>

	<script src="js/services/update-user-service.js"></script>
	<script src="js/services/admin-catalog-service.js"></script>
	<script src="js/services/admin-set-data-from-catalog-service.js"></script>
	<script src="js/services/admin-modalParams-service.js"></script>
	<script src="js/services/admin-solicitude-service.js"></script>
	<script src="js/services/admin-instrucciones-service.js"></script>
	<script src="/secosan/js/services/validation-utils-service.js"></script>
	<script src="js/services/admin-user-management-service.js"></script>
	<script src="js/services/admin-form-model-service.js"></script>
	<script src="js/services/admin-catalog-location-service.js"></script>
	<script src="js/services/admin-location-combos-service.js"></script>
	<script src="js/services/admin-doc-type-service.js"></script>
	<script src="js/services/admin-tasas-service.js"></script>
	<script src="js/services/admin-monitoring-service.js"></script>
	<script src="js/services/admin-logging-service.js"></script>
	<script src="js/services/admin-historial-solicitud-service.js"></script>


	<script src="/secosan/js/services/remove-payment-data-service.js"></script>
	<script src="/secosan/js/services/authentication-user-service.js"></script>
	<script src="/secosan/js/vendor/clienteafirma/miniapplet.js"></script>
	<script src="/secosan/js/services/cambio-contrasenia-service.js"></script>

	<script src="/secosan/js/languages/languages_es.js"></script>
	<!--<script src="http://www.cloudformatter.com/Resources/Pages/CSS2Pdf/Script/xeponline.jqplugin.js"></script>-->
</body>
</html>