<form-background-wrapper>
	<div class="row">
		<div class="form-group col-lg-12 col-md-12">
			<label for="compania">{{"COMPANY_NAME" | translate}} (*)</label> 
			<input id="compania" class="form-control" name="compania" type="text" maxlength="100"
				placeholder="" size="50" tooltip="{{'COMPANY_NAME' | translate}}" ng-readonly="viewMode"
				ng-model="formularioATratar.companyName" ng-required="!editMode"/>
		</div>
	</div>
</form-background-wrapper>
<form-background-wrapper>
	<product-name-num-ref    viewmode="viewmode" comp-class-product-name="form-group col-lg-6 col-md-6 col-md-offset-1" comp-class-num-ref="col-lg-4 col-md-5"
		product-reference-number="productReferenceNumber" formulario-a-tratar="formularioATratar"></product-name-num-ref>
</form-background-wrapper>
<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="form-group col-xs-12">
		<label for="alterMotive">{{'PRODUCT_MOTIVE'|translate}}:</label>
		<textarea id="alterMotive" class="form-control" name="alterMotive" 
			rows="4" tooltip="{{'PRODUCT_MOTIVE' | translate}}" ng-readonly="viewMode"
			ng-model="formularioATratar.alterMotive" maxlength="245">
		</textarea>		
	</div>
</form-background-wrapper>
<form-background-wrapper>
	<boton-wrapper  ng-if="!viewMode")>
		<boton-accion-formulario  role="group" type="button" ng-click="getAttachedFile()" value="{{'TECHNICAL_SHEET_INCLUSION' | translate}}"></boton-accion-formulario>
	</boton-wrapper>
</form-background-wrapper>
<boton-wrapper id="sign">
	<boton-accion-formulario  role="group" type="button" ng-click="getPDF()" value="{{'GENERAR_ANEXO' | translate}}"  glyphicon="glyphicon-pencil" ng-show="!viewMode"></boton-accion-formulario>
	<pago-botones tasatipo="tasatipo"  fomulario-a-tratar="formularioATratar" solicitude-type="formID" ng-show="!viewMode"></pago-botones>
</boton-wrapper>