<container-border-wrapper extraclass="panel-body">
	<div class="row">
		<div class="col-md-12">
			<datos-obligatorios></datos-obligatorios>
			<accordion close-others="false">
				<accordion-group heading="{{'ACCESO' | translate}}" is-open="true"  is-disabled="true"> 
					<div class="col-md-12">
						<form-login></form-login>
					</div>
				</accordion-group>
			</accordion>
		</div>
	</div>
</container-border-wrapper>