<div class=row>
	<div class="col-md-12">
		<div class="alert alert-danger" role="alert"
			ng-if="loginerrormessage !== undefined && loginerrormessage.length > 0">
			<span translate="{{loginerrormessage}}">
		</div>
	</div>
</div>
<div class=row>
	<div class="col-md-12">
		<container-border-wrapper extraclass="loginFormBackground">
			<form id="formularioPrincial" class="form-inline" method="post" ng-submit="sendForm()" autocomplete="off">
					<div class="form-group col-xs-12 col-sm-12">
						<label for="login">{{'USERNAME' | translate}} (*)</label> 
						<input class="form-control"  
							type="text" value="" tooltip="{{'USERNAME_TOOLTIP' | translate}}"
							ng-model="formmodel.login" ng-required="true"  autocomplete="off"/>
					</div>
					<div class="form-group col-xs-12 col-sm-12">
						<label for="password">{{'PASSWORD' | translate}} (*)</label> 
						<avoid-save-credentials loginformid="formularioPrincial"></avoid-save-credentials>
						<input  class="form-control" 
							type="password" value="" tooltip="{{'PASSWORD_TOOLTIP' | translate}}"
							ng-model="formmodel.password" ng-required="true"  autocomplete="off"/>
					</div>
					<div class="form-group col-xs-12 col-sm-12">
					 <input class="btn btn-primary btn-block loginButton" type="submit" ng-hide="showloading" value="{{'LOGIN' | translate}}"/>
					 <div class="row"  ng-show="showloading">
							<div class="col-md-6 col-md-offset-3">
								<img ng-src="{{images}}/loading.gif"  class="loginSpinner center-block" />
							</div>
						</div>
					</div>
			</form>
		</container-border-wrapper>
	</div>
</div>				