<form-background-wrapper>
	<div class="form-group col-xs-8 col-sm-8">
		<label for="esfabricante">{{'IS_MANUFACTURER' | translate}} (2)</label>
		<select id="esfabricante" name="esfabricante" class="form-control"
			ng-disabled="viewMode" ng-model="aux.idIsProductMaker"  ng-required="!viewMode">
			<option value="" selected>{{'CATALOGUE_FIRST_OPTION' | translate}}</option>
			<option value="true">{{'YES' | translate}}</option>
			<option value="false">{{'NO' | translate}}</option>
		</select> 
	</div>
	<div class="form-group col-xs-4 col-sm-4">
		<label for="lbNumRGSEAA">{{'RGSEAA' | translate}} (3): </label>
		<div class="form-group col-xs-12 col-sm-12"> 	
			<div class="form-group"> 	
				<input id="numRGSEAA1" class="form-control" type="text" 
					placeholder="" size="2" maxLength="2"  ng-readonly="viewMode"
					ng-required="auxNumRGSEAA.auxNumRGSEAA2 || auxNumRGSEAA.auxNumRGSEAA3"
		           	ng-model="auxNumRGSEAA.auxNumRGSEAA1"  />
			</div>
			<div class="form-group"> 
				<label for="name">.</label>
			</div>
			<div class="form-group"> 
				<input id="numRGSEAA2" class="form-control" type="text" 
					placeholder="" size="7" maxLength="6" ng-readonly="viewMode"	
		            ng-required="auxNumRGSEAA.auxNumRGSEAA1 || auxNumRGSEAA.auxNumRGSEAA3"
		            ng-model="auxNumRGSEAA.auxNumRGSEAA2"/>
			</div>
			<div class="form-group"> 
				<label for="name">/</label>
			</div>
			<div class="form-group"> 														
				<input id="numRGSEAA3" class="form-control" type="text" 
					placeholder="" size="2" maxLength="2" ng-readonly="viewMode"
		            ng-required="auxNumRGSEAA.auxNumRGSEAA1 || auxNumRGSEAA.auxNumRGSEAA2"
		            ng-model="auxNumRGSEAA.auxNumRGSEAA3"/>
			</div>
		</div>		
	</div>
</form-background-wrapper>

<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="form-group col-xs-12 col-sm-12">
		<label for="solicitudeInclude">{{'APPLICANT_INTENTION' | translate}} (4)
			<input id="solicitudeInclude" name="solicitudeInclude" 
				value="true" type="checkbox" ng-disabled="viewMode"
				ng-model="formularioATratar.datosIdentificativosAdicionales.solicitudeInclude"> 
		</label>
	</div>
</form-background-wrapper>
