<div id="puestamercado" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingPuestaEnMercado" aria-expanded="true">
	<form-background-wrapper >
		<div class="form-group col-xs-12 col-sm-12">
			<label for="tipoProducto">{{'PRODUCT_TYPE' | translate }} (5)(*)</label>
			<select id="tipoProducto" class="form-control"  name="tipoProducto" 
				ng-options="tipo.catalogValue for tipo in catalogProductTypeAlimEsp track by tipo.catalogId"
				ng-model="aux.tipoProducto" ng-required="!editMode && formularioATratar.datosIdentificativosAdicionales.solicitudeInclude" ng-disabled="viewMode"
				ng-show="formularioATratar.datosIdentificativosAdicionales.solicitudeInclude">
				<option value="" selected>{{'CATALOGUE_FIRST_OPTION' | translate}}</option>
			</select>
			<select id="tipoProducto" class="form-control"  name="tipoProducto" 
				ng-options="tipo.catalogValue for tipo in catalogProductTypeAll track by tipo.catalogId"
				ng-model="aux.tipoProducto" ng-required="!editMode && !formularioATratar.datosIdentificativosAdicionales.solicitudeInclude" ng-disabled="viewMode"
				ng-show="!formularioATratar.datosIdentificativosAdicionales.solicitudeInclude">
				<option value="" selected>{{'CATALOGUE_FIRST_OPTION' | translate}}</option>
			</select>
		</div>
	</form-background-wrapper>
	<form-background-wrapper>
		<div class="form-group col-xs-12 col-sm-12">
			<label for="lbNombreComercial">{{'PRODUCT_NAME' | translate }} (6)(*)</label> 
			<input id="nombreComercialProducto"  class="form-control" name="nombreComercialProducto" type="text" 
				value="" placeholder="" maxlength="50" tooltip="{{'PRODUCT_NAME' | translate }}" ng-readonly="viewMode"				
				ng-model="formularioATratar.nombreComercialProducto" ng-required="!editMode" >
		</div>
	</form-background-wrapper>

	<lista-presentaciones></lista-presentaciones>

	<form-background-wrapper>
		<form-background-wrapper>
			<div class="form-group col-xs-12 col-sm-12">
				<label for="ingredientes">{{'INGREDIENTS' | translate}} (8):</label> 
				<textarea id="ingredientes" class="form-control" name="ingredientes" type="text" maxlength="240"
					rows="5" value="" tooltip="{{'INGREDIENTS' | translate}}" ng-readonly="viewMode"
					ng-model="formularioATratar.ingredientes">
				</textarea>
			</div>	
		</form-background-wrapper>
		<antecedentes-procedencia></antecedentes-procedencia>
	</form-background-wrapper>
</div>
