 <div class="row">
	<form>
		<label>{{'READ_INSTRUCTIONS' | translate}} <input
			id="instrucciones" name="instrucciones" type="checkbox" value="true" ng-model="instruccionesLeidas"/>
		</label>
	</form>
</div>