<div ng-controller="AntecedentesProcedenciaController">
	<form-background-wrapper extraclass="formSeparatorWhite">
		<label for="lbAntecedentes">{{'ORIGIN' | translate }}</label>
		<div class="form-group col-xs-6 col-sm-6">
			<label for="lbAntecedentes">{{'SI_PROD_UE' | translate }}</label>
		</div>
		<div class="form-group col-xs-6 col-sm-6">
			<select id="paisNoUE" class="form-control" name="paisNoUE"
				ng-options="pais.catalogValue for pais in catalogoPaisesNoUE track by pais.catalogId"
				ng-disabled="viewMode" ng-model="aux.paisProcedencia">
				<option value="" selected>{{'NO_PROD_UE' | translate }}</option>
			</select>
		</div>
	</form-background-wrapper>
	<form-background-wrapper>
		<div class="form-group col-xs-6 col-sm-6">
			<div class="form-group col-xs-12 col-sm-12">
				<input type="radio" name="primeraComercializacionUE" ng-value="true" ng-disabled="viewMode"
					ng-model="formularioATratar.antecedentesProcedencia.primeraComercializacionUE"> 
				<label for="primeraComercializacionUE">{{'SI_COM_UE' | translate}}</label>
				<input type="radio" name="primeraComercializacionUE" ng-value="false" ng-disabled="viewMode"
					ng-model="formularioATratar.antecedentesProcedencia.primeraComercializacionUE">
				<label for="primeraComercializacionUE">{{'NO_COM_UE' | translate}}</label>
			</div>
		</div>
		<div class="form-group col-xs-6 col-sm-6" ng-show="formularioATratar.antecedentesProcedencia.primeraComercializacionUE== false">
			<select id="paisUE" class="form-control" name="paisUE" 
				ng-options="pais.catalogValue for pais in catalogoPaisesUE track by pais.catalogId"
				ng-model="aux.paisComercializacionPrevia" ng-disabled="viewMode"
				ng-required="formularioATratar.antecedentesProcedencia.primeraComercializacionUE == false && !editMode">
				<option value="" selected>{{'SELECT' | translate}}</option>
			</select>
		</div>
	</form-background-wrapper>
</div>