<div class="btn-group" role="group" aria-label="...">
	<button type="button" class="btn btn-block {{btnStyle}} {{btnSize}}" 
	id="{{myId}}"
 	 ng-if="type =='button'">
		<span class="glyphicon {{glyphicon}}" aria-hidden="true" ng-if="glyphicon"></span>{{value}}</button>
	<button type="{{type}}" class="btn btn-block {{btnStyle}} {{btnSize}}" ng-model="typeSubmit"
		id="{{myId}}" ng-if="type !='button'">
		<span class="glyphicon {{glyphicon}}" aria-hidden="true" ng-if="glyphicon"></span>{{value}}</button>
</div>