<button class="btn pull-right" ng-click="copyTo($event,type)" ng-show="show" ng-disabled="checkDisabled(type);">
    <span class=" glyphicon glyphicon-copy" aria-hidden="true"></span> <span> {{buttonText}}</span>
</button>

