    <div class="row">
                <div class="col-md-12">
                    <button ng-click="back($event,$index)" class="btn pull-left"
                    	 ng-hide="$index==0"
                    ><span class="glyphicon glyphicon-chevron-left"></span>{{'ANTERIOR' | 
                    translate}}</button>
                    <button ng-click="next($event,$index)" ng-hide="viewMode ? (($index>=workspaceTabs.tabList.length-1)? true:false) : (($index>=workspaceTabs.tabList.length-1)?true:false) " class="btn pull-right">{{'SIGUIENTE' |   translate}}<span class="glyphicon   glyphicon-chevron-right"></span></button>
                </div>

            </div>