<container-border-wrapper extraclass="changePasswordFormBackground">
	<ng-form name="form.changePassword" class="form-inline">
		<div class="row changePasswordRow" >
	 		<div class="form-group col-xs-10 col-sm-10 col-md-offset-1">
				<label for="oldPassword">{{"OLD_PASSWORD" | translate}} (*)</label> 		
				<input id="oldPassword" class="form-control" name="oldPassword" type="password" 
					placeholder="" maxlength="16" tooltip="{{'OLD_PASSWORD' | translate}}"
					ng-model="aux.oldPassword" ng-required="true"/>
			</div>
		</div>
		<div class="row changePasswordRow">
			<div class="form-group col-xs-10 col-sm-10 col-md-offset-1">
				<label for="newPassword">{{"NEW_PASSWORD" | translate}} (*)</label> 
				<input id="newPassword"  maxlength="16" class="form-control" name="newPassword" type="password"
					tooltip="{{'NEW_PASSWORD' | translate}}"
					ng-model="aux.newPassword" ng-required="true" pw-not-check='oldPassword' pw-validate />
				<div class='msg-block' ng-show='form.changePassword.newPassword.$error'>
				  <span class='msg-error' ng-show='form.changePassword.newPassword.$error.pwnotmatch'>
				    {{'OLD_EQUAL_NEW_ERROR' | translate}}
				  </span>
				   <span class='msg-error' ng-show='form.changePassword.newPassword.$error.pwvalidate'>
				  	{{'PWD_REGEX_VALID' | translate}}
				  </span>
				</div>
			</div>
		</div>
		<div class="row changePasswordRow">
			<div class="form-group col-xs-10 col-sm-10 col-md-offset-1">
				<ng-password-meter password="aux.newPassword"></ng-password-meter>
			</div>
        </div>
		<div class="row changePasswordRow">
			<div class="form-group col-xs-10 col-sm-10 col-md-offset-1">
				<label for="retypeNewPassword">{{"RETYPE_NEW_PASSWORD" | translate}} (*)</label> 
				<input id="retypeNewPassword"  maxlength="16" class="form-control" name="retypeNewPassword" type="password"
					tooltip="{{'RETYPE_NEW_PASSWORD' | translate}}"
					ng-model="aux.retypeNewPassword" ng-required="true" pw-check='newPassword'/>
				<div class='msg-block' ng-show='form.changePassword.retypeNewPassword.$error'>
				  <span class='msg-error' ng-show='form.changePassword.retypeNewPassword.$error.pwmatch'>
				    {{'RETYPE_PASSWORD_ERROR' | translate}}
				  </span>
				</div>
			</div>
	  	</div>
		<div class="modal-footer">
			<boton-wrapper >
				<button ng-disabled="!form.changePassword.$valid" type="button"class="btn" ng-click="changePassword()"  >{{'ACCEPT' | translate}}</button>
				<boton-accion-formulario ng-hide="firstLogin && (roleId==2 || roleId==3)" role="group" type="button" value="{{'CERRAR_VENTANA' | translate}}" data-dismiss="modal" ng-click="clearPopupWindow()"></boton-accion-formulario>
			</boton-wrapper>
		</div>
	</ng-form>
</container-border-wrapper>