<div id="secosan-cambio-contrasenia" class="modal fade" data-backdrop="static">
	<div class="modal-dialog modal-lg text-center">
		<div class="modal-content">
			<div class="modal-header">
				<div class="row">
					<div class="form-group col-xs-12 col-sm-12">
						<h4>{{"CHANGE_PASSWORD" | translate}}</h4>
					</div>
				</div>
				<div class="modal-body">	
					<div class=row>
						<div class="col-md-12">
							<div class="alert alert-danger" role="alert"
								ng-if='form.errroPassword!=undefined&& form.errroPassword!=""'>
								<span translate="{{form.errroPassword}}">
							</div>
						</div>
					</div>
					<div class="row" >
						<div class="col-md-12">
							<datos-obligatorios ></datos-obligatorios>
							<formulario-wrapper>
								<cambio-contrasenia></cambio-contrasenia>
							</formulario-wrapper>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>