<div class="row">
	<div class="col-xs-12 col-md-12" >
		<label>{{title}}</label> 
		<input id="{{id}}" type="checkbox" ng-model="bar" ng-change="checkboxChange(form,typeModel,aux)" ng-disabled="view"/>
	</div>
</div> 
