<form-background-wrapper>
	<div class="form-group col-xs-4 col-sm-4">
		<label for="nombreContacto">{{'NOMBRE_CON' | translate}} (*)</label> 
		<input  id="nombreContacto" class="form-control" name="nombrecontacto" type="text"  maxlength="100"
			placeholder="" size="50" tooltip="{{'NOMBRE_CON' | translate}}" ng-readonly="viewMode"
			ng-required="checkboxModel.adicionales && !editMode" 
			ng-model="formularioATratar.contactData.name"/>
	</div>

	<div class="form-group col-xs-4 col-sm-4">
		<label for="apellidoContacto">{{'APELLIDO_CON' | translate}} (*)</label>
		<input  id="apellidoContacto" class="form-control" name="apellidoContacto" type="text"  maxlength="100"
			placeholder="" size="50" tooltip="{{'SEGUNDO_APELLIDO_CON' | translate}}" ng-readonly="viewMode"
			ng-required="checkboxModel.adicionales && !editMode" 
			ng-model="formularioATratar.contactData.lastName"/>
	</div>
	<div class="form-group col-xs-4 col-sm-4">
		<label for="nifcontacto">{{'NIF_CON' | translate}} (*)</label> 
		<input id="nifcontacto" class="form-control" name="nifcontacto" type="text" 
			placeholder="" size="50" tooltip="{{'NIF_CON' | translate}}" ng-readonly="viewMode"  maxlength="12"
			validate-nif ng-required="checkboxModel.adicionales && !editMode"
			ng-model="formularioATratar.contactData.identificationNumber" />
	</div>
</form-background-wrapper>
<direccion-contacto ></direccion-contacto>
<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="form-group col-xs-6 col-sm-6">
		<label for="telefonocontacto">{{'TELEFONO_CON' | translate}} (*)</label> 
		<input id="telefonocontacto"  class="form-control" name="telefonocontacto" type="text"  maxlength="16"
			ng-pattern="phone_pattern" placeholder="" size="14" tooltip="{{'TELEFONO_TOOLTIP' | translate}}" ng-readonly="viewMode"
			ng-required="checkboxModel.adicionales && !editMode"
			ng-model="formularioATratar.contactData.telephoneNumber"/>
	</div>
	<div class="form-group  col-xs-6 col-sm-6">
		<label for="emailcontacto">{{'EMAIL_CON' | translate}} (*)</label> 
		<input id="emailcontacto" class="form-control" name="emailcontacto" type="text"  maxlength="100"
			ng-pattern="email_pattern" placeholder="" size="40" tooltip="{{'EMAIL_CON' | translate}}" ng-readonly="viewMode"
			ng-required="checkboxModel.adicionales && !editMode"
			ng-model="formularioATratar.contactData.email"/>
	</div> 
</form-background-wrapper>