<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="row">
		<div class="form-group col-xs-3 col-sm-3">
			<label for="tipoViaContacto">{{'SOLI_STREET_TYPE' | translate}}</label> 
			<input id="tipoViaContacto" class="form-control" name="tipoViaContacto"
				type="text"  maxlength="10" tooltip="{{'ADDRESS' | translate}}"
				ng-readonly="viewMode" ng-model="formularioATratar.contactData.addressType" />

		</div>
		<div class="form-group col-xs-9 col-sm-9">
			<label for="nombreCalleContacto">{{'SOLI_STREET' | translate}} (*)</label> 
			<input id="nombreCalleContacto" class="form-control" name="nombreCalleContacto"
				type="text"  maxlength="100" tooltip="{{'ADDRESS' | translate}}"
				ng-readonly="viewMode" ng-model="formularioATratar.contactData.address" ng-required="checkboxModel.adicionales && !editMode" />
		</div>
	</div>
</form-background-wrapper>
<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="row">
		<div class="form-group col-xs-2 col-sm-2 col-xs-offset-2">
			<label for="numeroContacto">{{'SOLI_NUMBER' | translate}} (*)</label> 
			<input id="numeroContacto" class="form-control" name="numeroContacto"
				type="text" value="" maxlength="3" tooltip="{{'ADDRESS' | translate}}"
				ng-readonly="viewMode" ng-model="formularioATratar.contactData.addressNumber" ng-required="checkboxModel.adicionales && !editMode"	 />
		</div>
		<div class="form-group col-xs-2 col-sm-2">
			<label for="escaleraContacto">{{'SOLI_STAIR' | translate}}</label> 
			<input id="escaleraContacto" class="form-control" name="escaleraContacto"
				type="text" value="" maxlength="10" tooltip="{{'ADDRESS' | translate}}"
				ng-readonly="viewMode" ng-model="formularioATratar.contactData.stair" />
		</div>
		<div class="form-group col-xs-2 col-sm-2">
			<label for="pisoContacto">{{'SOLI_STORY' | translate}}</label> 
			<input id="pisoContacto" class="form-control" name="pisoContacto"
				type="text" value="" maxlength="2" tooltip="{{'ADDRESS' | translate}}"
				ng-readonly="viewMode" ng-model="formularioATratar.contactData.floor" />
		</div>
		<div class="form-group col-xs-2 col-sm-2">
			<label for="puertaContacto">{{'SOLI_DOOR' | translate}}</label> 
			<input id="puertaContacto" class="form-control" name="puertaContacto"
				type="text" value="" maxlength="3" tooltip="{{'ADDRESS' | translate}}"
				ng-readonly="viewMode" ng-model="formularioATratar.contactData.door" />
		</div>
	</div>
</form-background-wrapper>
<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="row"  name="locationPayment">
		<div class="form-group col-xs-12 col-sm-2">
			<label for="paiscontacto">{{'PAIS_CON' | translate}} (*)</label> 
			<select id="paiscontacto" class="form-control" name="paiscontacto" 
				ng-options="pais.catalogValue for pais in catalogoPaises track by pais.catalogId"
				ng-change="loadProvincia(paisContacto)" ng-disabled="viewMode"
				ng-readonly="viewMode" ng-model="auxContacto.pais" ng-required="checkboxModel.adicionales && !editMode">
				<option value="" selected>{{'SELECT' | translate}}</option>
			</select>				
		</div>
		<div class="form-group col-xs-12 col-sm-3" ng-show="auxContacto.pais.catalogId == spain_county_code">
			<label for="provinciacontacto">{{'PROVINCE_CON' | translate}} (*)</label> 
			<select id="provinciacontacto" class="form-control"  name="provinciacontacto"
			ng-options="prov.catalogValue for prov in catalogProvinciasContacto track by prov.catalogId"
			ng-change="loadMunicipio(provinciaContacto)"
			ng-required="!editMode && auxContacto.pais.catalogId == spain_county_code"
			ng-click="onClickProvincia(paisContacto)" ng-disabled="viewMode"
			ng-readonly="viewMode" ng-model="auxContacto.provincia">
				<option value="" selected>{{'SELECT' | translate}}</option>
			</select>
		</div>
		<div class="form-group col-xs-12 col-sm-5"
		ng-show="auxContacto.pais.catalogId == spain_county_code">
			<label for="municipiocontacto">{{'MUNICIPIO_CON' | translate}} (*)</label> 
			<select id="municipiocontacto"  class="form-control" name="municipiocontacto" 	
			ng-options="muni.catalogValue for muni in catalogMunicipiosContacto track by muni.catalogId"
			ng-required="!editMode && auxContacto.pais.catalogId == spain_county_code"
			ng-click="onClickMunicipio(provinciaContacto)" ng-disabled="viewMode"
			ng-readonly="viewMode" ng-model="auxContacto.municipio">
				<option value="" selected >{{'SELECT' | translate}}</option>
			</select>
		</div>
		<div class="form-group col-xs-2 col-sm-2"
		ng-show="auxContacto.pais.catalogId == spain_county_code">
			<label for="codigopostalcontacto"> {{'POSTALCODE_CON' | translate}} (*)</label>
			<input id="codigopostalcontacto" class="form-control" name="codigopostalcontacto" type="text" 
			value="" maxlength="5" tooltip="{{'POSTALCODE' | translate}}" 
			ng-required="!editMode && auxContacto.pais.catalogId == spain_county_code" 
			ng-pattern="postal_code_pattern"
			ng-readonly="viewMode" ng-model="formularioATratar.contactData.location.codigoPostal"/>
		</div>
	</div>
</form-background-wrapper>