<div ng-controller="documentationManagerController">
	<form id="formDoc" name="formDoc">
	<div class="panel-body formBackground" ng-show="!viewMode">
		<div class="form-group col-xs-6">
			<label>{{'TIPO_DOCUMENTO' | translate}}</label> 
				<select id="typeSelect" class="form-control" name="typeSelect"  
				ng-options="dataOption.catalogValue for dataOption in dataOption.availableOptions track by dataOption.id"
				ng-model="dataOption.selectedOption">
			</select>
		</div>
		<div class="form-group col-xs-6">

			<label>&nbsp;</label> 
			<input class="form-control" name="file" type="file"
				maxsize="{{maxfilesize}}" minsize="{{minfilesize}}" accept="{{fileType}}"
				base-sixty-four-input do-not-parse-if-oversize  onerror="errorHandler"
				ng-model="file" onload="onLoad">
		</div>
	</div>
	<div class="panel-body formBackground" ng-show="!viewMode">
		<div class="form-group col-xs-3 col-sm-12">
			<input id="addDocumentacion" name="addDocumentacion" type="button" ng-click="addFile()" value="{{'ANADIR_DOCUMENTO' | translate}}" alt="{{'ANADIR_DOCUMENTO' | translate}}">
		</div>
	</div>
	</form>

	<div class="panel-body formBackground formSeparatorWhite">
		<div class="form-group col-xs-12">
			<table width="100%" style="color: #FFFFFF; font-size: 12px; text-align: center">
				<tr style="border-bottom: 1px solid #fff">
					<th style="text-align: center">{{'TIPO_DOCUMENTO' | translate}}</th>
					<th style="text-align: center">{{'DOCUMENT_NAME' | translate}}</th>
					<th style="text-align: center">&nbsp;</th>
				</tr>
				<tr ng-repeat="file in formularioATratar.documentacion">
					<td ng-if="!file.docTypeDesc" ng-repeat="dataOption in dataOption.availableOptions | filter:{id:file.docType}:true">{{dataOption.catalogValue}}</td>
					<td ng-if="file.docTypeDesc">{{file.docTypeDesc}}</td>{{file.docTypeDesc}}<td style="padding: 10px">
						<span ng-show="file.id===undefined" >{{file.fileName}}</span>
						<a ng-hide="file.id===undefined" class="fileName" ng-click="downloadDocument($index);">{{file.fileName}}</a>
					</td>
					<td style="padding: 10px">
						<div class="form-group col-xs-3 col-sm-12">
							<input id="eliminarDoc" name="buttonAltaEtiqueta" type="button"
								ng-click="eliminarDocumento($index,file.id);" value="{{'ELIMINAR' | translate}}"
								alt="{{'ELIMINAR' | translate}}"  ng-show="!viewMode">
						</div>
					</td>

				</tr>
				<tr  ng-show="showWorkFlowForProcedure('PORTAFIRMA')">
					<td><input type="checkbox" ng-disabled="viewMode" style="float: none;" ng-model="formularioATratar.solicitaCopiaAutentica"><label for="solicitarCopiaAutenticaText" style="display: inline;">{{'SOLICITAR_COPIA_AUTENTICA' | translate}}</label></td>
					<td><input id="solicitarCopiaAutenticaText"   type="text" ng-show="formularioATratar.solicitaCopiaAutentica" name="solicitarCopiaAutenticaText" ng-required="formularioATratar.solicitaCopiaAutentica" class="form-control" ng-readonly="viewMode" ng-model="formularioATratar.solicitaCopiaAutenticaInfo" placeholder="Indique los ficheros" ng-maxlength="100"></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row text-center">
		<boton-accion-formulario  my-id="genImpreso" role="group" type="button" ng-click="getPDF()" value="{{'GENERAR_IMPRESO' | translate}}" glyphicon="glyphicon-pencil" ng-show="!viewMode"></boton-accion-formulario>
	</div>
</div>
