<div class="form-group col-xs-{bootstrapSize} col-sm-{bootstrapSize}">
	<label for="{{element}}">{{titulo}}</label> <input type="{{type}}" class="form-control" required ng-model="modelo" name="{{element}}" id="{{element}}" placeholder="" size="{{size}}"
		tooltip="{{ttip}}" required>
</div>