<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="glyphicon glyphicon-remove-sign text-danger"
				aria-hidden="true" ng-if="hasError"></span><span
				class="glyphicon glyphicon-ok-sign text-success" aria-hidden="true"
				ng-if="!hasError"></span> {{heading}}
		</div>
		<div class="panel-body"
			ng-class="{ 'bg-danger': hasError ,'text-danger' : hasError,'bg-success' : !hasError}">
			<div class="row " ng-if="!hasError">
				<div class="col-md-12 ">{{'EMPTY_ERRORS' | translate}}</div>
			</div>
			<div class="row  " ng-repeat="input in inputs"
				ng-if="input.errors.length > 0 ">
				<label class="col-md-3 " ng-if="input.label">{{input.label}}
					:</label>
				<div class="col-md-9">
					<ul class="list-inline">
						<li ng-repeat="error in input.errors">{{error}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>

