	<div class="form-group col-xs-{{bootstrapSize}} col-sm-{{bootstrapSize}}">
		<label for="{{element}}">Pa&iacute;s (*)</label> <select
			class="{{element}}"
			name="{{element}}" id="{{element}}"
			ng-model="{{modelo}}"
			ng-options="{{options}}"
			ng-change="{{loadChange}}"  ng-required="true">
			<option value="{{loadChange}}" selected>Seleccione</option>
		</select>
	</div>