<h5>{{"HISTORY_TITLE" | translate}}</h5>
<div class="table-responsive">
	<table ng-table="configTableParams" show-filter="showTableFilters" class="table table-striped table-hover table-condensed">
		<tr ng-repeat="row in $data">
			<td data-title="'MONITORING_TABLE_DATE' | translate">{{row.fechaCreacion | date:'dd/MM/yyyy'}}</td>	
			<td data-title="'MONITORING_TABLE_DESCRIPTION'   | translate"  >{{row.descripcion}}</td>
			<td data-title="'MONITORING_TABLE_STATUS' | translate">{{row.status.catalogValue}}</td>
			<td  data-title="'MONITORING_TABLE_ACTION' | translate"> <button tooltip="{{row.documento != undefined ? 'Descargar fichero' : 'No hay fichero disponible'}}" class="btn btn-summary" ng-click="descargarAdjunto(row.documento.id)" type="button"><i class="glyphicon-download-alt glyphicon"></i> </button> </td>
		</tr>

	</table>
</div>

