<div id="formOptions" class="row" ng-click="$event.stopPropagation()">
	<div ng-if="!viewmode" class="instructionsHelp col-lg-8"  ng-click="$event.stopPropagation()">
		<div class="alert alert-info" role="alert" ng-click="$event.stopPropagation()">
			<img ng-src="{{images}}/help.png" width="16" height="16"><small><strong>{{'INSTRUCCIONES_D1' | translate}}</strong></small>
			<button class="btn btn-primary btn-xs" ng-click="eventHandler()">
				<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;{{'INSTRUCCIONES_D2' | translate}}
			</button>
		</div>
	</div>
	<div class="instructionsHelp col-lg-4 col-md-5">
		<div class="alert alert-info">
			<solicitude-number number="form.identificadorPeticion" title="SOLICITUD_NUMBER"></solicitude-number>
		</div>
	</div>
	<div class="instructionsHelp col-lg-4 col-md-5" ng-if="viewmode && form.registrationNumber !== undefiend && form.registrationNumber > 0">
		<div class="alert alert-info">
			<solicitude-number number="form.registrationNumber" title="REGISTER_NUMBER"></solicitude-number>
		</div>
	</div>
</div>