<div ng-controller="ListaPresentacionesController">
<form-background-wrapper>
		<div class="form-group col-xs-12 col-sm-12">
			<label for="lbPresentaciones">{{'PRESENTATIONS' | translate }} (5)</label>
			<form-background-wrapper ng-show="!viewMode" >
				<div class="form-group col-xs-3 col-sm-3">
					<label for="forma">{{'FORMS' | translate }} (*)</label> 
					<select id="forma"class="form-control" name="forma"
						ng-options="forma.catalogValue for forma in catalogoFormas track by forma.catalogId" 
						ng-required = "formasToShow.length == 0 && !editMode"
						ng-model="aux.forma">
						<option value="" selected>-- {{'ONE_OPTION' | translate }} --</option>
					</select>
				</div>
				<div class="form-group col-xs-3 col-sm-3">
					<label for="tipoTamEnvase">{{'PACKAGE' | translate }} (*)</label> 
					<input id="tipoTamEnvase" class="form-control" name="tipoTamEnvase" type="text"  
						placeholder="" maxlength="50" tooltip="{{'PACKAGE' | translate }}" 
						ng-required = "(formasToShow.length == 0 || aux.forma) && !editMode"
						ng-model="aux.tipoTamEnvase" />
				</div>
				<div class="form-group col-xs-3 col-sm-3">
					<label for="sabores">{{'FLAVORS' | translate }}</label> 
					<input id="sabores" class="form-control" name="sabores" type="text"  
						value="" placeholder="" maxlength="50" tooltip="{{'FLAVORS' | translate }}"
						ng-model="aux.sabores" />
				</div>
				<div class="form-group col-xs-3 col-sm-3">
					<div id="sign" class="col-md-12 center-block text-center">
						<div class="btn-group" role="group" aria-label="...">
							<button id="addPresentation" name="addPresentation" class="btn btn-warning btn-lg btn-block" 
								type="button" ng-click="addPresentation()" >
								{{'ADD_PRESEN' | translate}}
							</button>
						</div>
					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-12">
					<label for="lbotrasCaracteristicas">{{'OTH_CHA' | translate}} ({{'OTH_BRA' | translate}})</label> 
					<input id="otrasCaracteristicas" class="form-control" name="otrasCaracteristicas" type="text"
						value="" maxlength="50" tooltip="{{'OTH_CHA' | translate}} ({{'OTH_BRA' | translate}})"
						ng-readonly="viewMode"  ng-model="aux.otrasCaracteristicas"/>
				</div>
			</form-background-wrapper>
			<form-background-wrapper extraclass="formSeparatorWhite">
				<div class="form-group col-xs-12">
					<table width="100%" style="color: #fff; font-size: 12px; text-align: center">
						<tbody>
							<tr style="border-bottom: 1px solid #fff">
								<th style="text-align: center">{{'FORM' | translate}}</th>
								<th style="text-align: center">{{'PACKAGE' | translate }} / {{'OTH_CHA' | translate}}</th>
								<th style="text-align: center">{{'FLAVORS' | translate}}</th>
								<th style="text-align: center"></th>
							</tr>
							<tr ng-repeat="fts in formasToShow">
								<td style="padding: 10px" ng-repeat="forma in catalogoFormas | filter:{catalogId:fts.forma.id}:true">
									{{forma.catalogValue}}
								</td>
								<td ng-show="fts.otrasCaracteristicas !== ''" style="padding: 10px">{{fts.envase}} / {{fts.otrasCaracteristicas}}</td>
								<td ng-show="fts.otrasCaracteristicas === ''" style="padding: 10px">{{fts.envase}}</td>
								<td style="padding: 10px">{{fts.sabores}}</td>
								<td style="padding: 10px">
									<div class="form-group col-xs-3 col-sm-12">
										<input id="btnEliminaForma" name="btnEliminaForma" type="button" ng-show="!viewMode" 
											value="{{'DEL_FORM' | translate}}" title="{{'DEL_FORM_TEXT' | translate}}" 
											alt="{{'DEL_FORM_TEXT' | translate}}" ng-click="eliminarForma($index);" >
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</form-background-wrapper>
		</div>
	</form-background-wrapper>
</div>