<div id="secosan-modal" class="modal fade" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class ="row">
					<div class="col-sm-1">
						<img ng-src="{{imageIcon}}" id="modalIcon"></img> 
					</div>
					<div class="col-sm-11">
						<h4 class="modal-title" id="modalTitle">{{title}}</h4>
					</div>
				</div>
			</div>
			<div class="modal-body">
				{{description}}
			</div>
			<div class="modal-footer">
				<button type="button" id="okAction" class="btn {{okButtonStyle}}" data-dismiss="modal">{{okButton}}</button>
				<button type="button" ng-if="type == 'question'" class="btn {{cancelButtonStyle}}" data-dismiss="modal">{{cancelButton}}</button>
			</div>

		</div>
	</div>
</div>