<div id="formOptions" class="row">
	<div class="col-md-8 center-block">
		<label>{{options.title}}</label>

		<ul class="nav nav-pills">
			<li class="{{menuElement.extraclass}}" role="{{menuElement.role}}"
				onclick="menuElement.action" ng-repeat="menuElement in options.elements"><a
				href="{{menuElement.href}}">{{menuElement.title}}</a></li>
		</ul>
	</div>
	<div class="col-md-4 center-block">
		<label>Identificador de la petici&oacute;n</label> <input type="text"
			class="form-control" id="expNumberInput" placeholder="Identificador">
	</div>
</div>


<!-- <li class="{{extraclass}}" role="{{role}}" onclick="action">
	<a href="{{href}}">{{title}}</a>
</li> -->
