<div id="secosan-pago"   ng-show="showPagoOnline ">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>{{tasa.title}}</h4>
                </div>
            </div>
            <div class="row" ng-show="checkIfCanUseEPayment && !isPayed && !disableOnlinePayment">
                <div id="paymentHelp" class="col-md-9 centerAlerts" ng-class="observacionesLeidas ? 'col-md-9': 'col-md-6 col-md-offset-2' ">
                    <observaciones-pago ng-show="!viewMode"></observaciones-pago>
                </div>
                <div ng-show="observacionesLeidas" class="col-md-3" style="font-size: 12px;  margin-top: 25px;">
                    <aceptar-observaciones-pago ></aceptar-observaciones-pago>
                </div>
            </div>
            <div ng-if="isPayed">
                <div class="row" >
                    <div class="col-md-6  col-md-offset-3">
                        <div class="alert alert-info" role="alert">
                            <span translate="IS_PAYED"></span>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="isPayed">
                    <div class="col-md-6  col-md-offset-3" style="margin-bottom: 10px;">
                        <div>
                            <button type="button"  class="btn btn-info" ng-click="generatePaymentPDF()"  ng-hide="paymentProcessing"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>{{'PAYMENT_GENERAR_IMPRESO' | translate}}</button>
                            <img ng-src="{{images}}/loading.gif"  class="loginSpinner center-block" ng-show="paymentProcessing" />
                        </div>
                    </div>
                    <div class="'col-md-6 col-md-offset-3" ng-if="processmessage.lenght > 0">
                        <div class="row"  ng-show="showprocessresult">
                            <div class="col-xs-2 col-sm-2">
                                <img ng-src="{{images}}/{{resultimage}}" />
                            </div>
                            <div class="col-xs-10 col-sm-10">
                                <span class= "onlinePaymentResultRowMessage" translate="{{processMessage}}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="(observacionesAceptadas || viewMode) && !disableOnlinePayment">
                <div class="row" ng-show="!isPayed" >
                    <div class="col-md-12">
                        <datos-obligatorios ></datos-obligatorios>
                        <formulario-wrapper>
                            <accordion close-others="accordionPaymentCtrl.accordionTodos">
                                <accordion-group heading="{{'IDENTIFICATION' | translate}}" is-open="accordionPaymentCtrl.accordionIdentificacion">
                                    <identificacion-pago></identificacion-pago>
                                </accordion-group>
                                <accordion-group heading="{{'AUTOLIQUIDACION_INGRESO' | translate}}" is-open="accordionPaymentCtrl.accordionAutoliquidacion">
                                    <autoliquidacion-pago ></autoliquidacion-pago>
                                </accordion-group>
                            </accordion>
                        </formulario-wrapper>
                    </div>
                </div>
            </div>
            <div ng-if="disableOnlinePayment">
                <div class="row">
                    <div class="col-md-6  col-md-offset-3 alert alert-warning" role="alert">
                        <span>En estos momentos no es posible realizar el pago en l&iacute;nea debido a problemas de comunicaci&oacute;n con la pasarela de pagos, disculpe las molestias</span>
                    </div>
                </div>
            </div>
       

</div>