<div class="form-group col-xs-12 col-sm-2" >
	<label for="pais">{{'PAIS' | translate}} (*)</label> 
				<select id="f" class="form-control" name="pais" ng-model="modelObj" ng-options="pais.catalogValue for pais in modelList track by pais.catalogId" ng-disabled="viewMode"  ng-readonly="viewMode" ng-change="cargarProvincias(modelObj)" ng-required="checkboxModel.checkBoxModel && !editMode">
					<option selected value="" > {{'SELECT' | translate}}</option>
				</select>
</div>


<div class="form-group col-xs-12 col-sm-3" ng-show="auxSolicitante.pais.catalogId == spain_county_code" ng-if="showProvincia">
			<label for="provinciasolicitante">{{'PROVINCE' | translate}} (*)</label> 
			<select id="provinciasolicitante" class="form-control"  name="provinciasolicitante"
			ng-options="prov.catalogValue for prov in catalogProvinciasSolicitante track by prov.catalogId"
			ng-change="loadMunicipio(provinciaSolicitante)"
			ng-required="!editMode && auxSolicitante.pais.catalogId == spain_county_code"
			ng-click="onClickProvincia(paisSolicitante)" ng-disabled="viewMode"
			ng-readonly="viewMode" ng-model="auxSolicitante.provincia">
				<option value="" selected>{{'SELECT' | translate}}</option>
			</select>
		</div>
<div class="form-group col-xs-12 col-sm-5" ng-show="auxSolicitante.pais.catalogId == spain_county_code" ng-if="showProvincia">
			<label for="municipiosolicitante">{{'MUNICIPIO' | translate}} (*)</label> 
			<select id="municipiosolicitante"  class="form-control" name="municipiosolicitante" 	
			ng-options="muni.catalogValue for muni in catalogMunicipiosSolicitante track by muni.catalogId"
			ng-required="!editMode && auxSolicitante.pais.catalogId == spain_county_code"
			ng-click="onClickMunicipio(provinciaSolicitante)" ng-disabled="viewMode"
			ng-readonly="viewMode" ng-model="auxSolicitante.municipio">
				<option value="" selected >{{'SELECT' | translate}}</option>
			</select>
		</div>
<div class="form-group col-xs-2 col-sm-2" ng-show="auxSolicitante.pais.catalogId == spain_county_code" ng-if="showProvincia">
			<label for="codigopostalsolicitante"> {{'POSTALCODE' | translate}} (*)</label>
			<input id="codigopostalsolicitante" class="form-control" name="codigopostalsolicitante" type="text" 
			value="" maxlength="5" tooltip="{{'POSTALCODE' | translate}}" 
			ng-required="!editMode && auxSolicitante.pais.catalogId == spain_county_code" 
			ng-pattern="postal_code_pattern"
			ng-readonly="viewMode" ng-model="formularioATratar.solicitante.location.codigoPostal"/>
		</div>
</div>

