<div class="row">
	<div id="disclamerWarning"
		class="col-md-offset-4 center-block centerAlerts">
		<div class="alert alert-warning" role="alert">
			<img ng-src="{{images}}/warning.png" width="16" height="16">
			<small>
				{{msg}}
			</small>
		</div>
	</div>
</div>

