<form-background-wrapper>
	<div class="form-group col-xs-4 col-sm-4">
		<label for="nombrerepresentante">{{'NOMBRE_REP' | translate}} (*)</label> 
		<input id="nombrerepresentante" class="form-control" name="nombreapellidosrepresentante" type="text"  maxlength="100"
			placeholder="" size="50" tooltip="{{'NOMBRE_REP' | translate}}" ng-readonly="viewMode"
			ng-required="checkboxModel.representante && !editMode" 
			ng-model="formularioATratar.representante.name"/>
	</div>
	<div class="form-group col-xs-4 col-sm-4">
		<label for="apellidorepresentante">{{"APELLIDO_SOC" | translate}} (*)</label>
		<input id="apellidorepresentante" class="form-control" name="apellidorepresentante" type="text"
			placeholder="" size="50" maxlength="200" tooltip="{{'APELLIDO_REP' | translate}}" ng-readonly="viewMode"
			ng-model="formularioATratar.representante.lastName" ng-required="checkboxModel.representante && !editMode" />
	</div>
	<div class="form-group col-xs-4 col-sm-4">
		<label for="nifrepresentante">{{'NIF_REP' | translate}} (*)</label> 
		<input id="nifrepresentante" class="form-control" name="nifrepresentante" type="text" 
			placeholder="" size="50" tooltip="{{'NIF_REP' | translate}}" ng-readonly="viewMode"  maxlength="12"
			validate-nif ng-required="checkboxModel.representante && !editMode"
			ng-model="formularioATratar.representante.identificationNumber" />
	</div>
	<!--<validar-apoderamiento ng-show="showApoderamiento"></validar-apoderamiento>-->
</form-background-wrapper>
<direccion-representante ></direccion-representante>

<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="form-group col-xs-6 col-sm-6">
		<label for="telefonorepresentante">{{'TELEFONO_REP' | translate}} (*)</label> 
		<input id="telefonorepresentante"  class="form-control" name="telefonorepresentante" type="text"  maxlength="16"
			ng-pattern="phone_pattern" placeholder="" size="14" tooltip="{{'TELEFONO_TOOLTIP' | translate}}" ng-readonly="viewMode"
			ng-required="checkboxModel.representante && !editMode"
			ng-model="formularioATratar.representante.telephoneNumber"/>
	</div>
	<div class="form-group  col-xs-6 col-sm-6">
		<label for="emailrepresentante">{{'EMAIL_REP' | translate}} (*)</label> 
		<input id="emailrepresentante" class="form-control" name="emailrepresentante" type="text"  maxlength="100"
			ng-pattern="email_pattern" placeholder="" size="40" tooltip="{{'EMAIL_REP' | translate}}" ng-readonly="viewMode"
			ng-required="checkboxModel.representante && !editMode"
			ng-model="formularioATratar.representante.email"/>
	</div>


	<div class="form-group col-xs-4 col-sm-4 pull-right" ng-if="viewMode && IS_ADMIN && formularioATratar.solicitaCopiaAutentica">
		<label>&nbsp</label>
		<a href="https://apodera.redsara.es/funcionario/login.htm"   target="_blank" class="btn btn-default">Consultar apoderamiento</a>
	</div>
	<div class="form-group col-xs-4 col-sm-4 pull-right" ng-if="!viewMode" >
		<label>&nbsp</label>
		<!--<boton-limpiar-datos show="!viewMode" type='representante' form="formularioATratar" aux="auxRepresentante"></boton-limpiar-datos>-->
		<boton-copiar-datos show="!viewMode" type='representante' form="formularioATratar"></boton-copiar-datos>
	</div>
</form-background-wrapper>
