<form-background-wrapper>
	<div class="form-group col-xs-4 col-sm-4">
		<label for="nombreapellidossolicitante">{{"NOMBRE_SOC" | translate}} (*)</label> 
		<input id="nombreapellidossolicitante" class="form-control" name="nombreapellidossolicitante" type="text"
			placeholder="" size="50" maxlength="200" tooltip="{{'NOMBRE_APE_SOC' | translate}}" ng-readonly="viewMode"
			ng-model="formularioATratar.solicitante.name" ng-required="!editMode"/>
	</div>
	<div class="form-group col-xs-4 col-sm-4">
		<label for="apellidosolicitante">{{"APELLIDO_SOC" | translate}} (*)</label>
		<input id="apellidosolicitante" class="form-control" name="apellidosolicitante" type="text"
			placeholder="" size="50" maxlength="200" tooltip="{{'PRIMER_APELLIDO' | translate}}" ng-readonly="viewMode"
			ng-model="formularioATratar.solicitante.lastName" ng-required="!editMode"/>
	</div>
	<!--<div class="form-group col-xs-4 col-sm-4">-->
		<!--<label for="apellidosolicitante">{{"SEGUNDO_APELLIDO" | translate}} (*)</label> -->
		<!--<input id="apellidosolicitante" class="form-control" name="apellidosolicitante" type="text"-->
			<!--placeholder="" size="50" maxlength="200" tooltip="{{'SEGUNDO_APELLIDO' | translate}}" ng-readonly="viewMode"-->
			<!--ng-model="formularioATratar.solicitante.secondLastName" ng-required="!editMode"/>-->
	<!--</div>-->
	<div class="form-group col-xs-4 col-sm-4">
		<label for="nifsolicitante">{{'NIF' | translate}} (*)</label> 
		<input id="nifsolicitante" class="form-control" name="nifsolicitante" type="text"
			placeholder="" size="50" tooltip="{{'NIF_SOLICITANTE_TOOLTIP' | translate}}" ng-readonly="viewMode" maxlength="15"
			ng-model="formularioATratar.solicitante.identificationNumber" validate-nif ng-required="!editMode"/>
	</div>
</form-background-wrapper>

<direccion></direccion>

<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="form-group col-xs-6 col-sm-6">
		<label for="telefonosolicitante">{{'TELEFONO' | translate}} (*)</label> 
		<input id="telefonosolicitante" class="form-control" name="telefonosolicitante" type="text" maxlength="16"
			ng-pattern="phone_pattern" placeholder="" size="14" tooltip="{{'TELEFONO_TOOLTIP' | translate}}" ng-readonly="viewMode"
			ng-model="formularioATratar.solicitante.telephoneNumber" ng-required="!editMode" />
	</div>
	<div class="form-group  col-xs-6 col-sm-6">
		<label for="emailsolicitante">{{'EMAIL' | translate}} (*)</label> 
		<input id="emailsolicitante" class="form-control" name="emailsolicitante" type="text" maxlength="100"
			ng-pattern="email_pattern" placeholder="" size="40" tooltip="{{'EMAIL' | translate}}" ng-readonly="viewMode"
			ng-model="formularioATratar.solicitante.email" ng-required="!editMode"/>
	</div>
	<div class="form-group  col-xs-4 col-sm-4 pull-right">
		<label>&nbsp</label>
		<boton-copiar-datos show="!viewMode"  type='solicitante' form="formularioATratar"></boton-copiar-datos>
	</div>


</form-background-wrapper>