<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="form-group col-xs-12 col-sm-12">
    	<label for="nombreComercialProducto">{{'PRODUCT_NAME' | translate}} (*)</label>
      	<input id="nombreComercialProducto" class="form-control" name="nombreComercialProducto" type="text"
      		value="" maxlength="15" tooltip="{{'PRODUCT_NAME' | translate}}"  ng-readonly="viewMode"
      		ng-model="formularioATratar.nombreComercialProducto" ng-required="!editMode" />
    </div>	
</form-background-wrapper>
<form-background-wrapper extraclass="formSeparatorWhite">
	<label for="numeroRegistroProducto4">{{'REG_PROD_MOD' | translate}} (11)</label>
    <blockquote>
		<form-background-wrapper extraclass="formSeparatorWhite">
	    	<label for="numeroRegistroProducto4">{{'REG_PROD_FAB' | translate}}</label>
	    </form-background-wrapper>   
	    <form-background-wrapper extraclass="formSeparatorWhite">	               
	    	<div class="form-group col-xs-6 col-sm-3">
	        	<label for="lbNumRGSEAA">{{'RGSEAA' | translate}} (4): </label>
	      	</div>
	        <div class="form-group col-xs-12 col-sm-12"> 	
	        	<div class="form-group"> 	
		           	<input id="numRGSEAA1" class="form-control" type="text" 
		           		placeholder="" size="2" maxLength="2"  ng-readonly="viewMode" 
		           		ng-required="auxNumRGSEAA.auxNumRGSEAA2 || auxNumRGSEAA.auxNumRGSEAA3"
		           		ng-model="auxNumRGSEAA.auxNumRGSEAA1"  />
		        	</div>
	        	<div class="form-group"> 
	          		<label>.</label>
	        	</div>
	        	<div class="form-group  "> 
		        	<input id="numRGSEAA2" class="form-control" type="text" 
		            	placeholder="" size="7" maxLength="6" ng-readonly="viewMode"	
		            	ng-required="auxNumRGSEAA.auxNumRGSEAA1 || auxNumRGSEAA.auxNumRGSEAA3"
		            	ng-model="auxNumRGSEAA.auxNumRGSEAA2"/>
				</div>
				<div class="form-group"> 
		            <label>/</label>
				</div>
				<div class="form-group"> 														
		            <input id="numRGSEAA3" class="form-control uppercase" type="text"
		            	placeholder="" size="2" maxLength="2" ng-readonly="viewMode"
		            	ng-required="auxNumRGSEAA.auxNumRGSEAA1 || auxNumRGSEAA.auxNumRGSEAA2"
		            	ng-model="auxNumRGSEAA.auxNumRGSEAA3"/>
		     	</div>
	        </div>
		</form-background-wrapper>	
	<form-background-wrapper extraclass="formSeparatorWhite">
		<div class="form-group col-xs-8 col-sm-8">
			<label for="nombreapellidossolicitante">{{'NOMBRE_APE_SOC' | translate}} (*)</label>
	        <input id="nombreapellidossolicitante" class="form-control" type="text" maxlength="100"
	        	placeholder="" size="50" tooltip="{{'NOMBRE_APE_SOC' | translate}}" ng-readonly="viewMode"
	        	ng-model="formularioATratar.nombreRazonSocial" ng-required="!editMode" />
		</div>
		<div class="form-group col-xs-4 col-sm-4">
	        <label for="nifsolicitante">{{'NIF' | translate}} (*)</label>
	        <input id="nifsolicitante" class="form-control" type="text" name="nifsolicitante" ng-readonly="viewMode"
	        	placeholder="" size="50" tooltip="{{'NIF' | translate}}" maxlength="12"
	        	ng-model="formularioATratar.nif" ng-required="!editMode" />
		</div>
	</form-background-wrapper>
	</blockquote>	
</form-background-wrapper>	
<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="panel-body formBackground ">
    	<label for="numeroRegistroProducto4">{{'REG_PROD_NAM' | translate}}</label>
      	<div class="form-group col-xs-12 col-sm-12 formSeparatorWhite">
        <blockquote>
			<label for="numeroRegistroProducto4">{{'NEW_NAME' | translate}}</label>
            <input id="nuevoNombreComercialProducto" class="form-control" name="nuevoNombreComercialProducto"type="text" 
            	value="" maxlength="15" tooltip="{{'NEW_NAME' | translate}}" ng-readonly="viewMode"
            	ng-model="formularioATratar.nuevoNombreComercialProducto"/>
        </blockquote>	
      	</div>	
    </div>													
</form-background-wrapper>
<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="form-group col-xs-12 col-sm-12">
    	<label for="numeroRegistroProducto4">{{'OTH_MOD' | translate}} (12)</label>	
    </div>	
    <div class="form-group col-xs-12 col-sm-12 formSeparatorWhite">														
    	<blockquote>
      	<div class="clearfix">																
        	<input id="modificacomposicion" name="modificacomposicion" type="checkbox"
          		 value="true" ng-model="formularioATratar.modComposicionCualCuan" ng-disabled="viewMode"/>
          	<label for="esnuevonombre5">{{'MOD_COMP' | translate}}</label>
        </div>
        <div class="clearfix">
          	<input id="modificadis" name="modificadis" type="checkbox" 
          		value="true" ng-model="formularioATratar.modDiseno" ng-disabled="viewMode"/>
          	<label>{{'MOD_DES' | translate}}</label>
        </div>
        <div class="clearfix">
        	<input id="modificapres" name="modificapres" type="checkbox" 
          		value="true" ng-model="formularioATratar.modAmplPresentaciones" ng-disabled="viewMode"/>
          	<label for="escomposicion5">{{'MOD_PRES' | translate}} (13)</label>
        </div>
        <div class="clearfix">														
        	<input id="modificaotros" name="modificaotros" type="checkbox" 
          		value="true" ng-model="formularioATratar.otrasModificaciones" ng-disabled="viewMode"/>
          	<label for="esotros5">{{'OTH_MOD' | translate | uppercase}}</label>
          	<label for="esotros5" ng-show="formularioATratar.otrasModificaciones" >{{'DESC_MOD' | translate}}</label>
          	<input id="descripcionModificaciones" class="form-control" name="descripcionModificaciones" type="text" 
          		value="" maxlength="50" tooltip="{{'OTH_MOD' | translate}}"
          		ng-show="formularioATratar.otrasModificaciones" ng-readonly="viewMode"
          		ng-model="formularioATratar.descripcionModificaciones"  />
        </div>
      </blockquote>
    </div>
</form-background-wrapper>
<pieformulario  ng-if="!viewMode"   msg="{{PAY_MSG}}"></pieformulario>
