<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta http-equiv="X-UA-Compatible" content="IE=8, IE=9, IE=edge" />
<title>Notificaci&oacute;n de Complementos Alimenticios</title>
<link rel="shortcut icon" href="images/favicon.ico" />
<link rel="stylesheet" href="css/vendor/bootstrap/bootstrap.css" />
<link rel="stylesheet" href="css/vendor/bootstrap/bootstrap.css.map" />
<link rel="stylesheet" href="css/vendor/bootstrap//bootstrap-theme.css" />
<link rel="stylesheet" href="css/fundation.css" />
<link rel="stylesheet" href="css/styles.css" />
<link rel="stylesheet" href="css/footer.css" />
</head>
<body ng-app="app">
	<div class="container-fluid">
		<div id="headerLine" class="row">
			<div class="col-md-12"></div>
		</div>
		<div id="header" class="row" ng-controller="headerCtrl">
			<div class="col-md-4" id="logos">
				<div class="row">
					<div id="logoMinisterio" class="col-md-9">
						<a href="http://www.msc.es/"><img src="images/logo_ministerio.png" /></a>
					</div>
					<div id="logoAgencia" class="col-md-3">
						<a href="http://www.aesan.msc.es/"><img src="images/logoAECOSAN.png" /></a>
					</div>
				</div>
			</div>
			<div class="col-md-6" id="banner">
				<div id="bannerText" class="center-block">
					<span><strong>Registro General Sanitario de
							Alimentos</strong></span> <span id="{}subText"> <small>{{titular}}</small>
					</span>
				</div>
				
			</div>
			<div class="col-md-2" id="expNumber">
				<form>
					<div class="form-group">
						<label for="expNumberInput">Entrada Exp N.</label> <input
							type="text" class="form-control" id="expNumberInput"
							placeholder="Entrada de &#8470; de Exp.">
					</div>
				</form>
			</div>
		</div>
		<div id="formOptions" class="row" ng-controller="menuCtrl">
			<div class="col-md-12 center-block">
				<ul class="nav nav-pills">
					<li role="presentation" class="active"
						onclick="navpilsHelper.navpilsActionIndustrias(this)"><a
						href="#">Inscripción inicial</a></li>
					<li role="presentation"
						onclick="navpilsHelper.navpilsActionIndustrias(this)"><a
						href="#">Cambio de Titular</a></li>
					<li role="presentation"
						onclick="navpilsHelper.navpilsActionIndustrias(this)"><a
						href="#">Ampliación de Actividad</a></li>
					<li role="presentation"
						onclick="navpilsHelper.navpilsActionIndustrias(this)"><a
						href="#">Convalidación</a></li>
					<li role="presentation"
						onclick="navpilsHelper.navpilsActionIndustrias(this)"><a
						href="#">Cambio de Domicilio</a></li>
					<li role="presentation"
						onclick="navpilsHelper.navpilsActionIndustrias(this)"><a
						href="#">Cese de Actividad</a></li>
						<li role="presentation"
						onclick="navpilsHelper.navpilsActionIndustrias(this)"><a
						href="#">Baja de Inscripción</a></li>
						<li role="presentation"
						onclick="navpilsHelper.navpilsActionIndustrias(this)"><a
						href="#">Otros</a></li>
				</ul>
			</div>
		</div>
		<div id="formContent" class="container" ng-controller="formularioCtrl">
			<div class="row">
				<div id="instructionsHelp"
					class="col-md-offset-4 center-block centerAlerts">
					<div class="alert alert-info" role="alert">
						<img src="images/help.png" width="16" height="16"><small><strong>Para
								visualizar informaci&oacute;n sobre c&oacute;mo rellenar el
								formulario pulse el siguiente bot&oacute;n:</strong></small>
						<button class="btn btn-primary btn-xs" data-toggle="modal"
							data-target="#instrucciones">
							<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;Ver
							Instrucciones
						</button>
					</div>
				</div>
			</div>
			<div class="row">
				<form><label>He leido las instrucciones <input id="instrucciones" name="instrucciones" type="checkbox" value="true"/> </label></form>
			</div>
			<div class="row">
				<div class="col-md-12 formContainer">
					<div class="row">
						<div class="col-xs-12 col-md-6">

							<span> <small>(*) Datos de cumplimentación
									obligatoria</small></span>
						</div>
						<div class="col-xs-12 col-md-4">
							<form>
								<select>
									<option>Persona física</option>
									<option>Persona jurídica</option>
								</select>
							</form>
						</div>
						<div class="col-xs-12 col-md-2">
							<label>Representante legal</label><input type="checkbox" value="" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<form id="indForm" class="form-inline">
								<div class="panel-group" id="accordion" role="tablist"
									aria-multiselectable="true">
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingOne">
												<h4 class="panel-title">
													<a role="button" data-toggle="collapse"
														data-parent="#accordion" href="#collapseOne"
														aria-expanded="true" aria-controls="collapseOne">Datos
														del Titular de la Industria o Establecimiento</a>
													<button type="button" id="deleteEmpTitular"
														class="btn btn-default btn-xs pull-right"
														aria-label="Left Align" title="borrar datos">
														<span class="glyphicon glyphicon glyphicon-erase"
															aria-hidden="true"></span>
													</button>
												</h4>
											</div>
											<div id="collapseOne" class="panel-collapse collapse in"
												role="tabpanel" aria-labelledby="headingOne">
												<div class="panel-body formBackground">
													<div class="form-group col-xs-12 col-sm-4">
														<label for="name">Apellido 1 (*)</label>
														<input type="text" class="form-control" id="name" placeholder="" size="50">
													</div>
													<div class="form-group col-xs-12 col-sm-4">
														<label for="name">Apellido 2</label>
														<input type="text" class="form-control" id="name" placeholder="" size="50">
													</div>
													<div class="form-group col-xs-12 col-sm-4">
														<label for="name">Nombre (*)</label>
														<input type="text" class="form-control" id="name" placeholder="" size="50">
													</div>
												</div>
												<div class="panel-body formBackground formSeparatorWhite">
													<div class="form-group col-xs-12 col-sm-6">
														<label for="name">Apellidos y nombre o Raz&oacute;n
															Social</label> <input type="text" class="form-control"
															id="name" placeholder="" size="50">

													</div>
													<div class="form-group col-xs-12 col-sm-3">
														<label for="idNumber">Nº Identidad(*)</label> <input type="text" class="form-control"
															id="idNumber" placeholder="" size="12">
													</div>
													<div class="form-group col-xs-12 col-sm-3">
														<label for="idNumber">Nº Reg. Sanitario</label> <input type="text" class="form-control"
															id="idNumber" placeholder="" size="12">
													</div>
												</div>
												<div class="panel-body formBackground formSeparatorWhite">
													<div class="form-group col-xs-12 col-sm-2">
														<label for="tipovia">Calle/plaza/Avda (*)</label>		
														<select id="tipovia" name="tipovia" tabindex="3" class="form-control">
					<option value="0" selected="selected">Seleccione....</option><option value="1">ACCESO</option><option value="2">ACEQUIA</option><option value="3">ALAMEDA</option><option value="4">ALBEREDA</option><option value="5">ALDEA</option><option value="6">ALTO</option><option value="7">ANGOSTA</option><option value="8">ARROYO</option><option value="9">ATAJILLO</option><option value="10">ATAJO</option><option value="11">AVENIDA</option><option value="12">BAJADA</option><option value="13">BARRACAS</option><option value="14">BARRIADA</option><option value="15">BARRIO</option><option value="16">BLOQUE</option><option value="17">CALA</option><option value="18">CALLE</option><option value="19">CALLEJA</option><option value="20">CALLEJON</option><option value="21">CALLEJUELA</option><option value="22">CALZADA</option><option value="23">CAMINO</option><option value="24">CARRERA</option><option value="25">CARRETERA</option><option value="26">CARRIL</option><option value="27">CASA</option><option value="28">CASERIO</option><option value="29">COBERTIZO</option><option value="30">COLONIA</option><option value="31">CORRALILLO</option><option value="32">CORREDOR</option><option value="33">CORTIJO</option><option value="34">COSO</option><option value="35">COSTA</option><option value="36">COSTANILLA</option><option value="37">CRUCE</option><option value="38">CUESTA</option><option value="39">DEHESA</option><option value="40">DISEMINADO</option><option value="41">EDIFICIO</option><option value="42">ENSENADA</option><option value="43">ESCALA</option><option value="44">ESCALERA</option><option value="45">ESCALINATA</option><option value="46">FINCA</option><option value="47">GALERIA</option><option value="48">GLORIETA</option><option value="49">GRAN VIA</option><option value="50">GRUPO</option><option value="51">LUGAR</option><option value="52">MANZANA</option><option value="53">MONTE</option><option value="54">PARQUE</option><option value="55">PARTIDA</option><option value="56">PASADIZO</option><option value="57">PASAJE</option><option value="58">PASARELA</option><option value="59">PASEO</option><option value="60">PASILLO</option><option value="61">PASO</option><option value="62">PLAYA</option><option value="63">PLAZA</option><option value="64">PLAZOLETA</option><option value="65">PLAZUELA</option><option value="66">POBLADO</option><option value="67">PONTON</option><option value="68">PORTICO</option><option value="69">POSTIGO</option><option value="70">PUENTE</option><option value="71">PUERTO</option><option value="72">RAMBLA</option><option value="73">REGATO</option><option value="74">RIERA</option><option value="75">RINCONADA</option><option value="76">RONDA</option><option value="77">SENDA</option><option value="78">SENDERO</option><option value="79">SEQUIA</option><option value="80">SOLANA</option><option value="81">SUBIDA</option><option value="82">TORRENTE</option><option value="83">TRAVESIA</option><option value="84">TUNEL</option><option value="85">URBANIZACION</option><option value="86">VALLE</option><option value="87">VECINDARIO</option><option value="88">VEREDA</option><option value="89">VIA</option><option value="90">VIAL</option><option value="91">ZOKO</option><option value="92">ZONA</option><option value="93">ZULO</option><option value="94">DESCONOCIDO</option><option value="95">POLIGONO</option>
				</select> 
													</div>
													<div class="form-group col-xs-12 col-sm-4">
														 <label for="nombrevia">Nombre de la v&iacute;a p&uacute;blica del Domicilio del solicitante (*)</label>
														 <input id="nombrevia" name="nombrevia" tabindex="4" type="text" value="" maxlength="100" class="form-control"/> 
													</div>
													<div class="form-group col-xs-12 col-sm-3">
														 <label for="numero">N&uacute;mero (*)</label>
														  <input id="numero" name="numero" tabindex="5" type="text" value="" maxlength="3" class="form-control"/> 
													</div>
													<div class="form-group col-xs-6 col-sm-3">
														<label for="phoneNumber">Tel&eacute;fono</label> <input
															type="text" class="form-control" id="phoneNumber"
															placeholder="" size="14">
													</div>
												</div>
												<div class="panel-body formBackground formSeparatorWhite">
													<div class="form-group col-xs-12 col-sm-3">
														<label for="municipio">Municipio (*)</label> 
														 <input id="municipio" name="municipio" tabindex="6" type="text" value="" maxlength="50" class="form-control"/> 
													</div>
													<div class="form-group col-xs-12 col-sm-3">
														 <label for="pais">Pa&iacute;s (*)</label>  <input id="pais" name="pais" tabindex="9" type="text" value="" maxlength="50" class="form-control"/>
													</div>
													<div class="form-group col-xs-12 col-sm-3">
														 <label for="prov">Provincia (*)</label>  
														 <select id="prov" name="provincia" tabindex="7" class="form-control">
					<option value="0" selected="selected">Seleccione....</option><option value="1">A CORU&Ntilde;A</option><option value="2">ALAVA</option><option value="3">ALBACETE</option><option value="4">ALICANTE/ALACANT</option><option value="5">ALMERIA</option><option value="6">ASTURIAS</option><option value="7">AVILA</option><option value="8">BADAJOZ</option><option value="9">BALEARES</option><option value="10">BARCELONA</option><option value="11">BURGOS</option><option value="12">CACERES</option><option value="13">CADIZ</option><option value="14">CANTABRIA</option><option value="15">CASTELLON</option><option value="16">CEUTA</option><option value="17">CIUDAD REAL</option><option value="18">CORDOBA</option><option value="19">CUENCA</option><option value="20">GIRONA</option><option value="21">GRANADA</option><option value="22">GUADALAJARA</option><option value="23">GUIPUZCOA</option><option value="24">HUELVA</option><option value="25">HUESCA</option><option value="26">JAEN</option><option value="27">LA RIOJA</option><option value="28">LAS PALMAS</option><option value="29">LEON</option><option value="30">LLEIDA</option><option value="31">LUGO</option><option value="32">MADRID</option><option value="33">MALAGA</option><option value="34">MELILLA</option><option value="35">MURCIA</option><option value="36">NAVARRA</option><option value="37">OURENSE</option><option value="38">PALENCIA</option><option value="39">PONTEVEDRA</option><option value="40">SALAMANCA</option><option value="41">SEGOVIA</option><option value="42">SEVILLA</option><option value="43">SORIA</option><option value="44">TARRAGONA</option><option value="45">TENERIFE</option><option value="46">TERUEL</option><option value="47">TOLEDO</option><option value="48">VALENCIA/VALENCIA</option><option value="49">VALLADOLID</option><option value="50">VIZCAYA</option><option value="51">ZAMORA</option><option value="52">ZARAGOZA</option>
				</select> 
													</div>
													<div class="form-group col-xs-12 col-sm-3">
														 <label for="codigopostal"> C. Postal (*)</label> <input id="codigopostal" name="codigopostal" tabindex="8" type="text" value="" maxlength="6" class="form-control"/> 
													</div>												
																							
												</div>
												<div class="panel-body formBackground formSeparatorWhite">
													<div class="form-group col-xs-12 col-sm-4">
														<label for="nameRep">Apellido Representante 1 (*)</label>
														<input type="text" class="form-control" id="nameRep" placeholder="" size="50">
													</div>
													<div class="form-group col-xs-12 col-sm-4">
														<label for="nameRep">Apellido Representante 2</label>
														<input type="text" class="form-control" id="nameRep" placeholder="" size="50">
													</div>
													<div class="form-group col-xs-12 col-sm-4">
														<label for="nameRep">Nombre Representante(*)</label> <input type="text" class="form-control"
															id="nameRep" placeholder="" size="50">
													</div>
												</div>
												<div class="panel-body formBackground formSeparatorWhite">
													<div class="form-group col-xs-12 col-sm-3">
														<label for="idNumberRep">NºIdentidad(*)</label> <input type="text" class="form-control"
															id="idNumberRep" placeholder="" size="12">
													</div>
													<div class="form-group col-xs-6 col-sm-3">
														<label for="titleRep">T&iacute;tulo
															Representaci&oacute;n</label> <input type="text"
															class="form-control" id="titleRep" placeholder=""
															size="14">
													</div>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingThree">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse"
														data-parent="#accordion" href="#collapseThree"
														aria-expanded="false" aria-controls="collapseThree">
														Datos de la Industria o Establecimiento</a>
													<button type="button"
														class="btn btn-default btn-xs pull-right"
														aria-label="Left Align" title="borrar datos">
														<span class="glyphicon glyphicon glyphicon-erase"
															aria-hidden="true"></span>
													</button>
												</h4>
											</div>
											<div id="collapseThree" class="panel-collapse collapse"
												role="tabpanel" aria-labelledby="headingThree">
												<div class="panel-body formBackground">
													<div class="form-group col-xs-12 col-sm-2">
														<label for="tipovia2">Calle/plaza/Avda (*)</label>		
														<select id="tipovia2" name="tipovia2" tabindex="3" class="form-control">
					<option value="0" selected="selected">Seleccione....</option><option value="1">ACCESO</option><option value="2">ACEQUIA</option><option value="3">ALAMEDA</option><option value="4">ALBEREDA</option><option value="5">ALDEA</option><option value="6">ALTO</option><option value="7">ANGOSTA</option><option value="8">ARROYO</option><option value="9">ATAJILLO</option><option value="10">ATAJO</option><option value="11">AVENIDA</option><option value="12">BAJADA</option><option value="13">BARRACAS</option><option value="14">BARRIADA</option><option value="15">BARRIO</option><option value="16">BLOQUE</option><option value="17">CALA</option><option value="18">CALLE</option><option value="19">CALLEJA</option><option value="20">CALLEJON</option><option value="21">CALLEJUELA</option><option value="22">CALZADA</option><option value="23">CAMINO</option><option value="24">CARRERA</option><option value="25">CARRETERA</option><option value="26">CARRIL</option><option value="27">CASA</option><option value="28">CASERIO</option><option value="29">COBERTIZO</option><option value="30">COLONIA</option><option value="31">CORRALILLO</option><option value="32">CORREDOR</option><option value="33">CORTIJO</option><option value="34">COSO</option><option value="35">COSTA</option><option value="36">COSTANILLA</option><option value="37">CRUCE</option><option value="38">CUESTA</option><option value="39">DEHESA</option><option value="40">DISEMINADO</option><option value="41">EDIFICIO</option><option value="42">ENSENADA</option><option value="43">ESCALA</option><option value="44">ESCALERA</option><option value="45">ESCALINATA</option><option value="46">FINCA</option><option value="47">GALERIA</option><option value="48">GLORIETA</option><option value="49">GRAN VIA</option><option value="50">GRUPO</option><option value="51">LUGAR</option><option value="52">MANZANA</option><option value="53">MONTE</option><option value="54">PARQUE</option><option value="55">PARTIDA</option><option value="56">PASADIZO</option><option value="57">PASAJE</option><option value="58">PASARELA</option><option value="59">PASEO</option><option value="60">PASILLO</option><option value="61">PASO</option><option value="62">PLAYA</option><option value="63">PLAZA</option><option value="64">PLAZOLETA</option><option value="65">PLAZUELA</option><option value="66">POBLADO</option><option value="67">PONTON</option><option value="68">PORTICO</option><option value="69">POSTIGO</option><option value="70">PUENTE</option><option value="71">PUERTO</option><option value="72">RAMBLA</option><option value="73">REGATO</option><option value="74">RIERA</option><option value="75">RINCONADA</option><option value="76">RONDA</option><option value="77">SENDA</option><option value="78">SENDERO</option><option value="79">SEQUIA</option><option value="80">SOLANA</option><option value="81">SUBIDA</option><option value="82">TORRENTE</option><option value="83">TRAVESIA</option><option value="84">TUNEL</option><option value="85">URBANIZACION</option><option value="86">VALLE</option><option value="87">VECINDARIO</option><option value="88">VEREDA</option><option value="89">VIA</option><option value="90">VIAL</option><option value="91">ZOKO</option><option value="92">ZONA</option><option value="93">ZULO</option><option value="94">DESCONOCIDO</option><option value="95">POLIGONO</option>
				</select> 
													</div>
													<div class="form-group col-xs-12 col-sm-4">
														 <label for="nombrevia2">Nombre de la v&iacute;a p&uacute;blica del Domicilio de la Industria (*)</label>
														 <input id="nombrevia2" name="nombrevia2" tabindex="4" type="text" value="" maxlength="100" class="form-control"/> 
													</div>
													<div class="form-group col-xs-12 col-sm-3">
														 <label for="numero2">N&uacute;mero (*)</label>
														  <input id="numero2" name="numero2" tabindex="5" type="text" value="" maxlength="3" class="form-control"/> 
													</div>
													<div class="form-group col-xs-6 col-sm-3">
														<label for="phoneNumber2">Tel&eacute;fono</label> <input
															type="text" class="form-control" id="phoneNumber2"
															placeholder="" size="14">
													</div>
												</div>
												<div class="panel-body formBackground formSeparatorWhite">
													<div class="form-group col-xs-12 col-sm-3">
														<label for="municipio2">Municipio (*)</label> 
														 <input id="municipio2" name="municipio2" tabindex="6" type="text" value="" maxlength="50" class="form-control"/> 
													</div>
													<div class="form-group col-xs-12 col-sm-2">
														 <label for="pais2">Pa&iacute;s (*)</label>  <input id="pais2" name="pais2" tabindex="9" type="text" value="" maxlength="50" class="form-control"/>
													</div>
													<div class="form-group col-xs-12 col-sm-3">
														 <label for="prov2">Provincia (*)</label>  
														 <select id="prov2" name="provincia2" tabindex="7" class="form-control">
					<option value="0" selected="selected">Seleccione....</option><option value="1">A CORU&Ntilde;A</option><option value="2">ALAVA</option><option value="3">ALBACETE</option><option value="4">ALICANTE/ALACANT</option><option value="5">ALMERIA</option><option value="6">ASTURIAS</option><option value="7">AVILA</option><option value="8">BADAJOZ</option><option value="9">BALEARES</option><option value="10">BARCELONA</option><option value="11">BURGOS</option><option value="12">CACERES</option><option value="13">CADIZ</option><option value="14">CANTABRIA</option><option value="15">CASTELLON</option><option value="16">CEUTA</option><option value="17">CIUDAD REAL</option><option value="18">CORDOBA</option><option value="19">CUENCA</option><option value="20">GIRONA</option><option value="21">GRANADA</option><option value="22">GUADALAJARA</option><option value="23">GUIPUZCOA</option><option value="24">HUELVA</option><option value="25">HUESCA</option><option value="26">JAEN</option><option value="27">LA RIOJA</option><option value="28">LAS PALMAS</option><option value="29">LEON</option><option value="30">LLEIDA</option><option value="31">LUGO</option><option value="32">MADRID</option><option value="33">MALAGA</option><option value="34">MELILLA</option><option value="35">MURCIA</option><option value="36">NAVARRA</option><option value="37">OURENSE</option><option value="38">PALENCIA</option><option value="39">PONTEVEDRA</option><option value="40">SALAMANCA</option><option value="41">SEGOVIA</option><option value="42">SEVILLA</option><option value="43">SORIA</option><option value="44">TARRAGONA</option><option value="45">TENERIFE</option><option value="46">TERUEL</option><option value="47">TOLEDO</option><option value="48">VALENCIA/VALENCIA</option><option value="49">VALLADOLID</option><option value="50">VIZCAYA</option><option value="51">ZAMORA</option><option value="52">ZARAGOZA</option>
				</select> 
													</div>
													<div class="form-group col-xs-12 col-sm-2">
														 <label for="codigopostal2"> C. Postal (*)</label> <input id="codigopostal2" name="codigopostal2" tabindex="8" type="text" value="" maxlength="6" class="form-control"/> 
													</div>																						
												</div>
												<div class="panel-body formBackground formSeparatorWhite">
													<div class="form-group col-xs-12 col-sm-9">
														<label for="actividad">Actividad Alimentaria(*)<label> <input type="text" class="form-control"
															id="actividad" placeholder="" size="50">
													</div>
													<div class="form-group col-xs-12 col-sm-3">
														<label for="clave">Clave</label> <input type="text" class="form-control"
															id="clave" placeholder="" size="12">
													</div>
												</div>												
											</div>
										</div>
										
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingFour">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse"
														data-parent="#accordion" href="#collapseFour"
														aria-expanded="false" aria-controls="collapseFour">
														Cambio de Titular</a>
													<button type="button"
														class="btn btn-default btn-xs pull-right"
														aria-label="Left Align" title="borrar datos">
														<span class="glyphicon glyphicon glyphicon-erase"
															aria-hidden="true"></span>
													</button>
												</h4>
											</div>
											<div id="collapseFour" class="panel-collapse collapse"
												role="tabpanel" aria-labelledby="headingFour">	
												<div class="panel-body formBackground">
													<div class="form-group col-xs-12 col-sm-9">
														<label for="paisorigen3">Apellidos y Nombre o Razón Social del anterior Titular</label>
														<input id="pais3" class="form-control" name="paisorigen3" tabindex="25" type="text" value="" maxlength="50"/>
													</div>
													<div class="form-group col-xs-12 col-sm-3">
														<label for="nomfabricantedistribuidor3">Nº Registro Sanitario(*)</label>
														<input id="nomfabricantedistribuidor3" name="nomfabricantedistribuidor3" tabindex="26" type="text" value="" maxlength="50" class="form-control" />
													</div>
												</div>
												<div class="panel-body formBackground formSeparatorWhite">
													<div class="form-group col-xs-12 col-sm-9">
														<label for="paisorigen3">Nombre del Producto de Origen</label>
														<input id="pais3" class="form-control" name="paisorigen3" tabindex="25" type="text" value="" maxlength="50"/>
													</div>
													<div class="form-group col-xs-12 col-sm-3">
														<label for="nomfabricantedistribuidor3">País de Origen</label>
														<input id="nomfabricantedistribuidor3" name="nomfabricantedistribuidor3" tabindex="26" type="text" value="" maxlength="50" class="form-control" />
													</div>
												</div>
											</div>
										</div>
										
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingFive">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse"
														data-parent="#accordion" href="#collapseFive"
														aria-expanded="false" aria-controls="collapseFive">
														Cambio de Domicilio</a>
													<button type="button"
														class="btn btn-default btn-xs pull-right"
														aria-label="Left Align" title="borrar datos">
														<span class="glyphicon glyphicon glyphicon-erase"
															aria-hidden="true"></span>
													</button>
												</h4>
											</div>
											<div id="collapseFive" class="panel-collapse collapse"
												role="tabpanel" aria-labelledby="headingFive">		
												<div class="panel-body formBackground">
													<div class="form-group col-xs-12">
														<label for="domicilio4">Domicilio anterior</label>
														<input id="domicilio4" class="form-control" name="domicilio4" tabindex="30" type="text" value="" maxlength="15"/>
													</div>															
												</div>
												<div class="panel-body formBackground formSeparatorWhite">
													<div class="form-group col-xs-12 col-sm-6">
														<p><strong>Marque el tipo de domicilio:</strong></p>
														<div class="col-xs-4 text-left">
														<input id="postal10_radio" name="esdirpostalpreferente10" onclick="habilitaDireccion()" type="checkbox" value="true"><input type="hidden" name="_esdirpostalpreferente10" value="on">
														<label for="postal10_radio">Social</label>
														
														<input id="correo10_radio" name="esemailpreferente10" onclick="habilitaCorreo()" type="checkbox" value="true"><input type="hidden" name="_esemailpreferente10" value="on">
														<label for="correo10_radio">Industrial</label>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingSix">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse"
														data-parent="#accordion" href="#collapseSix"
														aria-expanded="false" aria-controls="collapseSix">
														Ampliación de Actividades</a>
													<button type="button"
														class="btn btn-default btn-xs pull-right"
														aria-label="Left Align" title="borrar datos">
														<span class="glyphicon glyphicon glyphicon-erase"
															aria-hidden="true"></span>
													</button>
												</h4>
											</div>
											<div id="collapseSix" class="panel-collapse collapse"
												role="tabpanel" aria-labelledby="headingSix">
												<div class="panel-body formBackground">
													<div class="form-group col-xs-12 col-sm-9">
														<label for="actividadAlimenta">Nueva Actividad Alimentaria</label>
														<input id="actividadAlimenta" class="form-control" name="actividadAlimenta" tabindex="30" type="text" value="" maxlength="15"/>
													</div>
													<div class="form-group col-xs-12 col-sm-3">									
														<label for="categoria">Categoría/Actividad</label>
														<input id="categoria" class="form-control" name="categoria" tabindex="30" type="text" value="" />
													</div>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingSeven">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse"
														data-parent="#accordion" href="#collapseSeven"
														aria-expanded="false" aria-controls="collapseSeven">
														Cese de Actividades</a>
													<button type="button"
														class="btn btn-default btn-xs pull-right"
														aria-label="Left Align" title="borrar datos">
														<span class="glyphicon glyphicon glyphicon-erase"
															aria-hidden="true"></span>
													</button>
												</h4>
											</div>
											<div id="collapseSeven" class="panel-collapse collapse"
												role="tabpanel" aria-labelledby="headingSeven">
												<div class="panel-body formBackground">
													<div class="panel-body formBackground">
														<div class="form-group col-xs-12 col-sm-9">
															<label for="actividadAlimenta">Actividad Alimentaria en la que se cesa</label>
															<input id="actividadAlimenta" class="form-control" name="actividadAlimenta" tabindex="30" type="text" value="" maxlength="15"/>
														</div>
														<div class="form-group col-xs-12 col-sm-3">									
															<label for="categoria">Categoría/Actividad</label>
															<input id="categoria" class="form-control" name="categoria" tabindex="30" type="text" value="" />
														</div>
													</div>												
												</div>
											</div>
										</div>										
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingEight">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse"
														data-parent="#accordion" href="#collapseEight"
														aria-expanded="false" aria-controls="collapseEight">
														Otros</a>
													<button type="button"
														class="btn btn-default btn-xs pull-right"
														aria-label="Left Align" title="borrar datos">
														<span class="glyphicon glyphicon glyphicon-erase"
															aria-hidden="true"></span>
													</button>
												</h4>
											</div>
											<div id="collapseEight" class="panel-collapse collapse"
												role="tabpanel" aria-labelledby="headingEight">
												<div class="panel-body formBackground">
													<div class="form-group col-xs-12">
														<label for="otros">Otros</label>
														<input id="otros" class="form-control" name="otros" tabindex="30" type="text" value="" />
													</div>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingNine">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse"
														data-parent="#accordion" href="#collapseNine"
														aria-expanded="false" aria-controls="collapseNine">
														Producto objeto de la actividad</a>
													<button type="button"
														class="btn btn-default btn-xs pull-right"
														aria-label="Left Align" title="borrar datos">
														<span class="glyphicon glyphicon glyphicon-erase"
															aria-hidden="true"></span>
													</button>
												</h4>
											</div>
											<div id="collapseNine" class="panel-collapse collapse"
												role="tabpanel" aria-labelledby="headingNine">
												<div class="panel-body formBackground">
													<div class="form-group col-xs-12 col-sm-3">								
														<label for="nombreDenominacion">Nombre o Denominación</label>
														<input id="nombreDenominacion" name="nombreDenominacion" class="form-control" type="text" value="" maxlength="40"/>
													</div>
													<div class="form-group col-xs-12 col-sm-3">								
														<label for="marcaR">Marca Registrada</label>
														<input id="marcaR" name="marcaR" class="form-control" type="text" value="" maxlength="40"/>
													</div>
													<div class="form-group col-xs-12 col-sm-3">								
														<label for="paisP">País de Procedencia</label>
														<input id="paisP" name="paisP" class="form-control" type="text" value="" maxlength="40"/>
													</div>
													<div class="form-group col-xs-12 col-sm-3">								
														<label for="catAct">Catg./Act.(9)</label>
														<input id="catAct" name="catAct" class="form-control" type="text" value="" maxlength="40"/>
													</div>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingTen">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse"
														data-parent="#accordion" href="#collapseTen"
														aria-expanded="false" aria-controls="collapseTen">
														Notificación</a>
													<button type="button"
														class="btn btn-default btn-xs pull-right"
														aria-label="Left Align" title="borrar datos">
														<span class="glyphicon glyphicon glyphicon-erase"
															aria-hidden="true"></span>
													</button>
												</h4>
											</div>
											<div id="collapseTen" class="panel-collapse collapse"
												role="tabpanel" aria-labelledby="headingTen">
												<div class="panel-body formBackground">
													<div class="form-group col-xs-12 col-sm-6">
														<p><strong>Preferencias a efectos de notificación</strong></p>
														<div class="col-xs-4 text-left">
														<input id="postal10_radio" name="esdirpostalpreferente10" onclick="habilitaDireccion()" type="checkbox" value="true"><input type="hidden" name="_esdirpostalpreferente10" value="on">
														<label for="postal10_radio">Dirección Postal</label>
														
														<input id="correo10_radio" name="esemailpreferente10" onclick="habilitaCorreo()" type="checkbox" value="true"><input type="hidden" name="_esemailpreferente10" value="on">
														<label for="correo10_radio">Correo electrónico</label>
														</div>
													</div>
												</div>
												<div class="panel-body formBackground formSeparatorWhite">
													<div class="form-group col-xs-12 col-sm-2">
														<label for="tipovia2">Calle/plaza/Avda (*)</label>		
														<select id="tipovia2" name="tipovia2" tabindex="3" class="form-control">
					<option value="0" selected="selected">Seleccione....</option><option value="1">ACCESO</option><option value="2">ACEQUIA</option><option value="3">ALAMEDA</option><option value="4">ALBEREDA</option><option value="5">ALDEA</option><option value="6">ALTO</option><option value="7">ANGOSTA</option><option value="8">ARROYO</option><option value="9">ATAJILLO</option><option value="10">ATAJO</option><option value="11">AVENIDA</option><option value="12">BAJADA</option><option value="13">BARRACAS</option><option value="14">BARRIADA</option><option value="15">BARRIO</option><option value="16">BLOQUE</option><option value="17">CALA</option><option value="18">CALLE</option><option value="19">CALLEJA</option><option value="20">CALLEJON</option><option value="21">CALLEJUELA</option><option value="22">CALZADA</option><option value="23">CAMINO</option><option value="24">CARRERA</option><option value="25">CARRETERA</option><option value="26">CARRIL</option><option value="27">CASA</option><option value="28">CASERIO</option><option value="29">COBERTIZO</option><option value="30">COLONIA</option><option value="31">CORRALILLO</option><option value="32">CORREDOR</option><option value="33">CORTIJO</option><option value="34">COSO</option><option value="35">COSTA</option><option value="36">COSTANILLA</option><option value="37">CRUCE</option><option value="38">CUESTA</option><option value="39">DEHESA</option><option value="40">DISEMINADO</option><option value="41">EDIFICIO</option><option value="42">ENSENADA</option><option value="43">ESCALA</option><option value="44">ESCALERA</option><option value="45">ESCALINATA</option><option value="46">FINCA</option><option value="47">GALERIA</option><option value="48">GLORIETA</option><option value="49">GRAN VIA</option><option value="50">GRUPO</option><option value="51">LUGAR</option><option value="52">MANZANA</option><option value="53">MONTE</option><option value="54">PARQUE</option><option value="55">PARTIDA</option><option value="56">PASADIZO</option><option value="57">PASAJE</option><option value="58">PASARELA</option><option value="59">PASEO</option><option value="60">PASILLO</option><option value="61">PASO</option><option value="62">PLAYA</option><option value="63">PLAZA</option><option value="64">PLAZOLETA</option><option value="65">PLAZUELA</option><option value="66">POBLADO</option><option value="67">PONTON</option><option value="68">PORTICO</option><option value="69">POSTIGO</option><option value="70">PUENTE</option><option value="71">PUERTO</option><option value="72">RAMBLA</option><option value="73">REGATO</option><option value="74">RIERA</option><option value="75">RINCONADA</option><option value="76">RONDA</option><option value="77">SENDA</option><option value="78">SENDERO</option><option value="79">SEQUIA</option><option value="80">SOLANA</option><option value="81">SUBIDA</option><option value="82">TORRENTE</option><option value="83">TRAVESIA</option><option value="84">TUNEL</option><option value="85">URBANIZACION</option><option value="86">VALLE</option><option value="87">VECINDARIO</option><option value="88">VEREDA</option><option value="89">VIA</option><option value="90">VIAL</option><option value="91">ZOKO</option><option value="92">ZONA</option><option value="93">ZULO</option><option value="94">DESCONOCIDO</option><option value="95">POLIGONO</option>
				</select> 
													</div>
													<div class="form-group col-xs-12 col-sm-4">
														 <label for="nombrevia2">Nombre de la v&iacute;a p&uacute;blica del Domicilio Social</label>
														 <input id="nombrevia2" name="nombrevia2" tabindex="4" type="text" value="" maxlength="100" class="form-control"/> 
													</div>
													<div class="form-group col-xs-12 col-sm-3">
														 <label for="numero2">N&uacute;mero</label>
														  <input id="numero2" name="numero2" tabindex="5" type="text" value="" maxlength="3" class="form-control"/> 
													</div>
													<div class="form-group col-xs-6 col-sm-3">
														<label for="phoneNumber2">Tel&eacute;fono</label> <input
															type="text" class="form-control" id="phoneNumber2"
															placeholder="" size="14">
													</div>
												</div>
												<div class="panel-body formBackground formSeparatorWhite">
													<div class="form-group col-xs-12 col-sm-4">
														 <label for="pais">Pa&iacute;s (*)</label>
														 <input id="pais" name="pais" tabindex="9" type="text" value="" maxlength="50" class="form-control"/>
													</div>
													<div class="form-group col-xs-12 col-sm-4">
														 <label for="poblacion2">Población</label>
														 <input id="poblacion2" name="poblacion2" tabindex="9" type="text" value="" maxlength="50" class="form-control"/>
													</div>
													<div class="form-group col-xs-12 col-sm-4">
														 <label for="prov3">Provincia (*)</label>  
														 <select id="prov3" name="provincia3" tabindex="7" class="form-control">
					<option value="0" selected="selected">Seleccione....</option><option value="1">A CORU&Ntilde;A</option><option value="2">ALAVA</option><option value="3">ALBACETE</option><option value="4">ALICANTE/ALACANT</option><option value="5">ALMERIA</option><option value="6">ASTURIAS</option><option value="7">AVILA</option><option value="8">BADAJOZ</option><option value="9">BALEARES</option><option value="10">BARCELONA</option><option value="11">BURGOS</option><option value="12">CACERES</option><option value="13">CADIZ</option><option value="14">CANTABRIA</option><option value="15">CASTELLON</option><option value="16">CEUTA</option><option value="17">CIUDAD REAL</option><option value="18">CORDOBA</option><option value="19">CUENCA</option><option value="20">GIRONA</option><option value="21">GRANADA</option><option value="22">GUADALAJARA</option><option value="23">GUIPUZCOA</option><option value="24">HUELVA</option><option value="25">HUESCA</option><option value="26">JAEN</option><option value="27">LA RIOJA</option><option value="28">LAS PALMAS</option><option value="29">LEON</option><option value="30">LLEIDA</option><option value="31">LUGO</option><option value="32">MADRID</option><option value="33">MALAGA</option><option value="34">MELILLA</option><option value="35">MURCIA</option><option value="36">NAVARRA</option><option value="37">OURENSE</option><option value="38">PALENCIA</option><option value="39">PONTEVEDRA</option><option value="40">SALAMANCA</option><option value="41">SEGOVIA</option><option value="42">SEVILLA</option><option value="43">SORIA</option><option value="44">TARRAGONA</option><option value="45">TENERIFE</option><option value="46">TERUEL</option><option value="47">TOLEDO</option><option value="48">VALENCIA/VALENCIA</option><option value="49">VALLADOLID</option><option value="50">VIZCAYA</option><option value="51">ZAMORA</option><option value="52">ZARAGOZA</option>
				</select> 
													</div>
												</div>
												<div class="panel-body formBackground formSeparatorWhite">
													<div class="form-group col-xs-12 col-sm-6">
													<label for="email">Correo Electrónico</label> 
													<input id="email" name="email" tabindex="12" onblur="return validarEmail();" type="text" value="" maxlength="50" class="form-control"/>
												</div>
												<div class="form-group col-xs-12 col-sm-3">
													 <label for="cpostal">Código Postal</label>
													<input id="cpostal" name="cpostal" tabindex="13" type="text" value="" maxlength="20" class="form-control"/>  
												</div>
												
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingEleven">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse"
														data-parent="#accordion" href="#collapseEleven"
														aria-expanded="false" aria-controls="collapseEleven">
														Documentación Anexa</a>
													<button type="button"
														class="btn btn-default btn-xs pull-right"
														aria-label="Left Align" title="borrar datos">
														<span class="glyphicon glyphicon glyphicon-erase"
															aria-hidden="true"></span>
													</button>
												</h4>
											</div>
											<div id="collapseEleven" class="panel-collapse collapse"
												role="tabpanel" aria-labelledby="headingEleven">
												<div class="panel-body formBackground">
													<div class="form-group col-xs-12">
														<p>Certificación Oficial Organismo</p>
														<div class="col-xs-3">
															<input type="button" id="buttonAltaAutorizacion" name="buttonAltaAutorizacion" onclick="enviarDocumento('autorizacion');" class="botonParrafo" value="INSERTAR DOCUMENTO" title="altaAutorizacion" alt="INSERTAR DOCUMENTO" />
														</div>
														<div class="col-xs-3">
															<input type="button" id="buttonBorrarAutorizacion" name="buttonBorrarAutorizacion" onclick="borrarDocumento('autorizacion');" class="botonParrafo" value="BORRAR DOCUMENTO" title="borrarAutorizacion" alt="BORRAR DOCUMENTO" />
														</div>
													</div>
												</div>
											
											<div class="panel-body formBackground formSeparatorWhite">
												<div class="form-group col-xs-12">
													<p>Convalidación</p>
													<div class="col-xs-3">
														<input type="button" id="buttonAltaAutorizacion" name="buttonAltaAutorizacion" onclick="enviarDocumento('autorizacion');" class="botonParrafo" value="INSERTAR DOCUMENTO" title="altaAutorizacion" alt="INSERTAR DOCUMENTO" />
													</div>
													<div class="col-xs-3">
														<input type="button" id="buttonBorrarAutorizacion" name="buttonBorrarAutorizacion" onclick="borrarDocumento('autorizacion');" class="botonParrafo" value="BORRAR DOCUMENTO" title="borrarAutorizacion" alt="BORRAR DOCUMENTO" />
													</div>
												</div>
											</div>
											<div class="panel-body formBackground formSeparatorWhite">
												<div class="form-group col-xs-12">
													<p>Cambio de Titular</p>
													<div class="col-xs-3">
														<input type="button" id="buttonAltaAutorizacion" name="buttonAltaAutorizacion" onclick="enviarDocumento('autorizacion');" class="botonParrafo" value="INSERTAR DOCUMENTO" title="altaAutorizacion" alt="INSERTAR DOCUMENTO" />
													</div>
													<div class="col-xs-3">
														<input type="button" id="buttonBorrarAutorizacion" name="buttonBorrarAutorizacion" onclick="borrarDocumento('autorizacion');" class="botonParrafo" value="BORRAR DOCUMENTO" title="borrarAutorizacion" alt="BORRAR DOCUMENTO" />
													</div>
												</div>
											</div>
											<div class="panel-body formBackground formSeparatorWhite">
												<div class="form-group col-xs-12">
													<p>Memoria Técnica</p>
													<div class="col-xs-3">
														<input type="button" id="buttonAltaAutorizacion" name="buttonAltaAutorizacion" onclick="enviarDocumento('autorizacion');" class="botonParrafo" value="INSERTAR DOCUMENTO" title="altaAutorizacion" alt="INSERTAR DOCUMENTO" />
													</div>
													<div class="col-xs-3">
														<input type="button" id="buttonBorrarAutorizacion" name="buttonBorrarAutorizacion" onclick="borrarDocumento('autorizacion');" class="botonParrafo" value="BORRAR DOCUMENTO" title="borrarAutorizacion" alt="BORRAR DOCUMENTO" />
													</div>
												</div>
											</div>
											<div class="panel-body formBackground formSeparatorWhite">
												<div class="form-group col-xs-12">
													<p>Justificante Trans.Bancaria</p>
													<div class="col-xs-3">
														<input type="button" id="buttonAltaAutorizacion" name="buttonAltaAutorizacion" onclick="enviarDocumento('autorizacion');" class="botonParrafo" value="INSERTAR DOCUMENTO" title="altaAutorizacion" alt="INSERTAR DOCUMENTO" />
													</div>
													<div class="col-xs-3">
														<input type="button" id="buttonBorrarAutorizacion" name="buttonBorrarAutorizacion" onclick="borrarDocumento('autorizacion');" class="botonParrafo" value="BORRAR DOCUMENTO" title="borrarAutorizacion" alt="BORRAR DOCUMENTO" />
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="row">
						<div id="sign" class="col-md-12 center-block text-center">
							<div class="btn-group" role="group" aria-label="...">
								<button type="button" class="btn btn-primary btn-lg btn-block">Firmar
									y enviar Petici&oacute;n</button>
							</div>
						</div>
					</div>
					<div class="row">
						<div id="disclamerWarning"
							class="col-md-offset-4 center-block centerAlerts">
							<div class="alert alert-warning" role="alert">
								<img src="images/warning.png" width="16" height="16"><small>El
									solicitante o su representante declara, bajo su
									responsabilidad, la exactitud de los datos reseñados en la
									presente solicitud y su conformidad con lo establecido en la
									legislaci&oacute;n vigente.</small>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	
	<footer  ng-controller="footerCtrl">
		<div class="footerTopics">
			<div class="row">
				<div class="col-md-12 center-block">
					<h4>
						<strong>Otros Formularios con Certificado:</strong>
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div>
						<p>
							<b>SOLICITUD PARA REGISTROS DE INDUSTRIAS ESTABLECIDAS FUERA
								DE ESPA&Ntilde;A PERO DENTRO DE LA U.E.</b>
						</p>
						<p>Registro General Sanitario de Alimentos</p>
						<ul>

							<li><a
								href="https://oficina-virtual-aesan.msssi.es/AESAN_ADEL/industria.inicio"
								target="_blank"
								title="Enlace externo en nueva ventana: Acceso para navegadores Internet Explorer">Acceso
									para navegadores Internet Explorer</a></li>


							<li><a
								href="https://oficina-virtual-aesan.msssi.es/AESAN_ADEL/industria.inicio"
								target="_blank"
								title="Enlace externo en nueva ventana: Acceso para otros navegadores">Acceso
									para otros navegadores (Firefox, Mozilla, Netscape...)</a></li>

						</ul>

					</div>
				</div>
				<div class="col-md-4">
					<div>
						<p>
							<b>NOTIFICACI&Oacute;N DE PUESTA EN EL MERCADO DE
								COMPLEMENTOS ALIMENTICIOS</b>
						</p>
						<p>Registro General Sanitario de Alimentos</p>
						<ul>

							<li><a
								href="https://oficina-virtual-aesan.msssi.es/AESAN_ADEL/complemento.inicio"
								target="_blank"
								title="Enlace externo en nueva ventana: Acceso para navegadores Internet Explorer">Acceso
									para navegadores Internet Explorer</a></li>


							<li><a
								href="https://oficina-virtual-aesan.msssi.es/AESAN_ADEL/complemento.inicio"
								target="_blank"
								title="Enlace externo en nueva ventana: Acceso para otros navegadores">Acceso
									para otros navegadores (Firefox, Mozilla, Netscape...)</a></li>

						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div>
						<p>
							<b>SOLICITUD DE INSCRIPCI&Oacute;N DE PREPARADOS ALIMENTICIOS
								PARA REG&Iacute;MENES DIET&Eacute;TICOS Y/O ESPECIALES</b>
						</p>
						<p>Registro General Sanitario de Alimentos</p>
						<ul>

							<li><a
								href="https://oficina-virtual-aesan.msssi.es/AESAN_ADEL/dietetico.inicio"
								target="_blank"
								title="Enlace externo en nueva ventana: Acceso para navegadores Internet Explorer">Acceso
									para navegadores Internet Explorer</a></li>


							<li><a
								href="https://oficina-virtual-aesan.msssi.es/AESAN_ADEL/dietetico.inicio"
								target="_blank"
								title="Enlace externo en nueva ventana: Acceso para otros navegadores">Acceso
									para otros navegadores (Firefox, Mozilla, Netscape...)</a></li>

						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div>
						<p>
							<b>NOTIFICACI&Oacute;N DE PUESTA EN EL MERCADO ESPA&Ntilde;OL
								DE PREPARADOS LACTANTES</b>
						</p>
						<p>Registro General Sanitario de Alimentos</p>
						<ul>

							<li><a
								href="https://oficina-virtual-aesan.msssi.es/AESAN_ADEL/lactante.inicio"
								target="_blank"
								title="Enlace externo en nueva ventana: Acceso para navegadores Internet Explorer">Acceso
									para navegadores Internet Explorer</a></li>


							<li><a
								href="https://oficina-virtual-aesan.msssi.es/AESAN_ADEL/lactante.inicio"
								target="_blank"
								title="Enlace externo en nueva ventana: Acceso para otros navegadores">Acceso
									para otros navegadores (Firefox, Mozilla, Netscape...)</a></li>

						</ul>

					</div>
				</div>
				<div class="col-md-4">
					<div>
						<p>
							&nbsp;<b>SOLICITUD PARA REGISTRO DE AGUAS MINERALES NATURALES
								Y DE MANANTIAL</b>
						</p>
						<div>

							<p>Registro General Sanitario de Alimentos</p>


							<ul>

								<li><a
									href="https://oficina-virtual-aesan.msssi.es/AESAN_ADEL/aguasMinerales.inicio"
									target="_blank"
									title="Enlace externo en nueva ventana: Acceso para navegadores Internet Explorer">Acceso
										para navegadores Internet Explorer</a></li>


								<li><a
									href="https://oficina-virtual-aesan.msssi.es/AESAN_ADEL/aguasMinerales.inicio"
									target="_blank"
									title="Enlace externo en nueva ventana: Acceso para otros navegadores">Acceso
										para otros navegadores (Firefox, Mozilla, Netscape...)</a></li>

							</ul>

						</div>

					</div>
				</div>
				<div class="col-md-4">
					<div>
						<p>
							<b>EVALUACI&Oacute;N PARA REGISTRO DE NUEVOS ALIMENTOS</b>
						</p>


						<p>Coordinaci&oacute;n Cient&iacute;fica</p>


						<ul>

							<li><a
								href="https://oficina-virtual-aesan.msssi.es/AESAN_ADEL/nuevosAlimentos.inicio?tipo=0"
								target="_blank"
								title="Enlace externo en nueva ventana: Acceso para navegadores Internet Explorer">Acceso
									para navegadores Internet Explorer</a></li>


							<li><a
								href="https://oficina-virtual-aesan.msssi.es/AESAN_ADEL/nuevosAlimentos.inicio?tipo=0"
								target="_blank"
								title="Enlace externo en nueva ventana: Acceso para otros navegadores">Acceso
									para otros navegadores (Firefox, Mozilla, Netscape...)</a></li>

						</ul>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div>
						<p>
							<b>EVALUACI&Oacute;N PARA REGISTRO DE EQUIVALENCIAS
								SUSTANCIALES</b>
						</p>


						<p>Coordinaci&oacute;n Cient&iacute;fica</p>


						<ul>

							<li><a
								href="https://oficina-virtual-aesan.msssi.es/AESAN_ADEL/nuevosAlimentos.inicio?tipo=1"
								target="_blank"
								title="Enlace externo en nueva ventana: Acceso para navegadores Internet Explorer">Acceso
									para navegadores Internet Explorer</a></li>


							<li><a
								href="https://oficina-virtual-aesan.msssi.es/AESAN_ADEL/nuevosAlimentos.inicio?tipo=1"
								target="_blank"
								title="Enlace externo en nueva ventana: Acceso para otros navegadores">Acceso
									para otros navegadores (Firefox, Mozilla, Netscape...)</a></li>

						</ul>


					</div>
				</div>
				<div class="col-md-4">
					<div>
						<p>
							<b>QUEJAS Y SUGERENCIAS</b>
						</p>


						<p>Comunicaci&oacute;n - Quejas</p>


						<ul>

							<li><a
								href="https://oficina-virtual-aesan.msssi.es/AESAN_ADEL/quejas.inicio"
								target="_blank"
								title="Enlace externo en nueva ventana: Acceso para navegadores Internet Explorer">Acceso
									para navegadores Internet Explorer</a></li>


							<li><a
								href="https://oficina-virtual-aesan.msssi.es/AESAN_ADEL/quejas.inicio"
								target="_blank"
								title="Enlace externo en nueva ventana: Acceso para otros navegadores">Acceso
									para otros navegadores (Firefox, Mozilla, Netscape...)</a></li>

						</ul>
						<p>Comunicaci&oacute;n - Sugerencias</p>


						<ul>

							<li><a
								href="https://oficina-virtual-aesan.msssi.es/AESAN_ADEL/sugerencias.inicio"
								target="_blank"
								title="Enlace externo en nueva ventana: Acceso para navegadores Internet Explorer">Acceso
									para navegadores Internet Explorer</a></li>


							<li><a
								href="https://oficina-virtual-aesan.msssi.es/AESAN_ADEL/sugerencias.inicio"
								target="_blank"
								title="Enlace externo en nueva ventana: Acceso para otros navegadores">Acceso
									para otros navegadores (Firefox, Mozilla, Netscape...)</a></li>

						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div>
						<p>
							<b>SOLICITUD DE LOGOS, IMAGENES Y DOCUMENTACI&Oacute;N</b>
						</p>


						<p>Comunicaci&oacute;n</p>


						<ul>

							<li><a
								href="https://oficina-virtual-aesan.msssi.es/AESAN_ADEL/logdocimg.inicio"
								target="_blank"
								title="Enlace externo en nueva ventana: Acceso para navegadores Internet Explorer">Acceso
									para navegadores Internet Explorer</a></li>


							<li><a
								href="https://oficina-virtual-aesan.msssi.es/AESAN_ADEL/logdocimg.inicio"
								target="_blank"
								title="Enlace externo en nueva ventana: Acceso para otros navegadores">Acceso
									para otros navegadores (Firefox, Mozilla, Netscape...)</a></li>

						</ul>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div>
						<p>
							<b>CONSULTAS</b>
						</p>


						<p>Formulario Consulta de los Procedimientos</p>


						<ul>

							<li><a
								href="https://oficina-virtual-aesan.msssi.es/AESAN_ADEL/consultaCiudadano.inicio"
								target="_blank"
								title="Enlace externo en nueva ventana: Acceso para navegadores Internet Explorer">Acceso
									para navegadores Internet Explorer</a></li>


							<li><a
								href="https://oficina-virtual-aesan.msssi.es/AESAN_ADEL/consultaCiudadano.inicio"
								target="_blank"
								title="Enlace externo en nueva ventana: Acceso para otros navegadores">Acceso
									para otros navegadores (Firefox, Mozilla, Netscape...)</a></li>

						</ul>
					</div>
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12 center-block">
							<h4>
								<strong>Otros Formularios Sin Certificado:</strong>
							</h4>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<div>
								<p>
									<b>APLICACI&Oacute;N DE TASAS</b>
								</p>


								<p>Aplicaci&oacute;n de gesti&oacute;n de tasas:</p>


								<ul>

									<li><a
										href="http://aesan.msssi.gob.es/AESAN/web/oficina_virtual/oficina_virtual.shtml#">Acceso
											para navegadores Internet Explorer</a></li>


									<li><a
										href="http://aesan.msssi.gob.es/AESAN/web/oficina_virtual/oficina_virtual.shtml#">Acceso
											para otros navegadores (Mozilla, Firefox, Netscape ...)</a></li>

								</ul>

							</div>
						</div>
						<div class="col-md-4">
							<div></div>
						</div>
						<div class="col-md-4">
							<div></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottomFooter">
		<div class="row">
			<div class="col-md-12 text-center">
				<div>
            	<p>AECOSAN - SEDE ELECTR&Oacute;NICA</p>
            	</div>
            </div>
		</div>
	</div>
	</footer>
	<div id="instrucciones" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h3 class="modal-title">INDUSTRIAS ESTABLECIDAS FUERA DE ESPAÑA PERO DENTRO DE LA U.E.</h3>
				</div>
				<div class="modal-body">
					<h3>INSTRUCCIONES</h3>
					<h4>I. INFORMACI&Oacute;N GENERAL</h4>
					<p>Este impreso deberá utilizarse para las solicitudes relacionadas con el registro sanitario de
<strong>empresas y establecimientos de producción, transformación, elaboración y/o envasado, almacenamiento y distribución e importación de los productos contemplados en el artículo 2.1 del Real Decreto 1712/1991 de 27 de noviembre (BOE. de 4 de diciembre),
 que, estando establecidos dentro de otros países pertenecientes a la UE, deseen voluntariamente inscribirse en el Registro Sanitario de Alimentos de España, haciendo uso de la disposición adicional primera del Real Decreto 1712 citado.</strong></p>
<p>(En el caso de ser insuficientes las hojas IND-1 ó IND-2, se añadirán otras hojas numerándolas IND-1.2 ó IND-2-2, etc.)</p>
<h4>I. INSTRUCCIONES PARA LA CUMPLIMENTACIÓN DE LA HOJA IND-1</h4>
<p><strong><a name="Solicitante">(1) DATOS DEL TITULAR DE LA INDUSTRIA O ESTABLECIMIENTO.-</a></strong> Se cumplimentarán siempre en todas las clases de solicitudes que se presenten con los apellidos y nombre, razón social, domicilio; y el nº de identidad o
 de documento equivalente que acredite la identidad de la persona física o jurídica del titular. La empresa alimentaria, en todo caso, deberá haber sido notificada a la autoridad competente del país donde se encuentra localizada, conforme al Reglamento 852/2004
 del Parlamento europeo y del Consejo, de 29 de abril de 2004, relativo a la higiene de los productos alimenticios. Si existiera un nº de identificación de la propia empresa, éste sería válido.</p>
<p><strong><a name="DatosProductoUE">(2) DATOS DEL LA INDUSTRIA O ESTABLECIMIENTO.-</a></strong> Se cumplimentarán siempre en todas las clases de solicitudes que se presenten.</p>
<p><strong>ACTIVIDAD.-</strong> Se indicará el tipo de actividad que se ejerce (producción, transformación, elaboración, envasado, almacenamiento, distribución e importación de productos).</p>
<p><strong>CLAVE.-</strong> No se cumplimentará por estar reservado a la Administración.</p>
<p><strong><a name="DatosProductoNoUE">(3) CAMBIO DE TITULAR.-</a></strong> En los casos de transmisión de una industria se indicarán los datos de identificación del anterior titular que figuraba inscrito y el número de registro otorgado.</p>
<p><strong><a name="RD1275">(4) CAMBIO DE DOMICILIO.-</a></strong> En los casos de cambio de domicilio de una industria se hará constar el domicilio en el que ya figuraba inscrita anteriormente, así como si el cambio comunicado afecta al domicilio social, industrial
 o a ambos.</p>
<p><strong><a name="Nombre">(5) AMPLIACIÓN DE ACTIVIDADES.-</a></strong> Se relacionarán de forma exhaustiva las nuevas actividades que desarrolla la industria.</p>
<p><strong><a name="BajaProduct">(6) CESE DE ACTIVIDAD/ES.-</a></strong> Se relacionarán de forma exhaustiva las actividades en que cese la industria y que previamente figuraban inscritas.</p>
<p><strong><a name="OtrosProduct">(7) OTROS.-</a></strong> Se utilizará para comunicar incidencias no contempladas en los apartados anteriores tales como ampliación de las instalaciones existentes que no impliquen una ampliación de actividades y también para
 las variaciones de los datos del apartado <strong>(8).</strong></p>
<p><strong><a name="objetoActividad">(8) PRODUCTOS OBJETO DE LA ACTIVIDAD.-</a></strong></p>
<p><strong>NOMBRE O DENOMINACIÓN.-</strong> Se indicará el nombre genérico con el que se comercializan de acuerdo con legislación vigente.</p>
<p><strong>MARCA.-</strong> Se indicará la marca o nombre que sirva para distinguir este producto de los similares o idénticos de otra industria.</p>
<p><strong>(9) CATEGORÍA ACTIVIDAD.-</strong> No se cumplimentará por estar reservado a la Administración.</p>
<p><a name="ModoNotificacion"><strong>(10)</strong> Se consignarán el medio o medios preferentes por los que desea se practique la notificación, así como DOS lugares donde practicarla
<strong>(ES OBLIGATORIO SEÑALAR AL MENOS UNO).</strong></a></p>
<h4>II. DOCUMENTACIÓN A PRESENTAR</h4>
<p>INSCRIPCIÓN INICIAL, CAMBIO DE DOMICILIO Y AMPLIACIÓN DE ACTIVIDAD.</p>
<ul>
<li>Tarjeta de identidad o documento equivalente, que acredite la identidad de la persona física o jurídica a registrar o, en su caso, el documento que acredite la notificación de la empresa ante la autoridad competente.
</li><li>Certificación oficial del Organismo competente del país donde esté ubicada la empresa o establecimiento en la que se haga constar que la misma se encuentra legalmente establecida. Este documento se aportará en español directamente o acompañado de traducción
 al mismo idioma. </li></ul>
<p>CONVALIDACIÓN.</p>
<ul>
<li>Declaración del titular del Registro indicando que desde la fecha de inscripción o última convalidación no se han producido modificaciones ni en las instalaciones ni en los procesos de elaboración/fabricación.
</li></ul>
<p>CAMBIO DE TITULAR.</p>
<ul>
<li>Documento público o privado que justifique el cambio de titular firmado por ambas partes.
</li><li>Tarjeta de identidad o documento equivalente del nuevo titular </li></ul>
<p><strong>EN TODO CASO.</strong></p>
<p>Previamente a su presentación en el Registro de la AGENCIA ESPAÑOLA DE SEGURIDAD ALIMENTARIA Y NUTRICIÓN, se deberán abonar las tasas correspondientes señaladas en el artículo 31 de la Ley 53/2002, de 30 de diciembre, de Medidas fiscales, Administrativas
 y del Orden Social (B.O.E. 313 del 31), actualizadas al año en curso, adjuntando al expediente el justificante de la transferencia bancaria a la
<strong>cuenta cuyo datos de identificación son</strong>: </p>
<ul>
<li>Beneficiario: AGENCIA ESPAÑOLA DE SEGURIDAD ALIMENTARIA Y NUTRICIÓN </li><li>C.I.F: Q2801255G </li><li>IBAN ES60 0182 2370 4002 0151 3901 </li><li>Código Swift del Banco: BBVAESMMXXX </li></ul>
<p>El <strong>importe de las tasas</strong> puede encontrarse en la dirección <a href="redir.aspx?C=6006a87606bc488e87b11f95a5cfb2a2&amp;URL=http%3a%2f%2fwww.aesan.msc.es%2fAESAN%2fdocs%2fdocs%2fcadena_alimentaria%2fprocedimientos%2fTASAS_ACTUALIZADAS_RGSA_2010.pdf" target="_blank">
URL</a></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar
						Ventana</button>
				</div>
			</div>
		</div>
	</div>
	
</div>
	<script src="js/vendor/jquery/jquery-1.11.3.min.js"></script>
	<script src="js/vendor/bootstrap/bootstrap.min.js"></script>
	<script src="js/navpils.helper.js"></script>
	<script>
		(function() {
	
	   $("#deleteEmpTitular").click(function(){
				var empTitularIdArray=["#name","#idNumber","#address","#phoneNumber","#email","#faxNumber",
				"#regNumberInd","#nameRep","#idNumberRep","#addressRep","#phoneNumberRep","#emailRep","#faxNumberRep","#titleRep"];
				
				$(empTitularIdArray).each(function(index,value){
					$(value).val("");
				});
		
		});
	})();
	</script>
	
</body>
</html>