<div id="formContent" class="container-fluid">
	<div class="row">
		<div class="col-md-12 formContainer">
			<div class="row">
				<div class="col-md-12">

					<span> <small>(*) Datos de cumplimentaci&oacute;n
							obligatoria</small></span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<form id="userEditForm" class="form-inline">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<span>Datos de Usuario</span>
									<button type="button" id="edit"
										class="btn btn-default btn-xs pull-right"
										aria-label="Left Align" title="borrar datos">
										<span class="glyphicon glyphicon-pencil"
											aria-hidden="true"></span>
									</button>
								</h4>
							</div>
							<div>
								<div class="panel-body formBackground">
									<div class="form-group">
										<label for="user">Usuario (*):</label> <input type="text"
											class="form-control" id="user" placeholder="" size="20" value="user">
									</div>
									<div class="form-group">
										<label for="name">Nombre (*):</label> <input type="text"
											class="form-control" id="name" placeholder="" size="25" value="Nombre Usuario">
									</div>
									<div class="form-group">
										<label for="lastname">Apellido (*):</label> <input type="text" value="Apellido Usuario"
											class="form-control" id="lastname" placeholder="" size="25">
									</div>
									<div class="form-group">
										<label for="nif">NIF:</label> <input type="text" value="12345678A"
											class="form-control" id="nif" placeholder="" size="12">
									</div>
										<div class="form-group">
										<label for="estado">Estado (*) :</label>
										<div class="radio">
											<label> <input name="userActive" type="radio"
												value="Activo" checked> Activo
											</label>
										</div>
										<div class="radio">
											<label> <input name="userActive" type="radio"
												value="Inactivo"> Inactivo
											</label>
										</div>
									</div>
								</div>
								<div class="panel-body formBackground">
								<div class="form-group">
										<label for="contraseņa">Contrase&ntilde;a (*):</label> <input
											type="password" class="form-control" id="contraseņa"
											placeholder="" size="20" value="11111111">
									</div>
									<div class="form-group">
										<label for="contraseņa">Repetir Contrase&ntilde;a (*):</label> <input
											type="password" class="form-control" id="contraseņa"
											placeholder="" size="20" value="11111111">
									</div>
									<div class="form-group">
										<label for="estado">Grupos(*):</label> <select id="idGrupo"
											class="form-control" class="textoinp div75" name="idGrupo">
											<option value="0">Seleccione ...</option>
											<option value="1">RGSA</option>
											<option selected="selected"  value="2">COMUNICACION</option>
											<option value="3">COORDINACION</option>
											<option value="4">PREMIOS</option>
											<option value="5">INFORMACION</option>
										</select>
									</div>
									<div class="form-group">
										<label for="estado">Permiso (*):</label> <select id="tipopermiso"
											class="form-control" name="tipopermiso">
											<option value="-1" >Seleccione ...</option>
											<option value="0">Lectura</option>
											<option selected="selected" value="1">Cambiar Estado</option>
											<option value="2">Administraci&oacute;n</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
(function() {
	function setupPage(){
		$("#userEditForm :input").not( ":button" ).prop("disabled", true).addClass("formReadOnly");
		$("#edit").click(function(){
			if($( this ).hasClass( "btn-default" )){
				$("#editUser").removeClass("hidden").show();
				$(this).removeClass("btn-default").addClass("btn-info");
				$("#userEditForm :input").not( ":button" ).prop("disabled", false).removeClass("formReadOnly");
			}else if($( this ).hasClass( "btn-info" )){
				$("#editUser").hide();
				$(this).removeClass("btn-info").addClass("btn-default");
				$("#userEditForm :input").not( ":button" ).prop("disabled", true).addClass("formReadOnly");
			}
			
		});
	}
	setupPage();
})();
</script>
