<div id="formContent" class="container">
	<div class="row">
		<div class="col-md-12 formContainer">
			<div class="row">
				<div class="col-md-12">

					<span> <small>(*) Datos de cumplimentaci&oacute;n
							obligatoria</small></span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<form id="userAddForm" class="form-inline">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<span>Nuevo Usuario</span>
									<button type="button" id="deleteAdd"
										class="btn btn-default btn-xs pull-right"
										aria-label="Left Align" title="borrar datos">
										<span class="glyphicon glyphicon glyphicon-erase"
											aria-hidden="true"></span>
									</button>
								</h4>
							</div>
							<div>
								<div class="panel-body formBackground">
									<div class="form-group">
										<label for="user">Usuario (*):</label> <input type="text"
											class="form-control" id="user" placeholder="" size="20">
									</div>
									<div class="form-group">
										<label for="name">Nombre (*):</label> <input type="text"
											class="form-control" id="name" placeholder="" size="25">
									</div>
									<div class="form-group">
										<label for="lastname">Apellido (*):</label> <input type="text"
											class="form-control" id="lastname" placeholder="" size="25">
									</div>
									<div class="form-group">
										<label for="nif">NIF:</label> <input type="text"
											class="form-control" id="nif" placeholder="" size="12">
									</div>
										<div class="form-group">
										<label for="estado">Estado (*) :</label>
										<div class="radio">
											<label> <input name="userActive" type="radio"
												value="Activo" checked> Activo
											</label>
										</div>
										<div class="radio">
											<label> <input name="userActive" type="radio"
												value="Inactivo"> Inactivo
											</label>
										</div>
									</div>
								</div>
								<div class="panel-body formBackground">
								<div class="form-group">
										<label for="contraseņa">Contrase&ntilde;a (*):</label> <input
											type="password" class="form-control" id="contraseņa"
											placeholder="" size="20">
									</div>
									<div class="form-group">
										<label for="contraseņa">Repetir Contrase&ntilde;a (*):</label> <input
											type="password" class="form-control" id="contraseņa"
											placeholder="" size="20">
									</div>
									<div class="form-group">
										<label for="estado">Grupos(*):</label> <select id="idGrupo"
											class="form-control" class="textoinp div75" name="idGrupo">
											<option selected="selected" value="0">Seleccione ...</option>
											<option value="1">RGSA</option>
											<option value="2">COMUNICACION</option>
											<option value="3">COORDINACION</option>
											<option value="4">PREMIOS</option>
											<option value="5">INFORMACION</option>
										</select>
									</div>
									<div class="form-group">
										<label for="estado">Permiso (*):</label> <select id="tipopermiso"
											class="form-control" name="tipopermiso">
											<option value="-1" selected="selected">Seleccione ...</option>
											<option value="0">Lectura</option>
											<option value="1">Cambiar Estado</option>
											<option value="2">Administraci&oacute;n</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row bottomSpacer">
						<div id="sign" class="col-md-12 center-block text-center">
							<div class="btn-group" role="group" aria-label="...">
								<button type="button" class="btn btn-primary btn-default btn-block">Alta de Usuario</button>
							</div>
						</div>
			</div>
		</div>
	</div>
</div>
<script>
(function() {
	function setupPage(){
		$("#deleteAdd").click(function(){
			$("#userAddForm")[0].reset();
		});
		
	}
	setupPage()
})();
</script>
