
<div id="formContent" class="container">
	<div class="row">
		<div class="col-md-12 formContainer">
			<div class="row">
				<div class="col-md-12">
					<form id="userSearchForm" class="form-inline">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<span>Datos a Consultar</span>
									<button type="button" id="delete"
										class="btn btn-default btn-xs pull-right"
										aria-label="Left Align" title="borrar datos">
										<span class="glyphicon glyphicon glyphicon-erase"
											aria-hidden="true"></span>
									</button>
								</h4>
							</div>
							<div>
								<div class="panel-body formBackground">
									<div class="form-group">
										<label for="user">Usuario:</label> <input type="text"
											class="form-control" id="user" placeholder="" size="10">
									</div>
									<div class="form-group">
										<label for="name">Nombre:</label> <input type="text"
											class="form-control" id="name" placeholder="" size="15">
									</div>
									<div class="form-group">
										<label for="lastname">Apellido:</label> <input type="text"
											class="form-control" id="lastname" placeholder="" size="15">
									</div>
									<div class="form-group">
										<label for="estado">Grupos:</label> <select id="idGrupo" class="form-control"
											class="textoinp div75" name="idGrupo">
											<option selected="selected" value="0">Seleccione ...</option>
											<option value="1">RGSA</option>
											<option value="2">COMUNICACION</option>
											<option value="3">COORDINACION</option>
											<option value="4">PREMIOS</option>
											<option value="5">INFORMACION</option>
										</select>
									</div>
									<div class="form-group">
										<label for="estado">Estado:</label>
										<div class="radio">
											  <label>
											    <input name="userActive" type="radio" value="Activo">
											   Activo
											  </label>
											</div>
											<div class="radio">
											  <label>
											    <input name="userActive" type="radio" value="Inactivo">
											  Inactivo
											  </label>
											</div>
											<div class="radio">
											  <label>
											    <input name="userActive" type="radio" value="ambos" checked>
											  Activo o Inactivo
											  </label>
											</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="tableArea">
					<table id="userTable" class="table table-striped table-bordered"
						cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>Usuario</th>
								<th>Nombre</th>
								<th>Apellido</th>
								<th>Activo</th>
								<th>Eliminar</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
(function() {
	
	function setupPage() {
		
		$("#delete").click(function(){
			$("#userSearchForm")[0].reset();
		});
		setupDatatable();
	}
	
	function setupDatatable() {
		$('#userTable').DataTable({
			 "ajax": {
   				 "url": "js/vendor/datatables/testdata/users.json",
   				 "dataSrc": ""
			 	}, 
			 "serverSide": false,
   			 "dom": "lrtip",
   			 "bPaginate" : true,
   			 "language" : {
						"url" : "js/i18n/datatables/messages_ES.json"
			},
   			 "columns": [
				         
				            { "name" : "usuario",
								orderable : false,
								"data" : "user",
								
								"render" : function(data, type, full) {
												
											return "<div class=\"editableRecordLink\" onclick=\"showEditablePopup()\" title=\"ver detalle de usuario: "+data+"\"><span>"+data+"</span></div>";
											
										}
				            },
				            { "data": "nombre" },
				            { "data": "apellido" },
				            { "name" : "activo",
								orderable : false,
								"data" : "activo",
								
								"render" : function(data, type, full) {
												var image="userActive.png"
												var tooltip="Usuario Activo";
												if((data!==undefined && data!=="") && data.toLowerCase()!=="si"){
													image="userInactive.png"
													tooltip="Usuario Inactivo";
												}
												
											var icon ="<div class=\"iconsTable\">"+
				 							"<img title=\""+tooltip+"\" src=\"images/"+image+"\">"+
				 							"</div>";
											return icon
										}
				            },
				            {
								"name" : "acciones",
								orderable : false,
								"data" : null,
								
								"render" : function(data, type, full) {
			
									return "<div class=\"iconsTable\">"+
									"<img title=\"Eliminar usuario\" src=\"images/borrar.gif\" style=\"cursor:pointer\"></div>";
								}
						}
   			 ]

		});
	}
	
	setupPage();
	
	
})();
</script>