<ng-form name="identification.identificationPaymentForm" novalidate>
<form-background-wrapper>
	<div class="row">
		<div class="form-group col-xs-4 col-sm-4">
			<label for="nombrepago">{{"NOMBRE_PAYMENT" | translate}} (*)</label> 
			<input id="firstName" class="form-control" name="firstName" type="text"
				placeholder="" maxlength="40" tooltip="{{'NOMBRE_APE_SOC' | translate}}"
				ng-model="solicitudePayment.idPayment.name" ng-required="true" ng-change="validatePaymentIdentification()"/>
		</div>
		<div class="form-group col-xs-4 col-sm-4">
			<label for="lastname">{{"LASTNAME_PAYMENT" | translate}} (*)</label> 
			<input id="lastname" class="form-control" name="lastname" type="text"
				placeholder="" maxlength="40" tooltip="{{'LASTNAME_PAYMENT' | translate}}"
				ng-model="solicitudePayment.idPayment.lastName" ng-required="true"  ng-change="validatePaymentIdentification()"/>
		</div>
		<div class="form-group col-xs-4 col-sm-4">
			<label for="secondLastName">{{"SECONDLASTNAME_PAYMENT" | translate}} (*)</label> 
			<input id="secondLastName" class="form-control" name="secondLastName" type="text"
				placeholder="" maxlength="40" tooltip="{{'SECONDLASTNAME_PAYMENT' | translate}}"
				ng-model="solicitudePayment.idPayment.secondLastName"  ng-required="true" ng-change="validatePaymentIdentification()"/>
		</div>	
  </div>
</form-background-wrapper>
<form-background-wrapper extraclass="formSeparatorWhite">
  <div class="row">
   <div class="col-xs-5 col-sm-4 form-group text-center">
   	<label for="identificationNumber">{{'PAYMENT_ID_TYPE' | translate}} (*)</label> 
   		<div class ="row">
   		  <div class="col-xs-12 col-sm-12 identificationTypesRadioGroups">
	   			<label class="radio-inline">
	  				<input type="radio" name ="idType" value="NIF" ng-model="solicitudePayment.idPayment.identificationType"> NIF
				</label>
				<label class="radio-inline">
	  				<input type="radio" name ="idType" value="CIF"  ng-model="solicitudePayment.idPayment.identificationType"> CIF
				</label>
				<label class="radio-inline">
	  				<input type="radio" name ="idType" value="DNI" ng-model="solicitudePayment.idPayment.identificationType"> DNI
				</label>
				<label class="radio-inline">
	  				<input type="radio"  name ="idType" value="NIE" ng-model="solicitudePayment.idPayment.identificationType"> NIE
				</label>
			</div> 
		</div>
   </div>
   <div class="form-group col-xs-4 col-sm-4">
		<label for="identificationNumber">{{'PAYMENT_ID' | translate}} (*)</label> 
		<input id="identificationNumber" class="form-control" name="identificationNumber" type="text"
			placeholder="" maxlength="12" tooltip="{{'NIF' | translate}}"
			ng-model="solicitudePayment.idPayment.identificationNumber" validate-nif ng-required="true" ng-change="validatePaymentIdentification()"/>
	</div>
	<div class="form-group col-xs-4 col-sm-3">
		<label for="telephone">{{'TELEFONO' | translate}} (*)</label> 
		<input id="telephone" class="form-control" name="telephone" type="text" 
			ng-pattern="phone_pattern" placeholder="" maxlength="14" tooltip="{{'TELEFONO_TOOLTIP' | translate}}"
			ng-model="solicitudePayment.idPayment.telephone"  ng-required="true" ng-change="validatePaymentIdentification()"/>
	</div>	
  </div>
</form-background-wrapper>
<div ng-form name="addressPayment" novalidate>
<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="row">
		<div class="form-group col-xs-3 col-sm-3">
			<label for="tipoVia">{{'PAYMENT_STREET_TYPE' | translate}}</label> 
			<input id="tipoVia" class="form-control" name="tipoVia"
				type="text" value="" maxlength="10" tooltip="{{'ADDRESS' | translate}}"
				ng-model="solicitudePayment.idPayment.address.address.tipoVia" />
		</div>
		<div class="form-group col-xs-9 col-sm-9">
			<label for="nombreCalle">{{'PAYMENT_STREET' | translate}} (*)</label> 
			<input id="nombreCalle" class="form-control" name="nombreCalle"
				type="text" value="" maxlength="100" tooltip="{{'ADDRESS' | translate}}"
				ng-model="solicitudePayment.idPayment.address.nombreCalle"  ng-required="true" ng-change="validatePaymentIdentification()"/>
		</div>
	</div>
</form-background-wrapper>
<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="row">
		<div class="form-group col-xs-2 col-sm-2 col-xs-offset-2">
			<label for="numero">{{'PAYMENT_NUMBER' | translate}} (*)</label> 
			<input id="numero" class="form-control" name="numero"
				type="text" value="" maxlength="3" tooltip="{{'ADDRESS' | translate}}"
				ng-model="solicitudePayment.idPayment.address.numero"  ng-required="true"  ng-change="validatePaymentIdentification()"/>
		</div>
		<div class="form-group col-xs-2 col-sm-2">
			<label for="escalera">{{'PAYMENT_STAIR' | translate}}</label> 
			<input id="escalera" class="form-control" name="escalera"
				type="text" value="" maxlength="10" tooltip="{{'ADDRESS' | translate}}"
				ng-model="solicitudePayment.idPayment.address.escalera" />
		</div>
		<div class="form-group col-xs-2 col-sm-2">
			<label for="piso">{{'PAYMENT_STORY' | translate}}</label> 
			<input id="piso" class="form-control" name="piso"
				type="text" value="" maxlength="2" tooltip="{{'ADDRESS' | translate}}"
				ng-model="solicitudePayment.idPayment.address.piso" />
		</div>
		<div class="form-group col-xs-2 col-sm-2">
			<label for="puerta">{{'PAYMENT_DOOR' | translate}}</label> 
			<input id="puerta" class="form-control" name="puerta"
				type="text" value="" maxlength="3" tooltip="{{'ADDRESS' | translate}}"
				ng-model="solicitudePayment.idPayment.address.puerta" />
		</div>
	</div>
</form-background-wrapper>
</div>
<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="row" ng-form name="locationPayment" novalidate>
		<div class="form-group col-xs-12 col-sm-2 text-center">
			<label for="paispago">{{'PAIS' | translate}}</label> 
			<span  id="paispago" class="paymentSpan">{{solicitudePayment.idPayment.location.pais.catalogValue}}</span>			
		</div>
		<div class="form-group col-xs-12 col-sm-3"
			ng-show="solicitudePayment.idPayment.location.pais.catalogId == spain_county_code">
			<label for="provinciaPago">{{'PROVINCE' | translate}} (*)</label> 
			<select id="provinciaPago" class="form-control"  name="provinciaPago" ng-required="true" 
				ng-click="loadProvinciaPagoOnClick()"
				ng-options="provPago.catalogValue for provPago in solicitudePayment.catalogProvinciasPago track by provPago.catalogId"
				ng-change="loadMunicipioPago(); validatePaymentIdentification();"
				ng-model="solicitudePayment.idPayment.location.provincia">
				<option value="" selected>{{'SELECT' | translate}}</option>
			</select>
		</div>
		<div class="form-group col-xs-12 col-sm-5"
			ng-show="solicitudePayment.idPayment.location.pais.catalogId == spain_county_code">
			<label for="municipio">{{'MUNICIPIO' | translate}} (*)</label> 
			<select id="municipio"  class="form-control" name="municipio" ng-required="true"	 
				ng-options="muni.catalogValue for muni in solicitudePayment.catalogMunicipiosPago track by muni.catalogId"
				ng-change="validatePaymentIdentification()"
				ng-model="solicitudePayment.idPayment.location.municipio">
				<option value="" selected >{{'SELECT' | translate}}</option>
			</select>
		</div>
		<div class="form-group col-xs-2 col-sm-2"
			ng-show="solicitudePayment.idPayment.location.pais.catalogId == spain_county_code">
			<label for="codigoPostal"> {{'POSTALCODE' | translate}} (*)</label>
			<input id="codigoPostal" class="form-control" name="codigoPostal" type="text" 
				value="" maxlength="5" tooltip="{{'POSTALCODE' | translate}}" 
				ng-pattern="postal_code_pattern"
				ng-model="solicitudePayment.idPayment.location.codigoPostal"  ng-required="true" ng-change="validatePaymentIdentification()"/>
		</div>
	</div>
</form-background-wrapper>
</ng-form>