
		<div class="alert alert-info" role="alert">
			<img ng-src="{{images}}/help.png" width="16" height="16"><small><strong>{{'OBSERVCIONESPAGO_D1' | translate}}:</strong></small>
			<button type="button" class="btn btn-primary btn-xs" ng-click="verInstruccionesPago()">
				<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;{{'OBSERVCIONESPAGO_D2' | translate}}
			</button>
		</div>

