<br/>
<boton-accion-formulario  role="group" type="button" ng-click="showPagoPanel()" value="{{'PAYMENT' | translate}}" glyphicon="glyphicon-credit-card"></boton-accion-formulario>
<pago-offline-pop-up  aesantasatipo="tasatipo"></pago-offline-pop-up>