<div class="row onlinePaymentRow">
	<div class="form-group col-xs-2 col-sm-2 col-md-offset-1 col-xs-offset-1" ng-if="justifier.length === 0">
		<button type="button" ng-if="!showpaymentbutton" class="btn btn-warning" ng-click="getJustificante()" ng-hide="paymentprocessing">{{'GET_JUSTIFIER_PAYMENT' | translate}}</button>
		<img ng-src="{{images}}/loading.gif"  class="loginSpinner center-block" ng-show="paymentprocessing && !showpaymentbutton" />
	</div>
	<div class="form-group col-xs-3 col-sm-3" ng-if="justifier.length > 0">
		<label for="numjustificante">{{'JUSTIFICANTE' | translate}}</label>
		<input class="form-control" type="text" id="numjustificante" ng-model="justifier" ng-disabled="true" >
	</div>
	<div class="form-group col-xs-2 col-sm-2" ng-if="justifier.length > 0" ng-hide="nrc.length > 0" >
		<button type="button"  class="btn btn-success" ng-click="makePayment()" ng-hide="paymentprocessing" >{{'PAGO_ONLINE' | translate}}</button>
		<img ng-src="{{images}}/loading.gif"  class="loginSpinner center-block" ng-show="paymentprocessing" />
	</div>
	<div class="form-group col-xs-4 col-sm-4" ng-show="justifier.length > 0 && nrc.length > 0  ">
		<label for="numNrc">{{'NRC' | translate}}</label>
		<input class="form-control" type="text" id="numnrc" ng-model="nrc" ng-disabled="true" >
	</div>
	<div class="form-group " ng-class="{'col-md-6 col-md-offset-3': (justifier.length == 0),'col-md-3 col-md-offset-2': (justifier.length > 0 && nrc.length == 0), 'col-md-3':(nrc.length > 0)}">
		<div class="row onlinePaymentResultRow"  ng-show="showprocessresult">
			<div class="col-xs-2 col-sm-2">
				<img ng-src="{{images}}/{{resultimage}}" />
			</div>
			<div class="col-xs-10 col-sm-10">
				<span class= "onlinePaymentResultRowMessage" translate="{{processmessage}}"></span>
			</div>
		</div>
	</div>
		<div class="form-group col-xs-2 col-sm-2" ng-if="nrc.length > 0 && pagonlinedone">
			<button type="button"  class="btn btn-info" ng-click="generatepdf()"  ng-hide="paymentprocessing" >{{'PAYMENT_GENERAR_IMPRESO' | translate}}</button>
			<img ng-src="{{images}}/loading.gif"  class="loginSpinner center-block" ng-show="paymentprocessing" />
		</div>	
</div>
									