HTML {
	HEIGHT: 100%
}
BODY {
	PADDING-BOTTOM: 0px; HEIGHT: 100%
}
BODY {
	BACKGROUND-COLOR: #ffffff; MARGIN: 0px
}
A.tooltip {
	POSITION: relative; DISPLAY: inline
}
.mf-footer A:hover {
	COLOR: white !important
}
.tooltip:hover:after {
	Z-INDEX: 98; POSITION: absolute; PADDING-BOTTOM: 5px; PADDING-LEFT: 15px; WIDTH: 220px; BOTTOM: 26px; PADDING-RIGHT: 15px; BACKGROUND: #333; COLOR: #fff; CONTENT: attr(title); PADDING-TOP: 5px; LEFT: 20%; border-radius: 5px
}
.tooltip:hover:before {
	Z-INDEX: 99; BORDER-BOTTOM: #333 0px solid; POSITION: absolute; BORDER-LEFT: transparent 6px solid; BOTTOM: 20px; BORDER-TOP: #333 6px solid; CONTENT: ""; BORDER-RIGHT: transparent 6px solid; LEFT: 50%
}
FORM {
	HEIGHT: 100%
}
.container {
	POSITION: relative; MIN-HEIGHT: 100%; BACKGROUND: url(/_layouts/3082/images/img/FondoSombra.png) #e6e6e6 repeat-y 50% 50%; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.oculto {
	DISPLAY: none
}
.visible {
	DISPLAY: block
}
.mostrar {
	
}
.cabecera {
	WIDTH: 100%; HEIGHT: auto
}
.cabecera A IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.cabecera .cab_a {
	WIDTH: 100%
}
.cab_b {
	WIDTH: 100%
}
.cab_c {
	WIDTH: 100%
}
.cabecera .cab_a {
	BACKGROUND: #e0e0e0; HEIGHT: 35px
}
.cabecera .cab_a .topcab {
	WIDTH: 990px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND: url(/_layouts/3082/images/img/fondocab.png) #e0e0e0 no-repeat; HEIGHT: 35px; COLOR: #434343; MARGIN-LEFT: auto; FONT-SIZE: 0.7em; MARGIN-RIGHT: auto
}
.cabecera .cab_a .topcab A {
	COLOR: #434343; TEXT-DECORATION: none
}
.cabecera .cab_a .topcab A:hover {
	TEXT-DECORATION: underline
}
.cabecera .cab_a .topcab .idioma {
	WIDTH: 493px; FLOAT: left
}
.cabecera .cab_a .topcab .ayuda {
	TEXT-ALIGN: right; WIDTH: 493px; FLOAT: right
}
.cabecera .cab_a .topcab .idioma UL {
	MARGIN-TOP: 8px; PADDING-LEFT: 2px; COLOR: #484b67; MARGIN-RIGHT: 2px
}
.ayuda UL {
	MARGIN-TOP: 8px; PADDING-LEFT: 2px; COLOR: #484b67; MARGIN-RIGHT: 2px
}
.cabecera .cab_a .topcab .idioma UL LI {
	LIST-STYLE-TYPE: none; DISPLAY: inline; MARGIN-RIGHT: 5px
}
.ayuda UL LI {
	LIST-STYLE-TYPE: none; DISPLAY: inline; MARGIN-RIGHT: 5px
}
.cabecera .cab_a .topcab .ayuda UL LI.enlacesint {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 27px; PADDING-RIGHT: 0px; BACKGROUND: url(/_layouts/3082/images/img/enlacesinteres.png) no-repeat 5px 4px; PADDING-TOP: 5px
}
.cabecera .cab_a .topcab .ayuda UL LI.mapa {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 30px; PADDING-RIGHT: 0px; BACKGROUND: url(/_layouts/3082/images/img/mapa.png) no-repeat 5px 4px; PADDING-TOP: 5px
}
.cabecera .cab_a .topcab .ayuda UL LI.contacto {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 25px; PADDING-RIGHT: 0px; BACKGROUND: url(/_layouts/3082/images/img/sobre.png) no-repeat 1px 6px; PADDING-TOP: 5px
}
.cabecera .cab_b {
	BACKGROUND: url(/_layouts/3082/images/img/fondoazul.gif) #6f8ecd no-repeat; HEIGHT: 85px
}
.cabecera .cab_b .titulocab {
	WIDTH: 990px; BACKGROUND: url(/_layouts/3082/images/img/fondoazul.gif) #6f8ecd no-repeat -135px 0px; HEIGHT: 85px; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.cabecera .cab_b .texto {
	FLOAT: left
}
.escudo {
	FLOAT: left
}
.cabecera .cab_b .titulocab P {
	TEXT-TRANSFORM: uppercase; MARGIN-TOP: 35px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-WEIGHT: bold
}
.cabecera .cab_c {
	BACKGROUND: url(/_layouts/3082/images/img/fondobotonera.png) repeat-x 50% bottom; HEIGHT: 45px
}
.cabecera .cab_c .botonera {
	POSITION: relative; WIDTH: 990px; BACKGROUND: url(/_layouts/3082/images/img/fondobotonera.png) repeat-x 50% bottom; HEIGHT: 45px; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.cabecera .cab_c .textosbotonera {
	POSITION: absolute; PADDING-BOTTOM: 0px; MARGIN: 7px 0px 0px; PADDING-LEFT: 0px; WIDTH: 99%; PADDING-RIGHT: 0px; DISPLAY: table; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #293b5f; FONT-SIZE: 0.8em; PADDING-TOP: 0px
}
.cabecera .cab_c .textosbotonera UL {
	DISPLAY: table-row
}
.cabecera .cab_c .textosbotonera UL LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.7em; DISPLAY: table-cell; BACKGROUND: url(/_layouts/3082/images/img/separadorbotonera.png) no-repeat right 50%; PADDING-TOP: 0.5em
}
.cabecera .cab_c .botonera A {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #293b5f; TEXT-DECORATION: none
}
.cabecera .cab_c .columbotonera {
	DISPLAY: table-row
}
.cabecera .cab_c .txtizq {
	PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.7em; DISPLAY: table-cell; BACKGROUND: url(/_layouts/3082/images/img/separadorbotonera.png) no-repeat right 50%; PADDING-TOP: 0.5em
}
.cabecera .cab_c .txtder {
	PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.7em; DISPLAY: table-cell; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 0.5em
}
.central {
	PADDING-BOTTOM: 170px; WIDTH: 980px; HEIGHT: 100%; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.central A IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.fondozonacentral {
	BACKGROUND-COLOR: #fff; WIDTH: 964px; HEIGHT: 100%
}
.home {
	BACKGROUND-COLOR: #fff; MIN-HEIGHT: 32em; WIDTH: 100%; HEIGHT: 100%
}
H2.titulo1 {
	TEXT-INDENT: 40px; COLOR: #000000; FONT-SIZE: 1.7em; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
DIV.titulo1 {
	PADDING-BOTTOM: 1px; MARGIN-TOP: 5px; BACKGROUND: url(/_layouts/3082/images/img/linetit.png) #eff2fb no-repeat left bottom; BORDER-TOP: #084b8a 5px solid; border-radius: 0px 0px 30px 15px
}
HR.linea_titulo1 {
	BORDER-BOTTOM-STYLE: none; BACKGROUND-COLOR: #e0e6f8; MARGIN: 0px; BORDER-LEFT-STYLE: none; BORDER-TOP-STYLE: none; HEIGHT: 20px; BORDER-RIGHT-STYLE: none
}
H2.titulo2 {
	TEXT-INDENT: 40px; COLOR: #000000; FONT-SIZE: 1.4em; FONT-WEIGHT: lighter; PADDING-TOP: 5px
}
DIV.titulo2 {
	BORDER-BOTTOM: orange 4px solid; PADDING-BOTTOM: 1px; MARGIN-TOP: 5px; BACKGROUND: url(/_layouts/3082/images/img/linetit.png) #eff2fb no-repeat left bottom; border-radius: 5px 0px 0px 0px
}
.alert {
	MIN-HEIGHT: 10em; WIDTH: 100%; PADDING-TOP: 5em
}
.alert P.iconalert {
	TEXT-ALIGN: center
}
.alert P.titalert {
	TEXT-ALIGN: center; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #49659d; FONT-SIZE: 1.2em; FONT-WEIGHT: bold
}
.alerterror {
	BORDER-BOTTOM: #dbdcde 1px solid; BORDER-LEFT: #dbdcde 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 800px; PADDING-RIGHT: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 20px; BACKGROUND: #f5f5f5; COLOR: #333; MARGIN-LEFT: auto; FONT-SIZE: 0.75em; BORDER-TOP: #dbdcde 1px solid; MARGIN-RIGHT: auto; BORDER-RIGHT: #dbdcde 1px solid; PADDING-TOP: 10px
}
.alertline {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 800px; PADDING-RIGHT: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #333; MARGIN-LEFT: auto; FONT-SIZE: 0.75em; BORDER-TOP: #dbdcde 1px solid; MARGIN-RIGHT: auto; PADDING-TOP: 0px
}
.alertline A {
	FONT-SIZE: 1em
}
.alerterror A {
	FONT-SIZE: 1em
}
.alertline A:hover {
	TEXT-DECORATION: underline
}
.migaimp {
	MARGIN: auto; WIDTH: 975px
}
.migas {
	MIN-HEIGHT: 3em; WIDTH: auto; FONT-FAMILY: Arial, Helvetica, sans-serif; MAX-WIDTH: 67%; FLOAT: left; COLOR: #4a5f8a; FONT-SIZE: 0.7em; MARGIN-RIGHT: 5px
}
.migas OL {
	MARGIN-TOP: 15px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 0px
}
.migas OL LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 7px; DISPLAY: inline; BACKGROUND: url(/_layouts/3082/images/img/separamigas.png) no-repeat left 50%
}
.migas OL LI A {
	COLOR: #4a5f8a; FONT-SIZE: 1em; TEXT-DECORATION: none
}
.migas OL LI A:hover {
	TEXT-DECORATION: underline
}
.migas OL LI.primero {
	PADDING-LEFT: 4px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.impresion {
	POSITION: relative; TEXT-ALIGN: right; MIN-HEIGHT: 3em; WIDTH: 30%; FLOAT: right; MARGIN-RIGHT: 5px
}
.impresion A {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 25px; BACKGROUND: url(/_layouts/3082/images/img/impresion.png) no-repeat left top; FONT-SIZE: 0.7em; MARGIN-RIGHT: 3px; PADDING-TOP: 5px
}
.impresion P {
	MARGIN-TOP: 15px; MARGIN-BOTTOM: 0px
}
.destacado {
	WIDTH: 980px; FONT-FAMILY: Arial; COLOR: #4a5f8a; MARGIN-LEFT: auto; FONT-SIZE: 0.8em; MARGIN-RIGHT: auto
}
DIV.not H3 {
	MARGIN-TOP: 10px; MARGIN-LEFT: 10px; FONT-SIZE: 1.5em
}
.imgnoticia IMG {
	BORDER-BOTTOM: #304268 1px solid; MIN-WIDTH: 489px; BORDER-LEFT: #304268 1px solid; MIN-HEIGHT: 312px; WIDTH: 489px; DISPLAY: block; MAX-WIDTH: 489px; HEIGHT: 312px; MAX-HEIGHT: 312px; BORDER-TOP: #304268 1px solid; BORDER-RIGHT: #304268 1px solid
}
DIV.not H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 25px; WIDTH: 420px; PADDING-RIGHT: 25px; DISPLAY: block; FLOAT: left; FONT-SIZE: 1.5em; PADDING-TOP: 25px
}
DIV.not P.txtcarrusel {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; MARGIN: 0px; PADDING-LEFT: 25px; WIDTH: 400px; PADDING-RIGHT: 25px; DISPLAY: block; FLOAT: left; FONT-SIZE: 0.95em; PADDING-TOP: 10px
}
DIV.not P.txtcarrusel2 {
	PADDING-BOTTOM: 0px; MARGIN: 15px 0px 0px; PADDING-LEFT: 25px; WIDTH: 400px; PADDING-RIGHT: 25px; DISPLAY: block; FLOAT: left; FONT-SIZE: 1em; PADDING-TOP: 10px
}
P.txtcarrusel A {
	COLOR: #ffffff; FONT-SIZE: 0.95em; TEXT-DECORATION: underline
}
P.txtcarrusel IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
DIV.not P.txtcarrusel2 A {
	FONT-STYLE: italic; COLOR: #ffffff; TEXT-DECORATION: underline
}
DIV.ver {
	POSITION: relative; WIDTH: 105px; BACKGROUND: #304268; FLOAT: left; HEIGHT: 34px; COLOR: white; MARGIN-LEFT: 357px; TOP: -35px
}
DIV.ver P {
	TEXT-ALIGN: center; MARGIN-TOP: 10px
}
DIV.ver A {
	COLOR: white
}
DIV.ver A:hover {
	TEXT-DECORATION: underline
}
.carrusel {
	POSITION: relative; PADDING-BOTTOM: 2px; WIDTH: 99.4%; DISPLAY: inline; MARGIN-BOTTOM: 30px; BACKGROUND: url(/_layouts/3082/images/img/fondcarrousel.png) #6885c0 repeat-x left bottom; HEIGHT: 320px; MARGIN-LEFT: 2px; MARGIN-RIGHT: 4px
}
.carruselnoticias {
	BACKGROUND: #6885c0
}
.fondocarrusel {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.fondosombra {
	WIDTH: 1005px; BACKGROUND: url(/_layouts/3082/images/img/sombraBordes.png) repeat-y -6px 0px; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.fondoblanco {
	WIDTH: 990px; BACKGROUND: #fff; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
P.imgnoticia {
	PADDING-BOTTOM: 0px !important; MARGIN: 4px 5px 3px 3px; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; FLOAT: right !important; PADDING-TOP: 0px !important
}
#features {
	BACKGROUND: url(/_layouts/3082/images/img/marconoticias.jpg) no-repeat 19px 19px
}
#features {
	POSITION: relative; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 100%; COLOR: #ffffff; OVERFLOW: hidden
}
#slidingFeatures {
	POSITION: relative; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 100%; COLOR: #ffffff; OVERFLOW: hidden
}
#labelFeatures {
	POSITION: relative; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 100%; COLOR: #ffffff; OVERFLOW: hidden
}
#basicFeatures {
	POSITION: relative; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 100%; COLOR: #ffffff; OVERFLOW: hidden
}
#thumbFeatures {
	POSITION: relative; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 100%; COLOR: #ffffff; OVERFLOW: hidden
}
#demo IMG {
	BORDER-BOTTOM: blue 1px solid; BORDER-LEFT: blue 1px solid; WIDTH: 489px; DISPLAY: block; HEIGHT: 312px; BORDER-TOP: blue 1px solid; BORDER-RIGHT: blue 1px solid
}
.jshowoff H2 {
	
}
.jshowoff P {
	
}
.jshowoff P {
	LINE-HEIGHT: 15px; FONT-SIZE: 13px
}
P.vertodos {
	POSITION: absolute; PADDING-BOTTOM: 3px; MARGIN: 0px 0px 0px 373px; PADDING-LEFT: 23px; WIDTH: 77px; BACKGROUND: #304268; HEIGHT: 22px; COLOR: #fff; PADDING-TOP: 9px; TOP: 285px
}
.jshowoff P.jshowoff-slidelinks {
	POSITION: absolute; PADDING-BOTTOM: 3px; MARGIN: 0px 0px 0px 20px; WIDTH: 305px; BACKGROUND: #304268; PADDING-TOP: 3px; TOP: 285px
}
.jshowoff-slidelinks A {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 14px; MARGIN: 0px; OUTLINE-STYLE: none; PADDING-LEFT: 18px; PADDING-RIGHT: 18px; DISPLAY: block; BACKGROUND: url(/_layouts/3082/images/img/separadorcarrusel.gif) no-repeat right 50%; FLOAT: left; COLOR: #fff; FONT-SIZE: 11px; TEXT-DECORATION: none; PADDING-TOP: 10px
}
.jshowoff-controls A {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 14px; MARGIN: 0px; OUTLINE-STYLE: none; PADDING-LEFT: 18px; PADDING-RIGHT: 18px; DISPLAY: block; BACKGROUND: url(/_layouts/3082/images/img/separadorcarrusel.gif) no-repeat right 50%; FLOAT: left; COLOR: #fff; FONT-SIZE: 11px; TEXT-DECORATION: none; PADDING-TOP: 10px
}
.jshowoff-slidelinks A:hover {
	COLOR: #889fcd
}
.jshowoff-controls A:hover {
	COLOR: #889fcd
}
.jshowoff-slidelinks A.jshowoff-active {
	BACKGROUND-COLOR: #889fcd; COLOR: #000
}
.jshowoff-slidelinks A.jshowoff-active:hover {
	BACKGROUND-COLOR: #889fcd; COLOR: #000
}
.thumbFeatures P.jshowoff-slidelinks {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; BOTTOM: 0px; PADDING-RIGHT: 0px; BACKGROUND: #000; HEIGHT: 32px; RIGHT: 113px; PADDING-TOP: 5px
}
.thumbFeatures .jshowoff-slidelinks A {
	BORDER-BOTTOM: #4f4f4f 1px solid; BORDER-LEFT: #4f4f4f 1px solid; PADDING-BOTTOM: 0px; TEXT-INDENT: -10000em; MARGIN: 0px 5px 0px 0px; PADDING-LEFT: 0px; WIDTH: 60px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 30px; BORDER-TOP: #4f4f4f 1px solid; BORDER-RIGHT: #4f4f4f 1px solid; PADDING-TOP: 0px
}
.thumbFeatures .jshowoff-slidelinks A.jshowoff-active {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid
}
.contenido {
	LINE-HEIGHT: 18px; WIDTH: 74%; FONT-FAMILY: Arial; MARGIN-BOTTOM: 20px; FLOAT: left; MARGIN-LEFT: 7px; FONT-SIZE: 0.8em
}
.central A {
	COLOR: #4a5f8a; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.central A:hover {
	COLOR: #4a5f8a; TEXT-DECORATION: underline
}
.contenido .actualidad {
	MARGIN-BOTTOM: 30px
}
.contenido .actualidad A {
	FONT-WEIGHT: normal
}
.contenido .actualidad UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.contenido .actualidad UL LI {
	PADDING-LEFT: 10px; MARGIN-BOTTOM: 10px; BACKGROUND: url(/_layouts/3082/images/img/bulletgris.png) no-repeat 0px 6px
}
.contenido .directo {
	MARGIN-BOTTOM: 30px
}
.contenido .directo A {
	FONT-WEIGHT: normal
}
.contenido .directo .enlaces {
	WIDTH: 50%; MAX-WIDTH: 50%; FLOAT: left
}
.contenido .directo .enlaces UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.contenido .directo .enlaces UL LI {
	PADDING-LEFT: 10px; MARGIN-BOTTOM: 20px; BACKGROUND: url(/_layouts/3082/images/img/bulletgris.png) no-repeat left 6px
}
.contenido .directo .areas {
	WIDTH: 49%; MAX-WIDTH: 49%; FLOAT: left
}
.contenido .directo .areacolor {
	WIDTH: 25px; BACKGROUND: #999999; FLOAT: left; HEIGHT: 40px; MARGIN-RIGHT: 6px
}
.contenido .directo .area {
	BACKGROUND-COLOR: #f1f1f1; WIDTH: 91%; MARGIN-BOTTOM: 5px; FLOAT: left; HEIGHT: 40px
}
.contenido .directo .area P {
	PADDING-LEFT: 5px
}
.contenido .directo .areas DIV.area:hover {
	BACKGROUND-COLOR: #d9d9d9
}
.bordeNegro {
	BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-TOP: 1px solid; BORDER-RIGHT: 1px solid
}
.foto_izq {
	FLOAT: left; MARGIN-LEFT: 0px
}
.foto_izq IMG {
	BORDER-BOTTOM: #8598c2 1px solid; BORDER-LEFT: #8598c2 1px solid; PADDING-BOTTOM: 3px; MARGIN-TOP: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; MAX-WIDTH: 700px; BORDER-TOP: #8598c2 1px solid; BORDER-RIGHT: #8598c2 1px solid; PADDING-TOP: 3px
}
.prensa H3 {
	PADDING-BOTTOM: 1px; COLOR: #4a5f8a; FONT-SIZE: 1.1em
}
.prensa P {
	COLOR: #232323; MARGIN-LEFT: 15px
}
.fecha {
	COLOR: #666666 !important; FONT-SIZE: 0.9em
}
LI.notasprensa {
	BACKGROUND: url(/_layouts/3082/images/img/ico_novedades.png) no-repeat left 3px
}
LI.convocatorias {
	BACKGROUND: url(/_layouts/3082/images/img/ico_hoja.png) no-repeat left 2px
}
LI.noticiasdestacado {
	BACKGROUND: url(/_layouts/3082/images/img/ico_destacado.png) no-repeat left 1px
}
LI.notasprensa SPAN {
	PADDING-RIGHT: 10px; COLOR: #4a5f8a; FONT-WEIGHT: normal
}
LI.convocatorias SPAN {
	PADDING-RIGHT: 10px; COLOR: #4a5f8a; FONT-WEIGHT: normal
}
LI.noticiasdestacado SPAN {
	PADDING-RIGHT: 10px; COLOR: #4a5f8a; FONT-WEIGHT: normal
}
LI.notasprensa A {
	MARGIN-TOP: 10px; TEXT-DECORATION: none
}
LI.convocatorias A {
	MARGIN-TOP: 10px; TEXT-DECORATION: none
}
LI.noticiasdestacado A {
	MARGIN-TOP: 10px; TEXT-DECORATION: none
}
LI.notasprensa DIV.clear {
	MARGIN-BOTTOM: 10px; TEXT-DECORATION: none
}
LI.convocatorias DIV.clear {
	MARGIN-BOTTOM: 10px; TEXT-DECORATION: none
}
LI.noticiasdestacado DIV.clear {
	MARGIN-BOTTOM: 10px; TEXT-DECORATION: none
}
.listado_novedades LI {
	PADDING-BOTTOM: 5px; LIST-STYLE-TYPE: none; MARGIN-TOP: 4px; PADDING-LEFT: 20px; WIDTH: 100%; MARGIN-BOTTOM: 4px; BACKGROUND: url(/_layouts/3082/images/img/ico_novedades.png) no-repeat left 1px; FLOAT: left; CLEAR: both; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.listado_hojas LI {
	PADDING-BOTTOM: 5px; LIST-STYLE-TYPE: none; MARGIN-TOP: 4px; PADDING-LEFT: 20px; WIDTH: 100%; MARGIN-BOTTOM: 4px; BACKGROUND: url(/_layouts/3082/images/img/ico_hoja.png) no-repeat left 1px; FLOAT: left; CLEAR: both; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.listado_destacados LI {
	PADDING-BOTTOM: 5px; LIST-STYLE-TYPE: none; MARGIN-TOP: 4px; PADDING-LEFT: 20px; WIDTH: 100%; MARGIN-BOTTOM: 4px; BACKGROUND: url(/_layouts/3082/images/img/ico_destacado.png) no-repeat left 0px; FLOAT: left; CLEAR: both; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.titulo_enlaces {
	BACKGROUND-IMAGE: url(/_layouts/3082/images/img/ico_enlaces.png); PADDING-BOTTOM: 6px; PADDING-LEFT: 33px; BACKGROUND-REPEAT: no-repeat; PADDING-TOP: 5px
}
.listado_novedades LI SPAN {
	MARGIN-TOP: -4px; PADDING-RIGHT: 10px; COLOR: #666; FONT-WEIGHT: normal
}
.listado_hojas LI SPAN {
	MARGIN-TOP: -4px; PADDING-RIGHT: 10px; COLOR: #666; FONT-WEIGHT: normal
}
.listado_destacados LI SPAN {
	MARGIN-TOP: -4px; PADDING-RIGHT: 10px; COLOR: #666; FONT-WEIGHT: normal
}
.prensa_formulario {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #e9eef3; MARGIN: auto; PADDING-LEFT: 0px; WIDTH: 660px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.prensa_formulario_sup {
	BACKGROUND-IMAGE: url(/_layouts/3082/images/img/cuadro_radius_sup.png); WIDTH: 660px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 17px
}
.prensa_formulario_bajo {
	BACKGROUND-IMAGE: url(/_layouts/3082/images/img/cuadro_radius_bajo.png); WIDTH: 660px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 17px
}
.prensa_formulario FIELDSET {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-LEFT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; PADDING-TOP: 5px
}
.prensa_formulario SELECT {
	FONT-SIZE: 0.9em
}
.prensa_formulario_label {
	PADDING-BOTTOM: 3px; FONT-SIZE: 0.9em; PADDING-TOP: 8px
}
.columna_izq {
	PADDING-LEFT: 8px; WIDTH: 40%; FLOAT: left; COLOR: #4a5f8a; BORDER-RIGHT: #999 1px solid
}
.columna_der {
	WIDTH: 51%; PADDING-RIGHT: 8px; FLOAT: left; COLOR: #4a5f8a; VERTICAL-ALIGN: top
}
.columna_cent {
	WIDTH: 90%; PADDING-RIGHT: 8px; FLOAT: left; MARGIN-LEFT: 15px; VERTICAL-ALIGN: top
}
.bloqueform {
	WIDTH: 100%; MARGIN-BOTTOM: 15px; FLOAT: left
}
.bloqueform_gen {
	WIDTH: 100%; MARGIN-BOTTOM: 15px; FLOAT: left; COLOR: #4a5f8a
}
.bloqueform_gen LABEL {
	WIDTH: 100%; FLOAT: left
}
.bloqueform_gen INPUT {
	COLOR: black
}
.bloqueform_gen SELECT {
	COLOR: black
}
.peque INPUT {
	WIDTH: 30%; MAX-WIDTH: 30%
}
.mediano INPUT {
	WIDTH: 50%; MAX-WIDTH: 50%
}
.grande INPUT {
	WIDTH: 90%; MAX-WIDTH: 90%
}
INPUT.grande {
	WIDTH: 65%; MAX-WIDTH: 65%
}
INPUT.w_85 {
	WIDTH: 85%; MAX-WIDTH: 85%
}
INPUT.w_75 {
	WIDTH: 75%; MAX-WIDTH: 75%
}
.peque SELECT {
	WIDTH: 30%; MAX-WIDTH: 30%
}
.mediano SELECT {
	WIDTH: 50%; MAX-WIDTH: 50%
}
.grande SELECT {
	WIDTH: 90%; MAX-WIDTH: 90%
}
.grande TEXTAREA {
	WIDTH: 90%; MAX-WIDTH: 90%
}
.w_7 {
	WIDTH: 7em !important
}
.w_100 {
	WIDTH: 100%; MAX-WIDTH: 100%
}
.columna_cent H3 {
	MARGIN-TOP: 0px; COLOR: #4a5f8a
}
.bloqueform_izq {
	WIDTH: 48%; FLOAT: left
}
.bloqueform_der {
	WIDTH: 45%; FLOAT: left; MARGIN-RIGHT: 15px
}
.bloqueform_cent {
	WIDTH: 100%; MARGIN-BOTTOM: 8px; FLOAT: left; PADDING-TOP: 14px
}
.bloqueform_izq LABEL {
	MARGIN-BOTTOM: 5px; FLOAT: left; MARGIN-LEFT: 2px; CLEAR: both
}
.bloqueform_der LABEL {
	MARGIN-BOTTOM: 5px; FLOAT: left; MARGIN-LEFT: 2px; CLEAR: both
}
.bloqueform_izq SELECT {
	FLOAT: left; CLEAR: both
}
.bloqueform_der SELECT {
	FLOAT: left; CLEAR: both
}
.columna_izq .bloqueform {
	MARGIN-LEFT: 10px
}
.columna_der .bloqueform {
	MARGIN-LEFT: 35px
}
.botones_centrar {
	TEXT-ALIGN: right; MARGIN-RIGHT: 22px
}
INPUT.botonformulario {
	BORDER-BOTTOM: #c1c1c3 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #c1c1c3 1px solid; BACKGROUND-COLOR: #7f8082; COLOR: #fff; FONT-SIZE: 0.9em; BORDER-TOP: #c1c1c3 1px solid; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: #c1c1c3 1px solid
}
A.botonformulario {
	BORDER-BOTTOM: #c1c1c3 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #c1c1c3 1px solid; PADDING-BOTTOM: 1px; LINE-HEIGHT: 15px !important; BACKGROUND-COLOR: #7f8082; MARGIN-TOP: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; MARGIN-BOTTOM: 0px; COLOR: #fff !important; FONT-SIZE: 0.9em; BORDER-TOP: #c1c1c3 1px solid; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: #c1c1c3 1px solid; PADDING-TOP: 1px
}
INPUT.botonflotado {
	WIDTH: auto; FLOAT: left; MARGIN-LEFT: 5px
}
.bannersdestacados {
	MARGIN-TOP: 24px; WIDTH: 23%; PADDING-RIGHT: 3px; FONT-FAMILY: Arial; FLOAT: right; HEIGHT: 450px; COLOR: #4a5f8a; FONT-SIZE: 0.95em; MARGIN-RIGHT: auto
}
.bannersdestacados IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.bannersdestacados A {
	FONT-WEIGHT: normal
}
.bannersdestacados .buscador {
	BORDER-BOTTOM: #e1e8ee 4px solid; BORDER-LEFT: #e1e8ee 4px solid; WIDTH: 190px; MARGIN-BOTTOM: 12px; BACKGROUND: url(/_layouts/3082/images/img/fondbuscador.gif) no-repeat; FLOAT: right; HEIGHT: 63px; BORDER-TOP: #e1e8ee 4px solid; BORDER-RIGHT: #e1e8ee 4px solid
}
.bannersdestacados .social {
	BORDER-BOTTOM: #e1e8ee 4px solid; BORDER-LEFT: #e1e8ee 4px solid; WIDTH: 190px; BACKGROUND: url(/_layouts/3082/images/img/fondbloques.gif) no-repeat; FLOAT: right; HEIGHT: 63px; BORDER-TOP: #e1e8ee 4px solid; BORDER-RIGHT: #e1e8ee 4px solid
}
.bannersdestacados .bannerimg {
	WIDTH: 198px; FLOAT: right; HEIGHT: 170px
}
.bannersdestacados .bannerimg P {
	MARGIN-TOP: 12px
}
.bannersdestacados .bannerimg A {
	DISPLAY: block; MARGIN-BOTTOM: 12px
}
.bannersdestacados .sede IMG {
	MARGIN-TOP: 10px; FLOAT: left; MARGIN-LEFT: 10px
}
.bannersdestacados .sede P {
	TEXT-ALIGN: center; MARGIN: 0px; WIDTH: 50%; DISPLAY: block; FLOAT: left
}
.bannersdestacados .sede P SPAN.colortxt {
	COLOR: black
}
.bannersdestacados .social H2 {
	TEXT-ALIGN: center; MARGIN: 7px 0px 5px; FONT-SIZE: 1em; FONT-WEIGHT: normal
}
.bannersdestacados .social UL {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.bannersdestacados .social UL LI {
	PADDING-LEFT: 2px; PADDING-RIGHT: 4px; DISPLAY: inline
}
.bannersdestacados .ministro IMG {
	FLOAT: left
}
.bannersdestacados .ministro P {
	TEXT-ALIGN: center; MARGIN-TOP: 0px; WIDTH: 50%; DISPLAY: block; FLOAT: left; MARGIN-LEFT: 0px
}
.bannersdestacados .ministro P SPAN.txtministro {
	FONT-SIZE: 1.1em; FONT-WEIGHT: bold
}
.buscador FIELDSET {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #384674; FONT-SIZE: 0.95em; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 7px
}
.buscador LABEL {
	TEXT-ALIGN: center; WIDTH: 100%; FLOAT: left; MARGIN-LEFT: -5px; CLEAR: both
}
.buscador .buscar {
	PADDING-LEFT: 7px; HEIGHT: 45px
}
.buscador P {
	TEXT-ALIGN: center; LINE-HEIGHT: 18px; MARGIN: 5px 0px 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #384674; FONT-SIZE: 0.9em; TEXT-DECORATION: none
}
A {
	TEXT-ALIGN: center; LINE-HEIGHT: 18px; MARGIN: 5px 0px 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #384674; FONT-SIZE: 0.9em; TEXT-DECORATION: none
}
.buscador .input_text {
	WIDTH: 129px; PADDING-TOP: 10px
}
.buscador .input_text {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 15px; MARGIN: 0px; PADDING-LEFT: 8px; BACKGROUND: url(/_layouts/3082/images/img/cajabuscador.png) no-repeat 0px 0px; FLOAT: left; COLOR: #515151; FONT-SIZE: 1em; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 13px
}
.buscador INPUT {
	MARGIN: 0px
}
.defaultTextActive {
	COLOR: #515151
}
INPUT {
	FONT-FAMILY: sans-serif; FONT-SIZE: 1em; VERTICAL-ALIGN: middle
}
TEXTAREA {
	FONT-FAMILY: Arial
}
SELECT {
	FONT-FAMILY: Arial
}
.buscador .input_submit {
	BORDER-BOTTOM: #4d4d4d 0px solid; BORDER-LEFT: #4d4d4d 0px solid; PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 36px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND: url(/_layouts/3082/images/img/botonbuscador.png) 0px 0px; FLOAT: left !important; HEIGHT: 35px; BORDER-TOP: #4d4d4d 0px solid; CURSOR: pointer; BORDER-RIGHT: #4d4d4d 0px solid; PADDING-TOP: 0px
}
.buscador INPUT {
	MARGIN: 0px
}
INPUT {
	FONT-FAMILY: sans-serif; FONT-SIZE: 1em; VERTICAL-ALIGN: middle
}
.bloquetablas {
	MARGIN-TOP: -90px !important; MIN-HEIGHT: 200px
}
.tablas {
	MARGIN-BOTTOM: 170px !important; FONT-SIZE: 0.65em
}
.bloquebanners {
	WIDTH: 975px; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.bloquetablas {
	WIDTH: 975px; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.tablas {
	BORDER-BOTTOM: #e4e4e4 2px solid; BORDER-LEFT: #e4e4e4 2px solid; MARGIN: 2px 2px 85px; WIDTH: 100%; BACKGROUND: #f5f5f5; FLOAT: left; BORDER-TOP: #e4e4e4 2px solid; BORDER-RIGHT: #e4e4e4 2px solid
}
.banners {
	BORDER-BOTTOM: #e4e4e4 2px solid; BORDER-LEFT: #e4e4e4 2px solid; MARGIN: -170px 2px 85px; WIDTH: 99%; BACKGROUND: #f5f5f5; FLOAT: left; BORDER-TOP: #e4e4e4 2px solid; BORDER-RIGHT: #e4e4e4 2px solid
}
.banners .ministeriales {
	MIN-HEIGHT: 8em; WIDTH: 495px; FLOAT: left; MARGIN-LEFT: 2px; BORDER-RIGHT: #e4e4e4 15px solid
}
.banners .ministeriales P {
	MARGIN-TOP: 25px; MARGIN-LEFT: 15px
}
.banners .ministeriales IMG {
	BORDER-BOTTOM: #b7b6b6 1px solid; BORDER-LEFT: #b7b6b6 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 6px; BORDER-TOP: #b7b6b6 1px solid; BORDER-RIGHT: #b7b6b6 1px solid; PADDING-TOP: 5px
}
.banners .institucionales {
	MIN-HEIGHT: 8em; WIDTH: 960px; FLOAT: left; HEIGHT: auto; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.banners .institucionales P {
	MARGIN-TOP: 42px; MARGIN-LEFT: 19px; MARGIN-RIGHT: 19px
}
.banners .institucionales IMG {
	BORDER-BOTTOM: #b7b6b6 1px solid; BORDER-LEFT: #b7b6b6 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 4px; BORDER-TOP: #b7b6b6 1px solid; BORDER-RIGHT: #b7b6b6 1px solid; PADDING-TOP: 5px
}
.banners .institucionales A {
	MARGIN-LEFT: 3px; MARGIN-RIGHT: 3px
}
.bannersdestacados .calendario {
	BORDER-BOTTOM: #e1e8ee 4px solid; BORDER-LEFT: #e1e8ee 4px solid; WIDTH: 190px; MARGIN-BOTTOM: 12px; FLOAT: right; BORDER-TOP: #e1e8ee 4px solid; BORDER-RIGHT: #e1e8ee 4px solid
}
DIV.calendario H2 {
	TEXT-ALIGN: center; WIDTH: 100%; FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 7px; FLOAT: left; COLOR: #384674; MARGIN-LEFT: 0px; CLEAR: both; FONT-SIZE: 0.95em; FONT-WEIGHT: normal
}
DIV.calendario TABLE.tabCalendario {
	BORDER-BOTTOM: #dfe0e5 1px; BORDER-LEFT: #dfe0e5 1px; MARGIN: 5px; WIDTH: 95%; BACKGROUND: url(/_layouts/3082/images/img/calendarioSombra.png) no-repeat; HEIGHT: 82%; FONT-SIZE: 0.75em; BORDER-TOP: #dfe0e5 1px; BORDER-RIGHT: #dfe0e5 1px
}
DIV.calendario TD.quitaborde {
	BORDER-RIGHT-WIDTH: 0px !important; BORDER-TOP-WIDTH: 0px !important; BORDER-BOTTOM-WIDTH: 0px !important; BORDER-LEFT-WIDTH: 0px !important
}
DIV.calendario TABLE.tabCalendario TR {
	BORDER-LEFT: #eaeef1 1px solid; BORDER-TOP: #dfe1e5 1px solid; BORDER-RIGHT: #eff0f2 1px solid
}
DIV.calendario TABLE.tabCalendario TD {
	BORDER-BOTTOM: #ededef 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ededef 1px solid; BORDER-TOP: #ededef 1px solid; BORDER-RIGHT: #ededef 1px solid
}
DIV.calendario TABLE.tabCalendario TD A {
	TEXT-ALIGN: center; COLOR: #6d371f; FONT-SIZE: 1em; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
DIV.calendario TABLE.tabCalendario TD DIV {
	BORDER-BOTTOM: #e2e6eb 1px solid; FONT-SIZE: 1.2em
}
DIV.calendario TABLE.tabCalendario TD.diaActual {
	BORDER-BOTTOM-COLOR: #cdd0d6; BORDER-TOP-COLOR: #cdd0d6; BACKGROUND: #d8dfe5; BORDER-RIGHT-COLOR: #cdd0d6; BORDER-LEFT-COLOR: #cdd0d6
}
DIV.calendario TABLE.bloqueMes TD {
	TEXT-ALIGN: center; WIDTH: 50% !important; COLOR: #6d7692; FONT-SIZE: 1.05em; FONT-WEIGHT: bold
}
DIV.calendario TABLE.bloqueMes TD.meses {
	WIDTH: 50px !important; DISPLAY: block; COLOR: #6d7692 !important; MARGIN-LEFT: 2px; FONT-SIZE: 0.95em
}
DIV.calendario TABLE.bloqueMes TD.meses A {
	COLOR: #6d7692 !important; TEXT-DECORATION: none
}
DIV.calendario TABLE.bloqueMes TD.meses A:hover {
	TEXT-DECORATION: underline
}
DIV.calendario TABLE.bloqueMes TD.ant {
	TEXT-ALIGN: left
}
DIV.calendario TABLE.bloqueMes TD.sig {
	TEXT-ALIGN: right
}
DIV.calendario TABLE.bloqueMes A IMG {
	MARGIN-LEFT: 2px; MARGIN-RIGHT: 2px
}
DIV.calendario TABLE.tabCalendario TABLE.bloqueMes TR {
	BORDER-LEFT: #eeeff2 1px solid; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP: #dde1e7 1px solid; BORDER-RIGHT: #eeeff2 1px solid
}
DIV.calendario TABLE.tabCalendario TABLE.bloqueMes TD {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
DIV.calendario TABLE.tabCalendario TD.semana {
	BORDER-BOTTOM: #dedfe3 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #f3f4f5 1px solid; TEXT-TRANSFORM: uppercase; HEIGHT: 22px; COLOR: #4a5f8a; FONT-SIZE: 1.05em; BORDER-TOP: #f3f4f5 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #f3f4f5 1px solid
}
DIV.calendario TABLE TD {
	BORDER-BOTTOM-COLOR: #ecedef; BORDER-TOP-COLOR: #ecedef; WIDTH: 18px; HEIGHT: 18px; BORDER-RIGHT-COLOR: #ecedef; BORDER-LEFT-COLOR: #ecedef
}
DIV.calendario TABLE .oculta {
	DISPLAY: none
}
DIV.calendario TABLE TD.vacia {
	BORDER-BOTTOM-COLOR: #dfdfdf; BORDER-TOP-COLOR: #dfdfdf; BACKGROUND: #dfdfdf; COLOR: #bfbfbf; BORDER-RIGHT-COLOR: #dfdfdf; BORDER-LEFT-COLOR: #dfdfdf
}
DIV.calendario TABLE TD.finde {
	BORDER-BOTTOM-COLOR: #e8e8e8; BORDER-TOP-COLOR: #e8e8e8; BACKGROUND: #f2f1ee; BORDER-RIGHT-COLOR: #e8e8e8; BORDER-LEFT-COLOR: #e8e8e8
}
DIV.calendario TABLE TD.anio {
	BORDER-BOTTOM: #eaeff3 1px solid; TEXT-ALIGN: center; BACKGROUND: #6885c0; COLOR: #fff; FONT-SIZE: 1.3em
}
.pie {
	POSITION: absolute; WIDTH: 100%; BOTTOM: 0px; DISPLAY: block !important; BACKGROUND: #535354
}
.pie .listados {
	POSITION: relative; PADDING-BOTTOM: 3px; MARGIN: auto; PADDING-LEFT: 0px; WIDTH: 990px; PADDING-RIGHT: 0px; BACKGROUND: #535354; COLOR: #fff; CLEAR: both; FONT-SIZE: 90%; OVERFLOW: auto; PADDING-TOP: 3px
}
.pie IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.pie .listados .iconosacc {
	WIDTH: 440px; BACKGROUND: #535354; FLOAT: left; HEIGHT: 80px
}
.pie .listados .iconosacc UL {
	PADDING-BOTTOM: 0px; MARGIN: 35px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: right; PADDING-TOP: 0px
}
.pie .listados .iconosacc UL LI {
	LIST-STYLE-TYPE: none; DISPLAY: inline
}
.pie .listados .textos {
	WIDTH: 550px; BACKGROUND: #535354; FLOAT: left; HEIGHT: 80px
}
.pie .listados .textos A {
	COLOR: #ffffff
}
.pie .listados .textos A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.pie .listados .textos UL {
	PADDING-BOTTOM: 0px; MARGIN: 8px 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.pie .listados .textos UL LI {
	LIST-STYLE-TYPE: none; PADDING-RIGHT: 10px; DISPLAY: inline; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ffffff; MARGIN-LEFT: 2px; FONT-SIZE: 0.7em; MARGIN-RIGHT: 9px; BORDER-RIGHT: #ffffff 1px solid
}
.pie .listados .textos LI.ultimotextos {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.cabecera {
	POSITION: relative; DISPLAY: inline; FLOAT: left
}
.pie {
	POSITION: relative; DISPLAY: inline; FLOAT: left
}
.grislista2 {
	COLOR: #666666 !important; FONT-SIZE: 0.9em
}
.grislista {
	FLOAT: left; FONT-SIZE: 0.9em
}
.enlaceslista {
	TEXT-ALIGN: left; MARGIN-TOP: -4px; WIDTH: 85%; DISPLAY: block; FLOAT: left
}
.contenido UL LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 15px; MARGIN-BOTTOM: 5px; BACKGROUND: url(/_layouts/3082/images/img/bullet_lista_n1.gif) no-repeat left 4px
}
.contenido OL LI {
	LIST-STYLE-TYPE: decimal !important; BACKGROUND: none transparent scroll repeat 0% 0%
}
.contenido UL LI UL LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 15px; MARGIN-BOTTOM: 5px; BACKGROUND: url(/_layouts/3082/images/img/bullet_lista_n2.gif) no-repeat left 4px
}
.contenido OL LI OL LI {
	LIST-STYLE-TYPE: decimal !important; BACKGROUND: none transparent scroll repeat 0% 0%
}
.espacioarriba {
	MARGIN-TOP: 20px !important
}
.espacioabajo {
	MARGIN-BOTTOM: 20px !important
}
.manocursor {
	CURSOR: pointer
}
.punterocursor {
	CURSOR: default
}
.w_135 {
	WIDTH: 135px
}
.centrar {
	TEXT-ALIGN: center
}
.h_80 {
	HEIGHT: 80px
}
.h_300 {
	HEIGHT: 300px
}
.txtrojo {
	COLOR: #840b13 !important
}
.quitafloat {
	FLOAT: none !important
}
SPAN.contquitafloat LABEL {
	FLOAT: none !important
}
.floatderecha {
	FLOAT: right
}
.floatizq {
	FLOAT: left !important
}
.w_90 {
	WIDTH: 90%
}
.alineavertical {
	VERTICAL-ALIGN: middle
}
.botonbuscar A {
	BORDER-BOTTOM: #ededed 1px solid; BORDER-LEFT: #ededed 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #e1e8ee; BORDER-TOP: #ededed 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ededed 1px solid; PADDING-TOP: 10px
}
.bloque {
	DISPLAY: block
}
.margenTop {
	MARGIN-TOP: 10px
}
.margensub5 {
	MARGIN-BOTTOM: 5px
}
.nomargensup {
	MARGIN-TOP: 0px
}
.txtazul {
	COLOR: #4a5f8a
}
.w_200 {
	WIDTH: 200px
}
.w_30 {
	WIDTH: 30px
}
.w_400 {
	WIDTH: 400px
}
.w_500 {
	WIDTH: 500px
}
.w_240 {
	WIDTH: 240px
}
.margender10 {
	MARGIN-RIGHT: 10px
}
.ancho5 {
	WIDTH: 5em
}
.negrita {
	FONT-WEIGHT: bold
}
.nowrap {
	WHITE-SPACE: nowrap
}
.clear {
	WIDTH: 0px; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; OVERFLOW: hidden
}
.clearfix:before {
	WIDTH: 0px; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; OVERFLOW: hidden; CONTENT: ' '
}
.clearfix:after {
	WIDTH: 0px; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; OVERFLOW: hidden; CONTENT: ' '
}
.chekanios {
	WIDTH: 60%; MAX-WIDTH: 60%; FONT-SIZE: 0.85em
}
.chekanios UL LI {
	PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 40px; LIST-STYLE-TYPE: none !important; MARGIN: 0px 30px 0px 0px; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; DISPLAY: block; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-TOP: 0px !important
}
.chekanios LABEL {
	DISPLAY: inline
}
.busqueda_avanzada {
	BORDER-BOTTOM: #d2dada 1px solid; BORDER-LEFT: #d2dada 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 97%; PADDING-RIGHT: 10px; BACKGROUND: #e8eff4; FLOAT: left; BORDER-TOP: #d2dada 1px solid; BORDER-RIGHT: #d2dada 1px solid; PADDING-TOP: 10px
}
.buscador_resoluciones {
	BORDER-BOTTOM: #d2dada 1px solid; BORDER-LEFT: #d2dada 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 97%; PADDING-RIGHT: 10px; BACKGROUND: #e8eff4; FLOAT: left; BORDER-TOP: #d2dada 1px solid; BORDER-RIGHT: #d2dada 1px solid; PADDING-TOP: 10px
}
.busqueda_normativa {
	BORDER-BOTTOM: #d2dada 1px solid; BORDER-LEFT: #d2dada 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 97%; PADDING-RIGHT: 10px; BACKGROUND: #e8eff4; FLOAT: left; BORDER-TOP: #d2dada 1px solid; BORDER-RIGHT: #d2dada 1px solid; PADDING-TOP: 10px
}
.busqueda_subastaConcurso {
	BORDER-BOTTOM: #d2dada 1px solid; BORDER-LEFT: #d2dada 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 97%; PADDING-RIGHT: 10px; BACKGROUND: #e8eff4; FLOAT: left; BORDER-TOP: #d2dada 1px solid; BORDER-RIGHT: #d2dada 1px solid; PADDING-TOP: 10px
}
.busqueda_normativa LABEL {
	WIDTH: 100%; DISPLAY: block; COLOR: #4a5f8a
}
.busqueda_normativa INPUT {
	DISPLAY: block
}
.buscador_resoluciones {
	PADDING-TOP: 15px
}
INPUT.buscanormativa {
	WIDTH: 99.2%; MARGIN-BOTTOM: 10px
}
.buscador_resoluciones_resultados {
	BORDER-BOTTOM: #e1e8ee 4px solid; BORDER-LEFT: #e1e8ee 4px solid; PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BORDER-TOP: #e1e8ee 4px solid; BORDER-RIGHT: #e1e8ee 4px solid; PADDING-TOP: 20px
}
.buscador_resoluciones_resultados H3 {
	COLOR: #4a5f8a
}
.buscador_resoluciones_resultados P {
	COLOR: #4a5f8a
}
.buscador_resoluciones_resultados UL.listaResultadoBusqueda {
	FONT-SIZE: 0.9em
}
.buscador_resoluciones_resultados UL.listaResultadoBusqueda A {
	FONT-SIZE: 1.1em
}
.buscador_resoluciones FIELDSET {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.directorio FIELDSET {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.buscador_resoluciones SELECT {
	BORDER-BOTTOM: #bec7ce 1px solid; BORDER-LEFT: #bec7ce 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; COLOR: black; BORDER-TOP: #bec7ce 1px solid; BORDER-RIGHT: #bec7ce 1px solid; PADDING-TOP: 2px
}
.buscador_resoluciones INPUT {
	BORDER-BOTTOM: #bec7ce 1px solid; BORDER-LEFT: #bec7ce 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; COLOR: black; BORDER-TOP: #bec7ce 1px solid; BORDER-RIGHT: #bec7ce 1px solid; PADDING-TOP: 2px
}
.directorio SELECT {
	BORDER-BOTTOM: #bec7ce 1px solid; BORDER-LEFT: #bec7ce 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; COLOR: black; BORDER-TOP: #bec7ce 1px solid; BORDER-RIGHT: #bec7ce 1px solid; PADDING-TOP: 2px
}
.directorio SELECT {
	MARGIN-TOP: 10px
}
.buscador_resoluciones SELECT {
	WIDTH: 325px
}
DIV.labelresoluciones {
	WIDTH: 180px; MAX-WIDTH: 180px; MARGIN-BOTTOM: 20px; FLOAT: left; COLOR: #4a5f8a
}
.buscador_resoluciones INPUT.botonformulario {
	COLOR: white
}
INPUT.buscaresolucion {
	WIDTH: 325px
}
.busqueda_avanzada LEGEND {
	MARGIN-BOTTOM: 5px; COLOR: #4a5f8a; FONT-WEIGHT: bold
}
.introtext {
	MARGIN-BOTTOM: 20px; MARGIN-LEFT: 5px
}
.busqueda_avanzada INPUT.botonformulario {
	MARGIN-RIGHT: 2px
}
.buscadorgoogle {
	BORDER-BOTTOM: #d2dada 1px solid; BORDER-LEFT: #d2dada 1px solid; PADDING-LEFT: 20px; WIDTH: 94.5%; PADDING-RIGHT: 20px; BACKGROUND: #e8eff4; FLOAT: left; BORDER-TOP: #d2dada 1px solid; BORDER-RIGHT: #d2dada 1px solid
}
.directorio {
	BORDER-BOTTOM: #d2dada 1px solid; BORDER-LEFT: #d2dada 1px solid; PADDING-LEFT: 20px; WIDTH: 94.5%; PADDING-RIGHT: 20px; BACKGROUND: #e8eff4; FLOAT: left; BORDER-TOP: #d2dada 1px solid; BORDER-RIGHT: #d2dada 1px solid
}
.buscadorgoogle P.botonbuscar {
	MARGIN-TOP: 12px
}
.buscadorgoogle P.botonbuscar A {
	BORDER-BOTTOM: #c1c1c3 1px solid; BORDER-LEFT: #c1c1c3 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #7f8082; COLOR: white; BORDER-TOP: #c1c1c3 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #c1c1c3 1px solid; PADDING-TOP: 5px
}
.busqueda_avanzada P {
	COLOR: #4a5f8a
}
.buscadorgoogle LABEL {
	DISPLAY: block; FLOAT: left; COLOR: #4a5f8a
}
.directorio LABEL {
	DISPLAY: block; FLOAT: left; COLOR: #4a5f8a
}
.buscadorgoogle LABEL SPAN {
	FLOAT: left
}
.buscadorgoogle IMG {
	MARGIN-TOP: 4px; FLOAT: left; MARGIN-LEFT: 8px; MARGIN-RIGHT: 8px
}
.buscadorgoogle FIELDSET {
	BORDER-BOTTOM: #bec7ce 0px solid; BORDER-LEFT: #bec7ce 0px solid; PADDING-BOTTOM: 0px; MARGIN-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-LEFT: 0px; BORDER-TOP: #bec7ce 0px solid; BORDER-RIGHT: #bec7ce 0px solid; PADDING-TOP: 0px
}
INPUT.buscarengoogle {
	WIDTH: 99.5%; COLOR: black
}
.busqueda_avanzada FIELDSET {
	BORDER-BOTTOM: #bec7ce 0px solid; BORDER-LEFT: #bec7ce 0px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 20px; BORDER-TOP: #bec7ce 0px solid; BORDER-RIGHT: #bec7ce 0px solid; PADDING-TOP: 0px
}
.buscadorgoogle INPUT.botonformulario {
	FLOAT: right
}
.buscadorgoogle P A {
	TEXT-DECORATION: underline
}
.breaker_resultados {
	DISPLAY: block; CLEAR: both
}
.partirlinea {
	WIDTH: 100%; DISPLAY: block; CLEAR: both
}
.resultadoComentario {
	FONT-STYLE: italic; MARGIN-TOP: 5px; DISPLAY: block; WORD-WRAP: break-word; COLOR: #333333
}
.rel {
	MARGIN-TOP: 10px; DISPLAY: block; COLOR: #4a5f8a; FONT-SIZE: 0.9em
}
UL.listaResultadoBusqueda LI {
	MARGIN-BOTTOM: 20px !important
}
.busquedanav {
	MARGIN-TOP: 30px; FONT-SIZE: 0.9em; BORDER-TOP: #e5e5e5 1px solid
}
.busquedanav P {
	MARGIN: 4px
}
P.resultadosir {
	MARGIN-TOP: 10px
}
P.resultadosir A {
	FONT-SIZE: 1em; TEXT-DECORATION: none
}
.buscadocs {
	BORDER-BOTTOM: #bec7ce 1px solid; BORDER-LEFT: #bec7ce 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 97%; PADDING-RIGHT: 10px; FLOAT: left; BORDER-TOP: #bec7ce 1px solid; BORDER-RIGHT: #bec7ce 1px solid; PADDING-TOP: 10px
}
.buscadocs LABEL {
	COLOR: black !important
}
.buscadocs .introdatos INPUT {
	BORDER-BOTTOM: #bec7ce 1px solid; BORDER-LEFT: #bec7ce 1px solid; WIDTH: 120px; BORDER-TOP: #bec7ce 1px solid; BORDER-RIGHT: #bec7ce 1px solid
}
.buscadocs .introdatos LABEL {
	WIDTH: 20%; DISPLAY: block; MAX-WIDTH: 20%; FLOAT: left
}
.busqueda_avanzada LABEL {
	COLOR: #4a5f8a
}
.empleo {
	PADDING-BOTTOM: 10px !important; PADDING-LEFT: 10px !important; WIDTH: 45%; PADDING-RIGHT: 10px !important; PADDING-TOP: 10px !important
}
.empleo LEGEND {
	COLOR: #4a5f8a; FONT-WEIGHT: bold
}
.empleo FIELDSET {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.empleo SELECT {
	BORDER-BOTTOM: #e1e8ee 2px solid; BORDER-LEFT: #e1e8ee 2px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BORDER-TOP: #e1e8ee 2px solid; BORDER-RIGHT: #e1e8ee 2px solid; PADDING-TOP: 3px
}
.buscar_empleo {
	WIDTH: 48.8%
}
.rss_empleo {
	MARGIN-TOP: 40px
}
.rss_empleo IMG {
	FLOAT: left
}
.rss_empleo A {
	MARGIN-TOP: 2px; FLOAT: left
}
OL.olEncuesta {
	MARGIN-LEFT: -10px
}
OL.olEncuesta LI {
	LIST-STYLE-TYPE: none !important; MARGIN-TOP: 18px; WIDTH: 100%; FLOAT: left; PADDING-TOP: 0px
}
OL.olEncuesta LI UL LI {
	LIST-STYLE-TYPE: none !important; MARGIN-TOP: 0px !important
}
OL.olEncuesta FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 0px; WIDTH: 96%; DISPLAY: block; FLOAT: right; PADDING-TOP: 0px
}
OL.olEncuesta LEGEND {
	MARGIN-BOTTOM: 15px
}
UL.ulEncuesta {
	BORDER-BOTTOM: #e1e8ee 1px solid; BORDER-LEFT: #e1e8ee 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 5px; WIDTH: 95%; BACKGROUND: #e8eff4; FLOAT: left; BORDER-TOP: #e1e8ee 1px solid; BORDER-RIGHT: #e1e8ee 1px solid; PADDING-TOP: 10px
}
.ulEncuesta LI {
	MARGIN-BOTTOM: 10px !important; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; CLEAR: both
}
.ulEncuesta LI INPUT {
	FLOAT: left; COLOR: black
}
.ulEncuesta LI LABEL {
	MARGIN-TOP: 2px; FLOAT: left
}
.ulEncuesta LI SPAN {
	MARGIN-LEFT: 23px; MARGIN-RIGHT: 10px
}
UL.ulEncuesta LI UL {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0px
}
UL.ulEncuesta LI UL LI {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0px
}
SPAN.titpregunta {
	MARGIN-BOTTOM: 5px; FLOAT: left; MARGIN-LEFT: 5px !important; FONT-WEIGHT: bold
}
.ulEncuestacajaTexto {
	BORDER-BOTTOM: #a5acb2 1px solid; BORDER-LEFT: #a5acb2 1px solid; FONT-FAMILY: verdana, arial, helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 8pt; BORDER-TOP: #a5acb2 1px solid; BORDER-RIGHT: #a5acb2 1px solid
}
.ulEncuesta TEXTAREA {
	WIDTH: 90%
}
.enviar_encuesta {
	MARGIN-TOP: 10px; WIDTH: 95%; MARGIN-BOTTOM: 30px
}
.encuesta {
	PADDING-TOP: 0px !important
}
.fechacontratante {
	TEXT-ALIGN: right; WIDTH: 180px; PADDING-RIGHT: 10px; MAX-WIDTH: 170px; MARGIN-BOTTOM: 20px; FLOAT: left; COLOR: #4a5f8a
}
.datosusuario {
	PADDING-LEFT: 30px !important; WIDTH: 94%
}
.datosusuario P {
	COLOR: #4a5f8a
}
.datosusuario SPAN {
	MARGIN-LEFT: 5px; FONT-SIZE: 1.1em; FONT-WEIGHT: bold
}
.datosusuario INPUT {
	MARGIN-RIGHT: 10px
}
.suscripciones_usuario {
	PADDING-LEFT: 30px !important; WIDTH: 94%
}
.suscripciones_usuario P {
	LINE-HEIGHT: 15px; MARGIN-TOP: 2px; MARGIN-BOTTOM: 2px; COLOR: #4a5f8a
}
TABLE.suscripciones {
	BORDER-BOTTOM: #d2dada 2px solid; BORDER-LEFT: #d2dada 2px solid; BORDER-TOP: #d2dada 2px solid; BORDER-RIGHT: #d2dada 2px solid
}
.suscripciones TD {
	BORDER-BOTTOM: white 1px solid; TEXT-ALIGN: center; BORDER-LEFT: white 1px solid; BORDER-TOP: white 1px solid; BORDER-RIGHT: white 1px solid
}
.suscripciones TH {
	TEXT-ALIGN: center; WIDTH: 80px; MAX-WIDTH: 80px
}
.suscripciones TD {
	TEXT-ALIGN: center; WIDTH: 80px; MAX-WIDTH: 80px
}
.suscripciones TH.primero {
	TEXT-ALIGN: left; WIDTH: 300px; MAX-WIDTH: 300px
}
.suscripcioneshijo {
	WIDTH: 100%
}
.suscripcioneshijo {
	MARGIN-LEFT: 0px
}
.nopadding {
	PADDING-BOTTOM: 0px !important; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; PADDING-TOP: 0px !important
}
TD.tiposuscripcion {
	TEXT-ALIGN: left; PADDING-LEFT: 50px !important; WIDTH: 255px; MAX-WIDTH: 255px; BACKGROUND: url(/_layouts/3082/images/img/bullet_lista_n1.gif) no-repeat 35px 50%
}
.suscripcion {
	TEXT-ALIGN: left !important
}
TABLE.suscripciones INPUT {
	PADDING-BOTTOM: 0px !important; MARGIN: 0px; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; PADDING-TOP: 0px !important
}
TD.suscripcion {
	WIDTH: 300px
}
A.botonversuscrip {
	TEXT-DECORATION: none !important
}
A.botonvercontenido {
	TEXT-DECORATION: none !important
}
.maparea IMG {
	BORDER-BOTTOM: #d2dada 1px solid; BORDER-LEFT: #d2dada 1px solid; BORDER-TOP: #d2dada 1px solid; BORDER-RIGHT: #d2dada 1px solid
}
.maparea {
	TEXT-ALIGN: center
}
.capavideo {
	BORDER-BOTTOM: #e0e0e0 1px solid; BORDER-LEFT: #e0e0e0 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 100%; PADDING-RIGHT: 2px; BACKGROUND: #e8eff4; BORDER-TOP: #e0e0e0 1px solid; BORDER-RIGHT: #e0e0e0 1px solid; PADDING-TOP: 2px
}
.contenidoVideo {
	MARGIN: auto; WIDTH: 660px
}
.contenedorVideo {
	MARGIN: auto; WIDTH: 660px
}
.contenidoVideo H3 {
	COLOR: #4a5f8a
}
.contenido .listado_desplegable UL LI {
	MARGIN-BOTTOM: 15px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.contenido .listado_desplegable UL LI.sinImagen {
	BACKGROUND: url(/_layouts/3082/images/img/bullet_lista_n1.gif) no-repeat left 4px; MARGIN-LEFT: 15px
}
UL.listawebmap LI UL {
	MARGIN-TOP: 10px
}
.inidesplegar {
	PADDING-LEFT: 30px
}
.expan {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 15px; WIDTH: 35.5%; PADDING-RIGHT: 5px; MARGIN-BOTTOM: 15px; BACKGROUND: #e1e8ee; PADDING-TOP: 5px
}
.expan P {
	MARGIN: 0px
}
.expandirtodo {
	PADDING-RIGHT: 15px; BORDER-RIGHT: #4a5f8a 2px solid
}
.cerrartodo {
	PADDING-LEFT: 15px
}
A.desplegar IMG {
	MARGIN-RIGHT: 2px
}
.posicionhome {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 5px; MARGIN: 10px 4px 4px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 5px
}
.posicionhome SELECT {
	BORDER-BOTTOM: #e1e8ee 2px solid; TEXT-ALIGN: center; BORDER-LEFT: #e1e8ee 2px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; COLOR: #4a5f8a; BORDER-TOP: #e1e8ee 2px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #e1e8ee 2px solid; PADDING-TOP: 3px
}
.contenedor_ficha {
	BORDER-BOTTOM: #e1e8ee 2px solid; BORDER-LEFT: #e1e8ee 2px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f8fafa; MARGIN: 1em 0px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #e1e8ee 2px solid; BORDER-RIGHT: #e1e8ee 2px solid; PADDING-TOP: 10px
}
.listaDT {
	BORDER-BOTTOM: #ededed 1px solid; BORDER-LEFT: #ededed 1px solid; PADDING-BOTTOM: 10px; MARGIN: 6px; PADDING-LEFT: 6px; WIDTH: 95%; PADDING-RIGHT: 10px; BACKGROUND: #e9eef3; COLOR: #4a5f8a; BORDER-TOP: #ededed 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ededed 1px solid; PADDING-TOP: 10px
}
.contenedor_ficha UL LI {
	MARGIN-BOTTOM: 3px
}
.contenedor_ficha_verinfo {
	BORDER-BOTTOM: #d2dada 1px solid; BORDER-LEFT: #d2dada 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #e8eff4; BORDER-TOP: #d2dada 1px solid; BORDER-RIGHT: #d2dada 1px solid; PADDING-TOP: 5px
}
.verinfo_h3 {
	TEXT-TRANSFORM: uppercase; MARGIN-TOP: 3em; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #4a5f8a
}
.detalle_tablaH3 {
	TEXT-TRANSFORM: uppercase; PADDING-LEFT: 2.2em; BACKGROUND: url(/_layouts/3082/images/img/ico_tabla.gif) no-repeat left center; COLOR: #4a5f8a
}
.detalle_usuariotablaH3 {
	PADDING-BOTTOM: 1px; TEXT-TRANSFORM: uppercase; MARGIN-TOP: 0em; PADDING-LEFT: 2.2em; BACKGROUND: url(/_layouts/3082/images/img/ico_tabla.gif) no-repeat left center; COLOR: #4a5f8a
}
.detalle2_tablaH3 {
	TEXT-TRANSFORM: uppercase; MARGIN-TOP: 3em; PADDING-LEFT: 0em; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #4a5f8a
}
.detalle2_tablaH3 IMG {
	MARGIN-RIGHT: 8px
}
.txtminuscula {
	TEXT-TRANSFORM: none
}
.anotaciones {
	PADDING-BOTTOM: 5px; FONT-STYLE: oblique; MARGIN-TOP: 15px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #015481; PADDING-TOP: 5px
}
.listaDD {
	TEXT-ALIGN: justify; WIDTH: 92%
}
.tablaDD {
	TEXT-ALIGN: justify; WIDTH: 97.5%; MARGIN-LEFT: 6px
}
.seccion_formulario {
	BORDER-BOTTOM: #e1e8ee 4px solid; BORDER-LEFT: #e1e8ee 4px solid; PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BORDER-TOP: #e1e8ee 4px solid; BORDER-RIGHT: #e1e8ee 4px solid; PADDING-TOP: 20px
}
.seccion_formulario LEGEND {
	COLOR: #4a5f8a; FONT-WEIGHT: bold
}
.seccion_formulario FIELDSET {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.seccion_formulario P {
	COLOR: #4a5f8a
}
.seccion_formulario A {
	COLOR: #4a5f8a; TEXT-DECORATION: underline
}
.seccion_enlaces2colum {
	MARGIN-TOP: 30px
}
.seccion_enlaces2colum P.titenlaces SPAN {
	PADDING-BOTTOM: 7px; PADDING-LEFT: 30px; PADDING-RIGHT: 7px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 10px
}
.seccion_enlaces2colum P.titenlaces {
	BORDER-BOTTOM: #d2dada 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #d2dada 1px solid; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: #f7fafb 0px 0px; COLOR: #494949; FONT-SIZE: 1em; BORDER-TOP: #d2dada 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #d2dada 1px solid; PADDING-TOP: 5px
}
.contenedormaterias {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 100%; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.contenedormaterias UL LI {
	WIDTH: 45%; FLOAT: left
}
.contenedormaterias UL LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 15px; MARGIN-BOTTOM: 5px; BACKGROUND: url(/_layouts/3082/images/img/bullet_lista_n1.gif) no-repeat left 6px
}
.contenedormaterias UL LI UL LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 15px; MARGIN-BOTTOM: 5px; BACKGROUND: url(/_layouts/3082/images/img/bullet_lista_n2.gif) no-repeat left 6px
}
.contenedormaterias UL LI UL LI UL LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 15px; MARGIN-BOTTOM: 5px; BACKGROUND: url(/_layouts/3082/images/img/bullet_lista_n3.gif) no-repeat 2px 9px
}
.contenedormaterias UL LI UL LI UL LI UL LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 15px; MARGIN-BOTTOM: 5px; BACKGROUND: url(/_layouts/3082/images/img/bullet_lista_n3.gif) no-repeat 2px 9px
}
.seccion_listado_rss H3 {
	COLOR: #4a5f8a
}
.seccion_listado_rss UL LI {
	PADDING-BOTTOM: 3px; LIST-STYLE-TYPE: none; PADDING-LEFT: 40px; MARGIN-BOTTOM: 5px; BACKGROUND: url(/_layouts/3082/images/img/rss2.png) no-repeat left 50%; PADDING-TOP: 3px
}
.seccion_listado_xml H3 {
	COLOR: #4a5f8a
}
.seccion_listado_xml UL LI {
	PADDING-BOTTOM: 3px; LIST-STYLE-TYPE: none; PADDING-LEFT: 40px; MARGIN-BOTTOM: 5px; BACKGROUND: url(/_layouts/3082/images/img/xml.gif) no-repeat left 50%; PADDING-TOP: 3px
}
.seccion_inicio {
	WIDTH: 100%; FLOAT: left
}
.seccion_enlaces {
	WIDTH: 100%; FLOAT: left
}
.seccion_secciones {
	WIDTH: 100%; FLOAT: left
}
.seccion_lista {
	WIDTH: 100%; FLOAT: left
}
.tablaresultados {
	WIDTH: 100%; FLOAT: left
}
.seccion_texto_central {
	PADDING-LEFT: 30px; WIDTH: 100%; PADDING-RIGHT: 30px; FLOAT: left
}
.tablaLogBotones {
	WIDTH: 100%
}
.tablaLogPrincipal {
	BORDER-COLLAPSE: collapse
}
.siguienteYUltimos {
	TEXT-ALIGN: right; align: right
}
.borderTablaLogPrincipal1 {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: gray 1px solid; BORDER-RIGHT: gray 1px solid; PADDING-TOP: 10px
}
.borderTablaLogPrincipal2 {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: gray 1px solid; BORDER-RIGHT: gray 1px solid; PADDING-TOP: 10px
}
.borderTablaLogRojo {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: gray 1px solid; BORDER-RIGHT: gray 1px solid; PADDING-TOP: 10px
}
.borderTablaLogAmarillo {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: gray 1px solid; BORDER-RIGHT: gray 1px solid; PADDING-TOP: 10px
}
.borderTablaLogVerde {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: gray 1px solid; BORDER-RIGHT: gray 1px solid; PADDING-TOP: 10px
}
.titulosTablaLogs {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: blue; BORDER-TOP: gray 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: gray 1px solid; PADDING-TOP: 10px
}
.seccion_inicio {
	WIDTH: 100%; HEIGHT: 100%
}
.seccion_inicio UL LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 15px; MARGIN-BOTTOM: 5px; BACKGROUND: url(/_layouts/3082/images/img/bullet_lista_n1.gif) no-repeat left 6px
}
.seccion_inicio UL LI UL LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 15px; MARGIN-BOTTOM: 5px; BACKGROUND: url(/_layouts/3082/images/img/bullet_lista_n2.gif) no-repeat left 6px
}
.seccion_inicio UL LI UL LI UL LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 15px; MARGIN-BOTTOM: 5px; BACKGROUND: url(/_layouts/3082/images/img/bullet_lista_n3.gif) no-repeat 2px 9px
}
.seccion_inicio UL LI UL LI UL LI UL LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 15px; MARGIN-BOTTOM: 5px; BACKGROUND: url(/_layouts/3082/images/img/bullet_lista_n3.gif) no-repeat 2px 9px
}
.seccion_texto UL LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 15px; MARGIN-BOTTOM: 5px; BACKGROUND: url(/_layouts/3082/images/img/bullet_lista_n1.gif) no-repeat left 6px
}
.seccion_texto UL LI UL LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 15px; MARGIN-BOTTOM: 5px; BACKGROUND: url(/_layouts/3082/images/img/bullet_lista_n2.gif) no-repeat left 6px
}
.seccion_texto UL LI UL LI UL LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 15px; MARGIN-BOTTOM: 5px; BACKGROUND: url(/_layouts/3082/images/img/bullet_lista_n3.gif) no-repeat 2px 9px
}
.seccion_texto UL LI UL LI UL LI UL LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 15px; MARGIN-BOTTOM: 5px; BACKGROUND: url(/_layouts/3082/images/img/bullet_lista_n3.gif) no-repeat 2px 9px
}
.seccion_enlaces {
	FLOAT: left; COLOR: #4a5f8a; FONT-WEIGHT: normal
}
.seccion_enlaces P.titenlaces {
	COLOR: #4a5f8a; FONT-WEIGHT: bold
}
.seccion_enlaces P.titenlaces SPAN {
	PADDING-BOTTOM: 7px; PADDING-LEFT: 30px; PADDING-RIGHT: 7px; BACKGROUND: url(/_layouts/3082/images/img/ico_enlaces.png) no-repeat left top; PADDING-TOP: 10px
}
.enlaces_proc {
	MARGIN-TOP: 15px; MARGIN-BOTTOM: 15px
}
.enlaces_proc P.titenlaces SPAN {
	PADDING-BOTTOM: 7px; PADDING-LEFT: 30px; PADDING-RIGHT: 7px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 10px
}
.enlaces_proc P.titenlaces {
	BORDER-BOTTOM: #d2dada 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #d2dada 1px solid; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: #f7fafb 0px 0px; COLOR: #494949; FONT-SIZE: 1em; BORDER-TOP: #d2dada 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #d2dada 1px solid; PADDING-TOP: 5px
}
.seccion_enlaces UL LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 15px; MARGIN-BOTTOM: 10px; BACKGROUND: url(/_layouts/3082/images/img/bulletflecha.png) no-repeat left 50%; PADDING-TOP: 2px
}
.seccion_enlaces A {
	TEXT-ALIGN: left; FONT-WEIGHT: bold; PADDING-TOP: 3px
}
.enlaces_proc UL LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 15px; MARGIN-BOTTOM: 10px; BACKGROUND: url(/_layouts/3082/images/img/bullet_lista_n1.gif) no-repeat left 6px; PADDING-TOP: 2px
}
.enlaces_proc UL LI UL LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 15px; MARGIN-BOTTOM: 10px; BACKGROUND: url(/_layouts/3082/images/img/bullet_lista_n2.gif) no-repeat left 6px; PADDING-TOP: 2px
}
.enlaces_proc UL LI UL LI UL LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 15px; MARGIN-BOTTOM: 10px; BACKGROUND: url(/_layouts/3082/images/img/bullet_lista_n3.gif) no-repeat 2px 9px; PADDING-TOP: 2px
}
.enlaces_proc UL LI UL LI UL LI UL LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 15px; MARGIN-BOTTOM: 10px; BACKGROUND: url(/_layouts/3082/images/img/bullet_lista_n3.gif) no-repeat 2px 9px; PADDING-TOP: 2px
}
.seccion_secciones {
	COLOR: #4a5f8a; FONT-WEIGHT: normal
}
.seccion_secciones P.titenlaces {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 10px; BACKGROUND: url(/_layouts/3082/images/img/ico_secciones.png) no-repeat left top; COLOR: #4a5f8a; FONT-WEIGHT: bold; PADDING-TOP: 11px
}
.seccion_secciones UL LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 15px; MARGIN-BOTTOM: 10px; BACKGROUND: url(/_layouts/3082/images/img/bulletflecha.png) no-repeat left 50%; PADDING-TOP: 2px
}
.seccion_secciones A {
	TEXT-ALIGN: left; FONT-WEIGHT: bold; PADDING-TOP: 3px
}
.seccion_lista {
	COLOR: #4a5f8a; FONT-WEIGHT: normal
}
.seccion_lista UL LI {
	PADDING-BOTTOM: 2px; LIST-STYLE-TYPE: none; PADDING-LEFT: 15px; BACKGROUND: url(/_layouts/3082/images/img/bulletflecha.png) no-repeat left top
}
.seccion_lista UL LI UL LI {
	LIST-STYLE-TYPE: none; MARGIN-TOP: 5px; PADDING-LEFT: 15px; MARGIN-BOTTOM: 1px; BACKGROUND: url(/_layouts/3082/images/img/bullet_lista.gif) no-repeat left -2px
}
.seccion_lista A {
	TEXT-ALIGN: left; FONT-WEIGHT: bold; PADDING-TOP: 3px
}
UL.lista_enlaces_img LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; DISPLAY: inline; MARGIN-BOTTOM: 5px; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN-LEFT: 0px; MARGIN-RIGHT: 5px
}
.estadisticaswp {
	WIDTH: 49%; FLOAT: left
}
.seccion_estadisticas {
	WIDTH: 49%; FLOAT: right
}
.tablacentrado TD {
	TEXT-ALIGN: center
}
.tabla {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: left; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 20px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; BORDER-COLLAPSE: collapse; COLOR: #000000; CLEAR: both; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE.tabla TH.tabla_titulo2 {
	PADDING-BOTTOM: 6px; MARGIN: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 6px
}
TABLE.tabla TH.tabla_titulo3 {
	TEXT-ALIGN: center; PADDING-BOTTOM: 6px; MARGIN: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 6px
}
TABLE.tabla TH {
	BORDER-BOTTOM: #d2dada 1px solid; BORDER-LEFT: #d2dada 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 8px; PADDING-RIGHT: 6px; BACKGROUND: #e1e8ee; HEIGHT: 25px; COLOR: #4a5f8a; FONT-SIZE: 1em; BORDER-TOP: #d2dada 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #d2dada 1px solid; PADDING-TOP: 5px
}
TABLE.tabla TR.tabla_celda_texto {
	BORDER-BOTTOM: #ededed 1px solid; BORDER-LEFT: #ededed 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #f8fafa; MARGIN: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; HEIGHT: 20px; COLOR: #000000; BORDER-TOP: #ededed 1px solid; BORDER-RIGHT: #ededed 1px solid; TEXT-DECORATION: none; PADDING-TOP: 0px
}
TABLE.tabla CAPTION {
	BORDER-BOTTOM: #d2dada 1px solid; BORDER-LEFT: #d2dada 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 8px; PADDING-RIGHT: 6px; BACKGROUND: #e1e8ee 0px 0px; HEIGHT: 25px; COLOR: #4a5f8a; FONT-SIZE: 1em; BORDER-TOP: #d2dada 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #d2dada 1px solid; PADDING-TOP: 10px
}
TABLE.tabla TR.cabecerablanca TH {
	BORDER-BOTTOM: #d2dada 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #d2dada 1px solid; PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 4px; BACKGROUND: #ffffff; COLOR: #000000; VERTICAL-ALIGN: top; BORDER-TOP: #d2dada 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #d2dada 1px solid; PADDING-TOP: 12px
}
TABLE.tabla TD {
	BORDER-BOTTOM: #d2dada 1px solid; BORDER-LEFT: #d2dada 1px solid; PADDING-BOTTOM: 12px; PADDING-LEFT: 8px; PADDING-RIGHT: 4px; VERTICAL-ALIGN: top; BORDER-TOP: #d2dada 1px solid; BORDER-RIGHT: #d2dada 1px solid; PADDING-TOP: 12px
}
TD.tabla_celda_texto_blanca {
	BORDER-BOTTOM: #ededed 1px solid; BORDER-LEFT: #ededed 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: white; MARGIN: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; HEIGHT: 20px; COLOR: #5b5f5f; FONT-SIZE: 100%; BORDER-TOP: #ededed 1px solid; BORDER-RIGHT: #ededed 1px solid; TEXT-DECORATION: none; PADDING-TOP: 0px
}
TD.tabla_celda_texto_blanca_center {
	BORDER-BOTTOM: #ededed 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ededed 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: white; MARGIN: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; HEIGHT: 20px; COLOR: #5b5f5f; FONT-SIZE: 100%; BORDER-TOP: #ededed 1px solid; BORDER-RIGHT: #ededed 1px solid; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.parametros_busqueda {
	MARGIN-BOTTOM: 2em
}
.parametros_busqueda P SPAN {
	COLOR: #4a5f8a
}
.tablaresultados H3 {
	COLOR: #4a5f8a; FONT-SIZE: 1.1em
}
.tablaresultados P.param {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #4a5f8a; MARGIN-LEFT: 0px !important; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 5px
}
.tablaresultados P {
	MARGIN: 5px 0px 5px 5px; COLOR: #5b5f5f
}
P.nuevabusqueda {
	MARGIN-TOP: 30px; MARGIN-BOTTOM: 40px; MARGIN-LEFT: 0px; FONT-WEIGHT: bold
}
.nuevabusqueda A {
	BORDER-BOTTOM: #ededed 1px solid; BORDER-LEFT: #ededed 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #e1e8ee; BORDER-TOP: #ededed 1px solid; BORDER-RIGHT: #ededed 1px solid; PADDING-TOP: 10px
}
.detalle_tabla {
	PADDING-BOTTOM: 2px; MARGIN: 15px 0px 15px 5px; PADDING-LEFT: 22px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(/_layouts/3082/images/img/ico_tabla.gif) no-repeat left center; COLOR: #4a5f8a; PADDING-TOP: 2px
}
TH.tabla_titulo_centrada {
	TEXT-ALIGN: center
}
TABLE.tabla TR.cabAzulClaro TD {
	BORDER-BOTTOM: #d2dada 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #d2dada 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 8px; PADDING-RIGHT: 6px; BACKGROUND: #e1e8ee 0px 0px; HEIGHT: 25px; COLOR: #4a5f8a; FONT-SIZE: 1em; VERTICAL-ALIGN: middle; BORDER-TOP: #d2dada 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #d2dada 1px solid; PADDING-TOP: 5px
}
.nota {
	BORDER-BOTTOM: #4a5f8a 1px dashed; BORDER-LEFT: #4a5f8a 1px dashed; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 97%; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 30px; BACKGROUND: #f1f4f7; COLOR: #840b13 !important; MARGIN-LEFT: 0px !important; BORDER-TOP: #4a5f8a 1px dashed; BORDER-RIGHT: #4a5f8a 1px dashed; PADDING-TOP: 10px
}
.capa_error {
	BORDER-BOTTOM: #e0e0e0 1px solid; BORDER-LEFT: #e0e0e0 1px solid; PADDING-BOTTOM: 10px; MARGIN-TOP: 15px; PADDING-LEFT: 10px; WIDTH: 97%; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 15px; COLOR: #840b13; BORDER-TOP: #e0e0e0 1px solid; BORDER-RIGHT: #e0e0e0 1px solid; PADDING-TOP: 10px
}
.descpagina {
	WIDTH: 100%; MARGIN-BOTTOM: 30px
}
.descpagina TEXTAREA {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 80%; PADDING-RIGHT: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 0.9em; PADDING-TOP: 5px
}
.campostraducidos {
	WIDTH: 100%; MARGIN-BOTTOM: 15px
}
.campostraducidos {
	FLOAT: left
}
.campo {
	DISPLAY: block; FLOAT: left; MARGIN-RIGHT: 10px
}
.campo INPUT {
	FLOAT: left
}
.campo LABEL {
	MARGIN-TOP: 2px; FLOAT: left
}
#descfoto {
	WIDTH: 60%; MAX-WIDTH: 60%; FLOAT: left; MARGIN-LEFT: 5px
}
#descfoto P {
	MARGIN-TOP: 0px
}
.foto_primernivel_detalle {
	WIDTH: auto; FLOAT: left; MARGIN-RIGHT: 15px
}
.Technositepopup {
	MARGIN-LEFT: 4px
}
.erroresRojos {
	COLOR: red
}
.consolaEdicion {
	DISPLAY: inline !important
}
.consolaEdicion TABLE.ms-siteaction {
	WIDTH: 100%; HEIGHT: 2% !important
}
.campostraducidos .ms-formfieldvaluecontainer {
	FLOAT: left
}
SPAN.txtparentesis {
	FONT-STYLE: italic; COLOR: #4a5f8a; FONT-WEIGHT: normal
}
TABLE.tabla TD.cuadro {
	BACKGROUND: #f5f3f3
}
TABLE.tabla TH.bordesup {
	BORDER-TOP: #d8dde6 2px solid
}
TABLE.tabla TR.bordesup {
	BORDER-TOP: #d2dada 1px solid
}
TABLE.tabla TR.borderbottom {
	BORDER-BOTTOM: #d8dde6 1px solid
}
TABLE.tablaestadisticas TH {
	BACKGROUND: #6f8ecd; COLOR: white
}
TABLE.tablaestadisticas TR TD {
	BORDER-BOTTOM: #5074bc 0px solid; BORDER-LEFT: #d2dada 1px solid; BORDER-TOP: #5074bc 0px solid; BORDER-RIGHT: #d2dada 1px solid
}
TABLE.tablaestadisticas TD DIV P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE.breakcadena TR TH {
	WORD-WRAP: break-word
}
TABLE.breakcadena TR TD {
	WORD-WRAP: break-word
}
TABLE.breakcadena TR TD DIV {
	WORD-WRAP: break-word
}
TABLE.colum1 TH.celldatos {
	WIDTH: 757px !important
}
TABLE.colum1 TD.celldatos {
	WIDTH: 757px !important
}
TABLE.colum1 DIV.divdatos {
	WIDTH: 757px !important
}
TABLE.colum2 TH.celldatos {
	WIDTH: 372px !important
}
TABLE.colum2 TD.celldatos {
	WIDTH: 372px !important
}
TABLE.colum2 DIV.divdatos {
	WIDTH: 372px !important
}
TABLE.colum2 TR TD {
	WIDTH: 372px !important
}
TABLE.colum2 TR TD DIV {
	WIDTH: 372px !important
}
TABLE.colum2 TH.celldatos2 {
	WIDTH: 372px !important
}
TABLE.colum2 TD.celldatos2 {
	WIDTH: 372px !important
}
TABLE.colum2 DIV.divdatos2 {
	WIDTH: 372px !important
}
TABLE.colum3 TH.celldatos {
	WIDTH: 275px !important
}
TABLE.colum3 TD.celldatos {
	WIDTH: 275px !important
}
TABLE.colum3 DIV.divdatos {
	WIDTH: 275px !important
}
TABLE.colum3 TR TD {
	WIDTH: 216px
}
TABLE.colum3 TR TD DIV {
	WIDTH: 216px
}
TABLE.colum3 TH.celldatos2 {
	WIDTH: 216px
}
TABLE.colum3 TD.celldatos2 {
	WIDTH: 216px
}
TABLE.colum3 DIV.divdatos2 {
	WIDTH: 216px
}
TABLE.colum4 TH.celldatos {
	WIDTH: 210px !important
}
TABLE.colum4 TD.celldatos {
	WIDTH: 210px !important
}
TABLE.colum4 DIV.divdatos {
	WIDTH: 210px !important
}
TABLE.colum4 TR TD {
	
}
TABLE.colum4 TR TD DIV {
	
}
TABLE.colum4 TH.celldatos2 {
	WIDTH: 165px
}
TABLE.colum4 TD.celldatos2 {
	WIDTH: 165px
}
TABLE.colum4 DIV.divdatos2 {
	WIDTH: 165px
}
TABLE.colum5 TH.celldatos {
	WIDTH: 170px !important
}
TABLE.colum5 TD.celldatos {
	WIDTH: 170px !important
}
TABLE.colum5 DIV.divdatos {
	WIDTH: 170px !important
}
TABLE.colum5 TR TD {
	WIDTH: 127px
}
TABLE.colum5 TR TD DIV {
	WIDTH: 127px
}
TABLE.colum5b TH.celldatos {
	WIDTH: 170px !important
}
TABLE.colum5b TD.celldatos {
	WIDTH: 170px !important
}
TABLE.colum5b DIV.divdatos {
	WIDTH: 170px !important
}
TABLE.colum5b TH.celldatos2 {
	WIDTH: 170px !important
}
TABLE.colum5b TD.celldatos2 {
	WIDTH: 170px !important
}
TABLE.colum5b DIV.divdatos2 {
	WIDTH: 170px !important
}
TABLE.colum5b TR TD {
	WIDTH: 114px
}
TABLE.colum5b TR TD DIV {
	WIDTH: 114px
}
TABLE.colum6 TH.celldatos {
	WIDTH: 162px !important
}
TABLE.colum6 TD.celldatos {
	WIDTH: 162px !important
}
TABLE.colum6 DIV.divdatos {
	WIDTH: 162px !important
}
TABLE.colum6 TR TD {
	WIDTH: 101px
}
TABLE.colum6 TR TD DIV {
	WIDTH: 101px
}
TABLE.colum6b TH.celldatos {
	WIDTH: 135px !important
}
TABLE.colum6b TD.celldatos {
	WIDTH: 135px !important
}
TABLE.colum6b DIV.divdatos {
	WIDTH: 135px !important
}
TABLE.colum6b TH.celldatos2 {
	WIDTH: 135px !important
}
TABLE.colum6b TD.celldatos2 {
	WIDTH: 135px !important
}
TABLE.colum6b DIV.divdatos2 {
	WIDTH: 135px !important
}
TABLE.colum6b TR TD {
	WIDTH: 100px
}
TABLE.colum6b TR TD DIV {
	WIDTH: 100px
}
TABLE.colum7 TH.celldatos {
	WIDTH: 130px !important
}
TABLE.colum7 TD.celldatos {
	WIDTH: 130px !important
}
TABLE.colum7 DIV.divdatos {
	WIDTH: 130px !important
}
TABLE.colum7 TH.celldatos2 {
	WIDTH: 130px !important
}
TABLE.colum7 TD.celldatos2 {
	WIDTH: 130px !important
}
TABLE.colum7 DIV.divdatos2 {
	WIDTH: 130px !important
}
TABLE.colum7 TR TD {
	WIDTH: 75px
}
TABLE.colum7 TR TD DIV {
	WIDTH: 75px
}
DIV.notificacionesEstadisticas {
	BORDER-BOTTOM: #4a5f8a 1px dashed; BORDER-LEFT: #4a5f8a 1px dashed; PADDING-BOTTOM: 10px; MARGIN-TOP: 30px; PADDING-LEFT: 10px; WIDTH: 97%; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 30px; BACKGROUND: #f1f4f7; MARGIN-LEFT: 0px !important; BORDER-TOP: #4a5f8a 1px dashed; BORDER-RIGHT: #4a5f8a 1px dashed; PADDING-TOP: 10px
}
DIV.notificacionesEstadisticas DIV {
	WIDTH: 100%; BORDER-COLLAPSE: collapse
}
DIV.notificacionesEstadisticas DIV.notificacioneserror P {
	BORDER-BOTTOM: #e0e0e0 1px solid; BORDER-LEFT: #e0e0e0 1px solid; PADDING-BOTTOM: 10px; MARGIN-TOP: 15px; PADDING-LEFT: 5px; WIDTH: 98%; PADDING-RIGHT: 5px; MARGIN-BOTTOM: 15px; COLOR: #840b13; BORDER-TOP: #e0e0e0 1px solid; BORDER-RIGHT: #e0e0e0 1px solid; PADDING-TOP: 10px
}
DIV.notificacionesEstadisticas DIV.notificacioneswarning P {
	BORDER-BOTTOM: #e0e0e0 1px solid; BORDER-LEFT: #e0e0e0 1px solid; PADDING-BOTTOM: 10px; MARGIN-TOP: 10px; PADDING-LEFT: 5px; WIDTH: 98%; PADDING-RIGHT: 5px; MARGIN-BOTTOM: 10px; COLOR: #4a5f8a; BORDER-TOP: #e0e0e0 1px solid; BORDER-RIGHT: #e0e0e0 1px solid; PADDING-TOP: 10px
}
TR.encabezadotabla TD {
	BORDER-BOTTOM: #d2dada 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #d2dada 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 8px; PADDING-RIGHT: 6px; BACKGROUND: #6f8ecd; HEIGHT: 25px; COLOR: white; FONT-SIZE: 1em; VERTICAL-ALIGN: middle; BORDER-TOP: #d2dada 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #d2dada 1px solid; PADDING-TOP: 5px
}
TR.encabezadotabla TH {
	BORDER-BOTTOM: #d2dada 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #d2dada 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 8px; PADDING-RIGHT: 6px; BACKGROUND: #6f8ecd; HEIGHT: 25px; COLOR: white; FONT-SIZE: 1em; VERTICAL-ALIGN: middle; BORDER-TOP: #d2dada 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #d2dada 1px solid; PADDING-TOP: 5px
}
A.enlaceVolver {
	MARGIN-TOP: -10px; MARGIN-BOTTOM: 20px; FLOAT: left
}
.titindice {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 10px; BACKGROUND: url(/_layouts/3082/images/img/ico_indice.png) no-repeat left top; COLOR: #4a5f8a; FONT-WEIGHT: bold; PADDING-TOP: 11px
}
.listado_eventos LI {
	PADDING-BOTTOM: 5px; LIST-STYLE-TYPE: none !important; MARGIN-TOP: 4px; PADDING-LEFT: 20px; WIDTH: 100%; MARGIN-BOTTOM: 4px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; CLEAR: both; FONT-SIZE: 0.9em; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
SPAN.tit_evento {
	TEXT-ALIGN: left; MARGIN-TOP: -4px; PADDING-LEFT: 10px; WIDTH: 100%; DISPLAY: block; MARGIN-BOTTOM: 5px; FLOAT: left; COLOR: #4a5f8a; CLEAR: both
}
.listado_eventos LI SPAN A {
	COLOR: #4a5f8a; FONT-SIZE: 1em !important; TEXT-DECORATION: underline
}
.listado_eventos LI SPAN.descripcion {
	PADDING-LEFT: 0px !important; WIDTH: 100%; DISPLAY: block; MARGIN-BOTTOM: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; CLEAR: both; FONT-WEIGHT: normal !important
}
.listado_eventos LI P {
	COLOR: #232323; MARGIN-LEFT: 0px !important; FONT-WEIGHT: normal
}
.listado_eventos LI P.etiquetas SPAN {
	BORDER-BOTTOM: #e1e8ee 1px solid; BORDER-LEFT: #e1e8ee 1px solid; PADDING-BOTTOM: 3px !important; PADDING-LEFT: 3px !important; PADDING-RIGHT: 3px !important; DISPLAY: inline-block; MARGIN-BOTTOM: 5px; BACKGROUND: #eff2f7; COLOR: #4a5f8a; BORDER-TOP: #e1e8ee 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #e1e8ee 1px solid; PADDING-TOP: 3px !important
}
.listado_eventos LI P.etiquetas2 SPAN {
	BORDER-BOTTOM: #e1e8ee 1px solid; BORDER-LEFT: #e1e8ee 1px solid; PADDING-BOTTOM: 3px !important; PADDING-LEFT: 3px !important; PADDING-RIGHT: 3px !important; DISPLAY: inline-block; MARGIN-BOTTOM: 5px; BACKGROUND: #eff2f7; COLOR: #4a5f8a; BORDER-TOP: #e1e8ee 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #e1e8ee 1px solid; PADDING-TOP: 3px !important
}
.listado_eventos LI P.etiquetas2 {
	MARGIN-TOP: 35px
}
.listado_eventos LI P.etiquetas A {
	FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.listado_eventos LI P.etiquetas2 A {
	FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.listado_eventos LI P.etiquetas A:hover {
	FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.listado_eventos LI P.etiquetas2 A:hover {
	FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.listado_eventos UL.agenda LI SPAN {
	PADDING-LEFT: 25px; BACKGROUND: url(/_layouts/3082/images/img/TipoEvento_Agenda.png) no-repeat left 1px
}
.listado_eventos UL.informes LI SPAN {
	PADDING-LEFT: 25px; BACKGROUND: url(/_layouts/3082/images/img/TipoEvento_Informes.png) no-repeat left 1px
}
.listado_eventos UL.publicaciones LI SPAN {
	PADDING-LEFT: 25px; BACKGROUND: url(/_layouts/3082/images/img/TipoEvento_Publicaciones.png) no-repeat left 1px
}
H3.evento {
	PADDING-BOTTOM: 1px; COLOR: #4a5f8a; FONT-SIZE: 1.1em
}
.seccion_texto UL LI.agendaeventos {
	PADDING-LEFT: 25px; BACKGROUND: url(/_layouts/3082/images/img/TipoEvento_Agenda.png) no-repeat left 3px
}
.seccion_texto UL LI.informeseventos {
	PADDING-LEFT: 25px; BACKGROUND: url(/_layouts/3082/images/img/TipoEvento_Informes.png) no-repeat left 2px
}
.seccion_texto UL LI.publicacioneseventos {
	PADDING-LEFT: 25px; BACKGROUND: url(/_layouts/3082/images/img/TipoEvento_Publicaciones.png) no-repeat left 1px
}
.seccion_texto UL LI.agendaeventos SPAN {
	PADDING-RIGHT: 10px; COLOR: #4a5f8a; FONT-WEIGHT: normal
}
LI.informeseventos SPAN {
	PADDING-RIGHT: 10px; COLOR: #4a5f8a; FONT-WEIGHT: normal
}
LI.publicacioneseventos SPAN {
	PADDING-RIGHT: 10px; COLOR: #4a5f8a; FONT-WEIGHT: normal
}
.seccion_texto UL LI.agendaeventos A {
	MARGIN-TOP: 10px; TEXT-DECORATION: none
}
LI.informeseventos A {
	MARGIN-TOP: 10px; TEXT-DECORATION: none
}
LI.publicacioneseventos A {
	MARGIN-TOP: 10px; TEXT-DECORATION: none
}
.seccion_texto UL LI.agendaeventos DIV.clear {
	MARGIN-BOTTOM: 10px; TEXT-DECORATION: none
}
LI.informeseventos DIV.clear {
	MARGIN-BOTTOM: 10px; TEXT-DECORATION: none
}
LI.publicacioneseventos DIV.clear {
	MARGIN-BOTTOM: 10px; TEXT-DECORATION: none
}
.buscador_eventos {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #e9eef3; MARGIN: auto; PADDING-LEFT: 0px; WIDTH: 660px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.buscador_eventos SELECT {
	FONT-SIZE: 0.9em
}
.buscador_eventos LEGEND {
	MARGIN-BOTTOM: 5px; COLOR: #4a5f8a; FONT-WEIGHT: bold
}
.buscador_eventos INPUT.botonformulario {
	MARGIN-RIGHT: 7px
}
.buscador_eventos FIELDSET {
	BORDER-BOTTOM: #bec7ce 0px solid; BORDER-LEFT: #bec7ce 0px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 0px; BORDER-TOP: #bec7ce 0px solid; BORDER-RIGHT: #bec7ce 0px solid; PADDING-TOP: 0px
}
.buscador_eventos .campo {
	WIDTH: 100%
}
.buscador_eventos_grupo {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; PADDING-BOTTOM: 10px; MIN-HEIGHT: 104px; PADDING-LEFT: 10px; WIDTH: 97%; PADDING-RIGHT: 0px; FLOAT: left; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid; PADDING-TOP: 10px
}
.buscador_eventos .columna_izq .bloqueform {
	WIDTH: 88% !important
}
.buscador_eventos .bloqueform {
	MARGIN-TOP: 15px; MARGIN-BOTTOM: 0px
}
.buscador_eventos .columna_izq {
	PADDING-LEFT: 15px; WIDTH: 45%
}
.buscador_eventos .columna_izq FIELDSET {
	MARGIN-TOP: 20px
}
.buscador_eventos .columna_izq .bloqueform_der {
	FLOAT: right
}
.buscador_eventos .bloqueform_der SELECT {
	FLOAT: right
}
.buscador_eventos .bloqueform_der LABEL {
	MARGIN-LEFT: 30px
}
.buscador_eventos .columna_der {
	WIDTH: 46%
}
.buscador_eventos .columna_der .bloqueform {
	MARGIN-LEFT: 15px
}
.tit_buscador_eventos {
	PADDING-BOTTOM: 1px; COLOR: #4a5f8a; FONT-SIZE: 1.1em
}
.buscador_eventos .bloqueform_izq LABEL {
	FONT-WEIGHT: bold
}
.buscador_eventos .bloqueform_der LABEL {
	FONT-WEIGHT: bold
}
.columna_der .buscador_eventos_grupo LABEL {
	FONT-SIZE: 0.9em
}
.buscador_eventos .bloqueform_cent {
	MARGIN-BOTTOM: 0px; PADDING-TOP: 0px
}
.buscador_eventos .botones_centrar {
	MARGIN-TOP: 15px
}
.buscador_eventos .prensa_formulario_sup {
	HEIGHT: 10px
}
.resultado_eventos {
	BORDER-BOTTOM: #e1e8ee 4px solid; BORDER-LEFT: #e1e8ee 4px solid; PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BORDER-TOP: #e1e8ee 4px solid; BORDER-RIGHT: #e1e8ee 4px solid; PADDING-TOP: 20px
}
.resultado_eventos LEGEND {
	COLOR: #4a5f8a; FONT-WEIGHT: bold
}
.resultado_eventos FIELDSET {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.resultado_eventos P {
	COLOR: #4a5f8a
}
.resultado_eventos A {
	COLOR: #4a5f8a; TEXT-DECORATION: none !important
}
.cabeceranavegacion {
	BORDER-TOP: #cfcfcf 1px solid; PADDING-TOP: 5px
}
.cabeceranavegacionpaginas {
	COLOR: #4a5f8a; MARGIN-RIGHT: 10px
}
.cabeceraNavegacionresultados {
	COLOR: #a1a1a1
}
.navegacion {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
.navegacion SPAN {
	COLOR: #4a5f8a; MARGIN-RIGHT: 3px
}
.navegacion SPAN Text {
	COLOR: #4a5f8a; TEXT-DECORATION: underline
}
.navegacion A {
	COLOR: #4a5f8a; TEXT-DECORATION: none !important
}
.navegacion A.enlaceanterior {
	PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #cfe0e8; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; COLOR: #4a5f8a; MARGIN-RIGHT: 6px; TEXT-DECORATION: none !important; PADDING-TOP: 1px
}
.navegacion A.enlacesiguiente {
	PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #cfe0e8; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; COLOR: #4a5f8a; MARGIN-LEFT: 3px; TEXT-DECORATION: none !important; PADDING-TOP: 1px
}
.navegacionDias SPAN {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #e9eef3; COLOR: #4a5f8a; FONT-WEIGHT: bold; MARGIN-RIGHT: 10px; PADDING-TOP: 5px
}
.navegacionDias P {
	MARGIN-BOTTOM: 20px
}
.enlacevolver {
	COLOR: #4a5f8a
}
.sinmargen {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
TR.quitaborde TD {
	BORDER-BOTTOM-WIDTH: 0px
}
.estadisticaTab {
	TABLE-LAYOUT: fixed
}
.estadisticaTab TH {
	MIN-WIDTH: 33%; TEXT-ALIGN: center !important; WIDTH: 33%; MAX-WIDTH: 33%; WORD-WRAP: break-word
}
.estadisticaTab TD {
	MIN-WIDTH: 33%; WIDTH: 33%; MAX-WIDTH: 33%; WORD-WRAP: break-word
}
.estadisticaTab TH A {
	FONT-SIZE: 1em
}
.estadisticaTab TD A {
	FONT-SIZE: 0.9em
}
.margeninf20 {
	MARGIN-BOTTOM: 20px
}
DIV.delegaciones {
	BORDER-BOTTOM: #bec7ce 1px solid; BORDER-LEFT: #bec7ce 1px solid; PADDING-BOTTOM: 10px; OVERFLOW-Y: scroll; MARGIN: 5px 20px 5px 5px; PADDING-LEFT: 10px; WIDTH: 203px; PADDING-RIGHT: 10px; HEIGHT: 150px; BORDER-TOP: #bec7ce 1px solid; BORDER-RIGHT: #bec7ce 1px solid; PADDING-TOP: 10px
}
DIV.delegacion {
	DISPLAY: block; MARGIN-BOTTOM: 5px; CLEAR: both
}
DIV.delegacion INPUT {
	MARGIN-RIGHT: 5px
}
.bienes INPUT {
	MARGIN-RIGHT: 5px
}
.quitalinea {
	BORDER-RIGHT: #999999 0px solid
}
.quitalineader {
	BORDER-RIGHT-WIDTH: 0px !important
}
.tituloform {
	COLOR: #4a5f8a; FONT-SIZE: 1.2em; FONT-WEIGHT: bold
}
.labelresoluciones2 {
	WIDTH: 300px; MAX-WIDTH: 300px; MARGIN-BOTTOM: 5px; FLOAT: left; COLOR: #4a5f8a
}
.selecttodas {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 10px; WIDTH: 215px; BACKGROUND: #d0dce9; MARGIN-LEFT: 5px; PADDING-TOP: 3px
}
.bienes {
	WIDTH: 45%; DISPLAY: inline-block; MARGIN-BOTTOM: 20px; FLOAT: left; CLEAR: none
}
.bienes INPUT {
	FLOAT: none; MARGIN-LEFT: 2px
}
.bienes LABEL {
	FLOAT: none; MARGIN-LEFT: 2px
}
.anchoAuto {
	WIDTH: auto
}
.margeninf20 {
	MARGIN-BOTTOM: 20px
}
.margentop20 {
	MARGIN-TOP: 20px
}
.busqueda_subastaConcurso H3 {
	COLOR: #4a5f8a
}
.busqueda_subastaConcurso P {
	COLOR: #4a5f8a
}
.busqueda_subastaConcurso UL.busqueda_subastaConcurso {
	FONT-SIZE: 0.9em
}
.busqueda_subastaConcurso UL.busqueda_subastaConcurso A {
	FONT-SIZE: 1.1em
}
.busqueda_subastaConcurso FIELDSET {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.directorio FIELDSET {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.busqueda_subastaConcurso SELECT {
	WIDTH: 325px
}
.busqueda_subastaConcurso INPUT.botonformulario {
	COLOR: white
}
SPAN.fechaNewsletter {
	MARGIN-LEFT: 10px; FONT-SIZE: 0.75em
}
.newDestacado H3 {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 5px; COLOR: #4a5f8a; FONT-SIZE: 1.3em
}
.DestbloqueNoticia {
	PADDING-BOTTOM: 7px; PADDING-LEFT: 7px; WIDTH: 707px; PADDING-RIGHT: 7px; MARGIN-BOTTOM: 5px; BACKGROUND: #6885c0; FLOAT: left; HEIGHT: auto; PADDING-TOP: 7px
}
.imgDesNoticia {
	MIN-WIDTH: 345px; MAX-WIDTH: 300px; FLOAT: left; MARGIN-RIGHT: 15px
}
.imgDesNoticia IMG {
	MIN-WIDTH: 345px
}
.imgDesNoticiaEdi {
	MIN-WIDTH: 345px; MAX-WIDTH: 300px; BACKGROUND: #ffffff; FLOAT: left; MARGIN-RIGHT: 15px
}
.imgDesNoticiaEdi IMG {
	MAX-WIDTH: 345px
}
.txtDesNoticia {
	PADDING-RIGHT: 12px; COLOR: #ffffff; OVERFLOW: auto
}
.txtDesNoticia A {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.txtDesNoticia A:hover {
	COLOR: #ffffff
}
.txtDesNoticiaEdi {
	PADDING-RIGHT: 12px; BACKGROUND: #ffffff; COLOR: #000000
}
.DesNoticiatit {
	FONT-SIZE: 1.2em; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.DesNoticiaAntetit {
	LINE-HEIGHT: 2px; MARGIN-BOTTOM: 20px; FONT-SIZE: 0.95em; FONT-WEIGHT: bold
}
H3.newTitActualidad {
	MARGIN-BOTTOM: 5px; COLOR: #4a5f8a; FONT-SIZE: 1.3em
}
.newActualidad {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; WIDTH: 700px; PADDING-RIGHT: 7px; BACKGROUND: #e8e8e8; FLOAT: left; HEIGHT: auto; PADDING-TOP: 7px
}
.ActBloqueDer {
	OVERFLOW: auto
}
.ActBloqueIzq {
	WIDTH: 49.45%; PADDING-RIGHT: 7px; BACKGROUND: #e8e8e8 0px 0px; FLOAT: left
}
.ActNoticia {
	BORDER-BOTTOM: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; MARGIN-BOTTOM: 7px; BACKGROUND: #f1f2f3; BORDER-TOP: #e8e8e8 1px solid; BORDER-RIGHT: #e8e8e8 1px solid
}
P.titActNoticia {
	MARGIN-TOP: 0px; COLOR: #4a5f8a; FONT-WEIGHT: bold; TEXT-DECORATION: underline; PADDING-TOP: 12px
}
.ActNoticia IMG {
	BORDER-BOTTOM: #c3cee0 1px solid; BORDER-LEFT: #c3cee0 1px solid; MARGIN-TOP: 7px; MAX-WIDTH: 320px; CLEAR: both; BORDER-TOP: #c3cee0 1px solid; BORDER-RIGHT: #c3cee0 1px solid
}
H3.newTitOtras {
	MARGIN-BOTTOM: 5px; COLOR: #4a5f8a; FONT-SIZE: 1.3em
}
.newOtras {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; BACKGROUND: #eeeff0; COLOR: #4a5f8a; FONT-SIZE: 0.9em; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.newOtras A {
	FONT-SIZE: 0.95em; TEXT-DECORATION: underline
}
.newOtras UL {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0px
}
.newOtras UL LI {
	LIST-STYLE-TYPE: none; MARGIN-BOTTOM: 12px; BACKGROUND: url(/_layouts/3082/images/img/bulletFlecha.png) no-repeat 2px 4px
}
H3.newTitIndicadores {
	MARGIN-BOTTOM: 5px; COLOR: #4a5f8a; FONT-SIZE: 1.3em
}
.newIndicadores {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; BACKGROUND: #eeeff0; COLOR: #4a5f8a; FONT-SIZE: 0.9em; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.newIndicadores A {
	FONT-SIZE: 0.95em; TEXT-DECORATION: underline
}
.newIndicadores UL {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0px
}
.newIndicadores UL LI {
	LIST-STYLE-TYPE: none; MARGIN-BOTTOM: 12px; BACKGROUND: url(/_layouts/3082/images/img/bulletFlecha.png) no-repeat 2px 4px
}
H3.newTitEventos {
	MARGIN-BOTTOM: 5px; COLOR: #4a5f8a; FONT-SIZE: 1.3em
}
.newEventos {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; MARGIN-BOTTOM: 10px; BACKGROUND: #eeeff0; COLOR: #4a5f8a; FONT-SIZE: 0.9em; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.newEventos A {
	FONT-SIZE: 0.95em; TEXT-DECORATION: underline
}
.newEventos P.newEventosfecha {
	FONT-WEIGHT: bold; TEXT-DECORATION: none !important
}
.newEventos P.newEventosfecha A {
	FONT-WEIGHT: bold; TEXT-DECORATION: none !important
}
.newEventos UL {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0px
}
.newEventos UL LI {
	LIST-STYLE-TYPE: none; MARGIN-BOTTOM: 12px; BACKGROUND: url(/_layouts/3082/images/img/bulletFlecha.png) no-repeat 2px 4px
}
.bloque_combos {
	MARGIN-BOTTOM: 5px; FLOAT: left
}
.bloque_datos {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; COLOR: #4a5f8a; CLEAR: both; FONT-WEIGHT: bold
}
.bloque_datos A {
	FONT-STYLE: italic !important; MARGIN-LEFT: 15px; FONT-WEIGHT: normal !important; TEXT-DECORATION: underline !important
}
.bloque_combos A {
	FONT-STYLE: italic !important; MARGIN-LEFT: 15px; FONT-WEIGHT: normal !important; TEXT-DECORATION: underline !important
}
.provincias {
	FLOAT: left; MARGIN-RIGHT: 30px
}
.municipios {
	FLOAT: left; MARGIN-RIGHT: 30px
}
.provincias SPAN {
	MARGIN-BOTTOM: 5px; FLOAT: left; COLOR: #4a5f8a; CLEAR: both
}
.municipios SPAN {
	MARGIN-BOTTOM: 5px; FLOAT: left; COLOR: #4a5f8a; CLEAR: both
}
.provincias SELECT {
	MAX-WIDTH: 250px; FLOAT: left; CLEAR: both
}
.municipios SELECT {
	MAX-WIDTH: 250px; FLOAT: left; CLEAR: both
}
.bloque_combos A {
	FLOAT: left; PADDING-TOP: 20px
}
.buttonaslink {
	BORDER-BOTTOM-STYLE: none; FONT-STYLE: italic !important; MARGIN: 0px; BORDER-LEFT-STYLE: none; PADDING-LEFT: 5px !important; BORDER-TOP-STYLE: none; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #4a5f8a; BORDER-RIGHT-STYLE: none; VERTICAL-ALIGN: top; CURSOR: pointer
}
.buttonaslink:hover {
	TEXT-DECORATION: underline
}
UL.listaResultadoBusqueda LI UL LI {
	MARGIN-BOTTOM: 0px !important
}
LI.ocultaBullet {
	BACKGROUND-IMAGE: none; LIST-STYLE-TYPE: none
}
