.tooltip {
	opacity:0.9;
	z-index:1000;
	text-align:left;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:8px 8px;
	max-width:220px;
	color:#fff;
	background-color:#000;
	font-family:arial,verdana;
}

.tooltip3 {
	opacity:0.9;
	z-index:1000;
	text-align:left;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:8px 8px;
	max-width:300px;
	color:#fff;
	background-color:#000;
	font-family:arial,verdana;
	margin-left:40px;
}

.tip-arrow-top {
	margin-top:-5px;
	margin-left:-5px; /* approx. half the width to center it */
	top:0;
	left:50%;
	width:9px;
	height:5px;
	background:url(tip-twitter_arrows.gif) no-repeat;
}
 .tip-arrow-right {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:0;
	top:50%;
	left:100%;
	width:5px;
	height:9px;
	background:url(tip-twitter_arrows.gif) no-repeat -9px 0;
}
 .tip-arrow-bottom {
	margin-top:0;
	margin-left:-5px; /* approx. half the width to center it */
	top:100%;
	left:50%;
	width:9px;
	height:5px;
	background:url(tip-twitter_arrows.gif) no-repeat -18px 0;
}
 .tip-arrow-left {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:-5px;
	top:50%;
	left:0;
	width:5px;
	height:9px;
	background:url(tip-twitter_arrows.gif) no-repeat -27px 0;
}