<div class="row">
<div class="col-sm-12">
	<ul class="list-unstyled bienvenida">
		<li  ng-repeat="menuElement in options"  ng-click="click(menuElement.elementid)" id="{{menuElement.elementid}}" >
			<welcome-menu-element title ="menuElement.title" sia ="menuElement.siaCodes"></welcome-menu-element>	
		</li>
	</ul>
</div>
</div>
