<messages-zone></messages-zone>
<p>{{title}}</p><div>
    <pre data-ng-model="debug" data-ng-show="debug">{{ data | json }}</pre>
    <select ng-options="item as item.title for item in paises track by item.id" ng-model="selectedCountry" ng-change="setProvinciasRelated()"></select>
    <select ng-options="item as item.title for item in provincias track by item.id" ng-model="selectedProvincia" ng-if="provincias.length > 0"></select>
</div>