<script type="text/ng-template" id="dateFiltersModal.html">
        <div class="modal-header">
 			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Seleccione Rangos de Fecha Para Filtrar</h4>
        </div>
        </div>
        <div class="modal-body modal-body-datefilter">
          <div class="row">
            <div class="col-md-6">
          	  <div class="input-group">
           	   <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="dtFrom" is-open="openedFrom" 
				max-date="dtTo" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"  />
            	  <span class="input-group-btn">
             	   <button type="button" class="btn btn-primary" ng-click="openDatapickerFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            	  </span>
           		</div>
        	</div>
			<div class="col-md-6">
				<div class="input-group">
				<input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="dtTo" is-open="openedTo"min-date="dtFrom" max-date="today"
					 datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"/>
            	  <span class="input-group-btn">
             	   <button type="button" class="btn btn-primary" ng-click="openDatapickerTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            	  </span>
			</div>
   		 </div>
        </div>
 		<div class="modal-footer modal-footer-datefilter">
            <button class="btn btn-success" ng-click="ok()">Aceptar Valores</button>
 			<button class="btn btn-default" ng-click="clear()"> <span class="glyphicon glyphicon glyphicon-erase" aria-hidden="true"></span> Borrar Valores</button>
            <button class="btn btn-danger" ng-click="cancel()">Cerrar Ventana</button>
        </div>
    </script>
<span class="input-group-btn">
<button type="button" class="btn btn-info btn-block" ng-click="open('cs',values,params,name)">
<i class="glyphicon glyphicon-calendar" title="Rango de Fechas"></i>
</button>
</span>