<instrucciones viewmode="viewMode"   ng-click="verInstrucciones()" form="formularioATratar"></instrucciones>
<aceptar-instrucciones ng-show="instruccionesVistas && !editMode"></aceptar-instrucciones>
<container-border-wrapper extraclass="panel-body" ng-show="instruccionesLeidas">
	<div class="row">
		<div class="col-md-12">
			<datos-obligatorios></datos-obligatorios>
			<formulario-wrapper>
					<form id="formularioPrincial" class="form-inline" method="post" ng-submit="sendForm(senderMode.SUBMIT)" novalidate >

						<tab-wrapper data-workspace-info="tabCtrl"  id="tabs-becas">
						</tab-wrapper>
						<br/>
						<boton-wrapper id="submit" >
							<boton-accion-formulario my-id="draftButton" role="group" type="button" value="{{'GUARDAR_DATOS' | translate}}" ng-click="sendForm(senderMode.DRAFT)" glyphicon="glyphicon-floppy-disk" ng-show="!viewMode && !enSubsanacion"></boton-accion-formulario>

							<boton-accion-formulario  my-id="back" role="group" type="button" value="{{'VOLVER' | translate}}" btn-size="btn-lg" ng-click="gotoWelcome()"></boton-accion-formulario>
						</boton-wrapper>
						
					</form>
				</formulario-wrapper>
			<cambio-estado-solicitud form-id='formID'solicitud="formularioATratar"  area-code = "area_codes.BECAS" id = "id_solicitude"></cambio-estado-solicitud>		</div>
	</div>
</container-border-wrapper>