<div ng-controller="documentationManagerBecasController">
    <div class="panel-body formBackground" ng-show="!viewMode">
        <div class="form-group col-xs-6">
            <label>{{'TIPO_DOCUMENTO' | translate}}</label>
            <select id="typeSelect" class="form-control" name="typeSelect"
                    ng-options="dataOption.catalogValue for dataOption in dataOption.availableOptions track by dataOption.id"
                    ng-model="dataOption.selectedOption"
                    ng-change="fileTypeChanged(dataOption.selectedOption)">
            </select>
        </div>
        <div class="form-group col-xs-6">
            <label>&nbsp;</label>
            <input class="form-control" name="file" type="file" maxsize="{{maxfilesize}}" minsize="{{minfilesize}}" accept="{{getFileTypeString()}}"  base-sixty-four-input do-not-parse-if-oversize="true"  onerror="errorHandler" onload="onLoad" ng-model="file">
        </div>
    </div>
    <div class="panel-body formBackground" ng-show="!viewMode">
        <div class="form-group col-xs-3 col-sm-12">
            <input id="addDocumentacion" name="addDocumentacion" type="button" ng-click="addFile()" value="{{'ANADIR_DOCUMENTO' | translate}}" alt="{{'ANADIR_DOCUMENTO' | translate}}">
        </div>
    </div>
    <div class="panel-body formBackground formSeparatorWhite">
        <div class="form-group col-xs-12">
            <table width="100%" style="color: #FFFFFF; font-size: 12px; text-align: center">
                <tr style="border-bottom: 1px solid #fff">
                    <th style="text-align: center">{{'TIPO_DOCUMENTO' | translate}}</th>
                    <th style="text-align: center">{{'DOCUMENT_NAME' | translate}}</th>
                    <th style="text-align: center">&nbsp;</th>
                </tr>
                <tr ng-repeat="file in formularioATratar.documentacion">
                    <td ng-if="!file.docTypeDesc" ng-repeat="dataOption in dataOption.availableOptions | filter:{id:file.docType}:true">{{dataOption.catalogValue}}</td>
                    <td ng-if="file.docTypeDesc">{{file.docTypeDesc}}</td>
                    {{file.docTypeDesc}}
                    <td style="padding: 10px">
                        <span ng-show="file.id===undefined" >{{file.fileName}}</span>
                        <a ng-hide="file.id===undefined" class="fileName" ng-click="downloadDocument($index);">{{file.fileName}}</a>
                    </td>
                    <td style="padding: 10px">
                        <div class="form-group col-xs-3 col-sm-12">
                            <input  id="eliminarDoc-{{$index}}" name="buttonAltaEtiqueta" type="button"  ng-click="eliminarDocumento($index,file.id);" value="{{'ELIMINAR' | translate}}"  alt="{{'ELIMINAR' | translate}}"  ng-show="!viewMode">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel-body formBackground formSeparatorWhite">
        <div class="form-group col-xs-12">

            <table class="table ">
                <thead>
                <tr>
                    <td>Idioma</td>
                    <td class="text-left">B1</td>
                    <td class="text-left">B2</td>
                    <td class="text-left">C1</td>
                    <td class="text-left">C2</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="lang in langs">
                    <td>
                        <label >{{lang.nombre}}</label>
                    </td>
                    <td>
                        <input type="radio" ng-disabled="viewMode" ng-model="lang.puntos" name="{{lang.nombre}}" ng-value="3">
                    </td>
                    <td>
                        <input type="radio" ng-disabled="viewMode" ng-model="lang.puntos" name="{{lang.nombre}}" ng-value="5">
                    </td>
                    <td>
                        <input type="radio" ng-disabled="viewMode" ng-model="lang.puntos" name="{{lang.nombre}}" ng-value="7">
                    </td>
                    <td>
                        <input type="radio" ng-disabled="viewMode" ng-model="lang.puntos" name="{{lang.nombre}}" ng-value="9">
                    </td>
                </tr>
                <tr >
                    <td>Otros Idiomas</td>
                    <td ng-hide="viewMode"><button class="btn" ng-click="addLanguage($event)">+</button></td>
                </tr>
                <tr ng-repeat="lang in otherLangs" >
                    <td ng-if="viewMode">
                        <label >{{lang.nombre}}</label>
                    </td>
                    <td ng-hide="viewMode">
                        <input type="text" ng-model="lang.nombre" placeholder="Idioma" class="form-control" style="width: 30%" ng-readonly="viewMode"  maxlength="12">
                    </td>
                    <td>
                        <input type="radio" ng-disabled="viewMode" ng-model="lang.puntos" name="{{lang.nombre}}" ng-value="1">
                    </td>
                    <td>
                        <input type="radio" ng-disabled="viewMode" ng-model="lang.puntos" name="{{lang.nombre}}" ng-value="1.5">
                    </td>
                    <td>
                        <input type="radio" ng-disabled="viewMode" ng-model="lang.puntos" name="{{lang.nombre}}" ng-value="2.1">
                    </td>
                    <td>
                        <input type="radio" ng-disabled="viewMode" ng-model="lang.puntos" name="{{lang.nombre}}" ng-value="3">
                        <button type="button"  ng-hide="viewMode" ng-click="removeLang($event,$index)">X</button>
                    </td>

                </tr>


                </tbody>
            </table>
          </div>
    </div>
    <div class="row text-center">
        <boton-accion-formulario  my-id="genImpreso" role="group" type="button" ng-click="getPDF()" value="{{'GENERAR_IMPRESO' | translate}}" glyphicon="glyphicon-pencil" ng-show="!viewMode"></boton-accion-formulario>
    </div>

</div>
