<h5>{{"RESOLUTION" | translate}}</h5>
<div id="table-print" class="table-responsive">
    <table ng-table="configTableParams" show-filter="showTableFilters" class="table table-striped table-hover table-condensed">
        <tr ng-repeat="row in $data| orderBy:'-score'" ng-class="{'marcador-solicitud-fila': checkBecaId(row)}">
            <td data-title="'Nombre' | translate">{{row.nombre }}</td>
            <td data-title="'Apellido'   | translate"  >{{row.apellido}}</td>
            <td data-title="'DNI'   | translate"  >{{row.dni}}</td>
            <td data-title="'SCORE' | translate">{{row.score}}</td>
        </tr>
    </table>

</div>

