<h5>{{"INSTRUCTIONS_MANAGEMENT_TITLE" | translate}}</h5>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="alert alert-warning text-justify" role="alert">
			<img ng-src="{{images}}/warning.png" width="16" height="16"/>
			<span translate="UPLOAD_INTRUCTIONS_DISCLAMER"></span>
		</div>
	</div>
</div>
<tabset  vertical="false">
  <tab>
  	 <tab-heading>
        <span translate="INSTRUCTIONS_MANAGEMENT_TAB_TITLE_FORMS"></span>
      </tab-heading>
  		<div class="row">
			<div class="col-md-12">
				<table width="100%" style="color: #fff; font-size: 12px; text-align: center; background-color: #00334b">
					<tr style="border-bottom-style: solid; border-bottom-width:thick;">
						<th style="text-align: center; width:200px;">{{'INST_DOC_NAME' | translate}}</th>
						<th style="text-align: center;  width:50px;">{{'INST_FORM' | translate}}</th>
						<th style="text-align: center; width:100px;">{{'INST_DOC' | translate}}</th>
						<th style="text-align: center; width:50px;">{{'INST_ACTIONS' | translate}}</th>
					</tr>
					
					<tr ng-repeat="row in instrucciones.listSolicitudeInstructions" style="border-bottom-style: solid; border-bottom-width:thin;">
						<td style="padding: 10px">
							<a class="fileName" ng-click="verInstruccionesSolicitud(row.solicitudeType.id)">{{row.catalogValue}}</a>
						</td>				
						<td style="padding: 10px">{{row.solicitudeType.catalogValue}}</td>				
						<td style="padding: 10px">
							<input class="form-control" name="file" type="file" 
								maxsize="{{maxfilesize}}" minsize="{{minfilesize}}" accept="{{fileType}}"
								base-sixty-four-input onload="onLoad" onerror="errorHandler" 
								ng-model="file">
						</td>
						<td style="padding: 10px">
							<div class="col-xs-3 col-sm-12">
								<input id="sustituir" name="sustituir" class="btn btn-default" type="button" ng-click="uploadInstruccionesSolicitud(row.solicitudeType.id, file);" 
									value="{{'SUSTITUIR' | translate}}" alt="{{'SUSTITUIR' | translate}}" ng-disabled="file === undefined" ng-show="file !== undefined">
							</div>
						</td>	
					</tr>			
					</table>
				</div>
			</div>
		</tab>
		<tab ng-if="instrucciones.listPaymentInstructions.length > 0">
		<tab-heading>
       			<span translate="INSTRUCTIONS_MANAGEMENT_TAB_TITLE_PAYMENT"></span>
     	 </tab-heading>
			<div class="row">
				<div class="col-md-12">
						<table width="100%" style="color: #fff; font-size: 12px; text-align: center; background-color: #14533b">
						<tr style="border-bottom-style: solid; border-bottom-width:thick;">
							<th style="text-align: center; width:200px;">{{'INST_DOC_NAME' | translate}}</th>
							<th style="text-align: center;  width:50px;">{{'INST_FORM' | translate}}</th>
							<th style="text-align: center; width:100px;">{{'INST_DOC' | translate}}</th>
							<th style="text-align: center; width:50px;">{{'INST_ACTIONS' | translate}}</th>
						</tr>
						<tr ng-repeat="row in instrucciones.listPaymentInstructions"  style="border-bottom-style: solid; border-bottom-width:thin;">
							<td style="padding: 10px">
								<a class="fileName" ng-click="verInstruccionesPago(row.formType.id)">{{row.catalogValue}}</a>
							</td>			
							<td style="padding: 10px">{{row.formType.catalogValue}}</td>				
							<td style="padding: 10px">
								<input class="form-control" name="file" type="file" 
									maxsize="{{maxfilesize}}" minsize="{{minfilesize}}" accept="{{fileType}}"
									base-sixty-four-input onload="onLoad" onerror="errorHandler" 
									ng-model="file">
							</td>
							<td style="padding: 10px">
								<div class="col-xs-3 col-sm-12">
									<input id="sustituir" name="sustituir" class="btn btn-default" type="button" ng-click="uploadInstruccionesPago(row.formType.id, file);" 
										value="{{'SUSTITUIR' | translate}}" alt="{{'SUSTITUIR' | translate}}" ng-disabled="file === undefined" ng-show="file !== undefined">
								</div>
							</td>	
						</tr>				
					</table>
				</div>
		</div>
	</tab>
</tabset>