<h5>{{"SOLICITUDE_LIST_TITLE" | translate}}</h5>
<button class="btn btn-info btn-sm btn-block" type="button" ng-click="showHideFilter()" >
	<span class="glyphicon glyphicon-filter" aria-hidden="true"></span><span ng-if="showTableFilters">{{"SOLICITUDE_LIST_REMOVE_FILTER" | translate}}</span><span ng-if="!showTableFilters">{{"SOLICITUDE_LIST_FILTER" | translate}}</span>
</button>
<div class="table-responsive">
	<table ng-table="configTableParams" show-filter="showTableFilters" class="table table-striped table-hover table-condensed">
		<tr ng-repeat="row in $data">
			<td data-title="'TRAMIT_SOLICITUDE_ID' | translate" sortable="'id'" filter="{ 'id': 'text' }">
				<a ng-href={{getURLFromEntity(row.entityName)}}/{{row.id}}/v>{{row.identificadorPeticion}}</a>
			</td>		  	
		  	<td data-title="'TRAMIT_SOLICITUDE_TYPE' | translate" filter="{ 'formulario': 'select' }" filter-data="solicitudeTypes($column)" sortable="'formulario'">{{row.formulario}}</td>
		  	<td data-title="'TRAMIT_SOLICITUDE_NIF' | translate" filter="{'nif': 'text'}" sortable="'nif'">{{row.identificationNumber}}</td>
		  	<td data-title="'TRAMIT_SOLICITUDE_DATE' | translate" filter="{'fechaCreacion': 'date-range-filter'}" sortable="'fechaCreacion'">{{row.fechaCreacion | date:'dd/MM/yyyy'}}</td>	
		  	<td data-title="'TRAMIT_SOLICITUDE_STATUS' | translate" filter="{'status': 'select'}" filter-data="solicitudStatusFilter($column)" sortable="'status'">{{fixStatusForTramitador(row.estado)}}</td>
		</tr>
		<tr ng-if="!hasdata">
				<td colspan="5">{{"TRAMIT_SOLICITUDE_LIST_EMPTY" | translate}}</td>
			</tr>
	</table>
</div>