<h5>{{"TASA_LIST_TITLE" | translate}}</h5>
<button class="btn btn-info btn-sm btn-block" type="button" ng-click="showHideFilter()" >
	<span class="glyphicon glyphicon-filter" aria-hidden="true"></span><span ng-if="showTableFilters">{{"SOLICITUDE_LIST_REMOVE_FILTER" | translate}}</span><span ng-if="!showTableFilters">{{"SOLICITUDE_LIST_FILTER" | translate}}</span>
</button>
<div class="table-responsive">
	<table ng-table="configTasaTableParams" show-filter="showTableFilters" class="table table-striped table-hover table-condensed" 
	ng-form="configTasaTableParams.tableForm" disable-filter="configTasaTableParams.isAdding" demo-tracked-table="configTasaTableParams.tableTracker">
		<tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">	  	
		  	<td data-title="'TASA_DESCRIPTION' | translate" filter="{ 'desc': 'text' }" sortable="'desc'" style="width: 60%"
		  	ng-switch="row.isEditing" ng-class="description.$dirty ? 'bg-warning' : ''" ng-form="desc" demo-tracked-table-cell>
		  			<span ng-switch-default >{{row.description}}</span>
			  	  <div class="controls" ng-class="description.$invalid && description.$dirty ? 'has-error' : ''" ng-switch-when="true">
	              	<textarea rows="2" maxlength="250"  name="description" ng-model="row.description" class="form-control" required ></textarea>
	              	<input type="hidden" ng-model="row.descriptionOriginal"  ng-init="row.descriptionOriginal = row.description"/>
	            </div>
		  	</td>
		  	<td data-title="'TASA_MONTO' | translate" filter="{'amount': 'number'}" sortable="'amount'"
		  	 ng-switch="row.isEditing" ng-class="amount.$dirty ? 'bg-warning' : ''" ng-form="amountPayment" demo-tracked-table-cell>
		  		<span ng-switch-default >{{row.amount | number:3}}<span class="glyphicon glyphicon-euro" aria-hidden="true"></span></span>
		  		<div class="controls tasaAdminCellNoTextarea" ng-class="amount.$invalid && amount.$dirty ? 'has-error' : ''" ng-switch-when="true">
             		 <input type="text" step="any" name="amount" ng-model="row.amount" class="form-control" required ng-pattern="'^([0-9])+\.[0-9]{3}$'"/>
             		 <input type="hidden"  ng-model="row.amountOriginal" ng-init="row.amountOriginal = row.amount"/>
             	</div>
		  	 </td>
		  	 <td data-title="'TASA_ACTIONS' | translate">
		  	 	<div class="tasaAdminCellNoTextarea"  ng-if="row.isEditing">
		            <button class="btn btn-primary btn-sm" ng-click="save(row, rowForm)" ng-hide="updatingTasa" ng-disabled="(amountPayment.amount.$pristine && desc.description.$pristine)  || rowForm.$invalid"><span class="glyphicon glyphicon-ok"></span></button>
		            <button class="btn btn-default btn-sm" ng-click="cancel(row, rowForm)"  ng-hide="updatingTasa" ><span class="glyphicon glyphicon-remove"></span></button>
		            <img ng-src="{{images}}/loading.gif"  class="loginSpinner center-block" ng-show="updatingTasa" />
	           </div>
	            <button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing"><span class="glyphicon glyphicon-pencil"></span></button>
          </td>
		</tr>
		<tr ng-if="!hasdata">
				<td colspan="5">{{"TASAS_LIST_EMPTY" | translate}}</td>
			</tr>
	</table>
</div>