<!DOCTYPE html>
<html lang="en" data-ng-app="secosan">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta http-equiv="X-UA-Compatible" content="IE=8, IE=9, IE=edge, requiresActiveX=true" />
<title>SEDE ELECTR&Oacute;NICA DE AECOSAN</title>
<link rel="shortcut icon" href="/secosan/images/favicon.ico" />
<link rel="stylesheet" href="/secosan/styles/vendor/bootstrap/bootstrap.css" />
<link rel="stylesheet" href="/secosan/styles/vendor/bootstrap/bootstrap.css.map" />
<link rel="stylesheet" href="/secosan/styles/vendor/bootstrap/bootstrap-theme.css" />
<link rel="stylesheet" href="/secosan/styles/vendor/ngtable/ng-table.css" />
<link rel="stylesheet" href="/secosan/styles/vendor/ngDialog/ngDialog.css" />
<link rel="stylesheet" href="/secosan/styles/vendor/cookie-law/angular-cookie-law.css"/>
<link rel="stylesheet" href="/secosan/styles/vendor/ngDialog/ngDialog-theme-default.css" />
<link rel="stylesheet" href="/secosan/styles/vendor/pwmeter/ng-password-meter.css">
<link rel="stylesheet" href="/secosan/styles/fundation.css" />
<link rel="stylesheet" href="/secosan/styles/styles.css" />
<link rel="stylesheet" href="/secosan/styles/footer.css" />
</head>
<body>
	<cookie-law-banner message="{{'COOKIE_LAW_MSG' | translate}}" 
	policy-url="http://www.aecosan.msssi.gob.es/AECOSAN/web/aecosan_cookies.htm"
	accept-text="{{'COOKIE_LAW_ACCEPT' | translate}}" policy-button="true" policy-text="{{'COOKIE_LAW_POLICY' | translate}}" ></cookie-law-banner>
	<modal-popup></modal-popup>
	<spinner-loading></spinner-loading>
	<secosan-header title="GENERAL_TITLE"></secosan-header>
	<div class="container">
		<messages-zone></messages-zone>
	</div>
	<secosan-idle></secosan-idle>
	<div ng-view class="ngViewContainer">
	</div>
	<secosan-footer showprotecciondatos="true"></secosan-footer>
	<script src="/secosan/js/vendor/jquery/jquery-1.12.0.js"></script>
	<script src="/secosan/js/vendor/angular/angular.js"></script>
	<script src="/secosan/js/vendor/angular/angular-route.js"></script>
	<script src="/secosan/js/vendor/angular/angular-resource.js"></script>
	<script src="/secosan/js/vendor/angular/angular-cookies.js"></script>
	<script src="/secosan/js/vendor/ngidle/angular-idle.min.js"></script>
	<script src="/secosan/js/vendor/bootstrap/bootstrap.js"></script>
	<script src="/secosan/js/vendor/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
	<script src="/secosan/js/vendor/translate/angular-translate.js"></script>
	<script src="/secosan/js/vendor/translate/angular-loader-static-files.js"></script>
	<script src="/secosan/js/vendor/ngtable/ng-table.js"></script>
	<script src="/secosan/js/vendor/ngDialog/ngDialog.js"></script>
	<script src="/secosan/js/vendor/angular/angular-base64-upload.js"></script>
	<script src="/secosan/js/vendor/angular/angular-locale_es-es.js"></script>
	<script src="/secosan/js/vendor/eligrey/FileSaver.min.js"></script>
	<script src="/secosan/js/vendor/jwt/angular-jwt.min.js"></script>
	<script src="/secosan/js/vendor/base64/angular-utf8-base64.js"></script>
	<script src="/secosan/js/vendor/cookie-law/angular-cookie-law.min.js"></script>
	<script src="/secosan/js/vendor/pwmeter/ng-password-meter.js"></script>
	<script src="/secosan/js/vendor/select/select.min.js"></script>

	<script src="/secosan/js/navpils.helper.js"></script>
	<script src="/secosan/js/secosanGeneric.js"></script>
	<script src="/secosan/js/secosan.js"></script>
	<script src="/secosan/js/providers/httpDecorator.js"></script>
	<script src="/secosan/js/secosanConstantesEpago.js"></script>

	<script src="/secosan/js/services/header-title-service.js"></script>
	<script src="/secosan/js/services/pagination-filter-service.js"></script>
	<script src="/secosan/js/services/catalog-service.js"></script>
	<script src="/secosan/js/services/instrucciones-service.js"></script>
	<script src="/secosan/js/services/instrucciones-pago-service.js"></script>

	<script src="/secosan/js/routes.js"></script>

	<script src="/secosan/js/controllers/welcome-controller.js"></script>
	<script src="/secosan/js/controllers/welcome-controller-sia.js"></script>
	<script	src="/secosan/js/controllers/complementos-alimenticios-cese-controller.js"></script>
	<script src="/secosan/js/controllers/documentation-manager-controller.js"></script>
	<script src="/secosan/js/controllers/documentation-manager-procedimiento-generico-controller.js"></script>
	<script src="/secosan/js/controllers/documentation-manager-becas-controller.js"></script>

	<script src="/secosan/js/controllers/queja-controller.js"></script>
	<script src="/secosan/js/controllers/sugerencia-controller.js"></script>
	<script src="/secosan/js/controllers/alimentos-grupos-cese-controller.js"></script>
	<script	src="/secosan/js/controllers/alimentos-grupos-modificacion-controller.js"></script>
	<script	src="/secosan/js/controllers/alimentos-grupos-puesta-mercado-controller.js"></script>
	<script	src="/secosan/js/controllers/complementos-alimenticios-cese-controller.js"></script>
	<script	src="/secosan/js/controllers/complementos-alimenticios-puesta-mercado-controller.js"></script>
	<script	src="/secosan/js/controllers/complementos-alimenticios-modificacion-controller.js"></script>
	<script src="/secosan/js/controllers/solicitud-logos-controller.js"></script>
	<script src="/secosan/js/controllers/evaluacion-riesgos-controller.js"></script>
	<script src="/secosan/js/controllers/lmr-fitosanitarios-controller.js"></script>
	<script src="/secosan/js/controllers/financiacion-alimentos-alteracion-controller.js"></script>
	<script	src="/secosan/js/controllers/financiacion-alimentos-inclusion-controller.js"></script>
	<script	src="/secosan/js/controllers/financiacion-alimentos-suspension-controller.js"></script>
	<script src="/secosan/js/controllers/products-controller.js"></script>
	<script src="/secosan/js/controllers/presentation-controller.js"></script>
	<script src="/secosan/js/controllers/lista-presentaciones-controller.js"></script>
	<script src="/secosan/js/controllers/login-controller.js"></script>
	<script src="/secosan/js/controllers/registro-noue-controller.js"></script>
	<script src="/secosan/js/controllers/antecedentes-procedencia-controller.js"></script>
	<script src="/secosan/js/controllers/pago-controller.js"></script>
	<script src="/secosan/js/controllers/registro-aguas-controller.js"></script>
	<script src="/secosan/js/controllers/registro-industrias-controller.js"></script>
	<script src="/secosan/js/controllers/cambio-contrasenia-controller.js"></script>
	<script src="/secosan/js/controllers/procedimiento-generico-controller.js"></script>
	<script src="/secosan/js/controllers/procedimiento-generico-controller-recsara.js"></script>
	<script src="/secosan/js/controllers/registro-estatal-controller.js"></script>
	<script src="/secosan/js/controllers/subvencion-asocuae-controller.js"></script>
	<script src="/secosan/js/controllers/subvencion-juntas-controller.js"></script>
	<script src="/secosan/js/controllers/becas-controller.js"></script>
	
	<script src="/secosan/js/filters/date-range-filter.js"></script>

	<script src="/secosan/js/directives/solicitude-table-welcome.js"></script>
	<script src="/secosan/js/directives/procedure-description.js"></script>
	<script src="/secosan/js/directives/wrappers/container-border-wrapper.js"></script>
	<script src="/secosan/js/directives/wrappers/formulario-wrapper.js"></script>
	<script src="/secosan/js/directives/wrappers/boton-wrapper.js"></script>
	<script src="/secosan/js/directives/wrappers/options-menu-wrapper.js"></script>
	<script src="/secosan/js/directives/wrappers/form-element-wrapper.js"></script>
	<script src="/secosan/js/directives/wrappers/form-background-wrapper.js"></script>
	<script src="/secosan/js/directives/wrappers/tab-wrapper.js"></script>
	<script src="/secosan/js/directives/generics/botones-tabs.js"></script>
	<script src="/secosan/js/directives/generics/boton-copiar-datos.js"></script>
	<script src="/secosan/js/directives/generics/boton-limpiar-datos.js"></script>
	<script src="/secosan/js/directives/generics/welcome-menu.js"></script>
	<script src="/secosan/js/directives/generics/secosan-header.js"></script>
	<script src="/secosan/js/directives/generics/secosan-footer.js"></script>
	<script src="/secosan/js/directives/generics/img-title.js"></script>
	<script src="/secosan/js/directives/generics/translate-directive.js"></script>
	<script src="/secosan/js/directives/generics/messages-directive.js"></script>
	<script src="/secosan/js/directives/generics/secosan-titleTooltip.js"></script>
	<script src="/secosan/js/directives/generics/validate-nif.js"></script>
	<script src="/secosan/js/directives/generics/only-digits.js"></script>
	<script src="/secosan/js/directives/generics/password-match.js"></script>
	<script src="/secosan/js/directives/generics/password-not-match.js"></script>
	<script src="/secosan/js/directives/generics/password-validate.js"></script>
	
	<script src="/secosan/js/directives/generics/formularios/decimal-to-comma.js"></script>
	<script src="/secosan/js/directives/generics/formularios/historial-solicitud.js"></script>
	<script src="/secosan/js/directives/generics/formularios/solicitante.js"></script>
	<script src="/secosan/js/directives/generics/formularios/representante.js"></script>
	<script src="/secosan/js/directives/generics/formularios/datos-adicionales.js"></script>
	<script src="/secosan/js/directives/generics/formularios/documentacion.js"></script>
	<script src="/secosan/js/directives/generics/formularios/direccion.js"></script>
	<script src="/secosan/js/directives/generics/formularios/direccion-representante.js"></script>
	<script src="/secosan/js/directives/generics/formularios/direccion-contacto.js"></script>
	<script src="/secosan/js/directives/generics/formularios/pieformulario.js"></script>
	<script src="/secosan/js/directives/generics/formularios/paises.js"></script>
	<script src="/secosan/js/directives/generics/formularios/datos-obligatorios.js"></script>
	<script	src="/secosan/js/directives/generics/formularios/checkbox-subformularios.js"></script>
	<script	src="/secosan/js/directives/generics/formularios/aceptar-instrucciones.js"></script>
	<script	src="/secosan/js/directives/generics/formularios/boton-accion-formulario.js"></script>
	<script src="/secosan/js/directives/generics/formularios/instrucciones.js"></script>
	<script src="/secosan/js/directives/generics/formularios/form-field.js"></script>
	<script src="/secosan/js/directives/generics/formularios/form-list.js"></script>
	<script src="/secosan/js/directives/generics/formularios/modal-popup.js"></script>
	<script src="/secosan/js/directives/generics/formularios/solicitude-number.js"></script>
	<script src="/secosan/js/directives/generics/formularios/presentacion.js"></script>
	<script	src="/secosan/js/directives/generics/formularios/lista-presentaciones.js"></script>
	<script	src="/secosan/js/directives/generics/formularios/antecedentes-procedencia.js"></script>
	<script src="/secosan/js/directives/generics/clave-login-img-directive.js"></script>
	<script src="/secosan/js/directives/generics/secosan-users-bar.js"></script>
	<script src="/secosan/js/directives/generics/avoid-save-credentials-login.js"></script>
	<script src="/secosan/js/directives/generics/secosan-idle.js"></script>
	<script src="/secosan/js/directives/generics/spinner-directive.js"></script>
	<script src="/secosan/js/directives/generics/app-disclamer.js"></script>
		
	<script src="/secosan/js/directives/generics/formularios/resume-validacion.js"></script>
	<script src="/secosan/js/directives/generics/formularios/form-validacion.js"></script>
	<!-- CAMBIO CONTRASEÑA -->
	<script src="/secosan/js/directives/generics/formularios/cambio-contrasenia-popup.js"></script>
	<script	src="/secosan/js/directives/generics/formularios/cambio-contrasenia.js"></script>
	<!-- /CAMBIO CONTRASEÑA -->
	<!-- PAGO -->
	<script src="/secosan/js/directives/generics/formularios/pago-panel.js"></script>
	<script	src="/secosan/js/directives/generics/formularios/pago/aceptar-observaciones-pago.js"></script>
	<script	src="/secosan/js/directives/generics/formularios/pago/autoliquidacion-pago.js"></script>
	<script	src="/secosan/js/directives/generics/formularios/pago/identificacion-pago.js"></script>
	<script	src="/secosan/js/directives/generics/formularios/pago/observaciones-pago.js"></script>
	<script	src="/secosan/js/directives/generics/formularios/pago/pago-online.js"></script>
	<script	src="/secosan/js/directives/generics/formularios/pago/pago-botones.js"></script>
	<script	src="/secosan/js/directives/generics/formularios/pago/pago-ofline-popup.js"></script>
	<!--  /PAGO -->
	<script	src="/secosan/js/directives/complementosAlimenticios/cese/container-ca-cese-comercializacion.js"></script>
	<script	src="/secosan/js/directives/complementosAlimenticios/cese/form-ca-cese.js"></script>
	<script	src="/secosan/js/directives/complementosAlimenticios/modificacion/container-ca-modificacion.js"></script>
	<script	src="/secosan/js/directives/complementosAlimenticios/modificacion/form-ca-modificacion.js"></script>
	<script	src="/secosan/js/directives/complementosAlimenticios/puestaMercado/container-ca-puesta-mercado.js"></script>
	<script	src="/secosan/js/directives/complementosAlimenticios/puestaMercado/form-ca-puesta-mercado.js"></script>
	<script	src="/secosan/js/directives/complementosAlimenticios/puestaMercado/form-ca-identificativos-adicionales.js"></script>

	<script	src="/secosan/js/directives/alimentosGrupos/cese/container-ag-cese-comercializacion.js"></script>
	<script src="/secosan/js/directives/alimentosGrupos/cese/form-ag-cese.js"></script>
	<script	src="/secosan/js/directives/alimentosGrupos/modificacion/container-ag-modificacion.js"></script>
	<script	src="/secosan/js/directives/alimentosGrupos/modificacion/form-ag-modificacion.js"></script>
	<script	src="/secosan/js/directives/alimentosGrupos/puestaMercado/container-ag-puesta-mercado.js"></script>
	<script	src="/secosan/js/directives/alimentosGrupos/puestaMercado/form-ag-puesta-mercado.js"></script>
	<script	src="/secosan/js/directives/alimentosGrupos/puestaMercado/form-ag-identificativos-adicionales.js"></script>

	<script src="/secosan/js/directives/comunicacion/queja/container-queja.js"></script>
	<script src="/secosan/js/directives/comunicacion/queja/form-queja.js"></script>
	<script	src="/secosan/js/directives/comunicacion/sugerencia/container-sugerencia.js"></script>
	<script src="/secosan/js/directives/comunicacion/sugerencia/form-sugerencia.js"></script>

	<script	src="/secosan/js/directives/evaluacionRiesgos/container-evaluacion-riesgos.js"></script>
	<script	src="/secosan/js/directives/evaluacionRiesgos/form-evaluacion-riesgos.js"></script>
	
	<script	src="/secosan/js/directives/registroAguas/container-registro-aguas.js"></script>
	<script	src="/secosan/js/directives/registroAguas/form-registro-aguas.js"></script>

	<script	src="/secosan/js/directives/registroIndustrias/container-registro-industrias.js"></script>
	<script	src="/secosan/js/directives/registroIndustrias/direccion-envio.js"></script>
	<script	src="/secosan/js/directives/registroIndustrias/form-registro-industrias.js"></script>

	<script	src="/secosan/js/directives/lmrFitosanitarios/container-lmr-fitosanitarios.js"></script>
	<script	src="/secosan/js/directives/lmrFitosanitarios/form-lmr-fitosanitarios.js"></script>

	<script	src="/secosan/js/directives/financiacionAlimentos/alteracion/container-alteracion.js"></script>
	<script	src="/secosan/js/directives/financiacionAlimentos/alteracion/form-alteracion.js"></script>
	<script	src="/secosan/js/directives/financiacionAlimentos/alteracion/anexoiii.js"></script>
	<script	src="/secosan/js/directives/financiacionAlimentos/inclusion/container-inclusion.js"></script>
	<script	src="/secosan/js/directives/financiacionAlimentos/inclusion/form-inclusion.js"></script>
	<script	src="/secosan/js/directives/financiacionAlimentos/inclusion/anexoii.js"></script>
	<script	src="/secosan/js/directives/financiacionAlimentos/suspension/container-suspension.js"></script>
	<script	src="/secosan/js/directives/financiacionAlimentos/suspension/form-suspension.js"></script>
	<script	src="/secosan/js/directives/financiacionAlimentos/numRefProduct.js"></script>
	<script	src="/secosan/js/directives/financiacionAlimentos/productNameNumRef.js"></script>
	<script src="/secosan/js/directives/financiacionAlimentos/suspension/productos.js"></script>

	<script	src="/secosan/js/directives/apoderamiento/validar-apoderamiento.js"></script>
	<script	src="/secosan/js/directives/procedimientoGenerico/container-procedimiento-generico.js"></script>
	<script	src="/secosan/js/directives/procedimientoGenerico/seleccion-tipo-procedimiento.js"></script>
	<script	src="/secosan/js/directives/registroEstatal/container-registro-estatal.js"></script>
	<script	src="/secosan/js/directives/subvencionAsocuae/container-subvencion-asocuae.js"></script>
	<script	src="/secosan/js/directives/subvencionAsocuae/container-subvencion-juntas.js"></script>
	<script	src="/secosan/js/directives/becas/container-becas.js"></script>


	<script src="/secosan/js/directives/solicitudLogos/container-solicitud-logos.js"></script>
	<script src="/secosan/js/directives/solicitudLogos/form-solicitud-logos.js"></script>

	<script src="/secosan/js/directives/login/container-login.js"></script>
	<script src="/secosan/js/directives/login/container-login-tramitador.js"></script>
	<script src="/secosan/js/directives/login/form-login.js"></script>

	<script src="/secosan/js/services/catalog-location-service.js"></script>

	<script src="/secosan/js/services/solicitudnum-header-service.js"></script>
	<script src="/secosan/js/services/welcome-menu-service.js"></script>
	<script src="/secosan/js/services/message-service.js"></script>
	<script src="/secosan/js/services/solicitude-service.js"></script>
	<script src="/secosan/js/services/alimentos-grupos-service.js"></script>
	<script src="/secosan/js/services/complementos-alimenticios-service.js"></script>
	<script src="/secosan/js/services/identificadorPeticion-service.js"></script>
	<script src="/secosan/js/services/queja-service.js"></script>
	<script src="/secosan/js/services/sugerencia-service.js"></script>
	<script src="/secosan/js/services/solicitud-logos-service.js"></script>
	<script src="/secosan/js/services/evaluacion-riesgos-service.js"></script>
	<script src="/secosan/js/services/registro-aguas-service.js"></script>
	<script src="/secosan/js/services/registro-industrias-service.js"></script>
	<script src="/secosan/js/services/historial-solicitudes-service.js"></script>
	<script src="/secosan/js/services/apoderamiento-service.js"></script>
	<script src="/secosan/js/services/procedimiento-general-service.js"></script>
	<script src="/secosan/js/services/procedure-description-service.js"></script>
	<script src="/secosan/js/services/registro-reacu-service.js"></script>
	<script src="/secosan/js/services/subvencion-asocuae-service.js"></script>
	<script src="/secosan/js/services/subvencion-juntas-service.js"></script>
	<script src="/secosan/js/services/becas-service.js"></script>
	
	<script src="/secosan/js/services/lmr-fitosanitarios-service.js"></script>
	<script src="/secosan/js/services/financiacion-alimentos-service.js"></script>
	<script src="/secosan/js/services/modal-service.js"></script>
	<script src="/secosan/js/services/modalParams-service.js"></script>
	<script src="/secosan/js/services/datetime-service.js"></script>
	<script src="/secosan/js/services/file-dto-download-service.js"></script>
	<script src="/secosan/js/services/servicios-pago-service.js"></script>
	<script src="/secosan/js/services/set-data-from-catalog-service.js"></script>
	<script src="/secosan/js/services/ubicacion-service.js"></script>
	<script src="/secosan/js/services/form-model-service.js"></script>
	<script src="/secosan/js/services/documentacion-service.js"></script>
	<script src="/secosan/js/services/entity-url-service.js"></script>
	<script src="/secosan/js/services/location-combos-service.js"></script>
	<script src="/secosan/js/services/util-service.js"></script>
	<script src="/secosan/js/services/doc-type-service.js"></script>
	<script src="/secosan/js/services/registry-number-format-service.js"></script>
	<script src="/secosan/js/services/impreso-firma-service.js"></script>
	<script src="/secosan/js/services/check-solicitude-editability-service.js"></script>
	<script src="/secosan/js/services/pago-service.js"></script>
	<script src="/secosan/js/services/pago-online-service.js"></script>
	<script src="/secosan/js/services/validation-utils-service.js"></script>
	<script src="/secosan/js/services/user-management-service.js"></script>
	<script src="/secosan/js/services/authentication-user-service.js"></script>
	<script src="/secosan/js/services/datepicker-popup-service.js"></script>
	<script src="/secosan/js/services/spinner-services.js"></script>
	<script src="/secosan/js/services/attachablesFiles-service.js"></script>
	<script src="/secosan/js/services/justificante-pago-service.js"></script>
	<script src="/secosan/js/services/remove-payment-data-service.js"></script>
	<script src="/secosan/js/services/tasa-service.js"></script>
	<script src="/secosan/js/vendor/clienteafirma/miniapplet.js"></script>
	<script src="/secosan/js/services/cambio-contrasenia-service.js"></script>
	<script src="/secosan/js/services/tipo-procedimiento-service.js"></script>

</body>
</html>