<form-background-wrapper>
	<div class="form-group col-xs-12 col-sm-12">
		<label for="unidadDependencia">{{'DATOS_UNIDAD_2' | translate}} (*)</label> 
		<input id="unidadDependencia" class="form-control" name="unidadDependencia" type="text" 
			value="" maxlength="100" tooltip="{{'DATOS_UNIDAD_2' | translate}}" ng-readonly="viewMode"
			ng-model="formularioATratar.unity" ng-required="!editMode"/>
	</div>	
</form-background-wrapper>
<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="form-group col-xs-12 col-sm-2">
		<label for="fechaIncidencia">{{'FECHA_INCIDENCIA' | translate}} (*)</label> 
		<div class="input-group col-sm-12">	
			<input id="fechaIncidencia" class="form-control" name="fechaIncidencia" type="text" 
				value="" ng-readonly="true" 
				datepicker-popup="dd/MM/yyyy" is-open="dtp.opened" show-button-bar="false" close-text="Close"
				datepicker-options="datePickerParams.dateOptions" max-date="datePickerParams.maxDate"
				ng-model="datePickerParams.auxFecha.fechaIncidencia" ng-required="!editMode"/>
			<span class="input-group-btn">
            	<button type="button" class="btn btn-default" ng-click="open($event)" ng-disabled="viewMode">
            		<i class="glyphicon glyphicon-calendar"></i> 
            	</button>
            </span>
      	</div>  
	</div>	

	<div class="form-group col-xs-12 col-sm-2">
		<div class="col-sm-12 timepicker">		
			<timepicker hour-step="1" minute-step="1" show-meridian="false" 
				readonly-input="true" ng-change="changed()" ng-show="!viewMode"
				ng-model="datePickerParams.auxFecha.horaIncidencia" ng-required="!editMode">
			</timepicker>
			<label ng-show="viewMode">{{'HORA_INCIDENCIA' | translate}} (*)</label> 
			<input type="text" class="form-control" ng-show="viewMode" ng-readonly="viewMode"
			ng-value="datePickerParams.auxFecha.horaIncidencia |  date : 'HH:mm'"/>
		</div>			
	</div>
</form-background-wrapper>

<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="form-group col-xs-12 col-sm-12">
		<label for="motivoQueja">{{'MOTIVO_QUEJA' | translate}} (*)</label> 
		<textarea id="motivoQueja" class="form-control" name="motivoQueja" type="text"  maxlength="240"
			rows="5" value="" tooltip="{{'MOTIVO_QUEJA' | translate}}" ng-readonly="viewMode"
			ng-model="formularioATratar.motive" ng-required="!editMode">
		</textarea>
	</div>	
</form-background-wrapper>