<ng-form name="form.adduser" class="form-inline">
	<form-background-wrapper>
		<div class="row">
			<div class="form-group col-xs-3 col-sm-3">
				<label for="login">{{"GEST_USERS_USER" | translate}} (*)</label> 
				<input id="login" class="form-control" name="login" type="text"
					tooltip="{{'GEST_USERS_USER' | translate}}"
					ng-model="formularioATratar.login" ng-required="true" ng-pattern="'^\\S*$'"/>
			</div>
			<div class="form-group col-xs-3 col-sm-3">
				<label for="name">{{"GEST_USERS_NAME" | translate}} (*)</label> 
				<input id="name" class="form-control" name="name" type="text"
					tooltip="{{'GEST_USERS_NAME' | translate}}"
					ng-model="formularioATratar.nombre" ng-required="true"/>
			</div>
			<div class="form-group col-xs-3 col-sm-3">
				<label for="lastname">{{"GEST_USERS_LASTNAME" | translate}} (*)</label> 
				<input id="lastname" class="form-control" name="lastname" type="text"
					tooltip="{{'GEST_USERS_LASTNAME' | translate}}"
					ng-model="formularioATratar.apellido" ng-required="true"/>
			</div>
			<div class="form-group col-xs-3 col-sm-3">
				<label for="lastname">{{"GEST_USERS_EMAIL" | translate}} (*)</label> 
				<input id="lastname" class="form-control" name="lastname" type="email"
					tooltip="{{'GEST_USERS_EMAIL' | translate}}" ng-pattern="email_pattern"
					ng-model="formularioATratar.email" ng-required="true"/>
			</div>
	  </div>
	</form-background-wrapper>
	<form-background-wrapper>
	  <div class="row">
		<div class="form-group col-xs-4 col-sm-4">
			<label for="password">{{"GEST_USERS_PASSWORD" | translate}} (*)</label> 
			<input id="password_reg" class="form-control" name="password_reg" type="password"
				tooltip="{{'GEST_USERS_PASSWORD' | translate}}"
				ng-model="formularioATratar.password" ng-required="true" pw-validate/>
			<div class='msg-block' ng-show='form.adduser.retypePassword.$error'>
			  <span class='msg-error' ng-show='form.adduser.password_reg.$error.pwvalidate'>
			    {{'PWD_REGEX_VALID' | translate}}
			  </span>
			</div>
		</div>
		<div class="form-group col-xs-4 col-sm-4">
			<label for="retypePassword">{{"GEST_USERS_RETYPE_PASSWORD" | translate}} (*)</label> 
			<input id="retypePassword" class="form-control" name="retypePassword" type="password"
				tooltip="{{'GEST_USERS_RETYPE_PASSWORD' | translate}}"
				ng-model="aux.retypePassword" ng-required="true" pw-check='password_reg'/>
			<div class='msg-block' ng-show='form.adduser.retypePassword.$error'>
			  <span class='msg-error' ng-show='form.adduser.retypePassword.$error.pwmatch'>
			    {{'REGISTER_PASSWORD_ERROR' | translate}}
			  </span>
			</div>
		</div>
		<div class="form-group col-xs-4 col-sm-4">
				<label for="grupo">{{"DNI" | translate}} (*)</label> 		
				<input id="dniusuario" class="form-control" name="dniusuario" type="text" 
					placeholder="" maxlength="10" tooltip="{{'DNI' | translate}}"
					ng-model="formularioATratar.identificationNumber" ng-required="true" validate-internal-user-dni/>
			<div class='msg-block' ng-show='form.adduser.dniusuario.$error'>
			  <span class='msg-error' ng-show='form.adduser.dniusuario.$error.userexists'>
			    {{'INTERNAL_USER_EXISTS' | translate}}
			  </span>
			</div>
		</div>
	  </div>
	</form-background-wrapper>
	<form-background-wrapper>
	  <div class="row">
	  	<div class="form-group col-xs-6 col-sm-6">
			<label for="grupo">{{"GEST_USERS_GROUPS" | translate}} (*)</label> 		
			<select id="grupo" class="form-control" name="grupo" 
				ng-options="grupo.catalogValue for grupo in catalogoGrupos track by grupo.catalogId"
				ng-model="aux.area" ng-required="true">
				<option value="" selected>{{'SELECT' | translate}}</option>
			</select>	
		</div>
			<div class="form-group col-xs-6 col-sm-6">
			<label for="rol">{{"GEST_USERS_ROLE" | translate}} (*)</label> 
			<select id="rol" class="form-control" name="rol" 
				ng-options="rol.catalogValue for rol in catalogoRoles track by rol.catalogId"
				ng-model="aux.userPermission" ng-required="true">
				<option value="" selected>{{'SELECT' | translate}}</option>
			</select>	
		</div>
	  </div>
	 </form-background-wrapper>
</ng-form>