<ng-form name="form.updateuser">
	<form-background-wrapper>
		<div class="row" >
		<div ng-class=" {false:'form-group col-xs-3 col-sm-3', true:'form-group col-xs-4 col-sm-4'}[sameUser]">
			<label for="login">{{"GEST_USERS_USER" | translate}} (*)</label> 
			<input id="login" class="form-control" name="login" type="text" maxlength="50"
				tooltip="{{'GEST_USERS_USER' | translate}}"
				ng-model="userData.login" ng-required="editMode" ng-disabled="true"/>
		</div>
		<div ng-class=" {false:'form-group col-xs-3 col-sm-3', true:'form-group col-xs-4 col-sm-4'}[sameUser]">
			<label for="name">{{"GEST_USERS_NAME" | translate}} (*)</label> 
			<input id="name" class="form-control" name="name" type="text" maxlength="50"
				tooltip="{{'GEST_USERS_NAME' | translate}}"
				ng-model="userData.nombre" ng-required="editMode" ng-disabled="!editMode"/>
		</div>
		<div ng-class=" {false:'form-group col-xs-3 col-sm-3', true:'form-group col-xs-4 col-sm-4'}[sameUser]">
			<label for="lastname">{{"GEST_USERS_LASTNAME" | translate}} (*)</label> 
			<input id="lastname" class="form-control" name="lastname" type="text" maxlength="50"
				tooltip="{{'GEST_USERS_LASTNAME' | translate}}"
				ng-model="userData.apellido" ng-required="editMode" ng-disabled="!editMode"/>
		</div>
		<div class="form-group col-xs-3 col-sm-3" ng-if="!sameUser">
			<label for="status">{{"GEST_USERS_STATUS" | translate}} (*)</label> 
			<input type="radio" name="status" ng-value="1" 
				ng-model="auxUpdate.status" ng-required="editMode" ng-disabled="!editMode"> 
			<label for="status">{{'GEST_USERS_STATUS_ACTIVE' | translate}}</label>
			<input type="radio" name="status" ng-value="0" 
				ng-model="auxUpdate.status" ng-required="editMode" ng-disabled="!editMode">
			<label for="status">{{'GEST_USERS_STATUS_INACTIVE' | translate}}</label>
		</div>
		</div>
	</form-background-wrapper>
	<form-background-wrapper>
		<div class="row">
			<div class="form-group col-xs-4 col-sm-4">
				<label for="grupo">{{"DNI" | translate}} (*)</label> 		
				<input id="dniUsuario" class="form-control" name="dniusuario" type="text" 
					placeholder="" maxlength="10" tooltip="{{'DNI' | translate}}" ng-disabled="!editMode"
					ng-model="userData.identificationNumber" ng-required="editMode"/>
			</div>
		
			<div class="form-group col-xs-4 col-sm-4">
				<label for="grupo">{{"GEST_USERS_GROUPS" | translate}} (*)</label> 		
				<select id="grupo" class="form-control" name="grupo" 
					ng-options="grupo.catalogValue for grupo in catalogoGrupos track by grupo.catalogId"
					ng-model="auxUpdate.area" ng-required="editMode" ng-disabled="!editMode">
					<option value="" selected>{{'SELECT' | translate}}</option>
				</select>	
			</div>
			 <div class="form-group col-xs-4 col-sm-4">
				<label for="rol">{{"GEST_USERS_ROLE" | translate}} (*)</label> 
				<select id="rol" class="form-control" name="rol" 
					ng-options="rol.catalogValue for rol in catalogoRoles track by rol.catalogId"
					ng-model="auxUpdate.userPermission" ng-required="editMode" ng-disabled="!editMode">
					<option value="" selected>{{'SELECT' | translate}}</option>
				</select>	
			</div>
		</div>
	</form-background-wrapper>
</ng-form>