<button class="btn btn-info btn-sm btn-block" type="button" ng-click="showHideUserFilter()" >
	<span class="glyphicon glyphicon-filter" aria-hidden="true"></span>{{"SOLICITUDE_LIST_FILTER" | translate}}
</button>
<div class="table-responsive">
	<table ng-table="configTableParamsGestUsers" show-filter="showTableUserFilters" class="table table-striped table-hover table-condensed">
		<tr ng-repeat="row in $data">
		  	<td data-title="'GEST_USERS_USER' | translate" filter="{'login': 'text'}" sortable="'login'">
		  		<a class="userLink" ng-click="updateUser(row);">{{row.login}}</a>
		  	</td>
		  	<td data-title="'GEST_USERS_NAME' | translate" filter="{'name': 'text'}" sortable="'name'">{{row.nombre}}</td>
		  	<td data-title="'GEST_USERS_LASTNAME' | translate" filter="{'lastName': 'text'}" sortable="'lastName'">{{row.apellido}}</td>
		  	<td data-title="'GEST_USERS_GROUPS' | translate" filter="{'area': 'select'}" filter-data="loadAreaTableFilterSelect($column)" sortable="'area'">{{row.areaDescription}}</td>
		  	<td data-title="'GEST_USERS_STATUS' | translate" filter="{'block': 'select'}" filter-data="statusFilter" sortable="'block'">
		  		<span class="glyphicon glyphicon-user" ng-class="{true: 'green-icon', false: 'red-icon'}[row.userBlocked]" title="{{{true: 'Bloqueado', false: 'Activo'}[row.userBlocked]}}"></span>
		  	</td>
		  	<td data-title="'GEST_USERS_DELETE' | translate">			
		  		<button type="button" class="btn btn-danger btn-xs" title="Eliminar Usuario {row.nombre}} {{row.apellido}}" ng-click="deleteUser($index, row.id)" ng-if="!isSameUserLogged(row.id)">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
				<img ng-src="{{images}}/no-action.png" title="Sin Acciones disponibles" alt="Sin acciones disponibles" ng-if="isSameUserLogged(row.id)">
			</td>
		</tr>
	</table>
</div>