<form-background-wrapper>
	<div class="form-group col-xs-2 col-sm-2">
		<label for="login">{{"GEST_USERS_USER" | translate}}</label> 
		<input id="login" class="form-control" name="login" type="text"
			tooltip="{{'GEST_USERS_USER' | translate}}"
			ng-model="formularioATratar.login"/>
	</div>
	<div class="form-group col-xs-3 col-sm-3">
		<label for="name">{{"GEST_USERS_NAME" | translate}}</label> 
		<input id="name" class="form-control" name="name" type="text"
			tooltip="{{'GEST_USERS_NAME' | translate}}"
			ng-model="formularioATratar.name"/>
	</div>
	<div class="form-group col-xs-3 col-sm-3">
		<label for="lastname">{{"GEST_USERS_LASTNAME" | translate}}</label> 
		<input id="lastname" class="form-control" name="lastname" type="text"
			tooltip="{{'GEST_USERS_LASTNAME' | translate}}"
			ng-model="formularioATratar.lastname"/>
	</div>
	<div class="form-group col-xs-2 col-sm-2">
		<label for="grupo">{{"GEST_USERS_GROUPS" | translate}}</label> 		
		<select id="grupo" class="form-control" name="grupo" 
			ng-options="grupo.catalogValue for grupo in catalogoGrupos track by grupo.catalogId"
			ng-model="aux.group">
			<option value="" selected>{{'SELECT' | translate}}</option>
		</select>	
	</div>
	<div class="form-group col-xs-2 col-sm-2">
		<label for="status">{{"GEST_USERS_STATUS" | translate}}</label> 
		<input type="radio" name="status" ng-value="0" 
			ng-model="formularioATratar.status" required> 
		<label for="status">{{'GEST_USERS_STATUS_ACTIVE' | translate}}</label>
		<input type="radio" name="status" ng-value="1" 
			ng-model="formularioATratar.status" required>
		<label for="status">{{'GEST_USERS_STATUS_INACTIVE' | translate}}</label>
		<input type="radio" name="status" ng-value="2" 
			ng-model="formularioATratar.status">
		<label for="status">{{'GEST_USERS_STATUS_ACTIVE_INACTIVE' | translate}}</label>
	</div>
</form-background-wrapper>