<div id="secosan-pago" class="modal fade" data-backdrop="static" ng-controller="updateUserController">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<div class="col-sm-12">
					<h4>{{'GEST_USERS_USER_DATA' | translate}}</h4>
				</div>
			</div>
			<div class="modal-body">
			<container-border-wrapper extraclass="panel-body">
					<datos-obligatorios></datos-obligatorios>
					<div class="row" style="margin-bottom: 5px;">
						<div class="col-md-12"> 	
						<button class="btn btn-default btn-xs pull-right" ng-click="changeEditMode()">
							    <span ng-class="{true:'glyphicon glyphicon-lock', false:'glyphicon glyphicon-pencil' }[editMode]"></span><span ng-if= "editMode" translate="LOCK_EDIT_USER_FORM"></span><span ng-if= "!editMode" translate="EDIT_USER_FORM"></span>
						</button>
				    </div>
					</div>
					<div class="row">
						<div class="col-md-12"> 
						<formulario-wrapper>
							<form id="formularioPrincial" name="formularioPrincial" class="form-inline" method="post" ng-submit="updateUserData()">  
								    	<form-update-user></form-update-user>		
								<div class="modal-footer">
									<boton-wrapper>
										<boton-accion-formulario role="group" type="button" value="Cerrar Ventana" data-dismiss="modal" ng-click="disableEditMode()"></boton-accion-formulario>
										<boton-accion-formulario role="group" type="submit" value="Guardar Cambios" ng-show="editMode && form.updateuser.$valid" ></boton-accion-formulario>
									</boton-wrapper>
								</div>
							</form>
							</formulario-wrapper>
						</div>
					  </div>
				</container-border-wrapper>
			</div>
		</div>
	</div>
</div>