<formulario-wrapper>
	<div class="row">
		<div class="col-md-12"><h5>{{'GEST_USERS_NEW_USER' | translate}}</h5></div>
	</div>
	<div class="row" ng-show="addUserMessages.success!== undefined">
		<div class="col-md-8 col-md-offset-2">
			<div class="alert alert-success text-center" role="alert" ng-class="addUserMessages.success ? 'alert-success':'alert-danger'">
				<span translate ="{{addUserMessages.msg}}"></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<datos-obligatorios></datos-obligatorios>
			<form-user-registration></form-user-registration>							
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3" style="margin-top: 10px">
			<button ng-click="sendForm(senderMode.SUBMIT)" ng-disabled="form.adduser.$invalid" type="button" class="btn btn-default btn-block">{{'ENVIAR' | translate}}</button>	
		</div>
	</div>
</formulario-wrapper>