<formulario-wrapper>
	<div class="row">
		<div class="col-md-12">	
			<h5>{{'GEST_USERS_LIST' | translate}}</h5>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">			
			<form-user-list></form-user-list>	
			<update-user-popup></update-user-popup>					
		</div>
	</div>
</formulario-wrapper>
