<secosan-users-bar showgoback="false"></secosan-users-bar>
<img-title class="{{titleClass}}" title="{{titleWelcome}}"></img-title>
<div class="container">
	<div class="row  pR">
	<div class="col-sm-4 pre" ng-class="{'pre-scrollable': menuOptions.length > 5}" style="min-height: 500px" >
		<welcome-menu options="menuOptions"></welcome-menu>
	</div>
		<div class="col-sm-8">
			<div class="wrapperFormulario">
				<welcome-admin-element></welcome-admin-element>
			</div>
		</div>
	</div>
</div>
