<img-title class="procedurestitle" title="FORM_LOGIN_GEST"></img-title>
<div id="formContent" class="container">
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<app-disclamer disclamer="'ADMIN_DISCLAMER'"></app-disclamer>
	</div>
</div>
	<div class="row">
		<div class="col-md-6">
			<container-border-wrapper extraclass="panel-body loginPanels">
			<div class="row">
				<div class="col-md-12">
					<h5>{{"ACCESS_ADMIN_USERPW" | translate}}</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<datos-obligatorios></datos-obligatorios>
				</div>
			</div>
			<div class="row loginFormCenteredRow">
				<div class="col-md-6 col-md-offset-3">
					<form-login sendform="sendForm()" showloading="showloading"
						loginerrormessage="loginErrorMessage" formmodel="formularioATratar"></form-login>
				</div>
			</div>
			</container-border-wrapper>
		</div>
		<div class="col-md-6">
		<container-border-wrapper extraclass="panel-body loginPanels">
			<div class="row">
				<div class="col-md-12">
					<h5>{{"ACCESS_ADMIN_CLAVE" | translate}}</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-info text-justify" role="alert">
						<img ng-src="{{images}}/info.png" width="16" height="16"/>
						<span translate="ADMIN_CLAVE_DISCLAMER"></span>
				  </div>
				</div>
			</div>
			<div class="row" ng-if="loginClaveErrorMessage !== undefined && loginClaveErrorMessage.length > 0">
				<div class="col-md-8 col-md-offset-2">
					<div class="alert alert-danger text-center" role="alert">
						<span translate="{{loginClaveErrorMessage}}"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-2" style="margin-top: 40px;">
					<clave-login-img redirect="redirectAfterClaveAdminSuccess()" clave-path="{{clavePath}}" redirect-error="redirectAfterClaveAdminError()" ></clave-login-img>
				</div>
			</div>
		</div>
	</div>
</div>