<div id="puestamercado" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingPuestaEnMercado" aria-expanded="true">
	<form-background-wrapper>
		<div class="form-group col-xs-12 col-sm-12">
			<label for="nombreComercialProducto">{{'PRODUCT_NAME' | translate }} (4) (*)</label> 
			<input id="nombreComercialProducto" class="form-control" name="nombreComercialProducto" type="text" 
				value="" placeholder="" maxlength="50" tooltip="{{'PRODUCT_NAME' | translate }}" ng-readonly="viewMode"
				ng-model="formularioATratar.nombreComercialProducto" ng-required="!editMode">
		</div>
	</form-background-wrapper>
	
	<lista-presentaciones></lista-presentaciones>
	
	<form-background-wrapper>
		<form-background-wrapper extraclass="formSeparatorWhite">
			<div class="form-group col-xs-3 col-sm-3"
				title="Los aditivos, enzimas y aromas alimentarios utilizados en el producto objeto de la presente comunicaci&oacute;n figuran en las listas positivas vigentes en la Uni&oacute;n Europea.">
				<label for="situacion">{{'INGREDIENTS' | translate}} (6) (*):</label> 
				<select id="situacion" name="situacion"class="form-control" ng-disabled="viewMode"
					ng-change = "resetIngredientValues()"
					ng-model="formularioATratar.ingredientes.situacion.id" ng-required="!editMode">
					<option value="" selected>-- {{'ONE_OPTION' | translate }} --</option>
					<option value="1">{{'OPT_A' | translate }}</option>
					<option value="2">{{'OPT_B' | translate }}</option>
				</select>
			</div>
			<div class="form-group col-xs-9 col-sm-9" ng-show="formularioATratar.ingredientes.situacion.id==1">
				<blockquote>
					<div class="clearfix">
						<input id="incluyeVitaminas" name="incluyeVitaminas" type="checkbox" value="true"  
							ng-model="formularioATratar.ingredientes.incluyeVitaminas" ng-disabled="viewMode"> 
						<label for="incluyeVitaminas">{{'VIT_SIT_A_1' | translate}}</label>
					</div>
					<div class="clearfix">
						<input id="incluyeNuevosIngredientes" name="incluyeNuevosIngredientes" type="checkbox" value="true" 
							ng-model="formularioATratar.ingredientes.incluyeNuevosIngredientes" ng-disabled="viewMode"> 
						<label for="incluyeNuevosIngredientes">{{'VIT_SIT_A_2' | translate}}</label>
					</div>
					<div class="clearfix">
						<input id="nuevoIngrediente" name="nuevoIngrediente" class="form-control" type="text" 
							value="" maxlength="50"  ng-show="formularioATratar.ingredientes.incluyeNuevosIngredientes" ng-readonly="viewMode"
							ng-required="formularioATratar.ingredientes.incluyeNuevosIngredientes  && !editMode" 
							ng-model="formularioATratar.ingredientes.nuevoIngrediente">
					</div>
				</blockquote>
			</div>
			<div class="form-group col-xs-9 col-sm-9" ng-show="formularioATratar.ingredientes.situacion.id==2">
					<label for="lbTxtSituacionB"> {{'VIT_SIT_B' | translate}} (*): </label> 
					<input id="txtSituacionB" name="txtSituacionB" class="form-control" type="text" 
						value="" maxlength="50" ng-required="formularioATratar.ingredientes.situacion.id == 2 && !editMode"
						ng-model="formularioATratar.ingredientes.otrasSustancias">
			</div>
		</form-background-wrapper>
		<antecedentes-procedencia></antecedentes-procedencia>
	</form-background-wrapper>
</div>
