<pieformulario  ng-if="!viewMode"  msg="{{PAY_MSG}}"></pieformulario>
<boton-wrapper id="sign">
		<pago-botones tasatipo="tasatipo"   ng-show="!viewMode" fomulario-a-tratar="formularioATratar" solicitude-type="formID"></pago-botones>
</boton-wrapper>
<div>
	<pago-popup></pago-popup>
</div>