<resume-validacion ng-if="!viewMode"> 
	<form-validacion
	all-valid="allValid" form-identifier="tab-solicitud"
	heading="{{'DATOS_SOLI' | translate}}"> </form-validacion> 
	
	<form-validacion
	all-valid="allValid" form-identifier="tab-aditionaldata"
	heading="{{'DATOS_UNIDAD_1' | translate}}"> </form-validacion> 
	
		
	<form-validacion
	all-valid="allValid" form-identifier="tab-puestamercado"
	heading="{{'PUESTA_MERCADO' | translate}}"> </form-validacion> 
		
	<form-validacion
	all-valid="allValid" form-identifier="tab-documentacion"
	heading="{{'DOCUMENTACION_ASOC' | translate}}"> </form-validacion> 
	<!-- 
	<form-validacion
	all-valid="allValid" form-identifier="tab-pagotasas"
	heading="{{'PAGO_TASAS' | translate}}"> </form-validacion>  -->


	<pieformulario ng-show="invalidCount" ng-if="!viewMode" msg="{{RESPONSIBILITIE_MSG}}"></pieformulario>
	<boton-wrapper id="signfinal" ng-show="invalidCount" >
		<boton-accion-formulario  role="group" type="submit" value="{{'SEND_SOLICITUDE' | translate}}" ng-click="saveForm()"  btn-style="btn-primary" btn-size="btn-lg" ng-show="!viewMode"></boton-accion-formulario>
	</boton-wrapper>
</resume-validacion>