<form-background-wrapper>
    <div class="form-group col-xs-12 col-sm-12">
        <label for="asunto">{{'ASUNTO' | translate}} (*)</label>
        <input id="asunto" class="form-control" name="asunto" type="text"
               value="" maxlength="100" tooltip="{{'ASUNTO' | translate}}" ng-readonly="viewMode"
               ng-model="formularioATratar.asunto" ng-required="!editMode"/>
    </div>
</form-background-wrapper>
<form-background-wrapper extraclass="formSeparatorWhite">
    <div class="form-group col-xs-6 col-sm-6">
        <label for="expone">{{'EXPONE' | translate}} (*)</label>
        <textarea id="expone" class="form-control" name="expone" type="text"  maxlength="240"
                  rows="4" value="" tooltip="{{'EXPONE' | translate}}" ng-readonly="viewMode"
                  ng-model="formularioATratar.expone" ng-required="!editMode">
		</textarea>
    </div>
    <div class="form-group col-xs-6 col-sm-6">
        <label for="solicita">{{'SOLICITA' | translate}} (*)</label>
        <textarea id="solicita" class="form-control" name="solicita" type="text"  maxlength="240"
                  rows="4" value="" tooltip="{{'SOLICITA' | translate}}" ng-readonly="viewMode"
                  ng-model="formularioATratar.solicita" ng-required="!editMode">
		</textarea>
    </div>
</form-background-wrapper>
