<div class="form-inline  row text-center">
    <div class="row text-center">
        <label>{{'LABEL_TIPO_PROCEDIMIENTO' | translate}}</label>
        <br/>
        <button ng-href="#!" ng-click="irAContratosMenores()" translate="PROC_GEN_CONTRATOS_MENORES" class="btn" ></button>
    </div>
    <div class="form-group row col-sm-4 col-xs-4" style="float:none;">
        <label>&nbsp;</label>
        <select class="form-control" ng-change="changeTipo(data.tipoProcedimiento)" ng-model="data.tipoProcedimiento"  >
                <option value="{{row.id}}" ng-repeat="row in tipoProcedimientosList" ng-selected="true">{{row.descripcion}}</option>
                <option value="">Otros</option>
        </select>
    </div>
    <div class="form-group  col-sm-4 col-xs-4" style="float:none;" ng-show="showInputTipoProcedimiento">


        <label>&nbsp;</label>
        <input type="text" class="form-control"  ng-model="data.tipoProcedimientoCustom" ng-init="data.tipoProcedimientoCustom=data.tipoProcedimiento"; placeholder="{{INPUT_TIPO_PROCEDIMIENTO |translate }}" />
    </div>
</div>