<div heading="{{'DATOS_SOLI' | translate}}"  >
    <solicitante show-apoderamiento="false"></solicitante>
    <br/>
    <checkbox-subformularios title="{{'OTHER_CONTACT' | translate}}" id="chkDatosContacto" ng-model="checkboxModel.adicionales" ng-disabled="viewMode" aux="auxContacto" form="formularioATratar" type-model="contactData"></checkbox-subformularios>
    <datos-adicionales ng-show="checkboxModel.adicionales"></datos-adicionales>
</div>
