<form-background-wrapper>
		<div class="form-group col-xs-12 col-sm-6">
			<label for="solicitudeSubject">{{'PRODUCT_SERVICE' | translate}} (*)</label> 
			<input id="solicitudeSubject" class="form-control" name="solicitudeSubject" type="text" 
				value="" maxlength="100" tooltip="{{'PRODUCT_SERVICE' | translate}}" ng-readonly="viewMode"
				ng-model="formularioATratar.solicitudeSubject" ng-required="!editMode"/>
		</div>
		<div class="form-group col-xs-12 col-sm-6">
			<label for="commercialProductName">{{'COM_NAME' | translate}}</label> 
			<input id="commercialProductName" class="form-control" name="commercialProductName" type="text"
				value="" maxlength="100" tooltip="{{'COM_NAME' | translate}}" ng-readonly="viewMode"
				ng-model="formularioATratar.commercialProductName" />
		</div>
</form-background-wrapper>
<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="form-group col-xs-12 col-sm-4">
		<label for="sujetoTasa">{{'SUB_SERVICE' | translate}} (*)</label> 
		<select id="sujetoTasa" class="form-control" name="sujetoTasa"
			ng-options="tipoPago.catalogValue for tipoPago in catalogTipoPago track by tipoPago.catalogId"
			ng-change="loadService(auxServicio.sujetoTasa.catalogId,auxServicio.servicioSolicitado)"
			ng-model="auxServicio.sujetoTasa" ng-required="!editMode" ng-disabled="viewMode">
			<option value="" selected >{{'CATALOGUE_FIRST_OPTION' | translate}}</option>
		</select>
	</div>
	<div class="form-group col-xs-12 col-sm-8">
		<label for="servicioSolicitado">{{'SOL_SERVICE' | translate}} (*)</label> 
		<select id="servicioSolicitado" class="form-control" name="servicioSolicitado"  ng-change="checkAndShowPagoTab()"
			ng-options="tipoServicio.catalogValue for tipoServicio in catalogTipoServicio track by tipoServicio.id"
			ng-model="auxServicio.servicioSolicitado" ng-required="!editMode" ng-disabled="viewMode"
				ng-change="loadService(auxServicio.sujetoTasa.catalogId,auxServicio.servicioSolicitado)">
			<option value="" selected >{{'CATALOGUE_FIRST_OPTION' | translate}}</option>
		</select>
	</div>
</form-background-wrapper>

<boton-wrapper id="sign">
	
	
</boton-wrapper>

