<boton-wrapper my-id="sign" id="sign">
		<pago-botones tasatipo="tasatipo"  my-id="sign" ng-show="!viewMode" fomulario-a-tratar="formularioATratar" solicitude-type="formID"></pago-botones>
</boton-wrapper>
<div>
	<pago-popup></pago-popup>
</div>