    <form-background-wrapper>
    <div class="row">
        <div class="form-group col-md-8">
            <label for="compania">{{"COMPANY_NAME" | translate}} (*)</label>
            <input id="compania" class="form-control" name="compania" type="text"  maxlength="100"
                   placeholder="" size="59" tooltip="{{'COMPANY_NAME' | translate}}" ng-readonly="viewMode"
                   ng-model="formularioATratar.companyName" ng-required="!editMode"/>
        </div>
        <div class="form-group  col-md-4 ">
            <div class="row">
                <div class="col-xs-10">
                    <label for="fechaRegistro">{{'INSCRIPTION_DATE' | translate}} (*)</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="form-group">
                        <div class="input-group">
                            <input id="fechaRegistro" class="form-control" name="fechaRegistro" type="text"
                                   value="" ng-readonly="true"
                                   datepicker-popup="dd/MM/yyyy" is-open="dtp.opened" show-button-bar="false" close-text="Close"
                                   datepicker-options="datePickerParams.dateOptions" max-date="datePickerParams.maxDate"
                                   ng-model="datePickerParams.auxFecha.fechaComunicacion" ng-required="!editMode" tooltip="{{'FIN_ALIM_TOOLTIP_INSC_DATE' | translate}}"/>
                            <span class="input-group-btn">
								<button class="btn btn-default" type="button" ng-click="open($event)" ng-disabled="viewMode">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form-background-wrapper>
<form-background-wrapper>
    <product-name-num-ref  comp-class-product-name="form-group col-md-5 col-md-offset-1" comp-class-num-ref="col-md-5"
                           product-reference-number="productReferenceNumber" formulario-a-tratar="formularioATratar" viewmode="viewMode"></product-name-num-ref>
</form-background-wrapper>
<form-background-wrapper>
    <label class="text-center  ">Ficha Técnica</label>
</form-background-wrapper>

<div >
    <div class="panel-body formBackground">
        <div class="form-group col-md-6 ">
            <label for="noReg">Numero de Registro de la empresa</label>
            <input id="noReg" class="form-control " name="noReg" type="text" maxlength="20" placeholder="" size="50" tooltip="Número de Registro" ng-readonly="viewMode" ng-model="formularioATratar.registerNumber" >
            <label for="phone">Telefono</label>
            <input id="phone" class="form-control" name="phone" type="text" maxlength="15" tooltip="Número de telefono" ng-readonly="viewMode" ng-model="formularioATratar.phone">
        </div>
        <div class="form-group col-md-4 col-md-offset-1 text-left">
            <label for="emailComp">{{'EMAIL' | translate}}</label>
            <input id="emailComp" class="form-control" name="noReg" type="text" maxlength="63" tooltip="Correo" ng-readonly="viewMode" ng-model="formularioATratar.email"  ng-pattern="email_pattern" />
        </div>
    </div>
    <div class="panel-body formBackground">
        <div class="form-group col-xs-12 col-sm-12">
            <label for="direccion">Dirección (calle, localidad y código postal)  </label>
            <input id="direccion" name="direccion"   type="text"  maxlength="119" class="form-control" ng-readonly="viewMode" ng-model="formularioATratar.address" />
        </div>
    </div>

    <div class="panel-body  formBackground formSeparatorWhite">
        <div class="form-group col-xs-6 ng-scope checkbox-input">
            <p>{{'DEST_GROUP'|translate}} :<sup>2</sup></p>
            <blockquote>
                <div class="clearfix">
                    <input id="breastfed" name="breastfed" type="checkbox" ng-disabled="viewMode"
                           value="true" ng-model="formularioATratar.groupOfPatient.breastfed" />
                    <label  solicitudEntity >{{'DEST_GROUP_INFANTS'|translate}}</label>
                </div>
                <div class="clearfix">
                    <input id="child" name="child" type="checkbox" ng-disabled="viewMode"
                           value="true" ng-model="formularioATratar.groupOfPatient.child"   />
                    <label  solicitudEntity >{{'DEST_GROUP_CHILDREN'|translate}}</label>
                </div>
                <div class="clearfix">
                    <input id="adult" name="adult" type="checkbox" ng-disabled="viewMode"
                           value="true" ng-model="formularioATratar.groupOfPatient.adult"  />
                    <label   solicitudEntity>{{'DEST_GROUP_ADULTS'|translate}}</label>
                </div>
            </blockquote>
        </div>
        <div class="form-group col-xs-6">

        <label for="age">
                        {{'AGE'|translate}}<sup>3</sup>
                    </label>
                    <input id="age" class="form-control" name="age"  type="text"
                           value="" maxlength="20" tooltip="{{'AGE' | translate}}"
                           ng-readonly="viewMode" ng-model="formularioATratar.age" />
                </div>
        </div>
    <form-background-wrapper extraclass="formSeparatorWhite">
            <div class="form-group col-xs-6">
                <label for="administrationMode">
                    {{'DEST_MODE_ADMIN'|translate}} :<sup>4</sup>
                </label>
                <blockquote>
                    <select id="administrationMode" class="form-control" name="administrationMode"
                            ng-options="modo.catalogValue for modo in catalogAdminMode track by modo.catalogId"
                            ng-disabled="viewMode" ng-model="aux.administrationMode"    >
                        <option value="" selected>{{'CATALOGUE_FIRST_OPTION' | translate}}</option>
                    </select>
                </blockquote>
            </div>
            <br>
            <div class="form-group  col-xs-6 ">
                <p>
                    {{'PHYSICAL_STATE'|translate}}:<sup>5</sup>
                </p>
                <blockquote>
                    <div class="clearfix">
                        <input id="dust" name="dust" type="checkbox" ng-disabled="viewMode"
                               value="true" ng-model="formularioATratar.physicalState.dust" >
                        <label solicitudEntity>{{'STATE_POWDER'|translate}}</label>
                    </div>
                    <div class="clearfix">
                        <input id="liquid" name="liquid" type="checkbox" ng-disabled="viewMode"
                               value="true" ng-model="formularioATratar.physicalState.liquid">
                        <label  solicitudEntity>{{'STATE_LIQUID'|translate}}</label>
                    </div>

                    <div class="clearfix" ng-show="formularioATratar.physicalState.dust">
                        <label for="standardSolution">{{'STATE_STANDAR_SOLUTION'|translate}}<sup>6</sup></label>
                        <input id="standardSolution" class="form-control" name="standardSolution" type="text"
                               value="" maxlength="20" tooltip="{{'STATE_STANDAR_SOLUTION' | translate}}"
                               ng-readonly="viewMode" ng-model="formularioATratar.physicalState.standardSolution" />
                    </div>
                </blockquote>
            </div>
    </form-background-wrapper>

<form-background-wrapper extraclass="formSeparatorWhite">
    <div class="form-group col-xs-12 col-sm-3">
        <label for="caloricDensity">
            {{'CALORIC_DENSITY'|translate}} <sup>7</sup>
        </label>
        <input id="caloricDensity" class="form-control" name="caloricDensity" type="text"
               value="" maxlength="12" tooltip="{{'CALORIC_DENSITY' | translate}}"
               ng-readonly="viewMode" ng-model="formularioATratar.caloricDensity" />
    </div>
    <div class="form-group col-xs-12 col-sm-3">
        <label for="osmolarity">
            {{'OSMOLARITY'|translate}} <sup>8</sup>
        </label>
        <input id="osmolarity" class="form-control" name="osmolarity" type="text"
               value="" maxlength="12" tooltip="{{'OSMOLARITY' | translate}}"
               ng-readonly="viewMode" ng-model="formularioATratar.osmolarity" />
    </div>
    <div class="form-group col-xs-12 col-sm-3">
        <label for="osmolality">
            {{'OSMOLALITY'|translate}} <sup>9</sup>
        </label>
        <input id="osmolality" class="form-control" name="osmolality" type="text"
               value="" maxlength="12" tooltip="{{'OSMOLALITY' | translate}}"
               ng-readonly="viewMode" ng-model="formularioATratar.osmolality" />
    </div>
    <div class="form-group col-xs-12 col-sm-3">
        <label for="molecularWeight">
            {{'MOLECULAR_WEIGHT'|translate}} <sup>10</sup>
        </label>
        <input id="molecularWeight" class="form-control" name="molecularWeight" type="text"
               value="" maxlength="12" tooltip="{{'MOLECULAR_WEIGHT' | translate}}"
               ng-readonly="viewMode" ng-model="formularioATratar.molecularWeight">
    </div>
</form-background-wrapper>
<form-background-wrapper extraclass="formSeparatorWhite">
    <div class="form-group col-xs-12 col-sm-3">
        <label for="caloricDistribution">&nbsp;</label>
        <label for="caloricDistribution">{{'CALORIC_DISTRIBUTION'|translate}}</label>
    </div>
    <div class="form-group col-xs-12 col-sm-3">
        <label for="protein">
            {{'PROTEIN'|translate}} %
        </label>
        <input id="protein" class="form-control" name="protein" type="text"
               value="" maxlength="6" tooltip="{{'PROTEIN' | translate}}"
               ng-readonly="viewMode" ng-model="formularioATratar.caloricDistribution.protein" />
    </div>
    <div class="form-group col-xs-12 col-sm-3">
        <label for="lipids">
            {{'LIPIDS'|translate}} %
        </label>
        <input id="lipids" class="form-control" name="lipids" type="text"
               value="" maxlength="6" tooltip="{{'LIPIDS' | translate}}"
               ng-readonly="viewMode" ng-model="formularioATratar.caloricDistribution.lipids" />
    </div>
    <div class="form-group col-xs-12 col-sm-3">
        <label for="carbohydrates">
            {{'CARBOHYDRATES'|translate}} %
        </label>
        <input id="carbohydrates" class="form-control" name="carbohydrates" type="text"
               value="" maxlength="6" tooltip="{{'CARBOHYDRATES' | translate}}"
               ng-readonly="viewMode" ng-model="formularioATratar.caloricDistribution.carbohydrates" />
    </div>
</form-background-wrapper>
    <form-background-wrapper extraclass="formSeparatorWhite">
        <div class="form-group col-xs-12 col-sm-3">
            <label for="fiber">
                {{'FIBER'|translate}}<sup>11</sup>
            </label>
            <select id="fiber" class="form-control" name="fiber"
                    ng-change="resetFiberValues()" ng-disabled="viewMode"
                    ng-model="aux.fiber">
                <option value="" selected>{{'CATALOGUE_FIRST_OPTION'|translate}}</option>
                <option value="true">{{'YES'|translate}}</option>
                <option value="false">{{'NO'|translate}}</option>
            </select>
        </div>
        <div class="form-group col-xs-12 col-sm-3" ng-show="aux.fiber === 'true'">
            <label for="fiberType">
                {{'FIBER_TYPE'|translate}}
            </label>
            <input id="fiberType" class="form-control" name="fiberType" type="text"
                   value="" maxlength="38" tooltip="{{'FIBER_TYPE' | translate}}"
                   ng-readonly="viewMode" ng-model="formularioATratar.fiber.fiberType" ng-required="aux.fiber === 'true'" />
        </div>
        <div class="form-group col-xs-12 col-sm-3" ng-show="aux.fiber === 'true'">
            <label for="fiberQuantity">
                {{'FIBER_QUANTITY'|translate}}
            </label>
            <input id="fiberQuantity" class="form-control" name="fiberQuantity" type="text"
                   value="" maxlength="10" tooltip="{{'FIBER_QUANTITY' | translate}}"
                   ng-readonly="viewMode" ng-model="formularioATratar.fiber.fiberQuantity" ng-required="aux.fiber === 'true'" />
        </div>
    </form-background-wrapper>
    <form-background-wrapper extraclass="formSeparatorWhite">
        <label for="propuestaDe">
            {{'PROPOSAL'|translate}}:<sup>12</sup>
        </label>
        <div class="form-group col-xs-12 col-sm-6">
            <label for="typeCode">
                {{'TYPE_CODE'|translate}}
            </label>
            <input id="typeCode" class="form-control" name="typeCode" type="text"
                   value="" maxlength="21" tooltip="{{'TYPE_CODE' | translate}}"
                   ng-readonly="viewMode" ng-model="formularioATratar.proposal.typeCode" />
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label for="subtypeCode">
                {{'SUBTYPE_CODE'|translate}}
            </label>
            <input id="subtypeCode" class="form-control" name="subtypeCode" type="text"
                   value="" maxlength="19" tooltip="{{'SUBTYPE_CODE' | translate}}"
                   ng-readonly="viewMode" ng-model="formularioATratar.proposal.subtypeCode" />
        </div>
    </form-background-wrapper>

    <form-background-wrapper extraclass="formSeparatorWhite">
        <div class="form-group col-xs-12">
            <label for="instruction">
                {{'PRODUCT_INDICATIONS'|translate}}: <sup>13</sup>
            </label>
            <textarea id="instruction" class="form-control" name="instruction"
                      rows="4" tooltip="{{'PRODUCT_INDICATIONS' | translate}}"
                      ng-readonly="viewMode" ng-model="formularioATratar.instruction" maxlength="255">


		</textarea>
            <span ng-show="formularioATratar.instruction.length">{{formularioATratar.instruction.length}}/255</span>
        </div>
    </form-background-wrapper>
    <presentacion></presentacion>
</div>
<boton-wrapper >
    <boton-accion-formulario  role="group" my-id="btn-pdf" type="button" ng-click="getPDF()" value="{{'GENERAR_ANEXO' | translate}}"  glyphicon="glyphicon-pencil" ng-show="!viewMode"></boton-accion-formulario>
    <boton-accion-formulario  role="group" my-id="btn-ficha-tecnica" type="button"ng-click="getFichaTecnica()" value="{{'GENERAR_FICHA' | translate}}"  glyphicon="glyphicon-pencil" ng-show="!viewMode"></boton-accion-formulario>
</boton-wrapper>

