<form-background-wrapper>
	<div class="form-group col-xs-3 col-sm-3">
		<label for="numRegEmp1">{{'REG_NUMBER'|translate}}</label>
		<div class="form-group col-xs-12 col-sm-12">
			<div class="form-group">
				<input id="numRegEmp1" class="form-control" name="numRegEmp1" type="text"
					value="" placeholder="" size="2" maxLength="2" ng-readonly="viewMode"
					ng-required="companyRegisterNumberAux.numRegEmp2 || companyRegisterNumberAux.numRegEmp3"
					ng-model="companyRegisterNumberAux.numRegEmp1" />
			</div>  
			<div class="form-group">
				<label>.</label>
			</div>
			<div class="form-group">
				<input id="numRegEmp2" class="form-control" name="numRegEmp2" type="text" 
					value="" placeholder="" size="7" maxLength="6" ng-readonly="viewMode"	
					ng-required="companyRegisterNumberAux.numRegEmp1 || companyRegisterNumberAux.numRegEmp3"
					ng-model="companyRegisterNumberAux.numRegEmp2" />
			</div>
			<div class="form-group">
				<label for="numRegEmp3">/</label>
			</div>
			<div class="form-group">
				<input id="numRegEmp3" class="form-control" name="numRegEmp3" type="text"
					value="" placeholder="" size="2" maxLength="2" ng-readonly="viewMode"
					ng-required="companyRegisterNumberAux.numRegEmp1 || companyRegisterNumberAux.numRegEmp2"
					ng-model="companyRegisterNumberAux.numRegEmp3" />
			</div>
		</div>
	</div>
</form-background-wrapper>
<form-background-wrapper>
	<div class="form-group col-xs-8">
		<label for="productName">{{'PRODUCT_NAME'|translate}} <sup>1</sup></label> 
		<input id="productName" class="form-control" name="productName" type="text"   maxlength="100"
			value="" placeholder="" size="50" tooltip="{{'PRODUCT_NAME' | translate}}"
			ng-readonly="viewMode" ng-model="formularioATratar.productName" />
	</div>
	<div class="form-group col-xs-4">
		<label for="numRegPro1">{{'PRODUCT_REF_NUMBER'|translate}}</label>
		<div class="form-group">
			<input id="numRegPro1" class="form-control" name="numRegPro1" type="text" 
				value="" placeholder="" size="2" maxLength="2" ng-readonly="viewMode" only-digits=""
				ng-required="productReferenceNumber.numRegPro2 || productReferenceNumber.numRegPro3 || productReferenceNumber.numRegPro4"
				ng-model="productReferenceNumber.numRegPro1" />	
		</div>
		<div class="form-group">
			<input id="numRegPro2" class="form-control" name="numRegPro2" type="text" 
				value="" placeholder="" size="7" maxLength="6" ng-readonly="viewMode"	 only-digits=""
				ng-required="productReferenceNumber.numRegPro1 || productReferenceNumber.numRegPro3 || productReferenceNumber.numRegPro4"
				ng-model="productReferenceNumber.numRegPro2" />	
		</div>
		<div class="form-group">
			<label>/</label>
		</div>
		<div class="form-group">
			<input id="numRegPro3" class="form-control" name="numRegPro3" type="text"
				value="" placeholder="" size="2" maxLength="2" ng-readonly="viewMode"  only-digits=""
				ng-required="productReferenceNumber.numRegPro1 || productReferenceNumber.numRegPro2 || productReferenceNumber.numRegPro4"
				ng-model="productReferenceNumber.numRegPro3" />	
		</div>
		<div class="form-group">
			<label>-</label>
		</div>
		<div class="form-group">
			<input id="numRegPro4" class="form-control" name="numRegPro4" type="text" 
				value="" placeholder="" size="2" maxLength="2" ng-readonly="viewMode" only-digits=""
				ng-required="productReferenceNumber.numRegPro1 || productReferenceNumber.numRegPro2 || productReferenceNumber.numRegPro3"
				ng-model="productReferenceNumber.numRegPro4" />	
		</div>
	</div>
</form-background-wrapper>
<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="form-group col-xs-6">
		<p>{{'DEST_GROUP'|translate}} (*):<sup>2</sup></p>
		<blockquote>
			<div class="clearfix">
				<input id="breastfed" name="breastfed" type="checkbox" ng-disabled="viewMode"
					value="true" ng-model="formularioATratar.groupOfPatient.breastfed" ng-required="!formularioATratar.groupOfPatient.child && !formularioATratar.groupOfPatient.adult"/>
				<label for="breastfed">{{'DEST_GROUP_INFANTS'|translate}}</label>
			</div>
			<div class="clearfix">
				<input id="child" name="child" type="checkbox" ng-disabled="viewMode"
					value="true" ng-model="formularioATratar.groupOfPatient.child"  ng-required="!formularioATratar.groupOfPatient.breastfed && !formularioATratar.groupOfPatient.adult" /> 
				<label for="child">{{'DEST_GROUP_CHILDREN'|translate}}</label>
			</div>
			<div class="clearfix">
				<input id="adult" name="adult" type="checkbox" ng-disabled="viewMode"
					value="true" ng-model="formularioATratar.groupOfPatient.adult"  ng-required="!formularioATratar.groupOfPatient.child && !formularioATratar.groupOfPatient.breastfed"/>
				<label for="adult">{{'DEST_GROUP_ADULTS'|translate}}</label>
			</div>
		</blockquote>
	</div>
	<div class="form-group col-xs-6">
		<label for="age">
			{{'AGE'|translate}}<sup>3</sup>
		</label> 
		<input id="age" class="form-control" name="age"  type="text"
			value="" maxlength="50" tooltip="{{'AGE' | translate}}"
			ng-readonly="viewMode" ng-model="formularioATratar.age" />
	</div>
</form-background-wrapper>
<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="form-group col-xs-6">
		<label for="administrationMode">
			{{'DEST_MODE_ADMIN'|translate}} (*):<sup>4</sup>
		</label>
		<blockquote>
			<select id="administrationMode" class="form-control" name="administrationMode"
				ng-options="modo.catalogValue for modo in catalogAdminMode track by modo.catalogId"
				ng-disabled="viewMode" ng-model="aux.administrationMode" ng-required="!editMode">
				<option value="" selected>{{'CATALOGUE_FIRST_OPTION' | translate}}</option>
			</select>
		</blockquote>
	</div>

	<div class="form-group col-xs-6">
		<p>
			{{'PHYSICAL_STATE'|translate}}:<sup>5</sup>
		</p>
		<blockquote>
			<div class="clearfix">
				<input id="dust" name="dust" type="checkbox" ng-disabled="viewMode"
					value="true" ng-model="formularioATratar.physicalState.dust">
				<label for="dust">{{'STATE_POWDER'|translate}}</label>
			</div>
			<div class="clearfix">
				<input id="liquid" name="liquid" type="checkbox" ng-disabled="viewMode"
					value="true" ng-model="formularioATratar.physicalState.liquid"> 
				<label for="liquid">{{'STATE_LIQUID'|translate}}</label>
			</div>

			<div class="clearfix" ng-show="formularioATratar.physicalState.dust">
				<label for="standardSolution">{{'STATE_STANDAR_SOLUTION'|translate}}<sup>6</sup></label> 
				<input id="standardSolution" class="form-control" name="standardSolution" type="text" 
					value="" maxlength="50" tooltip="{{'STATE_STANDAR_SOLUTION' | translate}}" 
					ng-readonly="viewMode" ng-model="formularioATratar.physicalState.standardSolution" />
			</div>
		</blockquote>
	</div>
</form-background-wrapper>
<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="form-group col-xs-12 col-sm-3">
		<label for="caloricDensity">
			{{'CALORIC_DENSITY'|translate}} <sup>7</sup>
		</label> 
		<input id="caloricDensity" class="form-control" name="caloricDensity" type="text"
			value="" maxlength="50" tooltip="{{'CALORIC_DENSITY' | translate}}"
			ng-readonly="viewMode" ng-model="formularioATratar.caloricDensity" />
	</div>
	<div class="form-group col-xs-12 col-sm-3">
		<label for="osmolarity">
			{{'OSMOLARITY'|translate}} <sup>8</sup>
		</label> 
		<input id="osmolarity" class="form-control" name="osmolarity" type="text"
			value="" maxlength="50" tooltip="{{'OSMOLARITY' | translate}}"
			ng-readonly="viewMode" ng-model="formularioATratar.osmolarity" />
	</div>
	<div class="form-group col-xs-12 col-sm-3">
		<label for="osmolality">
			{{'OSMOLALITY'|translate}} <sup>9</sup>
		</label>
		<input id="osmolality" class="form-control" name="osmolality" type="text"
			value="" maxlength="50" tooltip="{{'OSMOLALITY' | translate}}"
			ng-readonly="viewMode" ng-model="formularioATratar.osmolality" />
	</div>
	<div class="form-group col-xs-12 col-sm-3">
		<label for="molecularWeight">
			{{'MOLECULAR_WEIGHT'|translate}} <sup>10</sup>
		</label>
		<input id="molecularWeight" class="form-control" name="molecularWeight" type="text" 
			value="" maxlength="50" tooltip="{{'MOLECULAR_WEIGHT' | translate}}"
			ng-readonly="viewMode" ng-model="formularioATratar.molecularWeight">
	</div>
</form-background-wrapper>
<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="form-group col-xs-12 col-sm-3">
		<label for="caloricDistribution">&nbsp;</label> 
		<label for="caloricDistribution">{{'CALORIC_DISTRIBUTION'|translate}}</label>
	</div>
	<div class="form-group col-xs-12 col-sm-3">
		<label for="protein">
			{{'PROTEIN'|translate}} %
		</label> 
		<input id="protein" class="form-control" name="protein" type="text"
			value="" maxlength="50" tooltip="{{'PROTEIN' | translate}}"
			ng-readonly="viewMode" ng-model="formularioATratar.caloricDistribution.protein" />
	</div>
	<div class="form-group col-xs-12 col-sm-3">
		<label for="lipids">
			{{'LIPIDS'|translate}} %
		</label> 
		<input id="lipids" class="form-control" name="lipids" type="text"  
			value="" maxlength="50" tooltip="{{'LIPIDS' | translate}}"
			ng-readonly="viewMode" ng-model="formularioATratar.caloricDistribution.lipids" />
	</div>
	<div class="form-group col-xs-12 col-sm-3">
		<label for="carbohydrates">
			{{'CARBOHYDRATES'|translate}} %
		</label> 
		<input id="carbohydrates" class="form-control" name="carbohydrates" type="text"
			value="" maxlength="50" tooltip="{{'CARBOHYDRATES' | translate}}"
			ng-readonly="viewMode" ng-model="formularioATratar.caloricDistribution.carbohydrates" />
	</div>
</form-background-wrapper>
<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="form-group col-xs-12 col-sm-3">
		<label for="fiber">
			{{'FIBER'|translate}}<sup>11</sup>
		</label>
		<select id="fiber" class="form-control" name="fiber"
			ng-change="resetFiberValues()" ng-disabled="viewMode"
			ng-model="aux.fiber">
			<option value="" selected>{{'CATALOGUE_FIRST_OPTION'|translate}}</option>
			<option value="true">{{'YES'|translate}}</option>
			<option value="false">{{'NO'|translate}}</option>
		</select>
	</div>
	<div class="form-group col-xs-12 col-sm-3" ng-show="aux.fiber === 'true'">
		<label for="fiberType">
			{{'FIBER_TYPE'|translate}} 
		</label>
		<input id="fiberType" class="form-control" name="fiberType" type="text"
			value="" maxlength="50" tooltip="{{'FIBER_TYPE' | translate}}"
			ng-readonly="viewMode" ng-model="formularioATratar.fiber.fiberType" />
	</div>
	<div class="form-group col-xs-12 col-sm-3" ng-show="aux.fiber === 'true'">
		<label for="fiberQuantity">
			{{'FIBER_QUANTITY'|translate}}
		</label>
		<input id="fiberQuantity" class="form-control" name="fiberQuantity" type="text"
			value="" maxlength="50" tooltip="{{'FIBER_QUANTITY' | translate}}"
			ng-readonly="viewMode" ng-model="formularioATratar.fiber.fiberQuantity">
	</div>
</form-background-wrapper>
<form-background-wrapper extraclass="formSeparatorWhite">
	<label for="propuestaDe">
		{{'PROPOSAL'|translate}}:<sup>12</sup>
	</label>
	<div class="form-group col-xs-12 col-sm-6">
		<label for="typeCode">
			{{'TYPE_CODE'|translate}}
		</label> 
		<input id="typeCode" class="form-control" name="typeCode" type="text"
			value="" maxlength="50" tooltip="{{'TYPE_CODE' | translate}}"
			ng-readonly="viewMode" ng-model="formularioATratar.proposal.typeCode" />
	</div>
	<div class="form-group col-xs-12 col-sm-6">
		<label for="subtypeCode">
			{{'SUBTYPE_CODE'|translate}} 
		</label> 
		<input id="subtypeCode" class="form-control" name="subtypeCode" type="text"
			value="" maxlength="50" tooltip="{{'SUBTYPE_CODE' | translate}}"
			ng-readonly="viewMode" ng-model="formularioATratar.proposal.subtypeCode" />
	</div>
</form-background-wrapper>
<form-background-wrapper extraclass="formSeparatorWhite">
	<div class="form-group col-xs-12">
		<label for="instruction">
			{{'PRODUCT_INDICATIONS'|translate}}: <sup>13</sup>
		</label>
		<textarea id="instruction" class="form-control" name="instruction" 
			rows="4" tooltip="{{'PRODUCT_INDICATIONS' | translate}}"
			ng-readonly="viewMode" ng-model="formularioATratar.instruction">
		</textarea>
	</div>
</form-background-wrapper>
<presentacion></presentacion>