<secosan-users-bar showgoback="true"></secosan-users-bar>
<img-title class="procedurestitle" title="FORM_COMPLEMENTOS_ALIMENTICIOS_GRUPOS_PUESTA"></img-title>
<div id="formContent" class="container" ng-model='SubmenuFormularioController'>
	<container-ag-puesta-mercado></container-ag-puesta-mercado>
</div>