<secosan-users-bar showgoback="true"></secosan-users-bar>
<!--<img-title class="procedurestitle" title="PROC_GEN_OFICINA_REGISTRAL"></img-title>-->
<img-title class="procedurestitle" title="FORM_BECAS_CONSUMIDORES"></img-title>
<div id="formContent" class="container" ng-model='SubmenuFormularioController'>
    <container-becas></container-becas>
</div>