<secosan-users-bar showgoback="true"></secosan-users-bar>
<img-title class="imagenSia" title="{{tituloSia}}"></img-title>
<div class="container">
	<div class="row">
		<div class="col-sm-12" ng-class="{'pre-scrollable': menuOptions.length > 5}" style="min-height: 500px" >	
			<ul class="list-unstyled bienvenida">
				<li  ng-repeat="menuElement in options"  ng-click="redirectToProcedure(menuElement.url)" id="{{menuElement.elementid}}" >
					<h3> 
						<a><span class="text-uppercase" translate="{{menuElement.title}}"></span></a>
					</h3>	
				</li>
			</ul>
		</div>
	</div>
</div>