<secosan-users-bar showgoback="false"></secosan-users-bar>
<img-title class="imagen" title="WELCOME_TITLE"></img-title>
<div class="container">
	<div class="row">
		<div class="col-sm-4" ng-class="{'pre-scrollable': menuOptions.length > 5}" style="min-height: 500px" >
			<welcome-menu options="menuOptions"></welcome-menu>
	  </div>
	  <div class="col-sm-8">
			<div class="wrapperFormulario center-block">
				<procedure-description></procedure-description>
				<solicitude-table-welcome configparams="tableOptions"
				 showfilterfunction="showHideFilter" showfilter="showTableFilters" hasdata="hasdata"></solicitude-table-welcome>
			</div>
		</div>
	</div>
</div>