<secosan-users-bar showgoback="true"></secosan-users-bar>
<img-title class="procedurestitle" title="FORM_QUEJA"></img-title>
<div id="formContent" class="container" ng-model='SubmenuFormularioController'>
	<container-queja></container-queja>
</div>