<secosan-users-bar showgoback="true"></secosan-users-bar>
<img-title class="procedurestitle" title="FORM_SUGERENCIA"></img-title>
<div id="formContent" class="container" ng-model='SubmenuFormularioController'>
	<container-sugerencia></container-sugerencia>
</div>