<secosan-users-bar showgoback="true"></secosan-users-bar>
<img-title class="procedurestitle" title="FORM_EVALUACION_RIESGOS"></img-title>
<div id="formContent" class="container" ng-model='SubmenuFormularioController'>
	<container-evaluacion-riesgos></container-evaluacion-riesgos>
</div>