<secosan-users-bar showgoback="true"></secosan-users-bar>
<img-title class="procedurestitle" title="WELCOME_PROC_BTN_SOLFIALO"></img-title>
<div id="formContent" class="container" ng-model='SubmenuFormularioController'>
	<container-alteracion></container-alteracion>
</div>