<secosan-users-bar showgoback="true"></secosan-users-bar>
<img-title class="procedurestitle" title="WELCOME_PROC_BTN_SOLFINMD"></img-title>
<div id="formContent" class="container" ng-model='SubmenuFormularioController'>
	<container-inclusion></container-inclusion>
</div>