<secosan-users-bar showgoback="true"></secosan-users-bar>
<img-title class="procedurestitle" title="FORM_LMR_FITOSANITARIOS"></img-title>
<div id="formContent" class="container" ng-model='SubmenuFormularioController'>
	<container-lmr-fitosanitarios></container-lmr-fitosanitarios>
</div>