<img-title class="procedurestitle" title="FORM_LOGIN"></img-title>
<div id="formContent" class="container">
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<app-disclamer disclamer="'APP_DISCLAMER'"></app-disclamer>
	</div>
</div>
	<div class="row">
		<div class="col-md-6">
			<container-border-wrapper extraclass="panel-body loginPanels">
			<div class="row">
				<div class="col-md-12">
					<h5>{{"ACCESOEU" | translate}}</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<span> <small>{{'INFO_ACCESO_EU' | translate}}</small></span>
				</div>
			</div>
			<div class="row loginClaveRow">
				<div class="col-md-6 col-md-offset-2">
					<clave-login-img redirect="redirectAfterClave()"></clave-login-img>
				</div>
			</div>
			</container-border-wrapper>
		</div>
		<div class="col-md-6">
			<container-border-wrapper extraclass="panel-body loginPanels">
			<div class="row">
				<div class="col-md-12">
					<h5>{{"ACCESONOEU" | translate}}</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<span> <small>{{'SOLICITAR_ALTA' | translate}}</small> <small><a href="#/registronoue">{{'SOLICITAR_ALTA_LINK' | translate}}</a></small></span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<datos-obligatorios></datos-obligatorios>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3 loginDivForm">
				<form-login sendform="sendForm()" showloading="showloading" loginerrormessage="loginErrorMessage" formmodel="formularioATratar"></form-login>
				</div>
			</div>
			</container-border-wrapper>
		</div>
	</div>
</div>