<secosan-users-bar showgoback="true"></secosan-users-bar>
<img-title class="procedurestitle" title="PROC_GEN_OFICINA_REGISTRAL"></img-title>
<div id="formContent" class="container" ng-model='SubmenuFormularioController'>
	<container-procedimiento-generico></container-procedimiento-generico>
</div>