<secosan-users-bar showgoback="true"></secosan-users-bar>
<img-title class="procedurestitle" title="FORM_REGISTRO_AGUAS"></img-title>
<div id="formContent" class="container" ng-model='SubmenuFormularioController'>
	<container-registro-aguas></container-registro-aguas>
</div>