<secosan-users-bar showgoback="true"></secosan-users-bar>
<img-title class="procedurestitle" title="FORM_INSCRIPCION_REACU"></img-title>
<div id="formContent" class="container" ng-model='SubmenuFormularioController'>
    <container-registro-estatal></container-registro-estatal>
</div>