<img-title class="procedurestitle" title="FORM_REGISTRO_NOUE"></img-title>
<div id="formContent" class="container" ng-model='SubmenuFormularioController' ng-form="addNoUEUser">
	<container-border-wrapper extraclass="panel-body">
		<div class="row">
			<div class="col-md-12">
				<datos-obligatorios></datos-obligatorios>
				<accordion close-others="false">
					<accordion-group heading="{{'REGISTER_USER_DATA' | translate}}" is-open="true" is-disabled="true"> 
						<div class="col-md-12">
							<form id="formularioPrincial" name="formularioPrincial" class="form-inline" method="post" ng-submit="sendForm()">
								<form-background-wrapper>
									<div class="form-group col-xs-4 col-sm-4">
										<label for="user">{{'REGISTER_USERNAME' | translate}} (*)</label> 
										<input id="user" class="form-control" name="user" 
											type="text" value="" tooltip="{{'REGISTER_USERNAME_TOOLTIP' | translate}}"
											ng-model="formularioATratar.login" required/>
									</div>
									<div class="form-group col-xs-4 col-sm-4">
										<label for="password">{{'REGISTER_PASSWORD' | translate}} (*)</label> 
										<input id="password" class="form-control" name="password" 
											type="password" value="" tooltip="{{'REGISTER_PASSWORD_TOOLTIP' | translate}}"
											ng-model="formularioATratar.password" required pw-validate/>
											<div class='msg-block' ng-show='formularioPrincial.$error'>
										  <span class='msg-error' ng-show='formularioPrincial.password.$error.pwvalidate'>
										    {{'PWD_REGEX_VALID' | translate}}
										  </span>
										</div>
									</div>
									<div class="form-group col-xs-4 col-sm-4">
										<label for="retypePassword">{{'REGISTER_RETYPE_PASSWORD' | translate}} (*)</label> 
										<input id="retypePassword" class="form-control" name="retypePassword" 
											type="password" value="" tooltip="{{'REGISTER_RETYPE_PASSWORD_TOOLTIP' | translate}}"
											ng-model="aux.retypePassword" required pw-check='password'/>
										<div class='msg-block' ng-show='formularioPrincial.$error'>
										  <span class='msg-error' ng-show='formularioPrincial.retypePassword.$error.pwmatch'>
										    {{'REGISTER_PASSWORD_ERROR' | translate}}
										  </span>
										</div>
									</div>
								</form-background-wrapper>
								<form-background-wrapper extraclass="formSeparatorWhite">
									<div class="form-group col-xs-3 col-sm-3">
									<label for="name">{{'REGISTER_NAME' | translate}} (*)</label> 
									<input id="name" class="form-control" name="name"
										type="text" value="" tooltip="{{'REGISTER_NAME_TOOLTIP' | translate}}"
										ng-model="formularioATratar.nombre" required/>
									</div>
									<div class="form-group col-xs-3 col-sm-3">
									<label for="lastname">{{'REGISTER_LASTNAME' | translate}}</label> 
									<input id="lastname" class="form-control" name="lastname"
										type="text" value="" tooltip="{{'REGISTER_LASTNAME_TOOLTIP' | translate}}"
										ng-model="formularioATratar.apellido"/>
									</div>
									<div class="form-group col-xs-3 col-sm-3">
									<label for="email">{{'REGISTER_EMAIL' | translate}} (*)</label> 
									<input id="email" class="form-control" name="email"
										type="text" value="" tooltip="{{'REGISTER_EMAIL_TOOLTIP' | translate}}"
										ng-pattern="email_pattern" ng-model="formularioATratar.email" required/>
									</div>
									<div class="form-group col-xs-3 col-sm-3">
									<label for="nif">{{'REGISTER_NIF' | translate}} (*)</label> 
									<input id="nif" class="form-control" name="nif"
										type="text" value="" tooltip="{{'REGISTER_NIF_TOOLTIP' | translate}}"
										ng-model="formularioATratar.identificationNumber" validate-nif required/>
									</div>
								</form-background-wrapper>
								<boton-wrapper id="submit" >
									<boton-accion-formulario role="group" type="submit" value="{{'REGISTER' | translate}}" btn-style="btn-primary" btn-size="btn-lg" ng-show="addNoUEUser.$valid"></boton-accion-formulario>
									<boton-accion-formulario role="group" type="button" value="{{'REGISTER_BACK' | translate}}" ng-click="gotoLogin()" btn-style="btn-primary" btn-size="btn-lg"></boton-accion-formulario>
								</boton-wrapper>
							</form>
						</div>
					</accordion-group>
				</accordion>
			</div>
		</div>
	</container-border-wrapper>
</div>