<secosan-users-bar showgoback="true"></secosan-users-bar>
<img-title class="procedurestitle" title="FORM_SOLICITUD_LOGOS"></img-title>
<div id="formContent" class="container" ng-model='SubmenuFormularioController'>
	<container-solicitud-logos></container-solicitud-logos>
</div>