<secosan-users-bar showgoback="true"></secosan-users-bar>
<img-title class="procedurestitle" title="FORM_SUB_JUNTAS"></img-title>
<div id="formContent" class="container" ng-model='SubmenuFormularioController'>
    <container-subvencion-juntas></container-subvencion-juntas>
</div>