<p>Le informamos que ha sido insertada una nueva solicitud con identificador: "#idRequest#" con fecha de creaci&oacute;n: #date#</p>

<p>A continuaci&oacute;n anexamos la informaci&oacute;n de contacto del solicitante</p>

<ul>
	<li>Nombre: #userName#</li>
	<li>Apellidos: #userLastName#</li>
	<li>N&uacute;mero de Identificaci&oacute;n: #userIdentificationNumber#</li>
	<li>Direcci&oacute;n: #userAddress#</li>
	<li>Tel&eacute;fono: #userPhone#</li>
	<li>Email: #userEmail#</li>
</ul>