<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="aecosan_secosan">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <dependent-module archiveName="apoderamiento_connector-1.2.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/apoderamiento_connector/apoderamiento_connector">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="sigm_connector-1.2.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/sigm_connector/sigm_connector">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="snec_connector-1.2.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/snec_connector/snec_connector">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="epago_connector-1.2.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/epago_connector/epago_connector">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module deploy-path="/" handle="module:/overlay/prj/secosan_generic?includes=**/**&amp;excludes=META-INF/context.xml">
            <dependency-type>consumes</dependency-type>
        </dependent-module>
        <dependent-module deploy-path="/" handle="module:/overlay/slf/?includes=**/**&amp;excludes=META-INF/MANIFEST.MF">
            <dependency-type>consumes</dependency-type>
        </dependent-module>
        <property name="java-output-path" value="/secosan_weblogic/target/classes"/>
        <property name="component.exclusion.patterns" value="WEB-INF/lib/,styles/,images/,js/,META-INF/maven,*.html,admin/,fonts/,partials/,*.js,*.css,WEB-INF/classes/*.properties"/>
        <property name="context-root" value="secosan"/>
    </wb-module>
</project-modules>
