<form-background-wrapper>
	<div class="form-group col-xs-12 col-sm-12">
		<label for="nombreapellidosEnvio">{{'NOMBRE_APE_CON' | translate}} (*)</label> 
		<input id="nombreapellidosEnvio" class="form-control" name="nombre" type="text"  maxlength="100"
			placeholder="" size="50" tooltip="{{'NOMBRE_APE_CON' | translate}}" ng-readonly="viewMode" 
			ng-required="!editMode && (auxTipoEnvio.tipoEnvio.catalogId==2 || auxTipoEnvio.tipoEnvio.catalogId==3)" 
			ng-model="formularioATratar.shippingData.name" />
	</div>
</form-background-wrapper>
<form-background-wrapper>
	<div class="form-group col-xs-12 col-sm-12">
		<label for="direccionEnvio">{{'ADDRESS_CON' | translate}} (*)</label> 
		<input id="direccionEnvio" class="form-control" name="direccionEnvio" type="text"  maxlength="230"
			value="" maxlength="100" tooltip="{{'ADDRESS_CON' | translate}}" ng-readonly="viewMode"
			ng-required="!editMode && (auxTipoEnvio.tipoEnvio.catalogId==2 || auxTipoEnvio.tipoEnvio.catalogId==3)"
			ng-model="formularioATratar.shippingData.address"/>
	</div>
</form-background-wrapper>
<!-- <form-background-wrapper>
	<div class="form-group col-xs-12 col-sm-2">
		<label for="paisEnvio">{{'PAIS_CON' | translate}} (*)</label> 
		<select id="paisEnvio" class="form-control" name="paisEnvio"
			ng-options="paisEnv.catalogValue for paisEnv in catalogoPaises track by paisEnv.catalogId"
			ng-change="loadProvincia(paisEnvio)" ng-disabled="viewMode"
			ng-required="!editMode && (auxTipoEnvio.tipoEnvio.catalogId==2 || auxTipoEnvio.tipoEnvio.catalogId==3)"
			ng-model="auxEnvio.pais" required>
			<option value="" selected>{{'SELECT' | translate}}</option>			
		</select>
	</div>
	<div class="form-group col-xs-12 col-sm-3"  ng-show="auxEnvio.pais.catalogId==spain_county_code">
		<label for="provinciasEnvio">{{'PROVINCE_CON' | translate}} (*)</label> 
		<select id="provinciasEnvio" class="form-control" name="provinciasEnvio"
			ng-options="provEnv.catalogValue for provEnv in catalogProvinciasEnvio track by provEnv.catalogId"
			ng-change="loadMunicipio(provinciaEnvio)" ng-disabled="viewMode"
			ng-required=" auxEnvio.pais.catalogId ==spain_county_code && !editMode && (auxTipoEnvio.tipoEnvio.catalogId==2 || auxTipoEnvio.tipoEnvio.catalogId==3)"
			ng-click="onClickProvincia(paisEnvio)"
			ng-model="auxEnvio.provincia">
			<option value="" selected>{{'SELECT' | translate}}</option>			
		</select>
	</div>
	<div class="form-group col-xs-12 col-sm-5" ng-show="auxEnvio.pais.catalogId==spain_county_code">
		<label for="municipioEnvio">{{'MUNICIPIO_CON' | translate}} (*)</label> 
		<select id="municipioEnvio" class="form-control" name="municipioEnvio"
			ng-options="muniEnv.catalogValue for muniEnv in catalogMunicipiosEnvio track by muniEnv.catalogId"
			ng-required="auxEnvio.pais.catalogId==spain_county_code  && !editMode && (auxTipoEnvio.tipoEnvio.catalogId==2 || auxTipoEnvio.tipoEnvio.catalogId==3)"
			ng-click="onClickMunicipio(provinciaEnvio)" ng-disabled="viewMode"
			ng-model="auxEnvio.municipio">
			<option value="" selected>{{'SELECT' | translate}}</option>			
		</select>		
	</div>
	<div class="form-group col-xs-2 col-sm-2" ng-show="auxEnvio.pais.catalogId==spain_county_code">
		<label for="codigopostalEnvio">{{'POSTALCODE_CON' | translate}} (*)</label>
		<input id="codigopostalEnvio" class="form-control" name="codigopostalEnvio" type="text"
			value="" maxlength="5" tooltip="{{'POSTALCODE_CON' | translate}}" ng-readonly="viewMode"
			ng-required="auxEnvio.pais.catalogId==spain_county_code && !editMode && (auxTipoEnvio.tipoEnvio.catalogId==2 || auxTipoEnvio.tipoEnvio.catalogId==3)"
			ng-pattern="postal_code_pattern"
			ng-model="formularioATratar.shippingData.location.codigoPostal"/>
	</div>
</form-background-wrapper> -->
