 <!-- DATOS DE INDUSTRIA -->
 
	<form-background-wrapper >
	<div class ="row">
		<div class="form-group col-xs-4 col-sm-5">
			<label for="paisIndustria">{{'PAIS_ORIGEN' | translate}} (*)</label> 
			<select id="paisIndustria" class="form-control" name="paisIndustria" 
				ng-options="pais.catalogValue for pais in catalogoPaisesNoUE track by pais.catalogId"
				ng-change="loadProvincia(paisIndustria)" ng-disabled="viewMode"
				ng-model="auxAltaPais.paisOrigen" ng-required="!editMode">
				<option value="" selected>{{'SELECT' | translate}}</option>
			</select>				
		</div>
		<div class="form-group col-xs-7 col-sm-7">
			<div class="row">
				<div class="form-group col-sm-6 col-sm-offset-2"> 	
					<label for="lbNumRGSEAA" style="margin-left: 20px;">{{'RGSEAA' | translate}} (*) </label>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-6 col-sm-offset-3"> 	
					<div class="form-group "> 	
						<input id="numRGSEAA1" class="form-control" type="text" name="numRGSEAA1" data-label="{{'RGSEAA' | translate}} (*)"
							placeholder="" size="2" maxLength="2" ng-readonly="viewMode"
							ng-required="true"
				   	ng-model="auxNumRGSEAA.auxNumRGSEAA1" />
					</div>
					<div class="form-group"> 
						<label for="name">.</label>
					</div>
					<div class="form-group"> 
						<input id="numRGSEAA2" class="form-control" type="text" name="numRGSEAA2" data-label="{{'RGSEAA' | translate}} (*)"
							placeholder="" size="7" maxLength="6" ng-readonly="viewMode"	
				   ng-required="true"
				   ng-model="auxNumRGSEAA.auxNumRGSEAA2" />
					</div>
					<div class="form-group"> 
						<label for="name">/</label>
					</div>
					<div class="form-group"> 														
						<input id="numRGSEAA3" class="form-control" type="text" name="numRGSEAA3" data-label="{{'RGSEAA' | translate}} (*)"
							placeholder="" size="2" maxLength="2" ng-readonly="viewMode"
				  			ng-required="true" ng-model="auxNumRGSEAA.auxNumRGSEAA3" />
					</div>
				</div>
			</div>	
		</div>
	 </div>
	</form-background-wrapper>
	<form-background-wrapper extraclass="formSeparatorWhite">
		<div class="form-group col-xs-12 col-sm-12">
			<label for="tipoEnvio">{{'PREF_EVIO' | translate}} (*)</label> 
			<select id="tipoEnvio" class="form-control" name="tipoEnvio" 
				ng-options="tipoEnvio.catalogValue for tipoEnvio in catalogoTipoEnvio track by tipoEnvio.catalogId"
				ng-disabled="viewMode" ng-model="auxTipoEnvio.tipoEnvio" ng-required="!editMode">
				<option value="" selected>{{'SELECT' | translate}}</option>
			</select>				
		</div>
	</form-background-wrapper>
	<direccion-envio ng-show="auxTipoEnvio.tipoEnvio.catalogId=='2' || auxTipoEnvio.tipoEnvio.catalogId=='3'" ></direccion-envio>
